Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[editable] Add table container validation to be paired with cell validation (#4882)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

XUI-1256 Updated prop types to accept both function and an object as refs. (#4886)
  src/react/components/textInput/XUITextInput.js
Due: eslint

XUI-1342 Enable setting maxHeight on NestedDropDowns (#4884)
  .visual-testing/reference/backstop_default_DropDown_with_scrollable_NestedDropDown_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/NestedDropDown.js
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
Due: eslint

[XUI-1381] Add new vis-regs for addition of 0 y-axis line. (#4888)
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Customise_Y-Axis_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Negative_Bars_0_rootdivdiv_0_just_desktop.png
Due: none

[Patch] [xui 1271] Update types to include rootNode to enable use with Popover (#4887)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/button/XUIButton.d.ts
  src/react/components/button/XUIIconButton.d.ts
  src/react/components/dropdown/DropDown.d.ts
  src/react/components/dropdown/DropDownFooter.d.ts
  src/react/components/dropdown/DropDownHeader.d.ts
  src/react/components/dropdown/DropDownPanel.d.ts
  src/react/components/picklist/NestedPicklistTrigger.d.ts
  src/react/components/popover/XUIPopover.d.ts
  src/react/components/stepper/XUIStepper.d.ts
  src/react/components/table/XUITable.d.ts
Due: eslint

[XUI-1386] Downgrade Victory to fix Storybook in IE11
  package-lock.json
  package.json
Due: prettier --check

[minor] Fix the warning in popover (#4898)
  src/react/components/popover/XUIPopoverHeader.js
Due: eslint

Version bump - 16.5.0 (#4899)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[XUI-1388] Downgrade react-docgen and Styleguidist to prevent IE11 errors
  package-lock.json
  package.json
Due: prettier --check

[editable] [XUI-1204] Drag and Drop part 1 - Drag and drop wrapper (#4889)
  .eslintrc.js
  package-lock.json
  package.json
  src/react/components/editabletable/contexts/XUIEditableTableContext.js
  src/react/components/editabletable/contexts/XUIEditableTableContext.ts
  src/react/components/editabletable/contexts/XUIEditableTableHeadContext.ts
  src/react/components/editabletable/private/DragAndDrop/DragDropProvider.tsx
  src/react/components/editabletable/private/DragAndDrop/Draggable.tsx
  src/react/components/editabletable/private/DragAndDrop/Droppable.tsx
  src/react/components/editabletable/private/DragAndDrop/__tests__/DragDropProvider-test.tsx
  src/react/components/editabletable/private/DragAndDrop/__tests__/Draggable-test.tsx
  src/react/components/editabletable/private/DragAndDrop/__tests__/Droppable-test.tsx
  src/react/components/editabletable/private/DragAndDrop/contexts/DragDropDraggingContext.ts
  src/react/components/editabletable/private/DragAndDrop/contexts/DroppableContext.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/__tests__/addOffsetToTransform-test.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/addOffsetToTransform.ts
  src/react/components/editabletable/private/constants.js
  src/react/components/editabletable/private/constants.ts
Due: eslint, prettier --check

Use adjust instead of darken
  src/sass/1-vars/_colors.scss
Due: stylelint, prettier --check

Fix Prettier warnings
  src/docs/components/alerts/examples/popover/_popover-anatomy.html
  src/docs/components/alerts/examples/popover/_popover-onboarding.html
  src/docs/components/alerts/examples/popover/_popover-responsive.html
  src/docs/components/alerts/examples/toast/_toast-actions.html
  src/docs/components/alerts/examples/toast/_toast-wrapping.html
  src/docs/components/alerts/examples/toast/_toast.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-parent.html
  src/docs/components/collecting-input/examples/modal/_modal.html
  src/docs/components/collecting-input/examples/search/_search-create-new.html
  src/docs/components/navigation/examples/pagination/_pagination-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-paging.html
  src/docs/components/navigation/examples/pagination/_pagination.html
Due: prettier --check

Version bump to editable.3
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[editable] Update the darken color (#4909)
  src/sass/1-vars/_colors.scss
Due: stylelint, prettier --check

[editable] XUI-1380 Implement accessibility requirements in editable table (#4905)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellSelectBox-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellControl-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/select-box/SelectBox.js
  src/react/components/textInput/XUITextInput.js
  src/react/contexts/EditableTableCellContext.js
Due: eslint

[Breaking-changes][XUI-1401][XUI-1402] Update Type definitions to be in line with recent code changes (#4910)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/button/XUIButton.d.ts
  src/react/components/chart/XUIBarChart.d.ts
  src/react/components/checkbox/XUICheckboxGroup.d.ts
  src/react/components/datepicker/XUIDatePicker.d.ts
  src/react/components/dropdown/XUIDropdownHeader.d.ts
  src/react/components/radio/XUIRadioGroup.d.ts
  src/react/components/switch/XUISwitchGroup.d.ts
  src/react/components/table/XUITable.d.ts
Due: eslint

[patch][Retro-Action] Add TS definition to PR checklist #easy-wins. (#4912)
  .github/pull_request_template.md
Due: prettier --check

Improve positioning performance for Popover (#4911)
  src/react/components/helpers/__tests__/doAsync-test.ts
  src/react/components/helpers/doAsync.ts
  src/react/components/popover/private/Positioning.js
Due: eslint

[patch][XUI-1334] Add XOP configuration files for XUI (#4913)
  Runbook.md
  xop-library.yaml
Due: prettier --check

Update codshift docs to point to the latest version and use a better ts parser (#4916)
  README.md
Due: prettier --check

[XUI-1064] Update rollover checkbox filename
  .styleguidist/sections.json
  changes.md
  src/react/components/contentblock/stories/stories.js
  src/react/components/rollovercheckbox/XUIRolloverCheckbox.d.ts
  src/react/components/rollovercheckbox/XUIRolloverCheckbox.js
  src/react/components/rollovercheckbox/__tests__/XUIRolloverCheckbox-test.js
  src/react/components/rollovercheckbox/__tests__/__snapshots__/XUIRolloverCheckbox-test.js.snap
  src/react/components/rollovercheckbox/private/constants.ts
  src/react/components/rollovercheckbox/stories/stories.js
  src/react/components/rollovercheckbox/stories/variations.js
  src/react/rollovercheckbox.ts
Due: eslint, prettier --check

[FIX] Update visual regression test image
  .visual-testing/reference/backstop_default_XUI_Pagination_test_paging_select_0_rootdivdiv_0_just_desktop.png
Due: none

[patch][XUI-1264] Add images to Feedback page
  src/docs/_feedback.scss
Due: stylelint, prettier --check

[XUI-1064] Add ‘updated’ flag to dropdown page in Guide
  src/docs/components/collecting-input/_dropdowns.scss
Due: stylelint, prettier --check

[XUI-1411] Fix brackets in Styleguidist sample import statements
  .styleguidist/config.js
Due: eslint

[editable] [XUI-1204] Add drag and drop to XUIEditableTable (#4907)
  package-lock.json
  package.json
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableBody.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/EditableTableOverflow-test.tsx
  src/react/components/editabletable/__tests__/EditableTableWrapper-test.js
  src/react/components/editabletable/__tests__/PortalFocus-test.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableBody-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableOverflow-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableWrapper-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableBody-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/contexts/XUIEditableTableContext.ts
  src/react/components/editabletable/private/DragAndDrop/DragDropProvider.tsx
  src/react/components/editabletable/private/DragAndDrop/Draggable.tsx
  src/react/components/editabletable/private/DragAndDrop/__tests__/DragDropProvider-test.tsx
  src/react/components/editabletable/private/EditableTableColGroup.tsx
  src/react/components/editabletable/private/EditableTableHeadRow.tsx
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/react/components/editabletable/private/EditableTableWrapper.js
  src/react/components/editabletable/private/PortalFocus.js
  src/react/components/editabletable/private/helpers/useResizeObserver.ts
  src/react/components/editabletable/stories/stories.js
  src/react/components/helpers/__tests__/conditionallyRequiredValidator-test.ts
  src/react/components/helpers/combineRefs.ts
  src/react/components/helpers/conditionallyRequiredValidator.ts
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/private/dom-helpers.js
  src/react/editabletable.md
  src/sass/1-vars/_layout.scss
  src/sass/2-mixins/_borders.scss
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[Patch][xui-1191] Add external icon to docs homepage tiles (#4923)
  src/docs/home.md
Due: prettier --check

[XUI-1430] Fix rounded corners in XUI Bar Charts
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/stories/variations.js
Due: eslint

[XUI-1419] Fix spacing in inline reversed input groups
  .visual-testing/reference/backstop_default_Components_in_Components_Invisible_touch_targets_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_inline_group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_inline_group_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Inline_Group_Reversed_0_rootdivdiv_0_just_desktop.png
  src/react/components/checkbox/stories/stories.js
  src/react/components/checkbox/stories/variations.js
  src/react/components/radio/stories/stories.js
  src/react/components/radio/stories/variations.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint, prettier --check

[Breaking-changes][XUI-1430] Add updates to visreg for barchart
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Negative_Bars_0_rootdivdiv_0_just_desktop.png
Due: none

[TEST] Add alias to approve visual regression changes
  README.md
  package.json
Due: prettier --check

[DOCS] Improve styling of flags in Guide
  .kss/scss/style.scss
Due: prettier --check

[Breaking-changes][xui-1403] Add missing codemod's for XUI17 (#4928)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
Due: eslint

[Patch] Adds example fixes to React docs (#4932)
  src/react/button.md
  src/react/checkbox.md
  src/react/components/button/button.caret.md
  src/react/components/button/button.group.md
  src/react/components/button/button.icon.md
  src/react/components/button/button.split.md
  src/react/components/checkbox/checkbox.group.md
  src/react/components/radio/radio.group.md
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.row.md
  src/react/fileUploader.md
  src/react/icon.md
  src/react/radio.md
  src/react/range.md
Due: prettier --check
