Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Fix broken link tabs => picklists (#3206)
  src/docs/building-blocks/_docs.page-header.scss
Due: stylelint

Update confusing doc code example (#3205)
  src/docs/fundamentals/_docs.layout.scss
  src/sass/trumps/_marginpadding.scss
Due: stylelint

Additional hook deletion needed to get husky working. Update docs.
  README.md
Due: none

Remove babel polyfill that is causing problems for MS browsers?
  .storybook/config.js
Due: none

Fix to link from React docs back to Guide per #3207 (#3209)
  src/docs/react/introduction.md
Due: none

ARIA role updates for dropdown + stateful picklist. Issue #2066
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
Due: eslint

update table snapshot after patch -> minor merge
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

[minor] Bug: Table "Check All" activates when there are no results (#3204)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Table_basic_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_checkbox_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_header___footer_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_loading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_no_header_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_overflow_menu_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_pinned_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_responsive_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_widths_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
Due: eslint

[minor] Add Contentblock and ContentblockItem components (#3231)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_everything_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_without_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_contentblock_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_contentblock_with_everything_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_contentblock_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_contentblock_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_contentblock_without_layout_and_alternative_href_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_action_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIContentBlock.js
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.contentblock.md
  src/react/structural.js
  src/sass/objects/_contentblocks.scss
Due: eslint, stylelint

[minor] Features: Progress Track Weight (#3053)
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_grow_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_segments_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_zero_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_minimal_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segment_dots_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segments_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_zero_0_rootdivdiv_0_just_desktop.png
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/__tests__/circularstroke-test.js
  src/react/components/progressindicator/__tests__/progressindicator-test.js
  src/react/components/progressindicator/customElements/CircularTrack.js
  src/react/components/progressindicator/customElements/ElementSize.js
  src/react/components/progressindicator/customElements/LinearTrack.js
  src/react/components/progressindicator/customElements/ProgressWrapper.js
  src/react/components/progressindicator/customElements/WithCircularGrowth.js
  src/react/components/progressindicator/customElements/WithCircularStroke.js
  src/react/components/progressindicator/customElements/WithLinearGrowth.js
  src/react/components/progressindicator/helpers/enrichprops.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/progressindicator/stories/variations.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/progressindicator.md
  src/sass/objects/_progressindicator.scss
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_segments_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_zero_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_minimal_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segment_dots_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segments_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_zero_0_rootdivdiv_0_just_desktop.png
Due: eslint, stylelint

Add missing namespace to button constants
  src/react/components/button/private/constants.js
Due: eslint

remove old progress indicator redundancies
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_segments_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_standard_zero_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_minimal_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segment_dots_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segments_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_zero_0_rootdivdiv_0_just_desktop.png
Due: none

Fix qahook for autocompleter input children (#3252)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
Due: eslint

Bump version to 13.2.1 (#3253)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Add newline to end of versions.js script generated.
  scripts/versions/versions.js
Due: none

Bump version to 13.3.0-beta.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Typo fix, primarily for classes in docs, per #3248
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/react/components/dropdown/scss/_dropDown.scss
Due: stylelint

Link updates throughout the XUI Guide
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/fundamentals/_docs.layout.scss
  src/docs/fundamentals/_docs.typography.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/react/isolationheader.md
  src/react/modal.md
  src/react/textarea.md
  src/sass/objects/_datepicker.scss
  src/sass/objects/_icons.scss
  src/sass/objects/_pills.scss
  src/sass/objects/_popovers.scss
  src/sass/settings/_colors.scss
Due: stylelint

fix service worker -skip- scenario (#3269)
  scripts/build/serviceworker.js
Due: none

Extra test image got in there. Probably a storybook typo. (#3268)
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_action_0_rootdivdiv_0_just_desktop.png
Due: none

Add labelText prop to XUITextInput for easier labels
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/textInput.md
Due: eslint

Fix indentation
  src/react/components/textInput/XUITextInput.js
Due: eslint

Fix bug where onBlur and onFocus events for XUITextInput are nulled
  src/react/components/textInput/XUITextInput.js
Due: eslint

Update screenshots
  .visual-testing/reference/backstop_default_Compositions_Form_layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Compositions_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_path_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_as_a_multiline_input_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_multiline_input_grown_to_fit_contents_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_bottom_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_center_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_top_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Textarea_with_max_rows_0_rootdivdiv_0_just_desktop.png
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/stories/variations.js
  src/react/stories/form-layout1/index.js
  src/sass/objects/_forms.textinputs.scss
Due: eslint, stylelint

Update snapshots
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: none

TODO: Add actions scss changes
  .styleguidist/sections.json
  src/docs/building-blocks/_docs.toasts.scss
  src/react/components/structural/XUIActions.js
  src/react/components/toast/XUIToast.js
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/XUIToastMessage.js
  src/react/components/toast/__tests__/XUIToast-test.js
  src/react/components/toast/__tests__/XUIToastAction-test.js
  src/react/components/toast/__tests__/XUIToastActions-test.js
  src/react/components/toast/__tests__/XUIToastMessage-test.js
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastMessage-test.js.snap
  src/react/components/toast/stories/stories.js
  src/react/components/toast/stories/variations.js
  src/react/components/toast/toast.action.md
  src/react/components/toast/toast.actions.md
  src/react/toast.md
Due: eslint, stylelint

Docs and minor storybook change.
  src/react/components/toast/XUIToast.js
  src/react/components/toast/stories/stories.js
Due: eslint

Adds more coverage tests. Now at 97.14% on the group.
  src/react/components/toast/XUIToastWrapper.js
  src/react/components/toast/__tests__/XUIToast-test.js
  src/react/components/toast/__tests__/XUIToastWrapper-test.js
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastWrapper-test.js.snap
Due: eslint

Added new backstop references based on new APIs
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_as_props_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_using_XUIActions_0_rootdivdiv_0_just_desktop.png
Due: none

Re-org this file and add the button-spacing class.
  src/sass/objects/_actions.scss
Due: stylelint

Comment updates per Elise.
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/toast.message.md
Due: eslint

Removed additional check
  src/react/components/toast/XUIToast.js
Due: eslint

Enhanced test and docs around sentiments.
  src/react/components/toast/XUIToast.js
  src/react/components/toast/__tests__/XUIToast-test.js
Due: eslint

NOOP everywhere, now only here.
  src/react/components/toast/stories/stories.js
  src/react/components/toast/stories/variations.js
Due: eslint

Adds a fix for requestanimationframe errors when running `npm test`
  jest.setup.js
Due: none

Fix whitespace problems
  src/react/components/toast/__tests__/XUIToastWrapper-test.js
Due: eslint

Proptype doc and validation fixes
  src/react/components/toast/XUIToast.js
  src/react/components/toast/XUIToastActions.js
Due: eslint

Docs are now working again.
  .styleguidist/sections.json
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/toast.action.md
  src/react/components/toast/toast.actions.md
Due: eslint

Allow for nodes to be passed in to be turned into breadcrumbs (#3288)
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.breadcrumb.md
Due: eslint

Fix to sample Dropdown autocompleter in docs
  src/react/components/dropdown/dropdown.toggled.md
Due: none
