Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

update xui version number to beta (#3112)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

Force node >= 8.11 (#3110)
  package.json
Due: none

Adds copy and builds babel to prepublish (#3115)
  package.json
Due: none

Add scripts to artifactory deploy
  package.json
Due: none

Adds prestart, removes postinstall, changes scripts. (#3120)
  package.json
  scripts/start/prestart.js
Due: none

Adds `scripts/security` to release task, removes prepare (#3121)
  package.json
  scripts/release/index.js
Due: none

Isolation header doc edits (#3109)
  src/sass/objects/_isolationheader.scss
Due: stylelint

Fix isPositionFixed flag in iso mode storybook playground (#3114)
  src/react/components/helpers/versions.js
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/stories/stories.js
  src/sass/objects/_isolationheader.scss
Due: eslint, stylelint

remove scripts from npm pack.
  .gitignore
  package.json
  src/react/components/helpers/versions.js
Due: eslint

Npm scripts updates (#3126)
  CONTRIBUTING.md
  README.md
  package.json
  scripts/README.md
  scripts/start/prestart.js
Due: none

Chore: Table Follow Up's (#3105)
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/table-test.js
  src/react/components/table/customElements/TableHead.js
  src/sass/objects/_contentblocks.scss
Due: eslint, stylelint

Adds stepper docs and adjusts react label on isolation header
  src/sass/objects/_isolationheader.scss
  src/sass/objects/_stepper.scss
Due: stylelint

Updated jest tests for structural components (attempt 2) (#3132)
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: eslint

Updated snapshots for autocompleter and table
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

Doc wording fix in working with XUI section (#3141)
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint

Docs/update ia (#3138)
  scripts/build/kss/config.json
  src/docs/_docs.avatars.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/_docs.rolloverCheckbox.scss
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/docs/index.scss
  src/sass/_mixins.scss
  src/sass/_vars.scss
  src/sass/objects/_buttons.scss
  src/sass/objects/_contentblocks.scss
  src/sass/objects/_globalstates.scss
  src/sass/objects/_loaders.scss
  src/sass/objects/_navigation.picklist.scss
  src/sass/objects/_pills.scss
  src/sass/objects/_popovers.scss
  src/sass/objects/_progressindicator.scss
  src/sass/objects/_steps.scss
  src/sass/objects/_typography.capsules.scss
  src/sass/objects/_typography.tags.scss
  src/sass/objects/_usermessaging.banners.scss
  src/sass/objects/_usermessaging.tooltip.scss
  src/sass/trumps/_utilities.scss
Due: stylelint

[minor] Chore: Add legacy Git hook documentation for Husky migration (#3143)
  README.md
Due: none

Now builds src/sass/tmp scss partials as part of the KSS build (#3146)
  scripts/build/kss/index.js
Due: none

address incorrect progress indicator modifications
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/customElements/ProgressWrapper.js
Due: eslint

Add watch and build styleguidist task (react docs) (#3145)
  scripts/start/index.js
  scripts/watch/all.js
  scripts/watch/styleguide.js
Due: none

De-pluralise Elements and Compounds (#3144)
  src/docs/building-blocks/_docs.panels.scss
  src/sass/objects/_contentblocks.scss
  src/sass/objects/_overview.scss
Due: stylelint

Isolation header doc update (#3148)
  src/react/isolationheader.md
  src/sass/objects/_isolationheader.scss
Due: stylelint

[minor] Chore: Table (#3137)
  src/react/components/table/XUITable.js
  src/react/components/table/stories/stories.js
  src/sass/objects/_contentblocks.scss
Due: eslint, stylelint

Add shouldAnimate prop to XUIBanner to make animation optional (#3149)
  src/react/components/banner/XUIBanner.js
Due: eslint

This fixes issues with :6060 not working (#3150)
  scripts/start/index.js
Due: none

[minor] Added OverviewBlocks and OverviewSections (#3135)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_Structural_overview_block_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_without_layout_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIOverviewBlock.js
  src/react/components/structural/XUIOverviewSection.js
  src/react/components/structural/XUIRow.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/private/constants.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.overviewblock.md
  src/react/structural.js
  src/sass/objects/_overview.scss
Due: eslint, stylelint

Update input component cross linking documentation
  .styleguidist/sections.json
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/react/input.md
  src/react/textInput.md
  src/react/textarea.md
Due: stylelint

[minor] Update links between KSS and React for new structural components (#3151)
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/structural.actions.md
  src/react/components/structural/structural.breadcrumb.md
  src/react/components/structural/structural.overviewblock.md
  src/react/components/structural/structural.pageheader.md
Due: stylelint

This should fix up dev server builds for styleguidist (#3153)
  package-lock.json
  package.json
  scripts/start/index.js
  scripts/watch/all.js
Due: none

Really minor (#3154)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
Due: stylelint

[mionr] Modifies text input documentation to use xui-textinput and minor css fix (#3156)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/sass/objects/_forms.textinputs.scss
Due: stylelint

Fix storybook link from homepage (#3159)
  src/docs/home.md
Due: none

TODO for inconsistent pill class (#3157)
  src/sass/objects/_pills.scss
Due: stylelint

Accessibility docs for isolation header (#3160)
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/sass/objects/_isolationheader.scss
Due: eslint, stylelint

[minor] Adds Accessibility page + changes "Working with XUI" tab name to "About" (#3161)
  .kss/scss/style.scss
  src/docs/working-with-xui/_docs.accessibility.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint

[minor] Reorder React Docs sections for navigation (and content) (#3162)
  .styleguidist/components/ComponentsList.js
  .styleguidist/sections.json
  .styleguidist/styles.scss
  .styleguidist/template.html
  package-lock.json
  package.json
Due: none

Fix React Docs -> XUI Guide cross links for elements (#3166)
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/react/autocompleter.md
  src/react/avatar.md
  src/react/banner.md
  src/react/button.md
  src/react/capsule.md
  src/react/checkbox.md
  src/react/datepicker.md
  src/react/dropdown.md
  src/react/isolationheader.md
  src/react/loader.md
  src/react/modal.md
  src/react/picklist.md
  src/react/pill.md
  src/react/progressindicator.md
  src/react/radio.md
  src/react/select-box.md
  src/react/stepper.md
  src/react/switch.md
  src/react/table.md
  src/react/tag.md
  src/react/toast.md
  src/react/toggle.md
  src/react/tooltip.md
  src/sass/objects/_motion.scss
Due: stylelint

Cut Beta2
  .umd/index.html
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint
