Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[Minor][XUI-587] Convert hardcoded icon shapes to props with default shapes (#4773)
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionItem.d.ts
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/EmptyState.js
  src/react/components/banner/XUIBanner.d.ts
  src/react/components/banner/XUIBanner.js
  src/react/components/button/XUIButtonCaret.d.ts
  src/react/components/button/XUIButtonCaret.js
  src/react/components/chart/XUIBarChart.d.ts
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/helpers/bars.js
  src/react/components/picklist/NestedPicklistTrigger.d.ts
  src/react/components/picklist/NestedPicklistTrigger.js
  src/react/components/progressindicator/XUIProgressCircular.d.ts
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/customElements/CircularIcon.js
  src/react/components/table/XUITable.d.ts
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/TableHead.js
Due: eslint

[XUI-704] Add supplementary text to headers
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/examples/isolation-header/_isolation-header-layout.html
  src/docs/components/navigation/examples/page-header/_page-header-titles.html
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/__tests__/XUIIsolationHeader-test.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/react/components/isolationheader/stories/stories.js
  src/react/components/isolationheader/stories/variations.js
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/pageheader/__tests__/XUIPageHeader-test.js
  src/react/components/pageheader/__tests__/__snapshots__/XUIPageHeader-test.js.snap
  src/react/components/pageheader/stories/stories.js
  src/react/components/pageheader/stories/variations.js
  src/react/isolationheader.md
  src/react/pageheader.md
  src/sass/7-components/_headers.scss
Due: eslint, stylelint, prettier --check

[XUI-1187] Add QA hooks for header title text
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/pageheader/__tests__/__snapshots__/XUIPageHeader-test.js.snap
Due: eslint

[breaking-changes] XUI-830 Update states: Switch, Radio and Checkbox (#4775)
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_unchecked_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_checked_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_checked_icon_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_icon_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Checked_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Unchecked_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Checked_hover_state_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Unchecked_hover_state_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/checkbox/stories/variations.js
  src/react/components/radio/stories/variations.js
  src/react/components/switch/stories/variations.js
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
Due: eslint, stylelint, prettier --check

Remove parameter from selectHighlighted type definition (#4778)
  src/react/components/dropdown/DropDown.d.ts
Due: eslint

Allow a rotation of 0 for XUIIcon (#4777)
  src/react/components/icon/private/constants.ts
Due: eslint

Update visual regression base image for icons with rotation (#4780)
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_rotation_0_capture_0_just_desktop.png
Due: none

[patch] XUI-1213 Fix TS type for createPagingContent and createCountContent (#4782)
  src/react/components/pagination/XUIPagination.d.ts
Due: eslint

[editable] Updates, bug fixes, etc discovered during user testing prep (#4786)
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-1057 Update cursor for all raw links within ContentBlock. (#4785)
  src/sass/2-mixins/_components.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-1213 Remove the numberFormat for createPagingContent and createCountContent (#4784)
  changes.md
  src/react/components/pagination/XUIPagination.d.ts
  src/react/components/pagination/XUIPagination.js
  src/react/components/pagination/private/ItemsElement.js
  src/react/components/pagination/private/Paging.js
  src/react/components/pagination/private/helpers.js
  src/react/components/pagination/stories/variations.js
  src/react/pagination.md
Due: eslint, prettier --check

XUI-1143 Interactive user tests for GUT (#4787)
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/user-tests.js
Due: eslint

[patch] Fix event handler types (#4779)
  src/react/components/dropdown/DropDown.d.ts
  src/react/components/picklist/StatefulPicklist.d.ts
  src/react/components/range/XUIRange.d.ts
Due: eslint

Use getTriggerNodeFromParentRef to calculate max height and styles (#4783)
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_hint_and_label_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_label_only_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_msg_only_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_validation_message_and_label_0_xui-container_0_just_desktop.png
  src/react/components/positioning/Positioning.js
Due: eslint

Set a static display month for touch target vis-reg (#4790)
  .visual-testing/reference/backstop_default_Components_in_Components_Invisible_touch_targets_0_xui-container_0_just_desktop.png
  src/react/stories/components-in-components/touch-targets/index.js
Due: eslint

[patch] XUI-1196 Add documentation for compact version of horizontal picklist (#4791)
  src/react/pageheader.md
Due: prettier --check

[patch] XUI-1084 Keep disabled border color on hover. (#4788)
  src/sass/2-mixins/_elements.scss
  src/sass/7-components/_forms.selects.scss
Due: stylelint, prettier --check

Bump version to 16.3.1 (#4794)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Fix type for `secondary` prop on XUIPageHeader (#4798)
  src/react/components/pageheader/XUIPageHeader.d.ts
Due: eslint

[editable] XUI-1203 Column width API (#4793)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/user-tests.js
  src/react/components/editabletable/stories/variations.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-1210 Consolidate dropdown heading size (#4806)
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-child.html
Due: prettier --check

[XUI-1186] Lift removeButtonAriaLabel prop to XUIEditableTable (#4807)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/user-tests.js
  src/react/components/editabletable/stories/variations.js
  src/react/editabletable.md
Due: eslint, prettier --check

[minor] Add clearHighlightedItem method to StatefulPicklist, DropdownPanel and Dropdown (#4808)
  src/react/components/dropdown/DropDown.d.ts
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownPanel.d.ts
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/picklist/StatefulPicklist.d.ts
  src/react/components/picklist/StatefulPicklist.js
  src/react/components/picklist/__tests__/StatefulPicklist-test.js
Due: eslint

XUI-1259 Guard for autocompleter keydown handler (#4810)
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

[minor] Minor Release (16.4.0) Step #2: Get minor branch in sync with patch. (#4812)
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-child.html
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint, prettier --check

[XUI-1204] Part 1 - Refactor XUIEditableTableRow (#4809)
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
Due: eslint

[minor] Minor release bump version to 16.4.0. (#4813)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Revert "[minor] Minor Release (16.4.0) Step #2: Get minor branch in sync with patch. (#4812)"
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-child.html
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint, prettier --check

[editable] Editable validation for input cells (#4792)
  src/react/components/button/XUIButton.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellControl-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellSelectBox-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellControl-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellReadOnly-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSecondarySearch-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/positioning/Positioning.js
  src/react/components/select-box/SelectBox.d.ts
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/contexts/EditableTableCellContext.js
  src/react/editabletable.ts
  src/sass/2-mixins/_components.scss
  src/sass/2-mixins/_elements.scss
  src/sass/7-components/_editabletable.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint, prettier --check

Updates to reconcile merge conflicts
  src/react/components/positioning/Positioning.js
  src/sass/2-mixins/_elements.scss
  src/sass/7-components/_fileuploader.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint, prettier --check

Version bump to editable.2
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Update for an existing bug in invalid borders
  src/sass/7-components/_forms.selects.scss
Due: stylelint, prettier --check

Updated vis-reg for selectbox, to avoid bugs like the last one
  .visual-testing/reference/backstop_default_SelectBox_disabled_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_disabled_and_invalid_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_invalid_with_an_error_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_invalid_with_an_error_message_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_disabled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_a_hint_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_a_hint_message_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_no_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_no_default_layout_0_xui-container_0_just_desktop.png
  src/react/components/select-box/stories/variations.js
Due: eslint

XUI-1274 Update to mixins for documentation purposes (#4826)
  src/sass/2-mixins/_layout.breakpoints.scss
Due: stylelint, prettier --check

XUI-1260 two bug fixes (#4825)
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/sass/7-components/_autocompleter.scss
Due: eslint, stylelint, prettier --check

[editable] XUI-1253 Safari overflow shadow fix (#4828)
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

Additional guard needed in codemod (#4831)
  .codemod/componentTransforms.js
Due: eslint

Fix a console warning for table head icons (#4833)
  src/react/components/table/customElements/TableHead.js
Due: eslint

Updated page weighting to fix nav order (#4835)
  src/docs/getting-started/_codepen.scss
Due: stylelint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md}
