Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

Update src/docs/components/controls/examples/text-input/_text-input-character-limit-always.html
  src/docs/components/controls/examples/text-input/_text-input-character-limit-always.html
Due: prettier --check

[XUI-1729] Copy update
  src/docs/components/controls/_text-inputs.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-1825 Replacing values in dropdown reference check. (#5344)
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/contexts/DropdownContext.js
Due: eslint, prettier --check

[minor] XUI-1706 Date input XUI Guide docs (#5359)
  src/docs/components/collecting-input/_dateinputs.scss
  src/docs/components/collecting-input/examples/dateinput/_date-input-accessibility.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-anatomy.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-disabled.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-responsive-dropdown.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-size-variants.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-validation.html
  src/docs/components/collecting-input/examples/dateinput/_date-range-input.html
  src/docs/components/collecting-input/examples/dateinput/_single-date-input.html
  src/docs/components/collecting-input/examples/dateinput/_suggested-dates-dropdown.html
  src/docs/getting-started/accessibility/_accessibility.scss
Due: stylelint, prettier --check

[patch] XUI-1823 XUIEditableTable - portal focus doesn't get the right position when focus cell updated (#5353)
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/private/PortalFocus.js
Due: eslint, prettier --check

[no-ref] Adding missing vis-reg tests.
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_icon_and_a_long_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_icon_and_a_long_label_smaller_than_xsmall_breakpoint.png
Due: none

[no-ref] Version bump to 17.3.0
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[noref] Rename XUITextInput focusByDefault to focusOnMount
  src/react/components/textInput/XUITextInput.js
Due: eslint, prettier --check

[noref] Correct suggestedDates variable in React docs
  src/react/dateinput.md
Due: prettier --check

[no-ref] Version bump to 17.3.0 (#5365)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[noref] Update package-lock and axe config
  package-lock.json
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableWrapper-test.js.snap
  src/react/helpers/axeHelper.ts
Due: eslint, prettier --check

[XUI-1856] Version bump for 18.0.0-alpha.1 (#5368)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Update changes.md for XUI 18 (#5374)
  changes.md
Due: prettier --check

[patch] XUI-1705 Pickitem href does not work when used within a ContentBlockItem that has a href (#5369)
  src/react/components/contentblock/XUIContentBlockItem.js
Due: eslint, prettier --check

[patch] [no-ref] Add generic type arguments to useResizeObserver and useContainerQuery (#5378)
  .styleguidist/components/ComponentsList.js
  .styleguidist/components/Section.js
  .styleguidist/components/Wrapper.js
  .styleguidist/config.js
  package-lock.json
  package.json
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
  src/react/components/helpers/useContainerQuery.ts
  src/react/components/helpers/useResizeObserver.ts
Due: eslint, prettier --check

[minor] XUI-1926 Date input focus improvments (#5376)
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_without_suggested_dates_just_desktop.png
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/private/XUIDateInputItem.js
Due: eslint, prettier --check

[minor] [XUI-1868] Add a flag for using the border box in `useContainerQuery`s calculations (#5384)
  src/react/components/helpers/useContainerQuery.ts
  src/react/helpers/containerQueries.md
Due: eslint, prettier --check

[patch] [XUI-1885] Adjust z-index stacking strategy for headers (#5372)
  src/docs/fundamentals/_layout.scss
  src/sass/7-components/_fixedfooter.scss
  src/sass/7-components/_headers.scss
Due: stylelint, prettier --check

[Patch][XUI-1970] Fix bug with null values in Character counter (#5388)
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: eslint, prettier --check

[breaking-changes] no-ref Add guard for side elements in XUITextInput
  src/react/components/textInput/XUITextInput.js
Due: eslint, prettier --check

h3 style updated (#5390)
  .kss/scss/style.scss
Due: prettier --check

Remove `@babel/plugin-proposal-class-properties` from from wepback conf. (#5392)
  .storybook/webpack.config.js
Due: eslint, prettier --check

Enable `strict` mode for TypeScript (#5391)
  src/react/components/avatar/constants.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/bind-events.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/invariant.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/prevent-standard-key-events.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/supported-page-visibility-event-name.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/usePointerSensors.js
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/usePointerSensors.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/use-keyboard-sensor.ts
  src/react/components/editabletable/private/EditableTableColGroup.tsx
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/react/components/helpers/breakpoints.ts
  src/react/components/helpers/combineRefs.ts
  src/react/components/helpers/noop.js
  src/react/components/helpers/noop.ts
  src/react/components/helpers/resizeObserver.ts
  src/react/components/helpers/useContainerQuery.ts
  src/react/components/helpers/useResizeObserver.ts
  src/react/components/pill/private/constants.ts
  src/react/components/table/XUITable.tsx
  src/react/components/table/helpers/basicSort.ts
  src/react/components/table/private/XUITableBody.tsx
  tsconfig.json
Due: eslint, prettier --check

[breaking changes] Fix TS compilation errors (#5393)
  package-lock.json
  package.json
  src/react/helpers/axeHelper.ts
Due: eslint, prettier --check

[minor] [XUI-1868] Build Intro Banner component (#5324)
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_basic_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_basic_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_video_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_video_illustration_smaller_than_xsmall_breakpoint.png
  src/react/components/introbanner/XUIIntroBanner.tsx
  src/react/components/introbanner/XUIIntroBannerBody.tsx
  src/react/components/introbanner/XUIIntroBannerFooter.tsx
  src/react/components/introbanner/__tests__/XUIIntroBanner-test.js
  src/react/components/introbanner/__tests__/XUIIntroBannerBody-test.js
  src/react/components/introbanner/__tests__/XUIIntroBannerFooter-test.js
  src/react/components/introbanner/__tests__/__snapshots__/XUIIntroBanner-test.js.snap
  src/react/components/introbanner/__tests__/__snapshots__/XUIIntroBannerBody-test.js.snap
  src/react/components/introbanner/__tests__/__snapshots__/XUIIntroBannerFooter-test.js.snap
  src/react/components/introbanner/private/IntroBannerHeader.tsx
  src/react/components/introbanner/private/constants.ts
  src/react/components/introbanner/stories/stories.js
  src/react/components/introbanner/stories/variations.js
  src/react/introbanner.body.md
  src/react/introbanner.footer.md
  src/react/introbanner.md
  src/react/introbanner.ts
  src/sass/7-components/_introbanner.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

[XUI-1942] Correct typo in accessibility docs (#5396)
  src/docs/getting-started/accessibility/_accessibility.scss
Due: stylelint, prettier --check

[minor][XUI-1883] Add XUIIntroBanner XUI Guide Docs (#5385)
  .kss/scss/style.scss
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/alerts/examples/introbanner/_intro-banner-anatomy.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-illustration.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-responsive.html
Due: stylelint, prettier --check

[noref] Update PR template with i18n check (#5397)
  .github/pull_request_template.md
Due: prettier --check

[breaking-changes] [XUI-1872] Add warnings for required labels in XUI 19 (#5375)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/helpers/__tests__/labelRequiredWarning-test.ts
  src/react/components/helpers/developmentConsole.ts
  src/react/components/helpers/labelRequiredWarning.ts
  src/react/components/pagination/XUIPagination.js
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/switch/XUISwitch.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/toggle/XUIToggleOption.js
  src/react/helpers/flagDefinitions.d.ts
Due: eslint, prettier --check

[XUI-1945] Shift ‘Updates’ Guide page content
  src/docs/_updates.scss
Due: stylelint, prettier --check

[minor] Bump version to 17.4.0 + update package-lock.json (#5400)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableWrapper-test.js.snap
  src/react/components/helpers/versions.js
  src/react/helpers/axeHelper.ts
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-1921] Fix XUIBarChart's Key dropdown in StoryBook (#5394)
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Abbreviation_X-Axis_Label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_Image_X-Axis_Label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_X-Axis_Label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Header_elements_just_desktop.png
  src/react/components/chart/stories/stories.js
Due: eslint, prettier --check

[XUI-2001] Make editable table footer styles less opinionated
  changes.md
  src/sass/7-components/_table.editable.scss
Due: stylelint, prettier --check

Bump @types/react to 17.0.5 (#5405)
  package-lock.json
  package.json
Due: prettier --check

[XUI-1831] Add functioning editable table + pagination example
  .styleguidist/sections.json
  src/react/components/editabletable/editabletable.pagination.md
Due: prettier --check

noref - Fix broken docs image (#5409)
  src/docs/compositions/_detail-summary.scss
Due: stylelint, prettier --check

[patch] no-ref Add paginationLabel prop of XUIBarChart back (#5415)
  src/react/components/chart/XUIBarChart.d.ts
  src/react/components/chart/XUIBarChart.js
Due: eslint, prettier --check
