Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[patch][xui-2881] Content updates made to picklist component page (#5862)
  src/docs/components/displaying-data/_picklists.scss
Due: stylelint, prettier --check

[Patch][XUI-2826][XUI-2825] Visual examples for Banner and Dropdown (#5859)
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/examples/banner/_banner-visual-example.html
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/collecting-input/examples/dropdown/_dropdown-visual-example.html
Due: stylelint, prettier --check

[patch][xui-2879] Content changes to editable table (#5858)
  src/docs/components/displaying-data/_editable-table.scss
Due: stylelint, prettier --check

[master] [XUI-2772] ci: Add XUI Pipeline to TeamCity (#5860)
  .teamcity/README.md
  .teamcity/buildSteps/DeployToS3Custom.kt
  .teamcity/buildTypes/BuildDocs.kt
  .teamcity/buildTypes/DeployXUI.kt
  .teamcity/buildTypes/PRBuild.kt
  .teamcity/buildTypes/VisRegTest.kt
  .teamcity/buildTypes/addMannyfest.kt
  .teamcity/pom.xml
  .teamcity/projects/XUIArtifacts.kt
  .teamcity/projects/XUIDocs.kt
  .teamcity/settings.kts
  package-lock.json
  package.json
Due: prettier --check

[patch] Xui 2845 popover (#5865)
  src/docs/components/alerts/_popovers.scss
Due: stylelint, prettier --check

[patch] XUI-2777 Sticky header navigation to XUI Guide. (#5807)
  .kss/builder/extend/helper.js
  .kss/builder/extend/menu.js
  .kss/builder/index.hbs
  .kss/builder/kss-assets/kss-script.js
  .kss/builder/kss-assets/nav-headings.js
  .kss/scss/example.scss
  .kss/scss/style.scss
  scripts/build/kss/config.json
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/collecting-input/_modals.scss
  src/docs/components/displaying-data/_content-blocks.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/_tabs.scss
Due: eslint, stylelint, prettier --check

[FIX] Set Storybook background colour to XUI value
  .storybook/preview-head.html
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Loading_State_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Control_Group_group_validation_just_desktop.png
Due: prettier --check

[FIX] Update composition vis-reg images involving tables
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_between_xsmall_and_small_breakpoints.png
Due: none

[patch] [XUI-2878] Update content for text input (#5866)
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/_search.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/getting-started/_codepen.scss
Due: stylelint, prettier --check

XUI-2945 Button height fixes (#5878)
  .visual-testing/reference/backstop_default_XUI_Panel_with_all_options_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Panel_with_all_options_smaller_than_xsmall_breakpoint.png
  src/docs/components/navigation/examples/page-header/_page-header-actions.html
  src/docs/components/navigation/examples/page-header/_page-header-responsive.html
  src/sass/6-containers/_panels.scss
Due: stylelint, prettier --check

[XUI-2882] Fix dropdown behaviour for React Testing Library (#5879)
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/checkbox/XUICheckboxRangeSelector.tsx
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/helpers/isRunningInJest.ts
  src/react/components/selectbox/__tests__/XUISelectBox-test.js
Due: eslint, prettier --check

[XUI-2443][XUI-2882] Enable new dropdown focus behaviour tests (#5883)
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInput-test.js
Due: eslint, prettier --check

[patch] [XUI-2837] Add boxes around L4 and L5 sections depending on F.o.a (Part 2/2 – Automatic) (#5869)
  .kss/builder/extend/helper.js
  .kss/builder/index.hbs
  .kss/scss/style.scss
Due: eslint, prettier --check

[minor][XUI-2893] Fix shift+tab behaviour from inside XUIDateInput's dropdown (#5884)
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
  src/react/components/datepicker/XUIDatePicker.js
Due: eslint, prettier --check

[patch] [XUI-2837] Add level 5 headings and update level 3 and 4 font sizes (Part 1/2) (#5868)
  .kss/scss/style.scss
Due: prettier --check

[patch][XUI-2894] Correct XUIDateInput behaviour on pressing escape (#5886)
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInput-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInput-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.js
Due: eslint, prettier --check

XUI-2949 Added missing string for React docs (XUIDateInput). (#5890)
  src/react/dateinput.md
Due: prettier --check

[breaking-changes] XUI-1980 minimal XUIControlGroups docs (#5873)
  changes.md
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/collecting-input/examples/dateinput/_date-input-accessibility.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-anatomy.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-disabled.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-size-variants.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-validation.html
  src/docs/components/collecting-input/examples/dateinput/_date-range-input.html
  src/docs/components/collecting-input/examples/dateinput/_single-date-input.html
  src/docs/components/collecting-input/examples/form/_form-horizontal.html
  src/docs/components/collecting-input/examples/form/_form-labels.html
  src/docs/components/collecting-input/examples/form/_form-validation.html
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/controls/examples/checkbox/_checkbox-grouped-horizontal.html
  src/docs/components/controls/examples/checkbox/_checkbox-validation.html
  src/docs/components/controls/examples/radio/_radio-grouped-horizontal.html
  src/docs/components/controls/examples/radio/_radio-validation.html
  src/docs/components/controls/examples/select/_select-content.html
  src/docs/components/controls/examples/select/_select-disabling.html
  src/docs/components/controls/examples/select/_select-labels-and-validation.html
  src/docs/components/controls/examples/select/_select-multiselect.html
  src/docs/components/controls/examples/select/_select-sizes.html
  src/docs/components/controls/examples/select/_select-variants.html
  src/docs/components/controls/examples/select/_select.html
  src/docs/components/controls/examples/switch/_switch-grouped-horizontal.html
  src/docs/components/controls/examples/switch/_switch-validation.html
  src/docs/components/displaying-data/examples/file-preview/_file-preview-narrow.html
  src/docs/components/displaying-data/examples/file-preview/_file-preview.html
  src/docs/components/identifiers/examples/loader/_loader-modals-retain-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-paging.html
  src/docs/components/navigation/examples/pagination/_pagination.html
  src/react/textinput.md
Due: stylelint, prettier --check

[minor][XUI-2950] Shift the layout of XUIFilePreview's footer controls (#5896)
  .visual-testing/reference/backstop_default_XUI_File_Preview_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Preview_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_File_Preview_in_a_side_container_just_desktop.png
  src/docs/components/displaying-data/_file-preview.scss
  src/docs/components/displaying-data/examples/file-preview/_file-preview-narrow.html
  src/docs/components/displaying-data/examples/file-preview/_file-preview.html
  src/react/components/filepreview/XUIFilePreviewFooter.d.ts
  src/react/components/filepreview/XUIFilePreviewFooter.js
  src/react/components/filepreview/__tests__/XUIFilePreviewFooter-test.js
  src/react/components/filepreview/__tests__/__snapshots__/XUIFilePreviewFooter-test.js.snap
  src/react/components/filepreview/stories/helpers/ExampleFooter.js
  src/react/filepreview.md
  src/sass/7-components/_filepreview.scss
Due: eslint, stylelint, prettier --check

[minor][noRef] Fix console error in File Preview example (#5898)
  src/react/components/pagination/private/helpers.js
  src/react/filepreview.md
Due: eslint, prettier --check

[minor] Update package-lock and bump version (Release XUI 19.2.0) (#5899)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-2963] Fix wide examples for XUIFilePreview (#5906)
  src/docs/components/displaying-data/_file-preview.scss
Due: stylelint, prettier --check

[patch][XUI-2964] remove caret from problematic dependency (#5907)
  package-lock.json
  package.json
Due: prettier --check

[minor] patch to minor (#5910)
  package-lock.json
  package.json
  src/docs/components/displaying-data/_file-preview.scss
Due: stylelint, prettier --check

XUI-2948 Aligning prop names for autocompleter loading label. (#5887)
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
Due: eslint, prettier --check

[XUI-2887] Allow multiple actions in editable table footer (#5908)
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/editabletable/XUIEditableTableUtilityBar.tsx
  src/react/components/editabletable/__tests__/XUIEditableTableUtilityBar-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFootAction-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableUtilityBar-test.js.snap
  src/react/editabletable.ts
Due: eslint, prettier --check

[patch] [XUI-2295] Add locale date format support (#5903)
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/private/helpers/getDateFormat.ts
  src/react/dateinput.md
Due: eslint, prettier --check

[patch] [XUI-2523] Only surface major versions in the XUI docs version selector (from XUI 19 onwards) (#5888)
  src/versionSelector/VersionSelector.js
Due: eslint, prettier --check

[master] [XUI-2531] Enable prod deployments (#5894)
  .teamcity/projects/XUIArtifacts.kt
  .teamcity/projects/XUIDocs.kt
Due: none

[patch] [XUI-2532] Make XUIDropdown screen reader accessible (#5891)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInput-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInput-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInput-test.js.snap
  src/react/components/dropdown/XUIDropdownPanel.js
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdownToggled-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUINestedDropdown-test.js.snap
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/dropdown/dropdown.toggled.md
  src/react/components/pageheader/__tests__/__snapshots__/XUIPageHeader-test.js.snap
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/picklist/XUIStatefulPicklist.js
  src/react/components/picklist/picklist.stateful.md
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBox-test.js.snap
Due: eslint, prettier --check

[breaking-changes][XUI-2887 ] Allow multiple actions in editable table footer (#5914)
  .codemod/componentTransforms.js
  changes.md
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/editabletable/XUIEditableTableFootActions.tsx
  src/react/components/editabletable/__tests__/XUIEditableTableFootAction-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableFootActions-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFootAction-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFootActions-test.js.snap
  src/react/components/editabletable/editabletable.foot.md
  src/react/components/editabletable/stories/stories.js
  src/react/editabletable.ts
Due: eslint, prettier --check

[Patch] [xui-2915] [xui-2914] [xui-2913] Content changes for stepper, loader, autocompleter (#5904)
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/identifiers/_loaders.scss
  src/docs/components/navigation/_steppers.scss
Due: stylelint, prettier --check

[patch][xui-2953] Updating content for overview block (#5913)
  src/docs/components/displaying-data/_overview-blocks.scss
Due: stylelint, prettier --check

[patch][XUI-2912] Add visual examples (#5892)
  .kss/scss/example.scss
  src/docs/components/alerts/_toasts.scss
  src/docs/components/alerts/_tooltips.scss
  src/docs/components/alerts/examples/toast/_toast-visual-example.html
  src/docs/components/alerts/examples/tooltip/_tooltip-visual-example.html
  src/docs/components/collecting-input/_dateinputs.scss
  src/docs/components/collecting-input/_modals.scss
  src/docs/components/collecting-input/examples/dateinput/_date-input-anatomy.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-visual-example.html
  src/docs/components/collecting-input/examples/modal/_modal-visual-example.html
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/examples/accordion/_accordion-visual-example.html
Due: stylelint, prettier --check

[XUI-2962] Expose dropdown's forceStatefulPicklist prop on XUIAutocompleter and XUIEditableTableCellAutocompleter (#5917)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.d.ts
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
Due: eslint, prettier --check

[XUI-2961] Apply 'aria-selected' to all XUIPickitem components with a role of 'option' (#5918)
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUINestedDropdown-test.js.snap
  src/react/components/picklist/XUIPickitem.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBoxOption-test.js.snap
Due: eslint, prettier --check

[patch][xui-2954][xui-2955][xui-2956] Update content on progress indicator, content block and panel pages (#5915)
  src/docs/components/displaying-data/_content-blocks.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/identifiers/_progress-indicators.scss
Due: stylelint, prettier --check
