Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[XUI-3357] Add missing mixin import
  src/sass/7-components/_loaders.scss
Due: stylelint, prettier --check

[breaking-changes] [XUI-3264] Update flags ready for XUI 20 release (#6078)
  src/docs/components/alerts/_popovers.scss
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_bar-charts.scss
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/_file-preview.scss
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/fundamentals/_layout.scss
  src/docs/getting-started/_customising-xui.scss
  src/docs/getting-started/_getting-started.scss
  src/docs/patterns/_error-pages.scss
Due: stylelint, prettier --check

[breaking-changes][XUI-3261] Ensure changes.md is comprehensive (#6087)
  changes.md
Due: prettier --check

[breaking-changes] [XUI-3249] Update dependencies (#6088)
  .eslintrc.js
  .kss/builder/extend/definition.js
  .kss/builder/extend/markdown.js
  .kss/builder/extend/markdownSection.js
  .kss/builder/extend/menu.js
  .kss/builder/extend/related.js
  .styleguidist/config.js
  package-lock.json
  package.json
  scripts/test/visual.js
  scripts/versions/versions.js
  src/react/components/helpers/versions.js
  src/react/components/popover/XUIPopoverHeader.js
  webpack.umd.config.js
Due: eslint, prettier --check

[XUI-3250] Update codemod (#6090)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
Due: eslint, prettier --check

[XUI-3117] Dropdown Storybook improvements
  .visual-testing/reference/backstop_default_XUI_Dropdown_dropdown_against_right_gutter_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_side_by_side_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_Header_and_Footer_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_Header_and_Footer_smaller_than_xsmall_breakpoint.png
  src/react/components/dropdown/stories/helpers.js
  src/react/components/dropdown/stories/stories.js
Due: eslint, prettier --check

[XUI-3257] Fix broken KSS example page (#6089)
  src/docs/components/controls/_switches.scss
Due: stylelint, prettier --check

[patch][XUI-3405] Update React examples for accordion, barchart and picklist (#6080)
  src/react/accordion.md
  src/react/barchart.md
  src/react/components/picklist/picklist.nested.md
  src/react/components/picklist/picklist.pickitem.md
  src/react/components/picklist/picklist.stateful.md
  src/react/picklist.md
Due: prettier --check

[XUI-3448] Fix version selector logic for XUI 20 and beyond (#6096)
  scripts/build/docs/private/shouldExcludeThisVersion.js
Due: eslint, prettier --check

XUI-3452 Updating TS definition for XUIAutocompleter. (#6097)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
Due: eslint, prettier --check

Release 20.0.0-alpha.2 (#6101)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-3364] Pass event parameter to onBlur (#6104)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint, prettier --check

[XUI-3424] Update ControlGroup React examples to meet quality guidelines (#6103)
  src/react/controlgroup.md
Due: prettier --check

XUI-3457--remove-proptypes-from-pill-types-file (#6106)
  src/react/components/pill/XUIPill.d.ts
Due: eslint, prettier --check

XUI-3456--fix-react-docs-console-errors (#6108)
  src/react/components/accordion/customElements/EmptyState.js
Due: eslint, prettier --check

XUI-3462--fix-react-docs-console-errors (#6109)
  src/react/panel.md
Due: prettier --check

XUI-3459--rollback-semver-sort-version (#6107)
  package-lock.json
  package.json
Due: prettier --check

XUI-3460--add-correct-element-import-to-dropdown-toggled (#6105)
  src/react/components/dropdown/XUIDropdownToggled.js
Due: eslint, prettier --check

Release 20.0.0-alpha.3 (#6112)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] [XUI-3120] Editable table Storybook improvements (#6095)
  .visual-testing/reference/backstop_default_XUI_Editable_Table_responsive_with_pinned_first_and_last_input_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_and_pinned_first_and_last_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_and_pinned_first_column_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_and_pinned_last_column_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_autocompleter_secondary_search_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_end-aligned_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_invalid_and_mixed_type_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_mixed_type_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_multi_pick_autocompleter_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_multiline_text_input_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_read-only_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_select_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_sortable_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_text_input_cells_just_desktop.png
  scripts/build/babel_visualregression.js
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
Due: eslint, prettier --check

XUI-3458--update-xuipill-storybook (#6113)
  src/react/components/pill/stories/stories.js
Due: eslint, prettier --check

XUI-3475--fix-dropdown-docs-typo (#6115)
  src/react/components/dropdown/XUIDropdownToggled.d.ts
  src/react/components/dropdown/XUIDropdownToggled.js
Due: eslint, prettier --check

Release 19.5.0 (#6118)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Fix out of date XUIEditableTable vis-regs
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_and_pinned_first_and_last_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_and_pinned_first_column_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_and_pinned_last_column_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_a_focused_cell_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_autocompleter_secondary_search_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_end-aligned_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_invalid_and_mixed_type_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_mixed_type_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_multi_pick_autocompleter_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_multiline_text_input_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_read-only_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_select_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_text_input_cells_just_desktop.png
Due: none

Release 20.0.0-beta.1 (#6123)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Routing
  .swiftpm/xcode/xcshareddata/xcschemes/Akahu.xcscheme
  Package.resolved
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Models/Account/Account+Balance.swift
  Sources/Akahu/Models/Account/Account.swift
  Sources/Akahu/Models/Connection/Connection+Bank.swift
  Sources/Akahu/Models/Connection/Connection.swift
  Sources/Akahu/Models/Identity/Identity+Identity.swift
  Sources/Akahu/Models/Identity/Identity.swift
  Sources/Akahu/Models/Income/Income.swift
  Sources/Akahu/Models/Me/Me.swift
  Sources/Akahu/Models/Payment/Payment.swift
  Sources/Akahu/Models/Transaction/Transaction.swift
  Sources/Akahu/Models/Webhook/Webhook+Event.swift
  Sources/Akahu/Responses.swift
  Sources/Akahu/Router.swift
  Sources/Akahu/Router/Router+Accounts.swift
  Sources/Akahu/Router/Router+Auth.swift
  Sources/Akahu/Router/Router+Categories.swift
  Sources/Akahu/Router/Router+Connections.swift
  Sources/Akahu/Router/Router+DateRange.swift
  Sources/Akahu/Router/Router+Income.swift
  Sources/Akahu/Router/Router+Me.swift
  Sources/Akahu/Router/Router+Pagination.swift
  Sources/Akahu/Router/Router+Payments.swift
  Sources/Akahu/Router/Router+Refresh.swift
  Sources/Akahu/Router/Router+Transactions.swift
  Sources/Akahu/Router/Router+Transfers.swift
  Sources/Akahu/Router/Router.swift
  Sources/AkahuFixtures/Fixtures.swift
  Sources/AkahuFixtures/Resources/ConnectionsResponse.json
  Tests/AkahuTests/AccountsTests.swift
  Tests/AkahuTests/ConnectionTests.swift
  Tests/AkahuTests/RouterTests.swift
  Tests/AkahuTests/TransferTests.swift
Due: prettier --check

Add auth and support
  Sources/Akahu/Models/Auth/Auth+Scopes.swift
  Sources/Akahu/Models/Auth/Auth.swift
  Sources/Akahu/Responses.swift
  Sources/Akahu/Router/Router+Auth.swift
  Sources/Akahu/Router/Router+Support.swift
  Sources/Akahu/Router/Router.swift
  Tests/AkahuTests/AuthTests.swift
  Tests/AkahuTests/ParserTests.swift
  Tests/AkahuTests/RouterTests.swift
  Tests/AkahuTests/SupportTests.swift
Due: none

Rename account
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Account/Account+Attribute.swift
  Sources/Akahu/Models/Account/Account+Balance.swift
  Sources/Akahu/Models/Account/Account+Branch.swift
  Sources/Akahu/Models/Account/Account+Formatted.swift
  Sources/Akahu/Models/Account/Account+Meta.swift
  Sources/Akahu/Models/Account/Account+Mock.swift
  Sources/Akahu/Models/Account/Account+Name.swift
  Sources/Akahu/Models/Account/Account+Refreshed.swift
  Sources/Akahu/Models/Account/Account+Status.swift
  Sources/Akahu/Models/Account/Account+Type.swift
  Sources/Akahu/Models/Account/Account.swift
  Sources/Akahu/Responses.swift
  Tests/AkahuTests/ResponseTests.swift
Due: prettier --check

Rename auth
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Auth/Auth.swift
Due: none

Rename Transaction
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Transaction/Transaction+Category.swift
  Sources/Akahu/Models/Transaction/Transaction+Merchant.swift
  Sources/Akahu/Models/Transaction/Transaction+Meta.swift
  Sources/Akahu/Models/Transaction/Transaction+Mock.swift
  Sources/Akahu/Models/Transaction/Transaction+Pending.swift
  Sources/Akahu/Models/Transaction/Transaction+Type.swift
  Sources/Akahu/Models/Transaction/Transaction.swift
  Sources/Akahu/Responses.swift
  Tests/AkahuTests/ResponseTests.swift
  Tests/AkahuTests/RouterTests.swift
  Tests/AkahuTests/TransactionsTests.swift
Due: prettier --check

Rename Transaction
  Sources/Akahu/Akahu.swift
Due: none

Rename connection
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Account/Account.swift
  Sources/Akahu/Models/Connection/Connection+Bank.swift
  Sources/Akahu/Models/Connection/Connection+Mock.swift
  Sources/Akahu/Models/Connection/Connection.swift
  Sources/Akahu/Models/Identity/Identity.swift
  Sources/Akahu/Responses.swift
Due: prettier --check

Rename Identity
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Identity/Identity+Account.swift
  Sources/Akahu/Models/Identity/Identity+Address.swift
  Sources/Akahu/Models/Identity/Identity+Identity.swift
  Sources/Akahu/Models/Identity/Identity+Mock.swift
  Sources/Akahu/Models/Identity/Identity+Source.swift
  Sources/Akahu/Models/Identity/Identity+Status.swift
  Sources/Akahu/Models/Identity/Identity.swift
  Sources/Akahu/Responses.swift
Due: prettier --check

Rename income
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Income/Income+Frequency.swift
  Sources/Akahu/Models/Income/Income+Mock.swift
  Sources/Akahu/Models/Income/Income+Projections.swift
  Sources/Akahu/Models/Income/Income+Stability.swift
  Sources/Akahu/Models/Income/Income+Summary.swift
  Sources/Akahu/Models/Income/Income+Transactions.swift
  Sources/Akahu/Models/Income/Income+Type.swift
  Sources/Akahu/Models/Income/Income.swift
  Sources/Akahu/Responses.swift
Due: prettier --check

Rename Me
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Me/Me+Mock.swift
  Sources/Akahu/Models/Me/Me.swift
  Sources/Akahu/Responses.swift
Due: prettier --check

Rename Payment
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Payment/Payment.swift
  Sources/Akahu/Responses.swift
Due: prettier --check

Rename Transfer
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Payment/Payment.swift
  Sources/Akahu/Models/Transfer/Transfer+Status.swift
  Sources/Akahu/Models/Transfer/Transfer+Timeline.swift
  Sources/Akahu/Models/Transfer/Transfer.swift
  Sources/Akahu/Responses.swift
Due: prettier --check

Rename Webhook
  Sources/Akahu/Akahu.docc/Akahu.md
  Sources/Akahu/Akahu.swift
  Sources/Akahu/Models/Webhook/Webhook+Event.swift
  Sources/Akahu/Models/Webhook/Webhook+Mock.swift
  Sources/Akahu/Models/Webhook/Webhook.swift
Due: prettier --check
