Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[XUI-1693] Unify our resize observer APIs (#5240)
  changes.md
  src/react/components/helpers/resizeObserver.ts
  src/react/helpers/resizeObserver.md
  src/react/helpers/resizeObserver.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1452 Root node ref consistency (Part 2) (#5242)
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/button/XUIButton.d.ts
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIIconButton.d.ts
  src/react/components/button/XUIIconButton.js
  src/react/components/button/__tests__/XUIIconButton-test.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/stories/stories.js
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdownFooter.d.ts
  src/react/components/dropdown/XUIDropdownHeader.d.ts
  src/react/components/dropdown/XUIDropdownPanel.d.ts
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/react/components/modal/XUIModal.js
  src/react/components/picklist/XUINestedPicklistTrigger.d.ts
  src/react/components/popover/XUIPopover.d.ts
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/PositioningInline.js
  src/react/components/progressindicator/customElements/ElementSize.js
  src/react/components/progressindicator/stories/components/ToolTipComparison.js
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/stepper/XUIStepper.d.ts
  src/react/components/stepper/XUIStepper.js
  src/react/stories/components-in-components/form-layout1/index.js
  src/react/stories/components-in-components/helpers/form.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] [XUI-1670] Fix accessibility warnings for XUIDatePicker (#5245)
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Hiding_Days_in_Other_Months_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Right-to-Left_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Selected_range_across_months_with_min_max_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Selected_range_with_wider_min_max_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Showing_Fixed_Number_of_Weeks_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Single_Selected_Date_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Weeks_Starting_on_Monday_with_Custom_Labels_0_rootdivdiv_0_just_desktop.png
  src/react/components/datepicker/stories/stories.js
  src/sass/7-components/_datepicker.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch][XUI-1779] Update resize observer logic to work with testing frameworks (#5244)
  src/react/components/helpers/useContainerQuery.ts
  src/react/components/pagination/XUIPagination.js
  src/react/components/pagination/__tests__/XUIPagination-test.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1671 Update XUI to allow browser-based text sizing (#5229)
  .kss/scss/markup.scss
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  changes.md
  src/sass/1-vars/_typography.scss
  src/sass/7-components/_buttons.sizes.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_forms.layout.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_headers.scss
Due: stylelint, node scripts/lint/prettier -- --check

[patch] Version bump for XUI 17.2.1 + update package-lock.json (#5246)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1671 Add visual regression test to capture text sizing change (#5251)
  .visual-testing/index.js
  .visual-testing/onReady.js
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_reset_font-size_0_xui-container_0_just_desktop.png
  src/react/stories/components-in-components/form-on-a-page/index.js
  src/react/stories/components-in-components/tests.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] XUI-1709 XUIPickitem - Support detection for right and middle click (#5253)
  src/react/components/picklist/XUIPickitem.d.ts
  src/react/components/picklist/XUIPickitem.js
  src/react/components/picklist/__tests__/XUIPickitem-test.js
  src/react/components/picklist/private/PickitemBody.d.ts
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/PickitemMultiselect.d.ts
  src/react/components/picklist/private/PickitemMultiselect.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] XUI-1694 XUIDateInput upgrades (#5202)
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_DateInput_Daterange_across_two_years_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Daterange_with_one_missing_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Daterange_without_labels_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Default_daterange_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Disabled_daterange_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Empty_with_convenience_dates_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_In_fixed_width_container_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_With_a_hint_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_With_an_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_With_convenience_dates_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_With_specified_DatePicker_month_picker_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_with_initial_date_0_rootdivdiv_0_just_desktop.png
  src/react/components/dateinput/XUIDateInputWIP.js
  src/react/components/dateinput/XUIDateRangeInputWIP.d.ts
  src/react/components/dateinput/XUIDateRangeInputWIP.js
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/XUIDateInputWIP-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInputWIP-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputWIP-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/private/helpers/formatSelectedDateToString.js
  src/react/components/dateinput/stories/helpers/convenienceDates.ts
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/textInput/XUITextInputSideElement.js
  src/react/dateinput.md
  src/react/dateinput.ts
  src/sass/7-components/_dateinput.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

AREP-777 Fix broken image link in docs
  src/docs/compositions/_master-detail-summary.scss
Due: stylelint, node scripts/lint/prettier -- --check

[minor] [XUI-1669] Add esc as a XUITooltip dismissal mechanism
  src/react/components/tooltip/XUITooltip.d.ts
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/XUITooltip-test.js
  src/sass/7-components/_usermessaging.tooltip.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[breaking-changes] [XUI-1672] Replace mouseDown calls with onClick/mouseUp
  .codemod/componentTransforms.js
  changes.md
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUINestedDropdown-test.js.snap
  src/react/components/dropdown/private/helpers.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/picklist/XUIPicklist.d.ts
  src/react/components/picklist/XUIPicklist.js
  src/react/components/picklist/XUIStatefulPicklist.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix flakey vis-reg (#5262)
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_positioning_test_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch][XUI-1732] Fix Firefox bug that adds unwanted spacing in tags (#5261)
  src/sass/7-components/_typography.tags.scss
Due: stylelint, node scripts/lint/prettier -- --check

[XUI-1651] Update and configure Storybook
  .storybook/preview.js
  .visual-testing/index.js
  package-lock.json
  package.json
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1651] Update and modify Storybook decorators
  .storybook/decorators/xuiDefaultDecorator.js
  .storybook/decorators/xuiResponsiveCenter.js
  .storybook/decorators/xuiRevealTouchTargets.js
  .storybook/preview-head.html
  .storybook/preview.js
  .visual-testing/index.js
  src/react/components/dateinput/stories/stories.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/fixedfooter/stories/stories.js
  src/react/components/overviewblock/stories/stories.js
  src/react/components/panel/stories/stories.js
  src/react/components/pill/stories/stories.js
  src/react/components/popover/stories/stories.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/radio/stories/stories.js
  src/react/components/range/stories/stories.js
  src/react/components/rollovercheckbox/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/switch/stories/stories.js
  src/react/components/table/stories/stories.js
  src/react/components/tag/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/toast/stories/stories.js
  src/react/components/tooltip/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1651] Remove deprecated Storybook addons
  .storybook/main.js
  .visual-testing/index.js
  package-lock.json
  package.json
  src/react/components/avatar/stories/stories.js
  src/react/components/banner/stories/stories.js
  src/react/components/capsule/stories/stories.js
  src/react/components/chart/stories/stories.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/compositions/stories/stories.js
  src/react/components/contentblock/stories/stories.js
  src/react/components/datepicker/stories/stories.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/fixedfooter/stories/stories.js
  src/react/components/icon/stories/stories.js
  src/react/components/loader/stories/stories.js
  src/react/components/panel/stories/stories.js
  src/react/components/pill/stories/stories.js
  src/react/components/popover/stories/stories.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/radio/stories/stories.js
  src/react/components/range/stories/stories.js
  src/react/components/rollovercheckbox/stories/stories.js
  src/react/components/stepper/stories/stories.js
  src/react/components/switch/stories/stories.js
  src/react/components/table/stories/stories.js
  src/react/components/tag/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/toast/stories/stories.js
  src/react/components/tooltip/stories/stories.js
  src/react/stories/components-in-components/datepicker-dropdown-in-modal/index.js
  src/react/stories/components-in-components/dropdown-in-modal/index.js
  src/react/stories/components-in-components/dropdowns-in-modal/index.js
  src/react/stories/components-in-components/form-layout1/index.js
  src/react/stories/components-in-components/form-on-a-page/index.js
  src/react/stories/components-in-components/modal-in-modal/index.js
  src/react/stories/components-in-components/statefulpicklist-infiniteloop/index.js
  src/react/stories/components-in-components/touch-interactions/index.js
  src/react/stories/components-in-components/touch-targets/index.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1651] Update components-in-components vis-reg tests
  .storybook/preview.js
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_Components_in_Components_Form_layout_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Components_in_Components_Invisible_touch_targets_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_just_desktop.png
  .visual-testing/reference/backstop_default_Form_controls_Form_layout_just_desktop.png
  .visual-testing/reference/backstop_default_Form_controls_Form_layout_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Form_controls_Form_on_a_page_just_desktop.png
  .visual-testing/reference/backstop_default_Form_controls_Form_on_a_page_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Form_controls_Invisible_touch_targets_just_desktop.png
  src/react/stories/components-in-components/tests.js
  src/react/stories/form-controls/form-layout1/README.md
  src/react/stories/form-controls/form-layout1/index.js
  src/react/stories/form-controls/form-layout1/panel-section.js
  src/react/stories/form-controls/form-layout1/select-box.js
  src/react/stories/form-controls/form-on-a-page/README.md
  src/react/stories/form-controls/form-on-a-page/index.js
  src/react/stories/form-controls/helpers/form.js
  src/react/stories/form-controls/helpers/inputgroup.js
  src/react/stories/form-controls/helpers/inputlabel.js
  src/react/stories/form-controls/tests.js
  src/react/stories/form-controls/touch-targets/README.md
  src/react/stories/form-controls/touch-targets/index.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1651] Add resize observer to autocompleter to fix tests
  src/react/components/autocompleter/XUIAutocompleter.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1651] Fix fixed footer scrolling in Puppeteer
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_with_contentblock_stuff_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_with_contentblock_stuff_smaller_than_xsmall_breakpoint.png
  src/react/components/fixedfooter/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1651] Add updated dropdown reference image
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_positioning_test_just_desktop.png
Due: none

[XUI-1651] Update lockfile after updates
  package-lock.json
Due: node scripts/lint/prettier -- --check

[XUI-1651] Add uncategorised vis-reg reference images
  .visual-testing/reference/backstop_default_XUI_Avatar_grouped_avatars_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Avatar_grouped_business_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Avatar_grouped_business_max_length_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Avatar_grouped_max_length_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_Image_X-Axis_Label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_positioning_test_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_sizes_just_desktop.png
Due: none

[patch] [XUI-1778] XUIEditableTableCellTextInput - Expose focusByDefault (#5268)
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch][XUI-1774] Add "About XUI" section to the XUI docs (#5259)
  .kss/builder/kss-assets/bailey.jpeg
  .kss/builder/kss-assets/catherine.jpeg
  .kss/builder/kss-assets/dion.jpeg
  src/docs/_feedback.scss
  src/docs/getting-started/_about-xui.scss
  src/docs/getting-started/_codepen.scss
  src/docs/getting-started/_designers.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_directory.scss
  src/docs/getting-started/_performance.scss
  src/docs/getting-started/_typescript.scss
Due: stylelint, node scripts/lint/prettier -- --check

Make _breakpoints optional for the resizeObserver helper (#5269)
  src/react/components/helpers/resizeObserver.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1770] Add background color to custom header/footer (#5263)
  .visual-testing/reference/backstop_default_XUI_Table_custom_header_and_footer_with_pinned_columns_0_rootdivdiv_0_just_desktop.png
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/sass/7-components/_table.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Fix spelling of "autocompleter" (#5271)
  src/docs/components/collecting-input/_autocompleters.scss
Due: stylelint, node scripts/lint/prettier -- --check

Bump version (17.2.2) (#5270)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] XUI-1531 Tenets homepage (#5241)
  .kss/builder/extend/menu.js
  .kss/builder/index.hbs
  .kss/builder/kss-assets/Value-beautiful.svg
  .kss/builder/kss-assets/Value-challenge.svg
  .kss/builder/kss-assets/Value-human.svg
  .kss/builder/kss-assets/Value-team.svg
  .kss/builder/kss-assets/bike.svg
  .kss/builder/kss-assets/cherise.jpeg
  .kss/builder/kss-assets/finn.jpeg
  .kss/builder/kss-assets/jacob.jpeg
  .kss/builder/kss-assets/jess.jpeg
  .kss/builder/kss-assets/nicole.png
  .kss/builder/kss-assets/pohutukawa.svg
  .kss/builder/kss-assets/prae.jpeg
  .kss/builder/kss-assets/simon.png
  .kss/builder/kss-assets/vicky.jpeg
  .kss/scss/home.scss
  .kss/scss/hover-tooltip.scss
  .kss/scss/style.scss
  src/docs/home.md
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] Fix CSS Link tag rendering incorrectly in the docs (#5275)
  .kss/scss/markup.scss
Due: node scripts/lint/prettier -- --check

Swap uuid out for nanoid
  src/react/components/dateinput/__tests__/XUIDateInputWIP-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInputWIP-test.js
  src/react/components/inputgroup/__tests__/XUIInputGroup-test.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Update generated Ids in snapshots
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputWIP-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
  src/react/components/inputgroup/__tests__/__snapshots__/XUIInputGroup-test.js.snap
Due: none

Remove `onClick` from table snapshots
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

Path conditions:
  node scripts/lint/eslint --: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  node scripts/lint/prettier -- --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
