Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

General sizing accommodations
  src/react/components/helpers/sizes.js
  src/react/components/icon/XUIIcon.js
Due: eslint

Support for checkbox and radio size variants
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_xsmall_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_checked_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_checked_xsmall_0_rootdivdiv_0_just_desktop.png
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/checkbox/stories/stories.js
  src/react/components/checkbox/stories/variations.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/radio/stories/stories.js
  src/react/components/radio/stories/variations.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint

Updated based on code review comments
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/helpers/sizes.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Updated visual regression for contentblock
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_everything_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_no_description_but_has_tags_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_inline_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_right_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_just_desktop.png
Due: none

Code docs cleanup for checkbox & radio (#3933)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/radio/XUIRadio.js
Due: eslint

Rename components in components to make way for compositions
  .storybook/config.js
  .visual-testing/index.js
  src/react/stories/components-in-components/datepicker-dropdown-in-modal/README.md
  src/react/stories/components-in-components/datepicker-dropdown-in-modal/index.js
  src/react/stories/components-in-components/dropdown-in-modal/README.md
  src/react/stories/components-in-components/dropdown-in-modal/index.js
  src/react/stories/components-in-components/dropdowns-in-modal/README.md
  src/react/stories/components-in-components/dropdowns-in-modal/index.js
  src/react/stories/components-in-components/five-nested-modals/index.js
  src/react/stories/components-in-components/form-layout1/README.md
  src/react/stories/components-in-components/form-layout1/index.js
  src/react/stories/components-in-components/form-layout1/panel-section.js
  src/react/stories/components-in-components/form-layout1/select-box.js
  src/react/stories/components-in-components/form-on-a-page/README.md
  src/react/stories/components-in-components/form-on-a-page/index.js
  src/react/stories/components-in-components/helpers/form.js
  src/react/stories/components-in-components/helpers/inputgroup.js
  src/react/stories/components-in-components/helpers/inputlabel.js
  src/react/stories/components-in-components/modal-in-modal/README.md
  src/react/stories/components-in-components/modal-in-modal/index.js
  src/react/stories/components-in-components/statefulpicklist-infiniteloop/README.md
  src/react/stories/components-in-components/statefulpicklist-infiniteloop/index.js
  src/react/stories/components-in-components/tests.js
Due: eslint

Visual changes as a result of changing sections
  .visual-testing/reference/backstop_default_Components_in_Components_Datepicker_dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
Due: none

Undo this - Doing rename instead
  .visual-testing/reference/backstop_default_Components_in_Components_Datepicker_dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
Due: none

Files renamed to new location preserve history on them
  .visual-testing/reference/backstop_default_Components_in_Components_Datepicker_dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_Layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Infinite_JS_errors_in_StatefulPicklist_render_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
Due: none

Allow XUIPill to accept an avatar, rather than avatar props #3833
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/private/LeftVisualEl.js
  src/react/components/pill/stories/variations.js
Due: eslint

[breaking-changes] Rename Master Detail Summary components
  src/react/components/compositions/XUICompositionMasterDetailSummary.js
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummaryHeader-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_1.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/xui.scss
Due: eslint, stylelint

[breaking-changes] Summary Detail versions - with grid gap included
  src/react/components/compositions/XUICompositionSummaryDetail.js
  src/react/components/compositions/XUICompositionSummaryDetailHeader.js
  src/react/components/compositions/__tests__/XUICompositionSummaryDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionSummaryDetailHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition4-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSummaryDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSummaryDetailHeader-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_3.scss
  src/sass/5-structure/compositions/_4.scss
  src/sass/5-structure/compositions/_summarydetail.scss
  src/sass/5-structure/compositions/_summarydetailheader.scss
  src/sass/xui.scss
Due: eslint, stylelint

[breaking-changes] Detail split versions - with grid gap included
  src/react/components/compositions/XUICompositionDetailSplit.js
  src/react/components/compositions/XUICompositionDetailSplitHeader.js
  src/react/components/compositions/__tests__/XUICompositionDetailSplit-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSplitHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition8-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSplit-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSplitHeader-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_7.scss
  src/sass/5-structure/compositions/_8.scss
  src/sass/5-structure/compositions/_detailsplit.scss
  src/sass/5-structure/compositions/_detailsplitheader.scss
Due: eslint, stylelint

Updates to lifecycle events to make jest happy
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/private/helpers.js
Due: eslint

Updated test const names, per code review.
  src/react/components/pill/__tests__/XUIPill-test.js
Due: eslint

Some tweaks per code review
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/private/helpers.js
Due: eslint

[breaking-changes] Master Detail versions - with grid gap included (#3937)
  src/react/components/compositions/XUICompositionMasterDetail.js
  src/react/components/compositions/XUICompositionMasterDetailHeader.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailHeader-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_9.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/xui.scss
Due: eslint, stylelint

Version bump for 14.1.2
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

[breaking-changes] Detail versions - with grid gap included (#3939)
  src/react/components/compositions/XUICompositionDetail.js
  src/react/components/compositions/XUICompositionDetailHeader.js
  src/react/components/compositions/__tests__/XUICompositionDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition5-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition6-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailHeader-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_detail.scss
  src/sass/5-structure/compositions/_detailheader.scss
  src/sass/xui.scss
Due: eslint, stylelint

Some fixes for textinput stories and typing. (#3945)
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/stories/stories.js
Due: eslint

[breaking-changes] Add support for responsive visual regression testing (#3941)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_everything_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_no_description_but_has_tags_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_inline_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_right_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_smaller_than_smallest_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_4_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_without_layout_0_rootdivdiv_0_just_desktop.png
  package-lock.json
  package.json
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/stories/helpers/viewports.js
Due: eslint

[breaking-changes] Add compositions exports (#3948)
  src/react/compositions.js
Due: eslint

Version bump to 14.2.0
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

[minor] Exclude more characters from avatar abbreviation (#3950)
  src/react/components/avatar/__tests__/XUIAvatar-utils-test.js
  src/react/components/avatar/utils.js
Due: eslint

Optimisations to abbreviation, validation, and fixed tests
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/__tests__/XUIAvatar-utils-test.js
  src/react/components/avatar/utils.js
Due: eslint

[XUI-258] [breaking-changes] Add Accessibility Design and Development pages (#3953)
  scripts/build/kss/config.json
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.accessibility.development.scss
  src/docs/working-with-xui/_docs.accessibility.scss
  src/docs/working-with-xui/_docs.performance.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

[breaking-changes] Updates to composition grid CSS for IE & gap (#3954)
  package-lock.json
  package.json
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_detail.scss
  src/sass/5-structure/compositions/_detailheader.scss
  src/sass/5-structure/compositions/_detailsplit.scss
  src/sass/5-structure/compositions/_detailsplitheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/5-structure/compositions/_summarydetail.scss
  src/sass/5-structure/compositions/_summarydetailheader.scss
  src/sass/xui.scss
Due: eslint, stylelint

Update node-sass to 4.11.0 for (#3956)
  package-lock.json
  package.json
Due: none

[minor] add onClick prop to XUIContentBlockItem (#3951)
  changes.md
  src/react/components/structural/XUIContentBlock.js
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.contentblock.md
Due: eslint

[breaking-changes] Remove the `npm-run-all` dependency (#3958)
  package-lock.json
  package.json
Due: none

Remove default clear icon from MS browsers. XUI-262 (#3961)
  src/sass/2-mixins/_components.scss
Due: stylelint

Updates to tooltip and textInput related to onclick (#3960)
  src/react/components/textInput/XUITextInput.js
  src/react/components/tooltip/XUITooltip.js
Due: eslint

[breaking-changes] Pickitem truncation & disabled states XUI-184 (#3955)
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_checkboxes_and_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_closed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_small_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_xsmall_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Selected_and_Disabled_States_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_invalid_with_right_media_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_multiselect_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_multiselect_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_Multiselect_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_truncation_in_narrow_list_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_wrapping_in_narrow_list_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_truncating_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/__tests__/Pickitem-test.js
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/PickitemBody-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/PickitemMultiselect-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/Picklist-test.js.snap
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/components/picklist/stories/stories.js
  src/react/components/picklist/stories/variations.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Removed anonymous function from textInput: XUI-111
  src/react/textinput.md
Due: none

Perf optimisations for picklist docs. XUI-124
  src/react/components/picklist/picklist.nested.md
  src/react/components/picklist/picklist.stateful.md
Due: none

Perf updates for Toggle. XUI-112 (#3963)
  src/react/toggle.md
Due: none

Perf updates for breadcrumb (XUI-117) and secondary search
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/structural/structural.breadcrumb.md
Due: none

Update selectbox to use new refs. XUI-109
  src/react/select-box.md
Due: none

XUI-172 Fixed blocking styles & hacked a focus state for Datepicker selects
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/sass/7-components/_datepicker.scss
Due: eslint, stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
