Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

[breaking-changes] XUI Pill updates (#3692)
  .visual-testing/reference/backstop_default_XUI_Pill_as_a_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_does_not_have_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_qaHooks_0_rootdivdiv_0_just_desktop.png
  src/react/components/isolationheader/stories/stories.js
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/private/LeftVisualEl.js
  src/react/components/pill/private/constants.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

Update breadcrumb link style to remove underline
  src/sass/7-components/_navigation.subapp.scss
Due: stylelint

Updates to stories & backstop for better breadcrumb tests
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumbs_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/stories/stories.js
Due: eslint

table | refactor internal table row components for maximum purity
  package-lock.json
  package.json
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/utilities.js
  src/react/table.md
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

table | renamed TableBody.js to TableBodyRow.js
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/TableBodyRow.js
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

table | update story book visual references
  .visual-testing/reference/backstop_default_XUI_Table_basic_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_header___footer_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_no_header_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_overflow_menu_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_contentblocks.scss
Due: stylelint

table | update jest snapshot references
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

table | update react and static documentation demmos to reference new DOM implementation
  src/react/table.md
  src/sass/7-components/_contentblocks.scss
Due: stylelint

table | clean up redundancies for pull request
  package-lock.json
  package.json
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/helpers/utilities.js
  src/react/table.md
Due: eslint

Initial draft of new a11y page (#3702)
  src/docs/working-with-xui/_docs.accessibility.scss
Due: stylelint

[breaking-changes] Panel color update and docs improvements (#3703)
  .kss/scss/vars.scss
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.panels.scss
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_contentblocks.scss
Due: stylelint

designing content
  package-lock.json
  src/docs/working-with-xui/_docs.designers.scss
Due: stylelint

Fix icon button alignment and Math.pow usage for IE11 (#3709)
  src/react/components/chart/helpers/yaxis.js
  src/sass/7-components/_buttons.icons.scss
Due: eslint, stylelint

table | complete easy win PR tasks
  .prettierignore
  changes.md
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/utilities.js
Due: eslint

[breaking-changes] Pill docs update (#3707)
  .visual-testing/reference/backstop_default_XUI_Pill_as_invalid_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/private/LeftVisualEl.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

alpha.2 release (#3716)
  .umd/index.html
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

links added
  src/docs/working-with-xui/_docs.designers.scss
Due: stylelint

Linting for build server fixes
  .eslintignore
Due: none

[breaking-changes] Range input DOCS + focus styles (#3704)
  src/docs/building-blocks/forms/_docs.range.scss
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_forms.range.scss
Due: stylelint

Upgrade xuishift to v2.0.0 (#3719)
  .codemod/componentTransforms.js
  package-lock.json
  package.json
Due: none

Fixed bug related to split button, added story (#3720)
  .visual-testing/reference/backstop_default_XUI_Button_as_a_Split_Button_Group_with_multi-line_text_0_rootdivdiv_0_just_desktop.png
  src/react/components/button/stories/stories.js
  src/react/components/button/stories/variations.js
  src/sass/7-components/_buttons.dropdowns.scss
Due: eslint, stylelint

Add fixed version to jscodeshift install suggestion (#3725)
  README.md
Due: none

accordion | deprecate the old accordion version for XUI 14 release
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/AccordionWrapper-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/accordion/customElements/EmptyState.js
  src/sass/7-components/_accordion.new.scss
  src/sass/7-components/_accordion.scss
  src/sass/xui.scss
Due: eslint, stylelint

Updated colors for markup samples in the Guide for a11y and readability (#3731)
  .kss/scss/markup.scss
Due: none

About section doc updates
  src/docs/working-with-xui/_docs.accessibility.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/docs/working-with-xui/_docs.developers.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint

adds updates for XUI 14.0.0 (#3730)
  src/docs/_docs.updates.scss
Due: stylelint

One more color tweak. (#3733)
  .kss/scss/markup.scss
Due: none

fixes content block example
  src/sass/7-components/_typography.tags.scss
Due: stylelint

checkbox | Fix IE11 and Edge Indeterminate bug (#3727)
  src/react/components/checkbox/XUICheckbox.js
Due: eslint

removes ? from color variable descriptions (#3737)
  src/sass/1-vars/_colors.scss
Due: stylelint

[breaking-changes] Fundamentals doc updates (#3736)
  scripts/build/postcss/private/mixinparser.js
  src/docs/_docs.updates.scss
  src/docs/fundamentals/_docs.layout.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/modal.md
  src/react/select-box.md
  src/react/textinput.md
  src/sass/7-components/_icons.scss
  src/sass/7-components/_motion.scss
  src/sass/99-utils/_marginpadding.scss
  src/sass/99-utils/_utilities.scss
  src/sass/_mixins.scss
Due: stylelint

Remove references to xui-icon-inline (#3739)
  changes.md
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/color-test-docs.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/button/__tests__/__snapshots__/XUIButtonCaret-test.js.snap
  src/react/components/chart/__tests__/__snapshots__/barchart-test.js.snap
  src/react/components/icon/XUIIcon.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

removes color-test-docs.scss (#3741)
  src/docs/color-test-docs.scss
Due: stylelint

[release] XUI 14.0.0-alpha.3 (#3742)
  .prettierignore
  .umd/index.html
  package-lock.json
  package.json
  scripts/release/index.js
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Update codeshift version
  package.json
Due: none

Fix bug on Code build where mixins are not getting picked up due to having an incorrect casing
  .kss/builder/parser/constants.js
Due: none

[breaking-changes] Select documentation + BUGFIX (5 lines of CSS) (#3696)
  .kss/builder/extend/menu.js
  package-lock.json
  src/docs/building-blocks/forms/_docs.selects.scss
  src/sass/7-components/_forms.selects.scss
Due: stylelint

Ensure not-allowed cursor is applied to disabled range
  src/sass/7-components/_forms.range.scss
Due: stylelint

"cheery pick" -> "cherry pick"
  src/react/table.md
Due: none
