Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Updating some bad table test images, from a few months back
  .visual-testing/reference/backstop_default_XUI_Table_pinned_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_0_rootdivdiv_0_just_desktop.png
Due: none

Updates for textInput sideElement spacing and alignment
  src/react/components/textInput/private/constants.js
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint

Updated visual regression images
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_with_background_colour_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_with_background_colour_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_bottom_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_center_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_top_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_small_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_small_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_standard_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_xsmall_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_xsmall_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_xsmall_with_left_avatar_0_rootdivdiv_0_just_desktop.png
Due: none

Updated jest snapshots
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: none

Added missing param to codemod
  .codemod/componentTransforms.js
Due: none

Switch transform order, just for safety's sake
  .codemod/componentTransforms.js
Due: none

Add this to remove any underlines on links introduced with XUI14. (#4000)
  src/sass/7-components/_contentblocks.scss
Due: stylelint

Fix issues in README's
  .kss/README.md
  .styleguidist/README.md
  README.md
Due: none

Bugfixes for pickitem truncation and autocompleter multiline
  changes.md
  src/react/autocompleter.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/__tests__/Pickitem-test.js
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

adds sizing variant documentation
  src/docs/building-blocks/forms/_docs.checkboxes.scss
Due: stylelint

edits copy and style
  src/docs/building-blocks/forms/_docs.checkboxes.scss
Due: stylelint

fixes labels in table
  src/docs/building-blocks/forms/_docs.checkboxes.scss
Due: stylelint

tweaks docs
  src/docs/building-blocks/forms/_docs.checkboxes.scss
Due: stylelint

Gratuitous commit to re-start build
  src/react/components/picklist/Pickitem.js
Due: eslint

adds sizing docs for radio (#4012)
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

Toast updates/fixes (#4005)
  .kss/scss/home.scss
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_as_props_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_using_XUIActions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_an_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_long_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_medium_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_small_actions_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.toasts.scss
  src/react/components/toast/XUIToast.js
  src/sass/7-components/_usermessaging.toasts.scss
Due: eslint, stylelint

Sizing variant and nesting documentation for text input (#4010)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
Due: stylelint

XUI-305 sizing docs range (#4014)
  src/docs/building-blocks/forms/_docs.range.scss
  src/sass/7-components/_forms.range.scss
Due: stylelint

slight name change to vars passed to props (#4015)
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/compositions/compositions.split.md
Due: none

updates avatar docs to match other size changes. fixes bugs with exmaples (#4016)
  src/docs/_docs.avatars.scss
Due: stylelint

XUI 297 responsive nav documentation (#4004)
  src/docs/building-blocks/_docs.masthead.scss
Due: stylelint

adds -standard modifier to all default examples and updates sizing docs
  src/docs/building-blocks/forms/_docs.checkboxes.scss
Due: stylelint

Add async/await support for tests
  .eslintrc.js
  babel.config.js
Due: none

Refs updates per Elise (thanks good catch)
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownPanel.js
Due: eslint

updates docs and examples
  src/docs/building-blocks/forms/_docs.checkboxes.scss
Due: stylelint

Remove this as it was actually removed in breaking changes
  src/react/components/pill/XUIPill.js
Due: eslint

fixes typo
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

FIxes to xuitextinput based on elise's comments
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: eslint

docs updates. still more to do. merry christmas
  src/sass/7-components/_buttons.scss
Due: stylelint

more updates to docs
  src/sass/7-components/_buttons.scss
Due: stylelint

Fix the sizing on pills as it was breaking
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: eslint

xui-311 sizing docs loader (#4022)
  src/sass/7-components/_loaders.scss
Due: stylelint

Fix styling for XUIAutocompleterSecondarySearch search input (#4020)
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_0_just_desktop.png
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/autocompleter/stories/variations.js
Due: eslint

[breaking-changes] Content block Design updates (#4001)
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_no_description_but_has_tags_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_inline_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_right_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_1_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_3_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_4_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_5_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_contentblock_with_everything_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

edits button docs
  src/sass/7-components/_buttons.scss
Due: stylelint

Some minor changes Elise requested
  src/react/components/textInput/XUITextInput.js
Due: eslint

adds updates to button docs
  src/sass/7-components/_buttons.scss
Due: stylelint

Fix version warning text
  src/react/components/helpers/versionCheck.js
Due: eslint

Add tests
  src/react/components/helpers/__tests__/versionCheck-test.js
  src/react/components/helpers/versionCheck.js
Due: eslint
