Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[Minor] Fileuploader XUI Guide docs (#4703)
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/examples/file-uploader/_file-uploader-input-basic.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-input-disabled.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-input-dropzone.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-input-invalid.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-invalid.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-multi-line.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-uploaded.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-uploading.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-with-icon.html
Due: stylelint, prettier --check

[minor] XUI-973 fileUploader docs and one more minor feature (#4698)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_custom_rightContent_for_uploaded_file_0_rootdivdiv_0_just_desktop.png
  src/react/components/fileUploader/XUIFileUploader.d.ts
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/fileUploader/__tests__/XUIFileUploader-test.js
  src/react/components/fileUploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileUploader/private/FileList.js
  src/react/components/fileUploader/private/helpers.js
  src/react/components/fileUploader/stories/stories.js
  src/react/components/fileUploader/stories/variations.js
  src/react/fileUploader.md
  src/react/fileUploader.ts
Due: eslint, prettier --check

[XUI-956] Amend prettier settings to ensure that only lines that need to be ignored are ignored.
  .codemod/componentTransforms.js
  .prettierignore
Due: eslint

[XUI-956] Revise `isLabelHidden` prop descriptions to be more accurate and useful for users.
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/radio/XUIRadioGroup.js
Due: eslint

[XUI-956] Extension of commit `fcf0997c40446e7496c7caf8c66ab998b9f6ebd7`, does the same for XUISwitchGroup. Revises `isLabelHidden` to more accurately describe what the prop does.
  src/react/components/switch/XUISwitchGroup.js
Due: eslint

XUI-1035 Added frowardRef to XUIIcon and XUICapsule. (#4690)
  src/react/components/capsule/XUICapsule.js
  src/react/components/icon/XUIIcon.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/tooltip.md
Due: eslint, prettier --check

Update ReadOnly cell to match others
  src/react/components/editabletable/XUIEditableTableCellReadOnly.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellReadOnly-test.js.snap
Due: eslint

[XUI-1060][mobbing] Adding delete row cell and table context.
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/contexts/XUIEditableTableContext.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

Added a component class to textinput and adjusted styling
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

Go back to semantic table stuff
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableBody.js
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableFoot.js
  src/react/components/editabletable/XUIEditableTableHead.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableBody-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableFoot-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHead-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableBody-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCell-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFoot-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHead-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/stories/stories.js
Due: eslint

Added XUITextInput props to Editable table cell text input.
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint

[xui-1060][mobbing] Add TableHeadingCell, TableCellReadOnly, including basic styling and tests.
  src/react/components/editabletable/XUIEditableTableCellReadOnly.js
  src/react/components/editabletable/XUIEditableTableHeadingCell.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHeadingCell-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellReadOnly-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHeadingCell-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/editabletable.ts
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

First run at SecondarySearch cell
  src/react/components/editabletable/XUIEditableTableCellSecondarySearch.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellSecondarySearch-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSecondarySearch-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/editabletable.ts
Due: eslint

Convert tests from react-test-renderer to enzyme-to-json
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableBody-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCell-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableFoot-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHead-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHeadingCell-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCell-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellReadOnly-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHead-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
Due: eslint

Add unit tests
  src/react/components/editabletable/__tests__/XUIEditableTableBody-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCell-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableFoot-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHead-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableBody-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCell-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFoot-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHead-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/editabletable.js
  src/react/editabletable.ts
Due: eslint

Add unit tests for XUIEditableTableCellTextInput
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
Due: eslint

Story time
  src/react/components/editabletable/stories/stories.js
Due: eslint

Forgot to remove an old prop
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint

Update to Secondary Search sample story and spreading of props
  src/react/components/editabletable/XUIEditableTableCellSecondarySearch.js
  src/react/components/editabletable/stories/helpers.js
Due: eslint

[Editable-Table] Replace isRemovable with rowOptions Context
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/contexts/XUIEditableTableContext.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

Updates to storybook story: multi types, widths, content
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

Scaffold
  src/react/components/editabletable/XUIEditableTableBody.js
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableFoot.js
  src/react/components/editabletable/XUIEditableTableHead.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/private/constants.js
Due: eslint

Updates to CellTextInput for control className and composing plus a snapshot
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

Draft of selectbox cell and related tweaks to textinput styles
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellSelectBox-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/editabletable.ts
  src/sass/7-components/_editabletable.scss
  src/sass/7-components/_forms.selects.scss
Due: eslint, stylelint, prettier --check

Resolve some outstanding warnings from React in the browser
  src/react/components/editabletable/stories/stories.js
Due: eslint

Removed widths from table-level API and added CellTextInput
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/stories/stories.js
  src/react/editabletable.ts
Due: eslint

Draft for removing delete button from table head
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableHead.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/editabletable/stories/stories.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

Add tests, qaHooks, re-order imports, internationalise remove button
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableBody.js
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableCellReadOnly.js
  src/react/components/editabletable/XUIEditableTableFoot.js
  src/react/components/editabletable/XUIEditableTableHead.js
  src/react/components/editabletable/XUIEditableTableHeadingCell.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/stories/stories.js
Due: eslint

Update an old test snapshot, since we removed widths from cells
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCell-test.js.snap
Due: none

Add cellProps in input
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

Rename prop spreading unit tests
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
Due: eslint

Draft for removing delete button from table head
  src/react/components/editabletable/XUIEditableTableHead.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/contexts/XUIEditableTableHeadContext.js
Due: eslint

[patch] Update the path for pagination in React doc (#4718)
  src/react/pagination.md
Due: prettier --check

A bit of fun to sometimes make textInput multiline
  src/react/components/editabletable/stories/helpers.js
Due: eslint

Autocompleter Cell and semi functional story
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
  src/react/components/editabletable/stories/helpers.js
  src/react/editabletable.ts
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

A few more story tweaks, for kicks
  src/react/components/editabletable/stories/helpers.js
Due: eslint

[XUI-1126] Package.lock changes for 9100ca29f11e0fbf4425608edceba8bc502c89a5
  package-lock.json
Due: prettier --check

[minor] XUI-959 Add type definitions for public component methods (#4714)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/avatar/XUIAvatar.d.ts
  src/react/components/dropdown/DropDownPanel.d.ts
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/modal/XUIModal.d.ts
  src/react/components/picklist/NestedPicklistContainer.d.ts
  src/react/components/rolloverCheckbox/rolloverCheckbox.d.ts
  src/react/components/select-box/SelectBox.d.ts
  src/react/components/tooltip/XUITooltip.d.ts
  src/react/components/tooltip/XUITooltip.js
Due: eslint

[patch] Remove onLabelClick in SelectBox (#4720)
  src/react/components/select-box/SelectBox.js
Due: eslint

Package-lock updates
  package-lock.json
Due: prettier --check
