Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Add note about symbols for required fields
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint

Fix XUIToggle example that was using removed layout prop (#3604)
  src/react/toggle.md
Due: none

Add labeling props for progress indicator and automate for stepper
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/customElements/ProgressWrapper.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/customElements/StepperTab.js
Due: eslint

Fix bug with passing dropdown ID between components
  src/react/components/dropdown/DropDownToggled.js
Due: eslint

Cleanup SelectBox and fix some bugs related to IDs which would never have worked correctly
  src/react/components/select-box/SelectBox.js
Due: eslint

Updated props for Selectbox, Loader, NestedPicklistTrigger, RolloverCheckbox, and SecondarySearch
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/loader/XUILoader.js
  src/react/components/loader/__tests__/XUILoader-test.js
  src/react/components/picklist/NestedPicklistTrigger.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/stories/stories.js
  src/react/components/table/XUITable.js
  src/react/loader.md
  src/react/select-box.md
  src/react/stories/form-layout1/select-box.js
Due: eslint

Updated tests to be a bit more obvious about a supplied ID, and updated snapshots with fixes
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
Due: eslint

Add configurable example container
  .kss/scss/example.scss
  .storybook/webpack.config.js
  .styleguidist/styles.scss
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_colors_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Checked___Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Options_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/button.md
  src/react/components/loader/stories/stories.js
  src/react/components/toggle/stories/stories.js
  src/react/docs/ExampleContainer.js
  src/react/loader.md
  src/react/toggle.md
  src/sass/7-components/_icons.scss
Due: eslint, stylelint

update styleguidist to add xui css via config
  .styleguidist/config.js
Due: none

Fix lint errors
  src/react/components/chart/stories/stories.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
Due: eslint

Fix tests and icon usage
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/customElements/EmptyState.js
  src/react/components/chart/__tests__/__snapshots__/barchart-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
Due: eslint

Update screenshots
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumbs_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Empty_States_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Capsule_is_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_colors_0_capture_0_just_desktop.png
Due: none

Updates to Checkbox and Radio group components
  .visual-testing/reference/backstop_default_XUI_Radio_is_Radio_Group_0_rootdivdiv_0_just_desktop.png
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/checkbox/__tests__/XUICheckboxGroup-test.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/radio/__tests__/XUIRadioGroup-test.js
  src/react/components/radio/stories/stories.js
  src/react/stories/form-layout1/index.js
  src/react/stories/form-on-a-page/index.js
Due: eslint

Add visible group labels for radios and checkboxes
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Radio_Group_0_rootdivdiv_0_just_desktop.png
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/checkbox/__tests__/XUICheckboxGroup-test.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/radio/__tests__/XUIRadioGroup-test.js
  src/react/components/radio/stories/stories.js
  src/react/stories/form-layout1/index.js
  src/react/stories/form-on-a-page/index.js
Due: eslint

Convert all instances of to be
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/checkbox/__tests__/XUICheckboxGroup-test.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/radio/__tests__/XUIRadioGroup-test.js
  src/react/components/radio/radio.group.md
  src/react/components/radio/stories/stories.js
  src/react/stories/form-layout1/index.js
  src/react/stories/form-on-a-page/index.js
Due: eslint

modify columns and row classes to be utilities (#3589)
  src/sass/99-utils/_grid.scss
  src/sass/xui.scss
Due: stylelint

Readme updated
  README.md
Due: none

fix spacing
  .storybook/webpack.config.js
  .styleguidist/styles.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/components/toggle/stories/stories.js
  src/react/docs/ExampleContainer.js
Due: eslint, stylelint

Added the option for visible or associated labels for XUIToggle
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Toggle_Options_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.toggles.scss
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/__tests__/XUIToggle-test.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggle-test.js.snap
  src/react/components/toggle/stories/stories.js
  src/react/components/toggle/stories/variations.js
  src/react/stories/form-layout1/index.js
  src/react/toggle.md
Due: eslint, stylelint

Minor cleanup of comments/type docs
  src/react/components/toggle/XUIToggle.js
Due: eslint

Update how role is generated, and move spread props up
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/stories/variations.js
  src/react/stories/form-layout1/index.js
  src/react/toggle.md
Due: eslint

Update spread props to defer to generated values, if in conflict
  src/react/components/accordion/XUIAccordion.js
  src/react/components/button/XUIButtonCaret.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/picklist/NestedPicklist.js
  src/react/components/picklist/NestedPicklistContainer.js
  src/react/components/picklist/NestedPicklistTrigger.js
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/StatefulPicklist.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/tooltip/XUITooltip.js
Due: eslint

Updated changes doc with these and also labelling API
  changes.md
Due: none

Modify XUITextInput to have improved a11y
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/textinput.md
Due: eslint

Modify Styelguidist to livereload CSS changes
  .styleguidist/components/StyleGuide.js
  .styleguidist/config.js
Due: none

[breaking-changes] Docs enhancements to developing with xui (#3617)
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

update versions of dependencies (#3618)
  package-lock.json
  package.json
  src/react/components/helpers/versions.js
Due: eslint

Adds best practices to radio docs
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

Updated based on Elise's suggestion
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

Add a11y message to react documentation
  src/react/radio.md
Due: none

[breaking-changes] A11y 1.4.1 docs updates (#3623)
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_overview.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/7-components/_usermessaging.banners.scss
Due: stylelint

Add recommendation to XUIToast documentation around a11y for timeouts (#3626)
  src/react/components/toast/toast.wrapper.md
Due: none

Fix xui-icon@6 usage in XUIIcon
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterEmptyState-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleterInput-test.js.snap
  src/react/components/button/__tests__/__snapshots__/XUIButtonCaret-test.js.snap
  src/react/components/chart/__tests__/__snapshots__/barchart-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/react/components/helpers/versions.js
  src/react/components/icon/XUIIcon.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: eslint, stylelint

Revert artifactory querystrings in package lock
  package-lock.json
Due: none

Bug fix in dropdown and one story
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/stories/stories.js
Due: eslint

Move page-layout storybook tests into a stories folder (#3634)
  .storybook/config.js
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_SelectBox_with_hidden_label_and_button_variant_0_xui-container_0_just_desktop.png
  scripts/build/babel.js
  src/react/stories/compositions/datepicker-dropdown-in-modal/README.md
  src/react/stories/compositions/datepicker-dropdown-in-modal/index.js
  src/react/stories/compositions/dropdown-in-modal/README.md
  src/react/stories/compositions/dropdown-in-modal/index.js
  src/react/stories/compositions/dropdowns-in-modal/README.md
  src/react/stories/compositions/dropdowns-in-modal/index.js
  src/react/stories/compositions/form-layout1/README.md
  src/react/stories/compositions/form-layout1/index.js
  src/react/stories/compositions/form-layout1/panel-section.js
  src/react/stories/compositions/form-layout1/select-box.js
  src/react/stories/compositions/form-on-a-page/README.md
  src/react/stories/compositions/form-on-a-page/index.js
  src/react/stories/compositions/helpers/form.js
  src/react/stories/compositions/helpers/inputgroup.js
  src/react/stories/compositions/helpers/inputlabel.js
  src/react/stories/compositions/modal-in-modal/README.md
  src/react/stories/compositions/modal-in-modal/index.js
  src/react/stories/compositions/statefulpicklist-infiniteloop/README.md
  src/react/stories/compositions/statefulpicklist-infiniteloop/index.js
  src/react/stories/compositions/tests.js
  src/react/stories/page-layouts/sidebars/README.md
  src/react/stories/page-layouts/sidebars/index.js
  src/react/stories/page-layouts/tests.js
Due: eslint

Fixed style order for proper browser selection (#3633)
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint

abstract out XUI var usage to enable landing the color swatch changes (#3635)
  .kss/scss/cards.scss
  .kss/scss/copy-code-blocks.scss
  .kss/scss/example.scss
  .kss/scss/home.scss
  .kss/scss/markup.scss
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  .kss/scss/vars.scss
Due: none

Updated modals for accessibility and layering management
  src/react/components/helpers/modalManager.js
  src/react/components/modal/XUIModal.js
  src/react/components/modal/XUIModalHeader.js
  src/react/components/modal/__tests__/XUIModal-test.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/components/modal/__tests__/__snapshots__/XUIModalHeader-test.js.snap
  src/react/stories/compositions/tests.js
  src/react/stories/five-nested-modals/index.js
  src/sass/7-components/_modals.scss
Due: eslint, stylelint
