Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Missing versions file added after for some reason.
  src/react/components/helpers/versions.js
Due: eslint

[patch] Fix Firefox breadcrumb display bug. issue #3400 (#3441)
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumbs_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/stories/stories.js
  src/sass/objects/_navigation.subapp.scss
Due: eslint, stylelint

Update some dropdown stories to use inline positioning. (#3442)
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/stories/stories.js
  src/react/stories/datepicker-dropdown-in-modal/index.js
  src/react/stories/modal-in-modal/index.js
Due: eslint

Adds accordion item empty state scss
  src/sass/objects/_accordion.new.scss
  src/sass/xui.scss
Due: stylelint

Adds accordion item empty state + tests
  src/react/components/accordion/XUIAccordionItemEmptyState.js
  src/react/components/accordion/__tests__/XUIAccordionItemEmptyState-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItemEmptyState-test.js.snap
Due: eslint

Forgot about this guy. Need those release script changes from minor / patch
  package-lock.json
Due: none

There are a couple more resolves with package.json this by the looks
  package-lock.json
Due: none

add prop to handle dynamic pagination aria-label
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/__tests__/barchart-test.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/helpers/bars.js
Due: eslint

Modify commit hook commands to be Windows friendly
  package.json
Due: none

Make the AutocompleterSecondarySearch input clear onOpen when uncontrolled (#3467)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/stories/stories.js
Due: eslint

Remove deprecated breadcrumb-like xui-step component
  .kss/builder/extend/breadcrumbs.js
  .kss/scss/style.scss
  src/sass/7-components/_steps.scss
Due: stylelint

Add xui-steps removal to Changes.md
  changes.md
Due: none

add individual cell focus regardless of situation and add custom checkbox label props
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/utilities.js
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

address remaining label / color recommendations to get 100 percent compliance
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/utilities.js
  src/react/components/table/stories/stories.js
  src/react/table.md
Due: eslint

update action items for immediately focus on button not redundant cell
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

update backstop and jest test references to reflect accessibility changes
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_header___footer_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

[breaking-changes] Fix native selects CSS and their usage in CSS docs (#3471)
  .kss/builder/extend/menu.js
  src/docs/building-blocks/forms/_docs.selects.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_loaders.scss
Due: stylelint

Adds Accordion item trigger, css, tests clean up empty state css
  src/react/components/accordion/XUIAccordionItemTrigger.js
  src/react/components/accordion/__tests__/XUIAccordionItemTrigger-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItemTrigger-test.js.snap
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

Adds accordion item + css + tests
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

stepper | add new focus state to selected tabs
  src/sass/7-components/_steps.scss
Due: stylelint

Updates XUIAccordion (classnames) - stories
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/stories/stories.js
  src/react/components/accordion/stories/variations.js
Due: eslint

Fix up dropdown docs icons
  .kss/scss/style.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.selects.scss
Due: stylelint

Fix up icon docs
  .kss/builder/index.hbs
  src/sass/7-components/_icons.scss
Due: stylelint

Fix up docs for icons and textinputs
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_forms.textinputs.scss
Due: stylelint

Swap the linkz
  .kss/builder/extend/breadcrumbs.js
  .kss/builder/extend/menu.js
  .kss/builder/extend/tokens.js
  .kss/builder/extend/version.js
  .kss/builder/index.hbs
  .kss/builder/kss-assets/copy-code-blocks.js
  .kss/scss/copy-code-blocks.scss
  .styleguidist/template.html
  package-lock.json
  package.json
  src/sass/7-components/_icons.scss
Due: stylelint

Fix error in textinput docs
  .kss/scss/markup.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
Due: stylelint

Fix up docs fo pills, picklist, modal, and buttons docs
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_pills.scss
Due: stylelint

Fix css docs for tooltip, banners, popovers, and typography
  .styleguidist/template.html
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint

Fix message around icon size classes
  src/sass/7-components/_icons.scss
Due: stylelint

Update version of xui-icon to 6.0.0-alpha.4
  package-lock.json
  package.json
Due: none

Remove eronous vertical-align from xui-icon
  src/sass/7-components/_icons.scss
Due: stylelint

Add isMaxContentWidth prop to XUIPill so users can opt for no max width
  src/react/autocompleter.md
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/sass/objects/_pills.scss
Due: eslint, stylelint

address memory leak associated with hot reloading in Styleguidist
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/helpers/groupposition.js
  src/react/components/chart/helpers/utilities.js
Due: eslint

Adds private helpers for calculating spaces around rectangle
  src/react/components/accordion/private/helpers.js
Due: eslint

Adds new css, calculates space around accordion. Updates tests accordingly
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

Story tweak so accordion matches page width
  src/react/components/accordion/stories/stories.js
Due: eslint

[patch] Modal docs update (#3483)
  package-lock.json
  src/sass/objects/_modals.scss
Due: stylelint

Adds tests for "pop" classnames being applied
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
Due: eslint

Use xui-highlight-left mixin - w. blue
  src/sass/objects/_accordion.new.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
