Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Fix bugs from merging up branches (#3676)
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_Multiselect_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_a_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Radio_Group_0_rootdivdiv_0_just_desktop.png
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/stories/stories.js
  src/react/components/tooltip/XUITooltip.js
  src/sass/7-components/_avatars.scss
Due: eslint, stylelint

adds color updates to progress indicator, picklist separators and pickitem states
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

adds hover, active, focus states to pickitems
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

updates sentiment to tags in contentblock example
  src/sass/7-components/_contentblocks.scss
Due: stylelint

updates colors for range, moves colors to _vars.scss
  src/docs/building-blocks/forms/_docs.range.scss
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_forms.range.scss
Due: stylelint

fixes indents
  src/sass/7-components/_forms.range.scss
Due: stylelint

removes &
  src/sass/7-components/_pills.scss
Due: stylelint

Storybook icon fixes
  src/react/components/icon/stories/stories.js
  src/react/components/icon/stories/variations.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/isolationheader/stories/variations.js
Due: eslint

Add user-select: none to ds-nav--item--icon
  .kss/scss/style.scss
Due: none

adds tabindex fixes to pill and capsule
  src/sass/7-components/_pills.scss
  src/sass/7-components/_typography.capsules.scss
Due: stylelint

Use node 10 (#3678)
  .nvmrc
  package-lock.json
  package.json
Due: none

Typo fixes (#3681)
  src/docs/_docs.updates.scss
  src/docs/index.scss
Due: stylelint

nests pseudo states inside parent
  src/sass/7-components/_typography.capsules.scss
Due: stylelint

Doc fixes: popover, picklist, content block
  changes.md
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_popovers.scss
Due: stylelint

adds class bool to React component
  src/react/components/pill/XUIPill.js
Due: eslint

Doc fixes: switches and select
  .kss/scss/mixins.scss
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.selects.scss
Due: stylelint

fixes underline for href and onClick pills
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

fixes underline for href and onClick pills
  src/sass/7-components/_pills.scss
Due: stylelint

adds updated snapshots
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: none

Version bump xui-icon to ^6.1.2 to fix icon checkboxes
  package-lock.json
  package.json
Due: none

adds visual diffs
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_Multiselect_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_a_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_does_not_have_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Delete_Button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_qaHooks_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_grow_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_exaggerated_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_minimal_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segment_dots_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segments_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segments_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_soft_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_thickness_zero_0_rootdivdiv_0_just_desktop.png
Due: none

fixes whitespace errors
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_pills.scss
Due: stylelint

Guide a11y updates
  .kss/builder/kss-assets/copy-code-blocks.js
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/docs/building-blocks/forms/_docs.range.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

Fix linting issues in XUIButton and add a few simplifications
  src/react/components/banner/__tests__/__snapshots__/XUIBannerAction-test.js.snap
  src/react/components/button/XUIButton.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
Due: eslint

Make changes from PR suggestions and simplify getLinkProps further
  src/react/components/banner/__tests__/__snapshots__/XUIBannerAction-test.js.snap
  src/react/components/button/XUIButton.js
  src/react/components/button/__tests__/XUIButton-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
Due: eslint

Remove getLinkProps function since it's no longer required
  src/react/components/button/XUIButton.js
Due: eslint

remove double newline
  src/react/components/button/XUIButton.js
Due: eslint

add codemod and related classname updates (#3688)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  .kss/builder/extend/tokens.js
  src/docs/building-blocks/_docs.panels.scss
  src/docs/color-test-docs.scss
  src/docs/fundamentals/_docs.layout.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

Add trim to remove space
  src/react/components/button/XUIButton.js
  src/react/components/button/__tests__/XUIButton-test.js
Due: eslint

Change handleSpacebarAsClick to use object destructuring
  src/react/components/button/XUIButton.js
Due: eslint

Fix subvariants in icon storybooks
  src/react/components/helpers/icons.js
  src/react/components/icon/stories/stories.js
  src/react/components/icon/stories/variations.js
  src/react/components/isolationheader/stories/stories.js
Due: eslint

VR tests
  .visual-testing/reference/backstop_default_XUI_Icon_single_icon_0_capture_0_just_desktop.png
Due: none

Dirty dirty cn usage 🤩
  src/react/components/button/XUIButton.js
Due: eslint

[breaking-changes] Datepicker updates (#3685)
  .visual-testing/reference/backstop_default_DropDown_with_NestedDropDown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_a_DatePicker_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Compact_Selected_Date_with_min_max_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Hiding_Days_in_Other_Months_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Right-to-Left_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Selected_range_across_months_with_min_max_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Selected_range_with_wider_min_max_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Showing_Fixed_Number_of_Weeks_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Single_Selected_Date_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DatePicker_as_Weeks_Starting_on_Monday_with_Custom_Labels_0_rootdivdiv_0_just_desktop.png
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_datepicker.scss
Due: stylelint

slightly less dirty cn usage 😍
  src/react/components/button/XUIButton.js
Due: eslint

Modify Positioning.js to follow lint rules and be a bit more readable
  src/react/components/positioning/Positioning.js
Due: eslint

Add missing jsdoc param
  src/react/components/positioning/Positioning.js
Due: eslint

Additional tidy ups and make state objects a little safer
  src/react/components/positioning/Positioning.js
Due: eslint

Revert overflow:hidden on xui-panel
  changes.md
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/structural.contentblock.md
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint
