Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,js,json,css,scss,md}": "prettier --write",
}

Bump version to 15.0.3 (#4244)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

Minor version bump
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] XUI-584 Key event handler utility (#4241)
  src/react/accordion.md
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/button/XUIButton.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/__tests__/NestedDropdown-test.js
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/helpers/reactKeyHandler.js
  src/react/components/modal/XUIModal.js
  src/react/components/picklist/StatefulPicklist.js
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/table/helpers/utilities.js
  src/react/components/textInput/stories/stories.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/XUITooltip-test.js
  src/react/helpers/reactKeyHandler.js
Due: eslint, prettier --write

Fix validation line height
  src/sass/7-components/_forms.layout.scss
Due: stylelint, prettier --write

Update validation layout and field validation layout
  src/sass/7-components/_forms.layout.scss
Due: stylelint, prettier --write

update visual regression for autocompleter
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_validation_message_and_label_0_xui-container_0_just_desktop.png
Due: none

Min-height updated + Prettier
  src/sass/7-components/_forms.layout.scss
Due: stylelint, prettier --write

Use ternary to return null instead of false for ref (#4253)
  src/react/components/pill/XUIInnerPill.js
Due: eslint, prettier --write

Version bump to 15.1.1 (#4254)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

Update React developer docs to mention ES6 imports and remove Sherlock references (#4256)
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint, prettier --write

XUI-628 Added headings to codemod and secondary versioned codemod (#4257)
  .codemod/15.1.2/classReplacements.js
  .codemod/15.1.2/componentTransforms.js
  .codemod/classReplacements.js
  README.md
  changes.md
  scripts/codemod/index.js
Due: prettier --write

[patch] XUI-621 and XUI-623 Straightforward story updates for narrow (#4261)
  src/react/components/picklist/stories/variations.js
  src/sass/7-components/_progressindicator.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-644 Update TextInput and its consumers to accept supplied IDs (#4266)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/autocompleter/stories/stories.js
  src/react/components/autocompleter/stories/variations.js
  src/react/components/controlwrapper/__tests__/XUIControlWrapper-test.js
  src/react/components/controlwrapper/__tests__/__snapshots__/XUIControlWrapper-test.js.snap
  src/react/components/controlwrapper/helpers.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/stories/variations.js
Due: eslint, prettier --write

[patch] XUI-616 Fix Composition grid-gap always present with Safari
  src/sass/2-mixins/_layout.grids.scss
Due: stylelint, prettier --write

Version bump to 15.1.2 (#4270)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] XUI-634 Fix the toggle example code in docs
  src/react/toggle.md
Due: prettier --write

[patch] XUI-626 Fixed documentation typo.
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.accessibility.development.scss
  src/docs/working-with-xui/_docs.accessibility.scss
Due: stylelint, prettier --write

Revert "Merge pull request #4273 from grzegorz-pc/patch"
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.accessibility.development.scss
  src/docs/working-with-xui/_docs.accessibility.scss
Due: stylelint, prettier --write

[patch] XUI-610 fix the keyboard navigation trap of XUIAccordion right content
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
Due: eslint, prettier --write

Attempt at fixing storybook by updating dependencies and artifactory
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

[patch] XUI-633 Additional responsive tests - higher hanging fruit (#4277)
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Responsive_with_Stacked_Active_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Responsive_with_Stacked_Active_Bars_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_Group_with_multiline_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_Group_with_multiline_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_fullWidth_small-down_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_fullWidth_small-down_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_fullWidth_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_fullWidth_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Button_with_multiline_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_with_multiline_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_input_with_both_side_elements_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_input_with_both_side_elements_long_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_input_with_both_side_elements_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_mutliline_input_with_both_side_elements_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_mutliline_input_with_both_side_elements_long_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_mutliline_input_with_both_side_elements_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_TextInput_with_flexible_width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_with_flexible_width_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/button/stories/stories.js
  src/react/components/button/stories/variations.js
  src/react/components/chart/stories/stories.js
  src/react/components/chart/stories/variations.js
  src/react/components/switch/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
Due: eslint, prettier --write

[patch] XUI-658 Picklist bug fixes and also personnel updates (#4280)
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_multiselect_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_multiselect_with_truncation_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_right_media_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_multiselect_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_horizontal_with_wrapping_et_al_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_horizontal_with_wrapping_et_al_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_truncating_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_wrapping_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  src/docs/_docs.feedback.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/react/components/picklist/picklist.pickitem.md
  src/react/components/picklist/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --write

Update illustration URLs to point to edge.xero.com (#4283)
  src/react/components/illustration/stories/stories.js
  src/react/illustration.md
  src/sass/7-components/_illustrations.scss
Due: eslint, stylelint, prettier --write

Add a test option for watching files for changes and rerun tests
  scripts/test/index.js
Due: prettier --write

[patch] XUI-514 Fix trigger holds on to ‘active’ style (#4281)
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
Due: eslint, prettier --write

Change avatar image url
  src/react/avatar.md
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/__tests__/__snapshots__/XUIAvatar-test.js.snap
  src/react/components/avatar/stories/stories.js
  src/react/components/avatar/stories/variations.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/range/stories/stories.js
  src/react/components/range/stories/variations.js
  src/react/progressindicator.md
  src/react/range.md
  src/react/rollovercheckbox.md
Due: eslint, prettier --write

Prettier
  src/react/avatar.md
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/stories/stories.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/range/stories/stories.js
  src/react/components/range/stories/variations.js
  src/react/progressindicator.md
  src/react/range.md
  src/react/rollovercheckbox.md
Due: eslint, prettier --write

Snapshot updated
  src/react/components/avatar/__tests__/__snapshots__/XUIAvatar-test.js.snap
Due: none

Update visual regression reference images
  .visual-testing/reference/backstop_default_XUI_Avatar_with_image_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_left_and_right_Elements_0_rootdivdiv_0_just_desktop.png
Due: none

[patch] XUI-400 remove the fixed height of dropdown header container (#4287)
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_DropDown_with_NestedDropDown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/sass/7-components/_dropdown.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-660 Fix empty State is not defined in AutocompleterSecondarySearch in React docs v15 (#4291)
  src/react/components/autocompleter/autocompleter.secondarysearch.md
Due: prettier --write

[patch] XUI-632 Rounded min-height for Positioning component. Documentation update.
  changes.md
  src/react/components/positioning/Positioning.js
Due: eslint, prettier --write

[XUI-265] Fix wonky loader positioning in IE11
  src/sass/7-components/_loaders.scss
Due: stylelint, prettier --write

[XUI-265] Prettier changes
  src/sass/7-components/_loaders.scss
Due: stylelint, prettier --write

[patch] XUI-632 File formatting update.
  changes.md
  src/react/components/positioning/Positioning.js
Due: eslint, prettier --write
