Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Add notes about dependencies in changes.md (#3743)
  README.md
  changes.md
Due: none

Caretify dependencies
  changes.md
  package-lock.json
  package.json
Due: none

Fix linting issues for DropdownToggled
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/private/helpers.js
Due: eslint

Fix linting in dropdown.js
  src/react/components/dropdown/DropDown.js
Due: eslint

[breaking-changes] Switch docs + 1 additional class (#3701)
  .visual-testing/reference/backstop_default_XUI_Checkbox_Default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_and_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_indeterminate_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_indeterminate_and_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_reversed_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Checked_and_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Inline_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Radio_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Unchecked_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.switches.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
Due: stylelint

Fixes based on UserRoles upgrade: text underlines, changes.md and codemod (#3751)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

Fix named component usage in componentTransforms (#3753)
  .codemod/componentTransforms.js
Due: none

Various color tweaks/fixes (#3752)
  .visual-testing/reference/backstop_default_XUI_Button_as_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_standard_button_combinations_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_neutral_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Checked___Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Options_0_rootdivdiv_0_just_desktop.png
  src/sass/1-vars/_colors.scss
  src/sass/2-mixins/_buttons.scss
  src/sass/7-components/_buttons.states.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_steps.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

[breaking-changes] Add codemod for moving to XUITextInput and additional change guidelines (#3754)
  .codemod/componentTransforms.js
  changes.md
Due: none

Beta.1 release time. (#3755)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

XUI 14.0.0 Full Release
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Update screenshots outdated after rebase (#3761)
  .visual-testing/reference/backstop_default_SelectBox_is_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_checkboxes_and_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_no_default_layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Bars_Overflow_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Empty_States_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_standard_button_combinations_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_neutral_variant_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_pills.scss
Due: stylelint

Reset codemod to only new breaking changes (#3764)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  .codemod/flexibleControlsClassReplacements.js
  .codemod/flexibleControlsComponentTransforms.js
  changes.md
Due: none

Add vars and mixin imports where missing in SCSS
  src/sass/4-base/_base.scss
  src/sass/7-components/_buttons.borderless.scss
  src/sass/7-components/_buttons.dropdowns.scss
  src/sass/7-components/_buttons.groups.scss
  src/sass/7-components/_buttons.sizes.scss
  src/sass/7-components/_buttons.states.scss
  src/sass/7-components/_buttons.variants.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.inputs.scss
  src/sass/7-components/_forms.labels.scss
  src/sass/7-components/_forms.layout.scss
  src/sass/7-components/_forms.range.scss
  src/sass/7-components/_forms.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_forms.validationmessages.scss
  src/sass/7-components/_globalstates.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_navigation.scss
  src/sass/7-components/_navigation.subapp.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_steps.scss
  src/sass/7-components/_typography.headings.scss
  src/sass/7-components/_typography.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/7-components/_typography.utilities.scss
Due: stylelint

[breaking-changes] Fix up a few breaking TODOs (#3768)
  UPGRADE_PATH.md
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/pill/XUIPill.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/sass/2-mixins/_utilities.scss
  src/sass/7-components/_forms.inputs.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_navigation.subapp.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_steps.scss
  src/sass/7-components/_typography.utilities.scss
  src/sass/7-components/_usermessaging.banners.scss
Due: eslint, stylelint

[patch] Move shared text input mixin into mixins (#3766)
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_forms.scss
Due: stylelint

[breaking-changes] Random bugfixes (#3770)
  .kss/scss/example.scss
  .visual-testing/reference/backstop_default_Structural_content_block_with_everything_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Loader_with_inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Checked___Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Options_0_rootdivdiv_0_just_desktop.png
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/sass/1-vars/_typography.scss
  src/sass/7-components/_dropdowns.container.scss
Due: eslint, stylelint

Toggle bug fix for borders/background overlap (#3769)
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Checkboxes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Checked___Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Checked___Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Inverted_Options_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Small_Variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Toggle_Options_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Unstyled_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_buttons.toggle.scss
Due: stylelint

Update messaging around onRowClick for XUITable, for accuracy
  changes.md
Due: none

Add text-decoration none and underline to typography utils. Docs, too (#3775)
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_typography.utilities.scss
Due: stylelint

[XUI-30] Setup xui-base.css
  scripts/build/cssmin/index.js
  scripts/build/postcss/xui.js
  scripts/build/sass/xui.js
  src/sass/xui-base.scss
Due: stylelint

Update README Upgrading section (#3772)
  README.md
Due: none

[breaking-changes] Buttons no longer depend on utility classes (#3780)
  src/react/components/button/XUIButton.js
  src/react/components/button/__tests__/__snapshots__/XUIButton-test.js.snap
  src/react/components/button/private/constants.js
  src/sass/2-mixins/_layout.scss
  src/sass/2-mixins/_layout.widths.scss
  src/sass/2-mixins/_utilities.scss
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_buttons.sizes.scss
  src/sass/7-components/_buttons.states.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_usermessaging.tooltip.scss
  src/sass/99-utils/_utilities.scss
Due: eslint, stylelint

Add TODO for xui-button-fullwidth-layout
  src/sass/7-components/_buttons.sizes.scss
Due: stylelint

[breaking-changes] [XUI-48] Rename locking util to something more higher level (#3782)
  src/react/components/helpers/__tests__/lockScroll-test.js
  src/react/components/helpers/lockScroll.js
  src/sass/4-base/_base.scss
Due: eslint, stylelint

Add utility-class link to top of layout docs (#3783)
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

[breaking-changes] [XUI-55] New clases, tests (#3784)
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint

[breaking-changes] Updates after #3777 (#3786)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_SelectBox_with_hidden_label_and_button_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_grouped_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_grouped_and_reversed_0_rootdivdiv_0_just_desktop.png
  src/react/components/select-box/stories/variations.js
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/XUISwitchGroup.js
  src/react/components/switch/stories/stories.js
  src/react/components/switch/switch.group.md
  src/react/components/toggle/stories/variations.js
Due: eslint

Remove old text from changes.md
  changes.md
Due: none

fix for css not building (#3788)
  src/sass/2-mixins/_components.scss
Due: stylelint

[breaking-changes] Class was completely unnecessary in the end. (#3789)
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
Due: eslint

[breaking-changes] XUIModal removed default layout + lint fixes (#3790)
  src/react/components/modal/XUIModalFooter.js
  src/react/components/modal/XUIModalHeader.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/components/modal/__tests__/__snapshots__/XUIModalFooter-test.js.snap
  src/react/components/modal/__tests__/__snapshots__/XUIModalHeader-test.js.snap
  src/react/components/textInput/XUITextInput.js
Due: eslint

Visual regressions after merge from minor to breaking-changes
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Checkboxes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Checked___Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Small_Variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Toggle_Options_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Unstyled_0_rootdivdiv_0_just_desktop.png
Due: none

[breaking-changes] [XUI-57 & XUI-58] Isolation Header - Rolling utils into component classes (#3792)
  src/react/components/isolationheader/XUIIsolationHeaderSecondaryTitle.js
  src/react/components/isolationheader/XUIIsolationHeaderTitle.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/sass/2-mixins/_typography.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_typography.utilities.scss
Due: eslint, stylelint

Removed utils from AutocompleterEmptyState (XUI-37)
  src/react/components/autocompleter/XUIAutocompleterEmptyState.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterEmptyState-test.js.snap
  src/sass/7-components/_autocompleter.scss
Due: eslint, stylelint

Removed utils from AutocompleterSecondarySearch (XUI-44)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/sass/7-components/_dropdowns.container.scss
Due: eslint, stylelint

Removed truncation utils from selectbox and option. (XUI-51) Updated a story to show truncated options, as well.
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/SelectBoxOption.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/select-box/stories/stories.js
  src/sass/7-components/_forms.selects.scss
Due: eslint, stylelint

[breaking-changes] Dropdown utility class rollup (XUI-38, XUI-39, XUI-47) (#3793)
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/NestedDropDown.js
  src/react/components/dropdown/__tests__/NestedDropdown-test.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_dropdowns.container.scss
Due: eslint, stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
