Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Add missing webkit appearance attribute to textinput to fix safari display (#3542)
  src/sass/tools/_mixins.components.scss
Due: stylelint

Rip the banner animations (#3547)
  src/react/components/banner/XUIBanner.js
  src/sass/7-components/_usermessaging.banners.scss
Due: eslint, stylelint

.xui-icon-color-standard class removed (#3548)
  .kss/builder/extend/menu.js
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/react/components/icon/__tests__/XUIIcon-test.js
  src/react/components/icon/private/constants.js
  src/sass/7-components/_icons.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Remove deprecated flex util classes (#3549)
  src/sass/99-utils/_utilities.scss
Due: stylelint

remove .xui-progress-tooltip (#3550)
  src/sass/7-components/_progressindicator.scss
Due: stylelint

remove .xui-switch--labeltext (#3551)
  src/docs/building-blocks/_docs.switches.scss
  src/sass/7-components/_forms.switch.scss
Due: stylelint

Deprecated contentblock classes removed (#3552)
  src/docs/building-blocks/_docs.panels.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

Change cursor to text on textinput (#3562)
  src/sass/objects/_forms.textinputs.scss
Due: stylelint

Version bump to 13.4.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Updates to docs for avatars and icons. Issue #3524
  src/docs/_docs.avatars.scss
  src/react/avatar.md
  src/react/icon.md
Due: stylelint

Fix up broken things as a result of changing flex classes.
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/react/components/autocompleter/XUIAutocompleterEmptyState.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterEmptyState-test.js.snap
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/EmptyState.js
  src/react/modal.md
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Fixes for tooltip Guide docs examples
  src/sass/objects/_usermessaging.tooltip.scss
Due: stylelint

Fix aria-owns and aria-controls for dropdowns (#3568)
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/NestedDropDown.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/table-test.js
Due: eslint

Remove usages of old flex utility classes (#3574)
  .kss/builder/extend/breadcrumbs.js
  src/react/components/autocompleter/XUIAutocompleterEmptyState.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterEmptyState-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/TableAlert.js
Due: eslint

Modify Pickitems to be tabbable unless in statefulpicklist
  src/react/components/dropdown/__tests__/__snapshots__/DropDownFooter-test.js.snap
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/PickitemBody.js
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/picklist/private/helpers.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: eslint

Add a few more recommendations for labels on inputs
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint

Remove xui-sectionheading*
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_sections.scss
  src/sass/xui.scss
Due: stylelint

Add changes.md removed deprecated classes (#3580)
  changes.md
Due: none

The repo change caused a 404 error when viewing responsive header iframe demo in our docs. (#3585)
  src/docs/building-blocks/_docs.masthead.scss
Due: stylelint

More missing flex classes :upside-down-face: (#3583)
  .kss/builder/index.hbs
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/react/modal.md
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

Updates to XUISwitch to generate visible labels and match Checkbox
  src/react/components/switch/XUISwitch.js
  src/sass/7-components/_forms.switch.scss
Due: eslint, stylelint

Updates to XUISwitch stories
  src/react/components/switch/stories/stories.js
  src/react/components/switch/stories/variations.js
  src/react/stories/form-layout1/index.js
  src/react/stories/form-on-a-page/index.js
Due: eslint

Updates to XUISwitch docs and tests
  src/docs/building-blocks/_docs.switches.scss
  src/react/components/switch/__tests__/XUISwitch-test.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/switch.md
Due: eslint, stylelint

Updates to XUISwitch visual regression tests
  .visual-testing/reference/backstop_default_Compositions_Form_layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Compositions_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Checked_and_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Checked_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Disabled_with_Hidden_Label_0_rootdivdiv_0_just_desktop.png
Due: none

Update RolloverCheckbox for tab behavior
  src/sass/7-components/_rolloverCheckbox.scss
Due: stylelint

Add additional guidance on input validation (#3587)
  src/docs/building-blocks/forms/_docs.validation.scss
Due: stylelint

update dependency of xui-icon to 6.0.0 (#3591)
  package-lock.json
  package.json
Due: none

Add input range slider styling (#3576)
  src/docs/building-blocks/forms/_docs.range.scss
  src/sass/7-components/_forms.range.scss
  src/sass/7-components/_forms.scss
Due: stylelint

Annoying package-lock update that keeps popping up
  package-lock.json
Due: none

Fix sortable table example in css docs
  src/sass/7-components/_contentblocks.scss
Due: stylelint

Updated with a variable and reference to standard sizes, plus a note to update
  src/sass/7-components/_forms.switch.scss
Due: stylelint

Toggle form layout removed.
  src/docs/building-blocks/_docs.toggles.scss
  src/react/components/toggle/private/constants.js
  src/react/stories/form-layout1/index.js
  src/sass/7-components/_buttons.toggle.scss
Due: eslint, stylelint

Add recommendation around not adding direct children to xui-textcontent
  src/docs/fundamentals/_docs.typography.scss
Due: stylelint

modify XUIInnerPill to render as a span if it has no actions
  package-lock.json
  package.json
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: eslint

Docs-only deprecations
  CONTRIBUTING.md
  src/docs/_docs.updates.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_buttons.toggle.scss
  src/sass/7-components/_navigation.subapp.scss
  src/sass/7-components/_typography.utilities.scss
Due: stylelint

Updates to selectBox to allow disabling
  .visual-testing/reference/backstop_default_SelectBox_is_disabled_0_xui-container_0_just_desktop.png
  src/docs/building-blocks/forms/_docs.selects.scss
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/select-box/stories/stories.js
  src/react/components/select-box/stories/variations.js
  src/sass/7-components/_forms.selects.scss
Due: eslint, stylelint

[breaking-changes] Fix autocompleter css docs and tidy up autocompleter classes (#3600)
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/sass/7-components/_autocompleter.scss
Due: eslint, stylelint

Modify XUICapsule to render as a span if it's non-interactive
  src/react/components/capsule/XUICapsule.js
Due: eslint

Add clarification around icon size classes and fix iconLoader link (#3611)
  .kss/builder/extend/version.js
  src/sass/7-components/_icons.scss
Due: stylelint
