Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

[patch] Bug: Progress Indicator | ToolTip regression (#3791)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_tooltip_0_rootdivdiv_0_just_desktop.png
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/customElements/ProgressWrapper.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/progressindicator/stories/variations.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
Due: eslint

Update package-lock.json (#3797)
  package-lock.json
Due: none

Remove utility classes from TextInputSideElement (XUI-43)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/react/components/textInput/XUITextInputSideElement.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint

Rollovercheckbox: Removed utilities (XUI-50), fixed a margin bug, and tweaked storybook playground
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/rolloverCheckbox/stories/stories.js
  src/sass/7-components/_rolloverCheckbox.scss
Due: eslint, stylelint

Fixed doc links to remove styleguidist applied classes #3801
  .styleguidist/components/Link.js
Due: none

Update codemod to match component prop name. To be fixed again with next major. #3800
  .codemod/componentTransforms.js
Due: none

Update the icon files to remove utility class. XUI-49
  src/react/components/icon/__tests__/XUIIcon-test.js
  src/react/components/icon/private/constants.js
  src/sass/7-components/_icons.scss
Due: eslint, stylelint

Update all icon-consuming docs examples
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

Update other icon consumers and their snapshots
  .kss/builder/extend/breadcrumbs.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/chart/__tests__/__snapshots__/barchart-test.js.snap
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

Allow XUITextInput labelText to be a node rather than just string
  src/react/components/avatar/XUIAvatar.js
  src/react/components/textInput/XUITextInput.js
Due: eslint

Exit on build error; fail if postcss fails
  scripts/build/postcss/doPostCss.js
  scripts/helpers.js
Due: none

Updates for SelectBox including CSS fix
  .visual-testing/reference/backstop_default_SelectBox_invalid_with_an_error_message_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_a_hint_message_0_xui-container_0_just_desktop.png
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/stories/compositions/form-layout1/select-box.js
  src/react/stories/compositions/form-on-a-page/index.js
  src/sass/7-components/_forms.selects.scss
Due: eslint, stylelint

[breaking-changes] XUI Build Scripts fixes and updates (#3810)
  scripts/build/cssmin/private/minify.js
  scripts/build/index.js
  scripts/build/kss.js
  scripts/build/kss/index.js
  scripts/build/postcss/tokens.js
  scripts/build/postcss/xui.js
  scripts/build/storybook.js
  scripts/build/xui.js
Due: none

[XUI-74] CSS Tidy up
  .codemod/classReplacements.js
  changes.md
  src/docs/building-blocks/forms/_docs.forms.scss
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownLayout.js
  src/react/components/table/XUITable.js
  src/sass/1-vars/_buttons.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_dropdowns.scss
  src/sass/7-components/_forms.inputgroups.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_table.scss
  src/sass/xui.scss
Due: eslint, stylelint

backstop | add continuous readyEvent logging
  src/react/components/chart/stories/stories.js
  src/react/components/table/stories/stories.js
  src/react/stories/helpers/log-ready-state.js
Due: eslint

Updates for single selected pill, and improvements to pill stories - for 14.x
  .visual-testing/reference/backstop_default_XUI_Pill_as_single-select_pill_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/stories/stories.js
  src/react/components/pill/stories/variations.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

Tweaks to tooltip docs samples, stemming from changes to icons
  src/react/tooltip.md
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint

Core updates to control wrapper markup/logic
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/controlwrapper/XUIControlWrapperInline.js
  src/react/components/controlwrapper/__tests__/XUIControlWrapper-test.js
  src/react/components/controlwrapper/__tests__/__snapshots__/XUIControlWrapper-test.js.snap
  src/react/components/controlwrapper/__tests__/__snapshots__/XUIControlWrapperInline-test.js.snap
  src/react/components/controlwrapper/helpers.js
  src/react/components/controlwrapper/private/LabelElement.js
  src/react/components/controlwrapper/private/MessageElement.js
Due: eslint

Updated snapshots for updated markup
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/toggle/__tests__/__snapshots__/XUIToggle-test.js.snap
Due: none

Updates to consuming components' prop names, types, and method calls
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/checkbox/__tests__/XUICheckboxGroup-test.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/checkbox/stories/variations.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/radio/__tests__/XUIRadioGroup-test.js
  src/react/components/radio/stories/stories.js
  src/react/components/radio/stories/variations.js
  src/react/components/rolloverCheckbox/__tests__/rollovercheckbox-test.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/rolloverCheckbox/stories/stories.js
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/switch/XUISwitchGroup.js
  src/react/components/switch/stories/variations.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/__tests__/XUIToggle-test.js
  src/react/components/toggle/stories/stories.js
  src/react/components/toggle/stories/variations.js
  src/react/components/tooltip/stories/stories.js
  src/react/stories/compositions/dropdowns-in-modal/index.js
  src/react/stories/compositions/form-layout1/index.js
  src/react/stories/compositions/form-layout1/select-box.js
  src/react/stories/compositions/form-on-a-page/index.js
  src/react/stories/compositions/statefulpicklist-infiniteloop/index.js
Due: eslint

Updated code samples in the docs
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/react/autocompleter.md
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/dropdown/dropdown.toggled.md
  src/react/components/radio/radio.group.md
  src/react/components/switch/switch.group.md
  src/react/rollovercheckbox.md
  src/react/select-box.md
  src/react/textinput.md
  src/react/toggle.md
Due: stylelint

Updates to isGroup on getAriaAttributes per code review
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/switch/XUISwitchGroup.js
  src/react/components/toggle/XUIToggle.js
Due: eslint

Codemod for labelText -> label prop renames
  .codemod/componentTransforms.js
Due: none

Update for SecondarySearch input width in non-auto dropdown widths
  src/sass/7-components/_dropdowns.container.scss
Due: stylelint

Some suggested class name changes
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/helpers/utilities.js
  src/sass/7-components/_table.scss
Due: eslint, stylelint

[breaking-changes] Table utils are gone + reorders
  scripts/build/kss.js
  scripts/start/index.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/GenericCell.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/customElements/TableAlert.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/helpers/utilities.js
  src/sass/7-components/_table.scss
Due: eslint, stylelint

Update snaps after classes changed
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

Fixing linting
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/GenericCell.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/helpers/utilities.js
Due: eslint

Missed converting ToggleOption to an inline control wrapper.
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/XUIToggleOption-test.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggleOption-test.js.snap
Due: eslint

Mention text underline in changes.md; remove references to XUI 12 in CONTRIBUTING.md (#3796)
  CONTRIBUTING.md
  changes.md
Due: none

Remove utility classes from XUIStepper and combine separate SASS files
  changes.md
  src/react/components/stepper/XUIStepper.js
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_steps.scss
Due: eslint, stylelint

Handful of namespacing updates (#3823)
  src/react/components/button/private/constants.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/CustomWeekday.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/datepicker/helpers/constants.js
  src/react/components/helpers/portalContainer.js
  src/react/components/radio/XUIRadio.js
  src/react/components/table/XUITable.js
Due: eslint

Missed vis-reg for selectbox updates in #3806
  .visual-testing/reference/backstop_default_Compositions_Form_layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Compositions_Form_on_a_page_0_xui-container_0_just_desktop.png
Due: none

Fix stepper import in SCSS (#3826)
  src/sass/xui.scss
Due: stylelint

Fix SCSS error in .kss folder (#3827)
  .kss/scss/mixins.scss
Due: none

kss build: don't just catch and log errors - let error propagate
  scripts/build/kss/tmp.js
Due: none

KSS Build Part 2
  .kss/scss/vars.scss
  scripts/build/index.js
Due: none

Improve modals resiliency to being removed from the DOM (#3829)
  src/react/components/modal/XUIModal.js
  src/react/modal.md
Due: eslint

[breaking-changes] [release] Update for next version of alpha.2 (#3830)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
