Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[patch] [XUI-2114] Enable XUIIntroBanner to work at full screen width (#5476)
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_bigger_than_2xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_smaller_than_xsmall_breakpoint.png
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/alerts/examples/introbanner/_intro-banner-anatomy.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-illustration.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-responsive.html
  src/react/components/introbanner/XUIIntroBanner.tsx
  src/react/components/introbanner/__tests__/__snapshots__/XUIIntroBanner-test.js.snap
  src/react/components/introbanner/stories/stories.js
  src/react/components/introbanner/stories/variations.js
  src/react/introbanner.md
  src/sass/7-components/_introbanner.scss
Due: eslint, stylelint, prettier --check

Bump blind-dates to 2.5.0 (#5486)
  package-lock.json
  package.json
Due: prettier --check

Add missing fullstops to introbanner examples (#5490)
  src/docs/components/alerts/examples/introbanner/_intro-banner-illustration.html
Due: prettier --check

[XUI-2132] Enable tabbing into XUIAutocompleter Footer in Storybook (#5489)
  src/react/components/autocompleter/stories/components/DetailedListExample.js
Due: eslint, prettier --check

[patch] Bump version for 18.0.2 release (#5491)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[minor] XUI-1978 XUITable + XUIEditableTable – Add API for text alignment (#5468)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_end-aligned_cells_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_with_end-aligned_cells_just_desktop.png
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/displaying-data/examples/table/_table-alignment.html
  src/react/components/editabletable/XUIEditableTableCell.d.ts
  src/react/components/editabletable/XUIEditableTableCell.js
  src/react/components/editabletable/XUIEditableTableCellReadOnly.d.ts
  src/react/components/editabletable/XUIEditableTableCellReadOnly.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/XUIEditableTableHeadingCell.d.ts
  src/react/components/editabletable/XUIEditableTableHeadingCell.js
  src/react/components/editabletable/__tests__/XUIEditableTableCell-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHeadingCell-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableHeadRow-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellControl-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellIconButton-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellReadOnly-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/react/components/editabletable/editabletable.alignment.md
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/components/table/XUITableColumn.ts
  src/react/components/table/__tests__/XUITableWithData.tsx
  src/react/components/table/__tests__/__snapshots__/table-test.tsx.snap
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/components/table/private/XUITableHead.tsx
  src/react/components/table/private/XUITableHeadingCell.tsx
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/react/table.md
  src/sass/7-components/_table.readonly.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-1978 Upadate right align heading class in XUITable (#5499)
  changes.md
  src/docs/components/displaying-data/examples/table/_table-actions.html
  src/docs/components/displaying-data/examples/table/_table-avatars.html
  src/docs/components/displaying-data/examples/table/_table-body.html
  src/docs/components/displaying-data/examples/table/_table-overflow.html
  src/docs/components/displaying-data/examples/table/_table-sortable.html
  src/react/components/table/__tests__/__snapshots__/table-test.tsx.snap
  src/react/components/table/helpers/generateCellProps.ts
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/components/table/private/XUITableHead.tsx
  src/react/components/table/private/XUITableHeadingCell.tsx
  src/sass/7-components/_table.readonly.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-2044 XUIDateInput flashing focus fix (#5484)
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/XUINestedDropdown.d.ts
  src/react/components/dropdown/XUINestedDropdown.js
Due: eslint, prettier --check

[patch] XUI-2108 Updating date input to use locale for input formatting. (#5494)
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_US_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_localised_just_desktop.png
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInput-test.js
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/private/helpers/formatSelectedDateToString.js
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
Due: eslint, prettier --check

[XUI-2138] Restore JIRA buttons on Guide homepage
  src/docs/home.md
Due: prettier --check

XUI-2156 ET and XUITable labeling reqs (#5505)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/table/XUITable.tsx
  src/react/components/table/stories/stories.js
Due: eslint, prettier --check

[minor] [XUI-2071] Add pagination example for XUITable (#5502)
  src/react/components/table/XUITable.tsx
  src/react/table.md
  src/sass/7-components/_table.readonly.scss
Due: eslint, stylelint, prettier --check

XUI-2144 Update custom header transparency and add a visreg (#5507)
  .visual-testing/reference/backstop_default_XUI_Table_header___footer_just_desktop.png
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/sass/7-components/_table.readonly.scss
Due: eslint, stylelint, prettier --check

Add designers as a codeowner (#5383)
  CODEOWNERS
Due: none

XUI-2134 Growing progress circle icons (#5504)
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_completion_alert_-_large_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_hard_error_-_large_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_icon_hard_error_-_large_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_hard_error_-_large_just_desktop.png
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/stories/stories.js
  src/react/components/progressindicator/stories/variations.js
  src/sass/7-components/_progressindicator.scss
Due: eslint, stylelint, prettier --check

[minor] [XUI-1923] Add static styling to rows in footer (#5475)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_footer_row_and_actions_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_footer_row_just_desktop.png
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/examples/editable-table/_editable-table-addrow-automatic.html
  src/react/components/editabletable/XUIEditableTableFoot.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/EditableTableFootRow-test.tsx
  src/react/components/editabletable/__tests__/XUIEditableTableFoot-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableFootRow-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFoot-test.js.snap
  src/react/components/editabletable/contexts/XUIEditableTableFootContext.ts
  src/react/components/editabletable/editabletable.foot.md
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/private/EditableTableFootRow.tsx
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/sass/7-components/_table.editable.scss
Due: eslint, stylelint, prettier --check

[minor] [XUI-1357] Add optional id prop to XUITableCell (#5501)
  src/react/components/table/XUITableCell.ts
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/helpers/generateCellProps.ts
  src/react/components/table/private/XUITableBodyRow.tsx
Due: eslint, prettier --check

[patch] noref Update PR template with new jira link (#5512)
  .github/pull_request_template.md
Due: prettier --check

[breaking-changes] XUI-1683 Copy XUIEditableTable's overflow gradient to XUITable (#5511)
  .visual-testing/reference/backstop_default_XUI_Table_custom_header_and_footer_with_pinned_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_overflow_menu_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_pinned_actions_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_pinned_actions_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Table_responsive_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Table_widths_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_widths_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_smaller_than_xsmall_breakpoint.png
  changes.md
  src/sass/7-components/_table.editable.scss
  src/sass/7-components/_table.readonly.scss
  src/sass/7-components/_table.scss
Due: stylelint, prettier --check

[FIX] Update i18n requirements link in PR template
  .github/pull_request_template.md
Due: prettier --check

[XUI-1978] Allow the last column of XUITable to be left aligned (#5515)
  src/react/components/table/helpers/generateCellProps.ts
Due: eslint, prettier --check

[patch] [XUI-2048] Banner documentation content update (#5509)
  .kss/README.md
  .kss/builder/extend/examplecontenttable.js
  .kss/builder/index.hbs
  scripts/build/kss/config.json
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/examples/banner/_banner-sentiment-negative.html
  src/docs/components/alerts/examples/banner/_banner-sentiment-neutral.html
  src/docs/components/alerts/examples/banner/_banner-sentiment-positive.html
  src/docs/components/collecting-input/_form-labels.scss
  src/docs/components/collecting-input/_form-validation.scss
Due: eslint, stylelint, prettier --check

Add visual regression test (#5519)
  .visual-testing/reference/backstop_default_XUI_Table_with_start-aligned_cells_just_desktop.png
  src/react/components/table/stories/variations.js
Due: eslint, prettier --check

[patch] [XUI-1762] Add overflow menu documentation to XUIEditableTable (#5508)
  .styleguidist/sections.json
  src/react/components/editabletable/editabletable.celltypes.md
  src/react/components/editabletable/editabletable.interactions.md
Due: prettier --check

[XUI-2137] Adjust intro banner hide button position
  src/docs/components/alerts/examples/introbanner/_intro-banner-anatomy.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-illustration.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-responsive.html
  src/react/components/introbanner/XUIIntroBanner.tsx
  src/react/components/introbanner/__tests__/__snapshots__/XUIIntroBanner-test.js.snap
  src/sass/7-components/_introbanner.scss
Due: eslint, stylelint, prettier --check

[XUI-2137] Add/refactor intro banner vis-reg tests
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_and_long_title_and_button_text_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_and_long_title_and_button_text_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_long_title_and_button_text_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_long_title_and_button_text_smaller_than_xsmall_breakpoint.png
  src/react/components/introbanner/stories/stories.js
  src/react/components/introbanner/stories/variations.js
Due: eslint, prettier --check

[patch][XUI-2183] Update Figma links (#5521)
  src/docs/getting-started/_designers.scss
Due: stylelint, prettier --check

Widen acceptable types for XUITable data. (#5522)
  src/react/components/table/XUITable.tsx
Due: eslint, prettier --check

[Patch][XUI-1999] Fix issue with `isOpen` prop in AccordionItem (#5514)
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
Due: eslint, prettier --check

[patch] [XUI-2052] Update tooltip guidance (#5517)
  .kss/builder/index.hbs
  src/docs/components/alerts/_tooltips.scss
  src/docs/components/alerts/examples/tooltip/_tooltip-positioning.html
Due: stylelint, prettier --check

[patch] [XUI-2143] Fix failing label required warning checks (#5518)
  package-lock.json
  package.json
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/fileuploader/XUIFileUploader.d.ts
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/helpers/labelRequiredWarning.ts
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/switch/XUISwitch.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[patch] [XUI-2048] Fix small content issues for banner documentation (#5524)
  src/docs/components/alerts/_banners.scss
Due: stylelint, prettier --check

[patch] XUI-2181 Update hooks on ET UtilityBar (#5513)
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
Due: eslint, prettier --check

[no-ref] Fix link to picklist in DateInput docs (#5526)
  src/docs/components/collecting-input/_dateinputs.scss
Due: stylelint, prettier --check

[no-ref] Fix storybook selection of button variants (#5527)
  src/react/components/button/stories/stories.js
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
