Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

create initial POC to handle always on tooltips
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/chart/helpers/bars.js
Due: eslint

rename / document remaining API / function declarations
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/StandardLabel.js
Due: eslint

streamline interaction callback to reference stacked / plain bar types
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
Due: eslint

remove React docs reference from this PR
  src/react/barchart.md
Due: none

Little bug fix in tooltip docs (#3385)
  src/react/tooltip.md
Due: none

address name changes / subtle tweaks to conform to React docs
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/chart/helpers/bars.js
Due: eslint

add pause functionality for x and y axis render query
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/utilities.js
Due: eslint

Tooltip width fix for Safari
  src/sass/objects/_usermessaging.tooltip.scss
Due: stylelint

create pause sequence when measuring x / y axis
  src/react/components/chart/helpers/utilities.js
Due: eslint

consolidate constant references
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/helpers/theme.js
Due: eslint

modify API to handle incomplete data sets and reintroduce the active bar color
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
Due: eslint

consolidate style constants and add loading label prop
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/helpers/theme.js
Due: eslint

Dynamically constrain overflow on tip wrappers
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
  src/sass/objects/_usermessaging.tooltip.scss
Due: eslint, stylelint

Add isBlock prop for DropdownToggled to XUIAutocompleterSecondarySearch
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
Due: eslint

fix target for #2 abbreviation index
  src/react/components/chart/customElements/AbbreviationLabel.js
Due: eslint

remove memory leak associated with componentWillUnmount
  src/react/components/chart/customElements/ChartScaffold.js
Due: eslint

Adds new file to update when we do a release script
  package.json
  scripts/release/index.js
  scripts/versions/versions.js
Due: none

move React doc reference under displaying data group
  .styleguidist/sections.json
Due: none

add back ticks to the XUILoader documentation reference
  src/react/components/chart/XUIBarChart.js
Due: eslint

Adds chained release options, fixes updating package-lock.json for releases.
  package-lock.json
  scripts/release/index.js
  scripts/release/package-lock-update.js
Due: none

Add a helper note for chained releases
  scripts/release/index.js
Due: none

update interaction parameters with barId removal
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
Due: eslint

add createTagTextThunk documentation and AVATAR_RADIUS to constants declarations
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/helpers/constants.js
Due: eslint

Set dropdown to legacy display, remove wrapping span, update snapshots
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

Add RC to comments
  scripts/release/index.js
Due: none

Fix for versions file being out of date
  scripts/versions/versions.js
Due: none

Remove ul li toast actions logic from components
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/__tests__/XUIToast-test.js
  src/react/components/toast/__tests__/XUIToastAction-test.js
  src/react/components/toast/__tests__/XUIToastActions-test.js
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
  src/react/components/toast/toast.action.md
Due: eslint

Fix XUIToastAction to pass hrefs down to underlying buttons
  package-lock.json
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
Due: eslint

Fix eslint errors
  src/react/components/toast/XUIToastAction.js
Due: eslint

split onRowClick thunk into a onRowClick / shouldRowClick combination
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/helpers/utilities.js
  src/react/components/table/stories/variations.js
  src/react/table.md
Due: eslint

Updated backstop images and documentation tweaks to go with the dropdown rollback.
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_hidden_label_and_button_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/dropdown.toggled.md
Due: eslint

Version bump to 13.3.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Adds initial implementation of Accordion (sans accordion item)
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/stories/stories.js
  src/react/components/accordion/stories/variations.js
Due: eslint

Update react-day-picker to 7.x.x
  package-lock.json
  package.json
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/datepicker/customElements/CustomNavbar.js
Due: eslint

the consolidation of the XUI charts v1.1 functionality (negative bars)
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Bars_Overflow_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Customise_Y-Axis_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Negative_Bars_0_rootdivdiv_0_just_desktop.png
  src/react/barchart.md
  src/react/components/chart/__tests__/barchart-test.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/groupposition.js
  src/react/components/chart/helpers/utilities.js
  src/react/components/chart/helpers/yaxis.js
  src/react/components/chart/stories/stories.js
  src/react/components/chart/stories/variations.js
Due: eslint

revert charts XUIIcon 14 API back to legacy 13 version
  src/react/components/chart/__tests__/__snapshots__/barchart-test.js.snap
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ContentPagination.js
Due: eslint

Fix negative number discrepancy with empty bar data sets
  src/react/components/chart/helpers/yaxis.js
Due: eslint

Prep for alpha 1 release and release testing.
  .umd/index.html
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint
