Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Update XUIDateInput snapshots based on button icon changes in b-c
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
Due: none

Fix daterangeinput test ammend
  src/react/components/dateinput/__tests__/XUIDateRangeInputWIP-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix autocompleter's use of resizeObserver
  src/react/components/autocompleter/XUIAutocompleter.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix Popover vis-reg flakeyness
  .visual-testing/index.js
  src/react/components/popover/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Rename vis-regs
  .visual-testing/reference/backstop_default_Form_controls_Form_on_a_page_reset_font-size_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_various_uploadProgressPercentage_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_right_element_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_custom_header_and_footer_with_pinned_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_with_icons_just_desktop.png
Due: none

Remove unused vis-regs
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_smaller_than_xsmall_breakpoint.png
Due: none

Update file uploader vis-regs
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_no_icon_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_no_icon_single_line_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_single_line_fileList_just_desktop.png
Due: none

Update form on a page snapshot
  .visual-testing/reference/backstop_default_Form_controls_Form_on_a_page_reset_font-size_just_desktop.png
Due: none

[patch] XUIAutcompleter ref type definitions (#5284)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Convert inputNode to the new ref style (#5285)
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/textInput/XUITextInput.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1673 Corrections to "role" attributes (#5286)
  changes.md
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-secondary.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-parent.html
  src/docs/components/collecting-input/examples/search/_search-create-new.html
  src/docs/components/displaying-data/examples/picklist/_picklist-expanding.html
  src/docs/components/displaying-data/examples/picklist/_picklist-multi-select.html
  src/docs/components/displaying-data/examples/picklist/_picklist-split.html
  src/docs/components/identifiers/examples/tag/_tag-truncation.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header-layout.html
  src/docs/components/navigation/examples/page-header/_page-header-responsive.html
  src/docs/components/navigation/examples/page-header/_page-header-tags.html
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdownFooter-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUINestedDropdown-test.js.snap
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/react/components/panel/__tests__/__snapshots__/XUIPanel-test.js.snap
  src/react/components/picklist/XUINestedPicklist.js
  src/react/components/picklist/XUINestedPicklistContainer.js
  src/react/components/picklist/XUIPickitem.js
  src/react/components/picklist/XUIPicklist.js
  src/react/components/picklist/__tests__/XUINestedPicklistContainer-test.js
  src/react/components/picklist/__tests__/XUIPicklist-test.js
  src/react/components/picklist/__tests__/__snapshots__/TabDropdown-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPicklist-test.js.snap
  src/react/components/picklist/picklist.nested.md
  src/react/components/picklist/stories/stories.js
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/tag/XUITag.js
  src/react/components/tag/__tests__/__snapshots__/XUITag-test.js.snap
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] XUI-1760 XUIDateInput - design and UX updates (#5260)
  .visual-testing/reference/backstop_default_XUI_DateInput_Darerange_with_two_errors_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Daterange_without_convenience_dates_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Darerange_with_just_one_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Darerange_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_across_two_years_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_with_one_missing_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_without_convenience_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_without_labels_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_daterange_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_In_fixed_width_container_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_a_hint_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_an_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_convenience_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_custom_header_and_footer_with_pinned_columns_just_desktop.png
  src/react/components/dateinput/XUIDateInputWIP.d.ts
  src/react/components/dateinput/XUIDateInputWIP.js
  src/react/components/dateinput/XUIDateRangeInputWIP.js
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/XUIDateInputWIP-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInputWIP-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputWIP-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/private/helpers/formatSelectedDateToString.js
  src/react/components/dateinput/stories/helpers/convenienceDates.ts
  src/react/components/dateinput/stories/variations.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/dropdown/XUIDropdownPanel.d.ts
  src/react/components/dropdown/XUIDropdownPanel.js
  src/react/components/dropdown/XUIDropdownToggled.js
  src/sass/7-components/_dateinput.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch][noRef] Delete or update all reference to non-existent S3 Bucket: (#5290)
  .visual-testing/reference/backstop_default_XUI_Autocompleter_no_drawer_footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_large_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_when_open_shows_drawer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_validation_message_and_label_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_autocompleter_cells_0_rootdivdiv_0_just_desktop.png
  src/docs/getting-started/_codepen.scss
  src/react/components/autocompleter/private/people.js
  src/react/modal.md
  src/react/pill.md
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[noref] Update versions.js to react 17 (#5291)
  src/react/components/helpers/versions.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] Bubble up errors inside of docker to the host process (#5282)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_Image_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
  scripts/helpers.js
  scripts/helpers/TaskSpinners.js
  scripts/test/helpers/Docker.js
  scripts/test/helpers/md5FileHash.js
  scripts/test/visual.js
  src/react/components/chart/stories/chipper.js
  src/react/components/chart/stories/variations.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] Bump version to 17.2.3 (#5296)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Fix flaky popover vis-regs (#5301)
  src/react/components/popover/private/Positioning.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] update vis-reg that was conflicting
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_Image_X-Axis_Label_just_desktop.png
Due: none

[patch] XUI-972 Audit XUIBarChart's types (#5302)
  src/react/components/chart/XUIBarChart.d.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] Add a custom keyboard sensor that uses both `space` and `enter` for editable table's drag and drop (#5295)
  .codemod/componentTransforms.js
  changes.md
  jest.setup.js
  package-lock.json
  package.json
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableWrapper-test.js.snap
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/private/DragAndDrop/DragDropProvider.tsx
  src/react/components/editabletable/private/DragAndDrop/__tests__/DragDropProvider-test.tsx
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/bind-events.js
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/invariant.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/prevent-standard-key-events.js
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/supported-page-visibility-event-name.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/usePointerSensors.js
  src/react/components/editabletable/private/DragAndDrop/helpers/use-keyboard-sensor.ts
  src/react/components/editabletable/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[bc] Update dateinput snapshots - Fix snapshots which were incorrectly merged in last commit
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputWIP-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
Due: none

Add drag handle props to editable table's drag button instead of cell (#5294)
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Add missing keys to reactKeyHandler and fix use-keyboard-sensor's types (#5306)
  src/react/components/editabletable/private/DragAndDrop/helpers/use-keyboard-sensor.ts
  src/react/components/helpers/reactKeyHandler.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix server side rendering (#5308)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/private/EditableTableWrapper.js
  src/react/components/helpers/polyfills/Element.ts
  src/react/components/popover/private/PortalFocusHelper.js
  src/react/components/table/XUITable.tsx
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1673 Update roles of XUIPicklist, XUIPickitem, XUIDropdown (#5299)
  changes.md
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-secondary.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/search/_search-create-new.html
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/examples/picklist/_picklist-expanding.html
  src/docs/components/displaying-data/examples/picklist/_picklist-multi-select.html
  src/react/components/dropdown/XUIDropdownPanel.js
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdownFooter-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUINestedDropdown-test.js.snap
  src/react/components/panel/__tests__/__snapshots__/XUIPanel-test.js.snap
  src/react/components/picklist/XUINestedPicklist.js
  src/react/components/picklist/XUIPickitem.js
  src/react/components/picklist/XUIPicklist.js
  src/react/components/picklist/XUIStatefulPicklist.js
  src/react/components/picklist/__tests__/TabDropdown-test.js
  src/react/components/picklist/__tests__/XUIPickitem-test.js
  src/react/components/picklist/__tests__/XUIPicklist-test.js
  src/react/components/picklist/__tests__/XUIStatefulPicklist-test.js
  src/react/components/picklist/__tests__/__snapshots__/TabDropdown-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPicklist-test.js.snap
  src/react/components/selectbox/XUISelectBox.js
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Prevent XUITable TS example from rendering in the React docs (#5305)
  src/react/table.md
Due: node scripts/lint/prettier -- --check

[minor] NOREF - Inputgroups borders (#5307)
  .visual-testing/reference/backstop_default_XUI_Date_Input_Darerange_with_just_one_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Darerange_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_across_two_years_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_with_one_missing_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_without_convenience_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_without_labels_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_daterange_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_daterange_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_In_fixed_width_container_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_group_validation_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_grouped_XUIButton_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_grouped_XUIDateInput_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_grouped_XUITextInput_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_individual_validation_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_individual_validation_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_label_lengths_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_width_settings_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_width_settings_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Input_Group_with_textinput_sideelements_just_desktop.png
  src/react/components/dateinput/XUIDateRangeInputWIP.js
  src/sass/7-components/_dateinput.scss
  src/sass/7-components/_forms.inputgroups.scss
  src/sass/7-components/_forms.textinputs.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[INVINP-5215] fixes focus state on XUIPill (#5311)
  src/react/components/pill/XUIPill.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] [XUI-1805] Add neutral sentiment banner (#5309)
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_neutral_sentiment_just_desktop.png
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/examples/banner/_banner-sentiment-negative.html
  src/docs/components/alerts/examples/banner/_banner-sentiment-neutral.html
  src/docs/components/alerts/examples/banner/_banner-sentiment-positive.html
  src/docs/components/alerts/examples/banner/_banner-sentiment.html
  src/react/components/banner/__tests__/XUIBanner-test.js
  src/react/components/banner/private/sentiments.ts
  src/react/components/banner/stories/variations.js
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_usermessaging.banners.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] Revert "[XUI-828] Add ESLint and Prettier scripts and clear out .ignore files (#5023)" (#5312)
  .eslintignore
  .lintstagedrc
  .prettierignore
  package.json
  scripts/lint/eslint.js
  scripts/lint/prettier.js
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-autocompleter.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-customcontent.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-iconbutton.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-readonly.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-columns.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-draganddrop.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-removerow.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-responsive.html
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer-inline-example-buttons.html
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer-inline-example.html
  src/docs/getting-started/responsive/_guidelines.scss
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/picklist/__tests__/TabDropdown-test.js
  src/react/pill.md
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[XUI-1848] Clean up `changes.md` (#5314)
  changes.md
Due: node scripts/lint/prettier -- --check

[patch] Use the Node API for Webpack to fix missing build output (#5310)
  scripts/build/index.js
  scripts/build/sass/kss.js
  scripts/build/serviceworker.js
  scripts/build/umd_webpack.js
  scripts/helpers.js
  scripts/helpers/TaskSpinners.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix relative links
  src/docs/components/controls/_buttons.scss
Due: stylelint, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1791 Add codemod changes for the XUITable PoC (#5323)
  .codemod/classReplacements.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1849 Audit examples in the React Docs (#5313)
  .styleguidist/components/Wrapper.js
  src/react/components/dateinput/XUIDateInputWIP.js
  src/react/fileUploader.md
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[XUI-1854] Update flags for final patch prior to XUI 18 release (#5320)
  src/docs/components/displaying-data/_tables.scss
Due: stylelint, node scripts/lint/prettier -- --check

Path conditions:
  node scripts/lint/eslint --: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  node scripts/lint/prettier -- --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
