Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

This should get prepack working - along with an update to xuishift in the next commit
  babel.config.js
  scripts/build/babel.js
  scripts/helpers.js
Due: none

[XUI-292] Add visual regression tests for XUITag sizes
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_small_size_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_standard_size_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_xsmall_size_0_rootdivdiv_0_just_desktop.png
  src/react/components/tag/stories/variations.js
Due: eslint

A few tweaks found during the UserRoles upgrade.
  src/react/components/structural/XUIPageHeader.js
  src/sass/7-components/_forms.layout.scss
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Upgrade xuishift for babel 7
  package-lock.json
  package.json
Due: none

[breaking-changes] Composition locking (#4031)
  src/react/components/compositions/XUICompositionDetailSummary.js
  src/react/components/compositions/XUICompositionDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionMasterDetail.js
  src/react/components/compositions/XUICompositionMasterDetailHeader.js
  src/react/components/compositions/XUICompositionMasterDetailSummary.js
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionSplit.js
  src/react/components/compositions/XUICompositionSplitHeader.js
  src/react/components/compositions/__tests__/XUICompositionDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionSplit-test.js
  src/react/components/compositions/__tests__/XUICompositionSplitHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplit-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplitHeader-test.js.snap
  src/react/components/compositions/helpers.js
  src/react/components/compositions/stories/stories.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/helpers/lockScroll.js
  src/react/components/pill/XUIPill.js
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/textInput/XUITextInput.js
  src/sass/5-structure/compositions/_detailsummary.scss
  src/sass/5-structure/compositions/_detailsummaryheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/5-structure/compositions/_split.scss
  src/sass/5-structure/compositions/_splitheader.scss
Due: eslint, stylelint

[patch] Only show cursor pointer if onClick or href props are passed (XUI-335) (#4029)
  src/sass/7-components/_contentblocks.scss
Due: stylelint

Cleanup of apparently obsolete props for datepicker and dropdown
  src/react/components/dropdown/NestedDropDown.js
  src/react/components/dropdown/dropdown.nested.md
  src/react/datepicker.md
Due: eslint

[breaking-changes] Alpha.6 Release (#4035)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

[Breaking-changes] XUI docs dropdown updates (XUI-314) (#4030)
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
Due: stylelint

add margin-left:auto to xui-action-layout class - fix for XUI-336
  src/sass/7-components/_actions.scss
Due: stylelint

Release updates
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Upgrade the umd webpack file
  package-lock.json
  package.json
  webpack.umd.config.js
Due: none

[breaking-changes] [XUI-291] Fix nested picklist not opening on click for NON-split trigger (#4025)
  src/react/components/picklist/NestedPicklistContainer.js
  src/react/components/picklist/NestedPicklistTrigger.js
  src/react/components/picklist/__tests__/NestedPicklistContainer-test.js
Due: eslint

Refactored compositions to be 'mobile-first' even though this goes slightly against our general XUI philosophy regarding style overrides
  src/sass/5-structure/_gridarea-master.scss
  src/sass/5-structure/compositions/_detailsummary.scss
  src/sass/5-structure/compositions/_detailsummaryheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/5-structure/compositions/_split.scss
  src/sass/5-structure/compositions/_splitheader.scss
  src/sass/7-components/_gridarea-paneldropdown.scss
Due: stylelint

'Simple' breakpoint renaming and other similarly straightfoward cleanup
  .kss/scss/cards.scss
  .kss/scss/home.scss
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  src/react/components/chart/helpers/constants.js
  src/react/components/compositions/helpers.js
  src/sass/2-mixins/_layout.breakpoints.scss
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_actions.scss
  src/sass/7-components/_buttons.sizes.scss
  src/sass/7-components/_forms.layout.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_overview.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/7-components/_usermessaging.toasts.scss
Due: eslint, stylelint

Vis-reg in need of updates
  .visual-testing/reference/backstop_default_Components_in_Components_Form_Layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_two_actions_with_long_strings_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_xsmall_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_flip_from_side_to_vertical_0_rootdivdivdiv_0_just_desktop.png
Due: none

Breakpoint-specific utility classes.
  src/sass/99-utils/_utilities.scss
Due: stylelint

Updates to columns
  src/docs/fundamentals/_docs.layout.scss
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/structural.column.md
  src/sass/2-mixins/_layout.grids.scss
  src/sass/99-utils/_grid.scss
Due: eslint, stylelint

Dropdown updates, including renaming the show-mobile-only class
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/react/components/dropdown/DropDownHeader.js
  src/sass/7-components/_dropdown.scss
Due: eslint, stylelint

Updates to docs and comments only.
  .kss/scss/vars.scss
  changes.md
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_forms.layout.scss
Due: stylelint

Updates to dropdown XUI-337. Fix 'tray' display & mask click behavior
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/private/dom-helpers.js
Due: eslint

no message (#4040)
  package-lock.json
Due: none

Width bug fix and visual regression tests
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_0_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_1_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_3_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_4_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_5_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_maxHeight_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/sass/7-components/_dropdown.scss
Due: eslint, stylelint

[XUI-293] Add size option for SelectBox
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_size_with_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_small_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_small_size_with_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_standard_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_standard_size_with_xsmall_size_list_items_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_xsmall_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_checkboxes_and_option_variations_0_xui-container_0_just_desktop.png
  changes.md
  src/docs/building-blocks/forms/_docs.selects.scss
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/select-box/stories/stories.js
  src/react/components/select-box/stories/variations.js
  src/react/select-box.md
  src/react/stories/components-in-components/form-layout1/select-box.js
  src/sass/7-components/_forms.selects.scss
Due: eslint, stylelint

[XUI-293] Add type checking to the child cloning process
  src/react/components/select-box/SelectBox.js
Due: eslint

[XUI-293] Refactor hard coded string to be an option prop with a default
  src/react/components/select-box/SelectBox.js
Due: eslint

[XUI-293] Set the default size to be full-width
  .visual-testing/reference/backstop_default_SelectBox_with_checkboxes_and_option_variations_0_xui-container_0_just_desktop.png
  changes.md
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/select-box/stories/stories.js
  src/react/components/select-box/stories/variations.js
  src/react/select-box.md
Due: eslint

[XUI-293] Convert array.includes to array.indexOf
  src/react/components/select-box/SelectBox.js
Due: eslint

Updated icon button stories to properly center even at xsmall
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_icon-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_icon_0_rootdivdiv_0_just_desktop.png
  src/react/components/button/stories/stories.js
Due: eslint

Update to default width of Pill, with tests
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_does_not_have_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_and_auto_width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_and_size_limit_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/stories/variations.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

[XUI-293] Document the added `caretTitle` in changes.md
  changes.md
Due: none

Obsolete comments. No further action needed
  src/react/components/picklist/NestedPicklistTrigger.js
  src/sass/7-components/_forms.range.scss
Due: eslint, stylelint

Renamed a mixin with a better name
  changes.md
  src/sass/2-mixins/_components.scss
  src/sass/2-mixins/_elements.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_forms.textinputs.scss
Due: stylelint

Update styles to use vars, where it makes sense
  .kss/scss/home.scss
  src/sass/2-mixins/_buttons.scss
  src/sass/2-mixins/_components.scss
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_forms.labels.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_navigation.subapp.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_rolloverCheckbox.scss
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_toggle.scss
  src/sass/7-components/_typography.headings.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

Removed obsolete selectors
  .visual-testing/reference/backstop_default_XUI_TextInput_with_placeholder_and_no_default_0_rootdivdiv_0_just_desktop.png
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Replaced manual icons with newer XUIICons
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/customElements/CircularIcon.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/customElements/StepperIcon.js
Due: eslint

Change to SCSS + KSS Tips approach
  src/docs/patterns/_index.scss
  src/docs/patterns/density.md
  src/docs/patterns/isolating.md
  src/docs/patterns/loading.md
  src/docs/patterns/loading.scss
  src/docs/patterns/pagination.md
  src/docs/patterns/pagination.scss
Due: stylelint

Add patterns section with inital pages
  src/docs/index.scss
  src/docs/patterns/_index.scss
  src/docs/patterns/density.md
  src/docs/patterns/isolating.md
  src/docs/patterns/loading.md
  src/docs/patterns/pagination.md
Due: stylelint

add text page
  src/docs/patterns/_docs.loading.scss
  src/docs/patterns/_docs.pagination.scss
  src/docs/patterns/_docs.text-rules.scss
Due: stylelint

removing loading and pagination
  src/docs/patterns/_docs.loading.scss
  src/docs/patterns/_docs.pagination.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
