Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "node scripts/lint/eslint --",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "node scripts/lint/prettier -- --check",
}

Version bump for 17.0.2 (#5124)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Fix the xui react docs link for select box (#5126)
  src/react/dropdown.md
Due: node scripts/lint/prettier -- --check

Another link fix related to renaming of selectbox (#5129)
  src/react/components/picklist/picklist.stateful.md
Due: node scripts/lint/prettier -- --check

Skip Prettier if running on a specific file that should be ignored (#5127)
  scripts/lint/prettier.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch][XUI-1659] Add OKTA dashboards to Kotahi. (#5136)
  xop-library.yaml
Due: none

[minor] Make PortalFocus sit between Editable Table's pinned columns where appropriate (#5118)
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_a_focused_cell_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_a_focused_cell_and_pinned_first_and_last_columns_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_a_focused_cell_and_pinned_first_column_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_a_focused_cell_and_pinned_last_column_0_rootdivdiv_0_just_desktop.png
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/__tests__/PortalFocus-test.js
  src/react/components/editabletable/contexts/XUIEditableTableContext.ts
  src/react/components/editabletable/private/EditableTableWrapper.js
  src/react/components/editabletable/private/PortalFocus.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix versions formatting (#5143)
  src/react/components/helpers/versions.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] [XUI-733] Add QA hook prop to XUITableCell (#5145)
  changes.md
  src/react/components/table/XUITableCell.d.ts
  src/react/components/table/XUITableCell.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/table-test.js
  src/react/components/table/customElements/BodyData.js
  src/react/components/table/customElements/GenericCell.js
  src/react/components/table/customElements/HeadData.js
  src/react/components/table/customElements/SortButton.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/customElements/TableHeadGenericCell.js
  src/react/components/table/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] [XUI-836] Change pickitem padding when side elements present (#5142)
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Tab_Dropdown_with_leftelement_and_secondarytext_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Tab_Dropdown_with_leftelement_and_secondarytext_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_leftelement_and_secondarytext_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_leftelement_and_secondarytext_no_panel_width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Wrapping_horizontal_with_leftelement_and_secondarytext_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_right_element_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/examples/picklist/_picklist-avatars.html
  src/docs/components/displaying-data/examples/picklist/_picklist-expanding.html
  src/docs/components/displaying-data/examples/picklist/_picklist-horizontal.html
  src/docs/components/displaying-data/examples/picklist/_picklist-icons.html
  src/docs/components/displaying-data/examples/picklist/_picklist-multiline-items.html
  src/docs/components/displaying-data/examples/picklist/_picklist-truncating.html
  src/react/components/picklist/XUIPickitem.js
  src/react/components/picklist/__tests__/__snapshots__/XUIPickitem-test.js.snap
  src/react/components/picklist/private/PickitemBody.d.ts
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[NOREF] Update pull request template emoji
  .github/pull_request_template.md
Due: node scripts/lint/prettier -- --check

[XUI-1596] Tweak caret positions (#5137)
  changes.md
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-secondary.html
  src/docs/components/collecting-input/examples/form/_form-validation.html
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/examples/button/_button-dropdown-trigger.html
  src/docs/components/controls/examples/button/_button-split.html
  src/docs/components/controls/examples/select/_select-content.html
  src/docs/components/controls/examples/select/_select-disabling.html
  src/docs/components/controls/examples/select/_select-labels-and-validation.html
  src/docs/components/controls/examples/select/_select-multiselect.html
  src/docs/components/controls/examples/select/_select-sizes.html
  src/docs/components/controls/examples/select/_select-variants.html
  src/docs/components/controls/examples/select/_select.html
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer-inline-example-buttons.html
  src/docs/components/navigation/examples/page-header/_page-header-actions.html
  src/docs/components/navigation/examples/pagination/_pagination-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-paging.html
  src/docs/components/navigation/examples/pagination/_pagination.html
  src/react/components/button/XUIButton.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/__tests__/__snapshots__/XUIButton-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/TabDropdown-test.js.snap
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBox-test.js.snap
  src/sass/2-mixins/_buttons.scss
  src/sass/7-components/_buttons.contenticons.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[XUI-948] Add align-items:baseline flex utility (#5153)
  changes.md
  src/docs/fundamentals/_utilities.scss
  src/docs/fundamentals/examples/utilities/_utilities-aligning.html
  src/sass/99-utils/_utilities.scss
Due: stylelint, node scripts/lint/prettier -- --check

[patch] XUI-1686 Modal scrollbar not visible after scrolling selectbox (#5154)
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/helpers/modalManager.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] [XUI-1103] Add showmarkup to TextInput in XUI Guide (#5155)
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input.html
Due: stylelint, node scripts/lint/prettier -- --check

[XUI-1684] Fix reference to wrong prop name. (#5159)
  src/react/accordion.md
Due: node scripts/lint/prettier -- --check

[minor] [XUI-1591] XUIDropdown + XUIDropdownPanel - add new onScroll prop (#5160)
  changes.md
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/XUIDropdownPanel.d.ts
  src/react/components/dropdown/XUIDropdownPanel.js
  src/react/components/dropdown/__tests__/XUIDropdownPanel-test.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

XUI-1700 Fix a bug with multi-line toggle height (#5164)
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/sass/7-components/_toggle.scss
Due: stylelint, node scripts/lint/prettier -- --check

[patch] XUI-1666 XUITooltip - fix error occurs when using XUITextInput as trigger (#5163)
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/react/components/tooltip/stories/variations.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] [XUI-1572] Add 'Contributing an Icon to XUI' section in XUI Guide (#5162)
  .kss/builder/index.hbs
  src/docs/fundamentals/_icons.scss
Due: stylelint, node scripts/lint/prettier -- --check

[minor] patch to minor (#5167)
  .github/pull_request_template.md
  .kss/builder/index.hbs
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input.html
  src/docs/fundamentals/_icons.scss
  src/react/accordion.md
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/helpers/modalManager.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/react/components/tooltip/stories/variations.js
  src/sass/7-components/_toggle.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[breaking-changes] minor to breaking-changes (#5168)
  .github/pull_request_template.md
  .kss/builder/index.hbs
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input.html
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_utilities.scss
  src/docs/fundamentals/examples/utilities/_utilities-aligning.html
  src/react/accordion.md
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/XUIDropdownPanel.d.ts
  src/react/components/dropdown/XUIDropdownPanel.js
  src/react/components/dropdown/__tests__/XUIDropdownPanel-test.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/helpers/modalManager.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/react/components/tooltip/stories/variations.js
  src/sass/7-components/_toggle.scss
  src/sass/99-utils/_utilities.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Revert "[minor] patch to minor (#5167)" (#5169)
  .github/pull_request_template.md
  .kss/builder/index.hbs
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input.html
  src/docs/fundamentals/_icons.scss
  src/react/accordion.md
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/helpers/modalManager.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/react/components/tooltip/stories/variations.js
  src/sass/7-components/_toggle.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Revert "[breaking-changes] minor to breaking-changes (#5168)" (#5170)
  .github/pull_request_template.md
  .kss/builder/index.hbs
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input.html
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_utilities.scss
  src/docs/fundamentals/examples/utilities/_utilities-aligning.html
  src/react/accordion.md
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/XUIDropdownPanel.d.ts
  src/react/components/dropdown/XUIDropdownPanel.js
  src/react/components/dropdown/__tests__/XUIDropdownPanel-test.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/helpers/modalManager.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/react/components/tooltip/stories/variations.js
  src/sass/7-components/_toggle.scss
  src/sass/99-utils/_utilities.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] Update xui-icon to 6.5.2 (#5173)
  package-lock.json
  package.json
Due: node scripts/lint/prettier -- --check

[breaking-changes] XUI-1700 updates to XUIToggle item padding (#5165)
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Small_Size_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Small_Size_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Unstyled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_with_icons_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_with_long_strings_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/docs/components/controls/examples/toggle/_toggle-disabling.html
  src/docs/components/controls/examples/toggle/_toggle-full-width.html
  src/docs/components/controls/examples/toggle/_toggle-inverted.html
  src/docs/components/controls/examples/toggle/_toggle-sizes.html
  src/docs/components/controls/examples/toggle/_toggle.html
  src/react/components/toggle/stories/stories.js
  src/react/components/toggle/stories/variations.js
  src/sass/7-components/_toggle.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] noref - Alphabetise Accordion props + fix lint errors (#5174)
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionContext.js
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/accordion/customElements/EmptyState.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] [XUI-1438] Add qaHook for XUIAccordionItem (#5175)
  changes.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionContext.js
  src/react/components/accordion/XUIAccordionItem.d.ts
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/react/components/accordion/customElements/AccordionWrapper.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch][XUI-1569] Update docs to include support commitments information. (#5161)
  src/docs/_updates.scss
Due: stylelint, node scripts/lint/prettier -- --check

[minor][XUI-1642] DateInput component firstcut (#5139)
  jest.config.js
  package-lock.json
  package.json
  src/docs/components/collecting-input/_dateinputs.scss
  src/react/components/dateinput/XUIDateInputWIP.d.ts
  src/react/components/dateinput/XUIDateInputWIP.js
  src/react/components/dateinput/XUIDateRangeInputWIP.js
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/private/helpers/formatSelectedDateToString.ts
  src/react/components/dateinput/stories/helpers/convenienceDates.ts
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
  src/react/dateinput.ts
  src/sass/7-components/_dateinput.scss
  src/sass/xui.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] [XUI-1695] Correct padding on readonly + selectbox editabletable cells (#5176)
  .visual-testing/reference/backstop_default_XUI_Editable_table_Default_5_by_5_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_a_single_row_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_add_new_row_button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_drag_and_drop_without_delete_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_invalid_and_mixed_type_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_max-width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_max-width_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_max-width_smaller_than_container_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_min-width_and_max-width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_min-width_and_max-width_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_mixed_type_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_read-only_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_select_cell_spanning_multiple_lines_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_without_header_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_without_max-width_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_editabletable.scss
Due: stylelint, node scripts/lint/prettier -- --check

Version bump for 17.1.0 (#5179)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[minor][xui-1691] Shortcut dropdown to be size small (as requested by Finn). (#5185)
  src/react/components/dateinput/XUIDateRangeInputWIP.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[NO-JIRA] Add XUIEditableTable pinned columns feature to changes.md
  changes.md
Due: node scripts/lint/prettier -- --check

[minor][xui-1691] Dateinput fixes: (#5191)
  src/docs/components/collecting-input/_dateinputs.scss
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Update DateInputRange story with new config shapes
  src/react/components/dateinput/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

add page-level actions doc
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Add in file from yesterday and fix the colon issue thanks to Vicky!
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Attempt to add a new icon (not working yet) and add related links
  .kss/builder/extend/tips.js
  src/docs/patterns/_page-level-actions.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] XUI-1668 Update docs with new WCAG 2.1 guidance (#5188)
  src/docs/components/displaying-data/_bar-charts.scss
  src/docs/components/displaying-data/_overview-blocks.scss
  src/docs/getting-started/accessibility/_accessibility.scss
  src/docs/getting-started/accessibility/_design.scss
  src/docs/getting-started/accessibility/_development.scss
Due: stylelint, node scripts/lint/prettier -- --check
