Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,js,json,css,scss,md}": "prettier --write",
}

Fix typo
  src/react/accordion.md
Due: prettier --write

[patch] NO_JIRA: Typo fix accessibile -> accessible (#4314)
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.accessibility.development.scss
  src/docs/working-with-xui/_docs.accessibility.scss
Due: stylelint, prettier --write

XUIAvatar value prop required
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/stories/variations.js
  src/react/components/range/stories/stories.js
  src/react/components/range/stories/variations.js
Due: eslint, prettier --write

Tests and snapshots update
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/__tests__/__snapshots__/XUIAvatar-test.js.snap
Due: eslint, prettier --write

Update range docs example code
  src/react/range.md
Due: prettier --write

Prettier
  src/react/components/avatar/__tests__/XUIAvatar-test.js
Due: eslint, prettier --write

[DOCS] Flesh out complex content-block example
  src/react/components/structural/structural.contentblock.md
Due: prettier --write

Fixing up product language guide to new location
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/home.md
Due: stylelint, prettier --write

[DOCS] Prettier changes
  src/react/components/structural/structural.contentblock.md
Due: prettier --write

Fix link
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint, prettier --write

[breaking-changes] XUI-694 Remove icon variants from XUIButton (#4317)
  changes.md
  src/react/button.md
  src/react/components/button/XUIButton.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/__tests__/XUIButton-test.js
  src/react/components/button/__tests__/__snapshots__/XUIButton-test.js.snap
Due: eslint, prettier --write

Documentation updated and avatar with identifier test snapshot removed
  .visual-testing/reference/backstop_default_XUI_Avatar_with_identifier_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/avatar.md
Due: prettier --write

Fix link2
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint, prettier --write

Fix fix
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint, prettier --write

[minor] Fix bug in tooltip when using iconbutton as a trigger (#4320)
  src/react/components/button/XUIIconButton.js
Due: eslint, prettier --write

XUI-699 Fixed positioning of tooltips for overview block. Fixed hover position for pill for Safari.
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint, prettier --write

XUI-215 Added Codepen documentation.
  .kss/builder/kss-assets/codepen/codepen_controls.png
  .kss/builder/kss-assets/codepen/codepen_example_react_pill.png
  .kss/builder/kss-assets/codepen/codepen_html_example.png
  .kss/builder/kss-assets/codepen/codepen_xui_pill.png
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

XUI-215 Updated wording for Codepen documentation.
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

[patch] Fix visual regression textInput variation path (#4323)
  .visual-testing/index.js
Due: prettier --write

[patch] XUI-614 Touch interaction story (#4312)
  src/react/components/autocompleter/stories/stories.js
  src/react/stories/components-in-components/helpers/daterangedropdown.js
  src/react/stories/components-in-components/tests.js
  src/react/stories/components-in-components/touch-interactions/README.md
  src/react/stories/components-in-components/touch-interactions/helpers.js
  src/react/stories/components-in-components/touch-interactions/index.js
Due: eslint, prettier --write

XUI-215 Updated a screenshot and wording for Codepen documentation.
  .kss/builder/kss-assets/codepen/codepen_xui_pill.png
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

[patch] [XUI-648] Fix typos in docs (#4326)
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/dropdown/DropDown.js
Due: eslint, prettier --write

Update illustration visual regression references (#4325)
  .visual-testing/reference/backstop_default_XUI_Illustration_custom_height_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_custom_height_and_padding_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_custom_padding_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_large_illustration_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_large_illustration_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Illustration_medium_illustration_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_medium_illustration_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Illustration_small_illustration_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_small_illustration_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
Due: none

XUI-215 Updates for CodePen documentation.
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

[minor] XUI-687 Horizontal picklist hit area is broken inside pageheader (#4328)
  .visual-testing/index.js
  .visual-testing/onReady.js
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --write

XUI-663 Fixing demo code for Chrome and IE.
  src/sass/7-components/_progressindicator.scss
Due: stylelint, prettier --write

Revert "XUI-663 Fixing demo code for Chrome and IE."
  src/sass/7-components/_progressindicator.scss
Due: stylelint, prettier --write

XUI-663 Fixing demo code for Chrome and Firefox - aligned with React component markup.
  src/sass/7-components/_progressindicator.scss
Due: stylelint, prettier --write

[patch] [XUI-693] Fix wrong padding/height XUIAccordion rightContent (#4329)
  src/sass/7-components/_accordion.scss
Due: stylelint, prettier --write

[minor] [XUI-693] Fix wrong padding/height XUIAccordion rightContent (#4331)
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_expanded_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_expanded_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/sass/7-components/_accordion.scss
Due: stylelint, prettier --write

XUI-215 Updated order for "Getting started" docs and created new CodePen docs page.
  src/docs/working-with-xui/_docs.codepen.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/docs/working-with-xui/_docs.developers.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint, prettier --write

Updated backstop images for pills with tooltips
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_and_size_limit_0_rootdivdiv_0_just_desktop.png
Due: none

Updated backstop images for page layouts, too
  .visual-testing/reference/backstop_default_Page_Layouts_Left_sidebar_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Page_Layouts_Right_sidebar_0_xui-container_1_smaller_than_xsmall_breakpoint.png
Due: none

Updated capsule reference images
  .visual-testing/reference/backstop_default_XUI_Capsule_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Capsule_is_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Capsule_not_interactive_but_valid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Capsule_with_long_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Capsule_with_long_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
Due: none

Small lint fix
  src/react/components/chart/helpers/bars.js
Due: eslint, prettier --write

15.2.0 Version bump (#4335)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[breaking-changes] XUI-665 Touch target fixes - Link, Button, SplitButton (#4333)
  .visual-testing/reference/backstop_default_XUI_Button_as_a_small_negative_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_an_xsmall_Split_Button_Group_with_a_dropdown_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_medium_with_short_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_with_short_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_xsmall_with_short_content_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/button/stories/variations.js
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_buttons.dropdowns.scss
  src/sass/7-components/_buttons.scss
Due: eslint, stylelint, prettier --write

[XUI-416] Improve keyboard accessibility for modals
  changes.md
  src/react/components/helpers/getFocusableDescendants.js
  src/react/components/modal/XUIModal.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
Due: eslint, prettier --write

[breaking-changes] XUI-719 Updates to IconButton vis-reg and stories (#4339)
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_icon-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_unstyled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_icon-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_icon-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_medium_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_medium_inverted_medium_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_inverted_small_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_xsmall_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_xsmall_inverted_xsmall_iconButton_0_rootdivdiv_0_just_desktop.png
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIIconButton.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/XUISplitButtonGroup.js
  src/react/components/button/private/constants.js
  src/react/components/button/stories/stories.js
  src/react/components/button/stories/variations.js
Due: eslint, prettier --write
