Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Fix npm start and broken NOOP
  scripts/build/cssmin/index.js
  scripts/build/postcss/doPostCss.js
  scripts/build/postcss/xui.js
  src/react/components/toast/stories/stories.js
  src/react/components/toast/stories/variations.js
Due: eslint

Add visual approve to interactive test task.
  scripts/test/index.js
Due: none

Class was changed a long time ago.
  .kss/scss/style.scss
  src/docs/building-blocks/_docs.toasts.scss
Due: stylelint

Modify styleguidist config to pick up SelectBox as a default export (#3293)
  .styleguidist/config.js
Due: none

[minor] Inline positioning : cleanup and apply to Dropdowns (#3286)
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_hidden_label_and_button_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/private/constants.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/positioning/PositioningInline.js
  src/react/components/positioning/private/utils.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
  src/react/stories/datepicker-dropdown-in-modal/index.js
  src/sass/objects/_dropdowns.container.scss
  src/sass/objects/_forms.selects.scss
  src/sass/objects/_usermessaging.tooltip.scss
Due: eslint, stylelint

Fix autocompleter value updating
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

Version bump to 13.2.2
  .umd/index.html
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Hotfix for tooltip trigger event handlers (#3303)
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/react/tooltip.md
Due: eslint

[Patch] Add default size prop option for XUIModal - #3244 (#3309)
  .visual-testing/reference/backstop_default_XUI_Modal_size_default_0_xui-container_0_just_desktop.png
  src/react/components/modal/XUIModal.js
  src/react/components/modal/constants.js
  src/sass/settings/_layout.scss
Due: eslint, stylelint

Update version in package-lock file
  package-lock.json
Due: none

Link updates throughout the XUI Guide
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/fundamentals/_docs.layout.scss
  src/docs/fundamentals/_docs.typography.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/react/isolationheader.md
  src/react/modal.md
  src/react/textarea.md
  src/sass/objects/_datepicker.scss
  src/sass/objects/_icons.scss
  src/sass/objects/_pills.scss
  src/sass/objects/_popovers.scss
  src/sass/settings/_colors.scss
Due: stylelint

Allow for nodes to be passed in to be turned into breadcrumbs (#3288)
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.breadcrumb.md
Due: eslint

Fix to sample Dropdown autocompleter in docs
  src/react/components/dropdown/dropdown.toggled.md
Due: none

Typo fix, primarily for classes in docs, per #3248
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/react/components/dropdown/scss/_dropDown.scss
Due: stylelint

Fix bug where onBlur and onFocus events for XUITextInput are nulled
  src/react/components/textInput/XUITextInput.js
Due: eslint

Fix up some weird secondary search highlighting (#3314)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/picklist/StatefulPicklist.js
  src/react/components/picklist/__tests__/StatefulPicklist-test.js
  src/react/components/picklist/private/helpers.js
Due: eslint

Added a test case for contentblock item with rollover, and adjusted styling, after consulting with Isaac. Also some minor updates to use components in sample code.
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_everything_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.contentblock.md
  src/sass/objects/_contentblocks.scss
Due: eslint, stylelint

Revised comment on style, per CR feedback.
  src/sass/objects/_contentblocks.scss
Due: stylelint

no message
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: none

[minor] A11y fixes batch2 (#3317)
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_hidden_label_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.switches.scss
  src/react/button.md
  src/react/checkbox.md
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/button/button.split.md
  src/react/components/button/stories/stories.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/checkbox/stories/stories.js
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/react/components/dropdown/stories/stories.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/rollovercheckbox-test.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/rolloverCheckbox/stories/stories.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/XUISwitch-test.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/switch/stories/stories.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/components/toggle/stories/stories.js
  src/react/components/tooltip/stories/stories.js
  src/react/radio.md
  src/react/switch.md
  src/sass/objects/_buttons.scss
Due: eslint, stylelint

Autocompleter a11y fixes (#3328)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/dropdown/DropDownLayout.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

stub out space for the new <XUIAccordion /> component
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Accordion_basic_add_custom_name_0_rootdivdiv_0_just_desktop.png
  src/react/accordion.js
  src/react/accordion.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/stories/stories.js
  src/react/components/accordion/stories/variations.js
Due: eslint

Several small fixes related to a11y code and errors from Storybook. (#3329)
  .visual-testing/reference/backstop_default_XUI_Toast_using_XUIActions_0_rootdivdiv_0_just_desktop.png
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/radio/XUIRadio.js
  src/react/components/stepper/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/XUISwitch-test.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/toast/stories/stories.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/stories/stories.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
  src/react/stories/form-layout1/index.js
  src/react/stories/form-on-a-page/index.js
Due: eslint

change accordion Experimental flag to Deprecated (#3332)
  src/sass/objects/_accordion.scss
Due: stylelint

Add generating a codemod as part of prepack (#3336)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  README.md
  codemod/index.js
  package-lock.json
  package.json
  scripts/codemod/index.js
  scripts/prepack/index.js
Due: none

Remove codemod folder that was mistakenly added (#3338)
  .gitignore
  codemod/index.js
Due: none

Move xuishift to being imported via artifactory (#3342)
  package-lock.json
  package.json
  scripts/codemod/index.js
Due: none

[minor] Calculate modal top offset pixel amount and set state to that, issue #1671 (#3334)
  src/react/components/modal/XUIModal.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/stories/dropdown-in-modal/index.js
Due: eslint

[minor] Updated footer pickitem actions to be Xero blue. Issue #3310 (#3339)
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_large_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xlarge_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_when_open_shows_drawer_0_xui-container_0_just_desktop.png
  src/react/autocompleter.md
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/dropdown/DropDownFooter.js
  src/react/components/dropdown/__tests__/DropDownFooter-test.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownFooter-test.js.snap
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/stories/stories.js
  src/react/stories/statefulpicklist-infiniteloop/index.js
  src/sass/objects/_navigation.picklist.scss
Due: eslint, stylelint

add base scaffold for bar graph
  .styleguidist/sections.json
  src/react/barchart.js
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
Due: eslint

port CodeSandbox POC into Styleguidest scaffold
  src/react/barchart.js
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/getGroupPosition.js
  src/react/components/chart/helpers/index.js
Due: eslint

refactor mount / update hooks to be more robust
  src/react/components/chart/XUIBarChart.js
Due: eslint

add Victory NPM dependancy
  package-lock.json
  package.json
Due: none
