Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

Revert "[minor][noRef] Sync patch -> minor (#5786) (#5787)" (#5788)
  .styleguidist/sections.json
  package-lock.json
  src/react/components/tag/XUITag.d.ts
  src/react/components/tag/XUITag.js
Due: eslint, prettier --check

Revert "[minor][noRef] Sync patch -> minor (#5786)" (#5790)
  .styleguidist/sections.json
  package-lock.json
  src/react/components/tag/XUITag.d.ts
  src/react/components/tag/XUITag.js
Due: eslint, prettier --check

[patch] [XUI-2530] Add XUI Docs Kotlin configuration (#5753)
  .gitignore
  .teamcity/.gitignore
  .teamcity/README.md
  .teamcity/buildTypes/BuildDocs.kt
  .teamcity/pipeline.png
  .teamcity/pom.xml
  .teamcity/settings.kts
  README.md
Due: prettier --check

[minor] [noref] Update version numbers and package-lock for 19.1.0 (#5795)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] [XUI-2720] Add best practice to Fundamentals page in Guide (#5791)
  .kss/builder/extend/landingpage.js
  .kss/builder/index.hbs
  src/docs/fundamentals/_fundamentals.scss
  src/docs/index.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] Cleaning out XUI 19 related stuff in BC to get ready for XUI 20 (#5803)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
Due: eslint, prettier --check

XUI-2775 Remove mentions of DHR from Labs docs (#5804)
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
Due: stylelint, prettier --check

XUI-2812 Types fix for Picklist (#5805)
  src/react/components/picklist/XUIPicklist.d.ts
Due: eslint, prettier --check

[Patch][XUI-2756] Fix bug that prevents users from clearing dateinput input (#5794)
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/dateinput.md
Due: eslint, prettier --check

[patch] [XUI-2720] Add customising XUI page to Guide (#5789)
  .kss/builder/kss-assets/fundamentals-images/customising-xui-image.svg
  .kss/builder/kss-assets/fundamentals-images/visual-language-image.svg
  src/docs/contributing-to-xui/xui-labs/examples/_xui-labs-versioning-table.html
  src/docs/getting-started/_customising-xui.scss
  src/docs/getting-started/examples/_customising-xui-figma-tree.html
Due: stylelint, prettier --check

XUI-2827 Update dependency to latest xuishift (#5815)
  package-lock.json
  package.json
Due: prettier --check

[Patch] Fix issue with babel subdependencies blocking building using Node 10 (#5816)
  babel.config.js
  package-lock.json
Due: eslint, prettier --check

[patch] XUI 19.1.1 release: package-lock rebuild and version bump (#5822)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[Patch] 19.1.1 release: Fix babel issue blocking 19.1.1 release (#5825)
  babel.config.js
Due: eslint, prettier --check

[XUI-2781] Update date input content (#5818)
  src/docs/components/collecting-input/_dateinputs.scss
Due: stylelint, prettier --check

[patch] XUI-2824 Updating XUI Guide content for XUIDropdown. (#5801)
  src/docs/components/collecting-input/_dropdowns-nested.scss
  src/docs/components/collecting-input/_dropdowns.scss
Due: stylelint, prettier --check

[patch][XUI-2781] Content updates for Intro banner (#5810)
  src/docs/components/alerts/_introbanners.scss
Due: stylelint, prettier --check

[patch][xui-2781] - updating the content for page header (#5824)
  src/docs/components/navigation/_page-headers.scss
Due: stylelint, prettier --check

[patch][XUI-2813] Content updates for button (#5811)
  src/docs/components/alerts/_banners.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/identifiers/_pills.scss
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/_pagination.scss
  src/docs/fundamentals/_typography.scss
  src/docs/patterns/_page-level-actions.scss
  src/react/modal.md
Due: stylelint, prettier --check

[minor] XUI-2759 XUIFilePreview component (#5814)
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_File_Preview_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Preview_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_File_Preview_in_a_side_container_just_desktop.png
  src/docs/components/displaying-data/_file-preview.scss
  src/react/components/filepreview/XUIFilePreview.d.ts
  src/react/components/filepreview/XUIFilePreview.js
  src/react/components/filepreview/XUIFilePreviewFooter.d.ts
  src/react/components/filepreview/XUIFilePreviewFooter.js
  src/react/components/filepreview/XUIFilePreviewHeader.d.ts
  src/react/components/filepreview/XUIFilePreviewHeader.js
  src/react/components/filepreview/__tests__/XUIFilePreview-test.js
  src/react/components/filepreview/__tests__/XUIFilePreviewFooter-test.js
  src/react/components/filepreview/__tests__/XUIFilePreviewHeader-test.js
  src/react/components/filepreview/__tests__/__snapshots__/XUIFilePreview-test.js.snap
  src/react/components/filepreview/__tests__/__snapshots__/XUIFilePreviewFooter-test.js.snap
  src/react/components/filepreview/__tests__/__snapshots__/XUIFilePreviewHeader-test.js.snap
  src/react/components/filepreview/stories/helpers/ExampleFooter.js
  src/react/components/filepreview/stories/stories.js
  src/react/components/filepreview/stories/variations.js
  src/react/filepreview.md
  src/react/filepreview.ts
  src/sass/7-components/_filepreview.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

fixes broken starter file links (#5833)
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
Due: stylelint, prettier --check

[master] [XUI-2771] Migrate PR Builds to Kotlin (#5809)
  .teamcity/buildTypes/PRBuild.kt
  .teamcity/buildTypes/VisRegTest.kt
  .teamcity/settings.kts
Due: none

[patch][xui-2842] Content updates to the Accordion component page (#5826)
  src/docs/components/displaying-data/_accordions.scss
Due: stylelint, prettier --check

[patch] [xui-2844] Content changes for Select component page (#5832)
  src/docs/components/controls/_selects.scss
Due: stylelint, prettier --check

[patch][XUI-2781] Content updates for Tooltip (#5812)
  src/docs/components/alerts/_tooltips.scss
  src/docs/components/controls/_buttons.scss
Due: stylelint, prettier --check

[patch][XUI-2831] Content updates for Toast 🍞 (#5831)
  src/docs/components/alerts/_toasts.scss
Due: stylelint, prettier --check

[noref] Remove `Tips:` object from when to use (#5844)
  src/docs/components/alerts/_tooltips.scss
Due: stylelint, prettier --check

[minor] XUI-2662 XUIFilePreview KSS docs (#5842)
  .kss/builder/kss-assets/file-preview-images/preview-layouts.png
  .kss/builder/kss-assets/file-preview-images/receipt-example.png
  .styleguidist/sections.json
  src/docs/components/displaying-data/_file-preview.scss
  src/docs/components/displaying-data/examples/file-preview/_file-preview-narrow.html
  src/docs/components/displaying-data/examples/file-preview/_file-preview.html
  src/react/filepreview.md
  src/sass/7-components/_filepreview.scss
Due: stylelint, prettier --check

[patch][xui-2857] Updates to checkbox component page (#5840)
  src/docs/components/controls/_checkboxes-rollover.scss
  src/docs/components/controls/_checkboxes.scss
Due: stylelint, prettier --check

[patch][XUI-2781-MobbingOnBanner] - Content updates for Banner component page (#5813)
  src/docs/components/alerts/_banners.scss
Due: stylelint, prettier --check

[noref] Adjust PR Trigger (#5846)
  .teamcity/buildTypes/PRBuild.kt
  .teamcity/buildTypes/VisRegTest.kt
Due: none

[patch] [xui-2863] Content changes to radio (#5841)
  src/docs/components/controls/_radios.scss
Due: stylelint, prettier --check

[patch] [xui-2861] Content changes to datepicker component page (#5845)
  src/docs/components/collecting-input/_dateinputs.scss
  src/docs/components/collecting-input/_datepickers.scss
Due: stylelint, prettier --check

[Patch][XUI-2821] Add visual example support to KSS docs (#5839)
  .kss/builder/extend/components.js
  .kss/builder/index.hbs
  .kss/scss/example.scss
  scripts/build/kss/config.json
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/examples/button/_button-visual-example.html
Due: eslint, stylelint, prettier --check

[patch][xui-2864] Content change to search page (#5850)
  src/docs/components/collecting-input/_search.scss
Due: stylelint, prettier --check

XUI-2885 Update examples of strings as props (#5856)
  src/react/components/editabletable/editabletable.celltypes.md
  src/react/components/editabletable/editabletable.foot.md
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.row.md
Due: prettier --check

[XUI-2781] Content updates for date input (#5854)
  src/docs/components/collecting-input/_dateinputs.scss
Due: stylelint, prettier --check

[patch]Xui 2880 table (#5857)
  src/docs/components/displaying-data/_tables.scss
Due: stylelint, prettier --check

[patch][xui-2862] update modal (#5851)
  src/docs/components/collecting-input/_modals.scss
Due: stylelint, prettier --check

[patch][xui-2877] Content changes to isolation header (#5855)
  src/docs/components/navigation/_isolation-headers.scss
Due: stylelint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
