Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

add finalised bar chart documentation with examples
  src/sass/objects/_barchart.scss
Due: stylelint

13.4.0
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Addresses destructuring comments
  src/react/components/accordion/XUIAccordion.js
Due: eslint

Adds new story variations
  src/react/components/accordion/stories/variations.js
Due: eslint

accordion | update composition to reflect APIs reduced verbosity
  src/react/components/accordion/customElements/EmptyState.js
Due: eslint

accordion | add item click callback with appropriate args
  src/react/accordion.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
Due: eslint

accordion | rename classNames based on new module naming convention
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/accordion/customElements/EmptyState.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

accordion | namespace accordion specific classNames
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/accordion/customElements/EmptyState.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

accordion | point viewport helpers to the global XUI references
  src/react/components/accordion/private/helpers.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

accordion | remove mixins / static measurements / redundant components
  src/react/accordion.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/EmptyState.js
  src/react/components/accordion/stories/variations.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

accordion | update snapshots to reflect css className changes
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/AccordionWrapper-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
Due: none

Fixes a sometimes focus bug and sets up a better storybook test for keyboard nav (#3505)
  src/react/components/modal/XUIModal.js
  src/react/components/modal/stories/stories.js
Due: eslint

accordion | amend caret className and Safari :focus issue
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

accordion | address margins based on projects conversation
  src/react/accordion.md
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/stories/stories.js
  src/react/components/accordion/stories/variations.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

Fix retainFocus battle between dropdown and modal
  src/react/components/modal/XUIModal.js
Due: eslint

accordion | add Storybook playground
  src/react/components/accordion/stories/stories.js
Due: eslint

Core tooltip updates for inline overflow cropping
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
  src/sass/objects/_usermessaging.tooltip.scss
Due: eslint, stylelint

Block wrapped fix
  .visual-testing/reference/backstop_default_XUI_Tooltip_inline_with_text_0_rootdivdivdiv_0_just_desktop.png
  src/react/components/tooltip/XUITooltip.js
  src/sass/objects/_usermessaging.tooltip.scss
Due: eslint, stylelint

Update xui-icon dependecy to 6.0.0-alpha.5 (#3507)
  package-lock.json
  package.json
Due: none

Fix icon xlarge size variant and add iconwrapper size variant classes
  src/react/components/icon/__tests__/__snapshots__/XUIIcon-test.js.snap
  src/react/components/icon/private/constants.js
  src/sass/7-components/_icons.scss
Due: eslint, stylelint

accordion | add React documentation and minor layout tweaks
  .styleguidist/sections.json
  src/react/accordion.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/EmptyState.js
  src/react/components/accordion/stories/stories.js
  src/react/components/accordion/stories/variations.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

accordion | update snapshots based on API / layout updates
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
Due: eslint

accordion | add visual screenshots
  .visual-testing/reference/backstop_default_XUI_Accordion_accordion_tab_composition_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_basic_accordion_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_0_just_desktop.png
Due: none

Updates per code review
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
Due: eslint

Update outdated screenshots on breaking-changes
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Matched_to_Trigger_Width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_NestedDropDown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_a_DatePicker_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_maxHeight_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_boxed_with_a_set_height_and_width_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_sizes_0_capture_0_just_desktop.png
Due: none

accordion | address chores before merge into minor
  .visual-testing/reference/backstop_default_XUI_Accordion_basic_add_custom_name_0_rootdivdiv_0_just_desktop.png
  src/sass/objects/_accordion.new.scss
Due: stylelint

adds accordion documentation and examples
  src/sass/objects/_accordion.scss
Due: stylelint

accordion | invert margin left / right on the accordion custom nodes in storybook playground
  src/react/components/accordion/stories/stories.js
Due: eslint

adds accordion docs and examples
  src/sass/objects/_accordion.scss
Due: stylelint

accordion | final design tweaks around spacing
  .visual-testing/reference/backstop_default_XUI_Accordion_basic_accordion_0_rootdivdiv_0_just_desktop.png
  src/react/components/accordion/stories/stories.js
  src/sass/objects/_accordion.new.scss
Due: eslint, stylelint

adds updates for 13.4.0 to docs
  src/docs/_docs.updates.scss
Due: stylelint

toast | revise box model to allow refined action(s) layout
  src/react/components/toast/stories/variations.js
  src/sass/7-components/_usermessaging.toasts.scss
Due: eslint, stylelint

Bug fixes for small items found while testing inputs
  src/react/autocompleter.md
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/switch.md
  src/react/textinput.md
Due: eslint

Enhancement and cleanup of stories and docs for better interactivity in testing
  src/react/components/autocompleter/stories/stories.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/datepicker/stories/stories.js
  src/react/components/radio/stories/stories.js
  src/react/components/radio/stories/variations.js
  src/react/components/rolloverCheckbox/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/switch/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/datepicker.md
  src/react/stories/form-on-a-page/index.js
Due: eslint

Fix native select caret alignment (#3539)
  src/sass/7-components/_forms.selects.scss
Due: stylelint

toast | Standardise line-height for vertical alignment between actions and message
  src/sass/7-components/_usermessaging.toasts.scss
Due: stylelint

A11y fixes for docs examples
  src/react/autocompleter.md
  src/react/components/banner/banner.action.md
  src/react/components/button/__tests__/__snapshots__/XUIButton-test.js.snap
  src/react/components/dropdown/dropdown.toggled.md
  src/react/components/loader/XUILoader.js
  src/react/components/picklist/picklist.nested.md
  src/react/components/picklist/picklist.stateful.md
  src/react/components/radio/radio.group.md
  src/react/components/structural/structural.breadcrumb.md
  src/react/components/structural/structural.contentblock.md
  src/react/components/structural/structural.pageheader.md
  src/react/components/structural/structural.panel.md
  src/react/isolationheader.md
  src/react/picklist.md
  src/react/progressindicator.md
  src/react/radio.md
  src/react/rollovercheckbox.md
  src/react/textinput.md
  src/react/toggle.md
  src/react/tooltip.md
Due: eslint

Additional a11y updates to the React docs page
  .styleguidist/components/TableOfContents.js
  .styleguidist/template.html
Due: none

toast | update visual regression images
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_as_props_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_using_XUIActions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_an_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_long_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_medium_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_small_actions_0_rootdivdiv_0_just_desktop.png
Due: none

Toast | fix the recursion layout in the message maximum width
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_usermessaging.toasts.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
