Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[editable] Found and fixed minor typo.
  src/sass/1-vars/_colors.scss
Due: stylelint, prettier --check

[XUI-1085] Remove redundant margin from XUIBanner (#4725)
  src/sass/7-components/_usermessaging.banners.scss
Due: stylelint, prettier --check

[patch] XUI-1077 Dropdown in mobile format not unlocking scroll when unloading (#4727)
  src/react/components/dropdown/DropDown.js
Due: eslint

Fix Styleguidist for IE 11 (#4729)
  .styleguidist/components/Section.js
  .styleguidist/config.js
  package-lock.json
  package.json
Due: eslint, prettier --check

Bump version to 16.2.3 (#4731)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

16.2.3 hotfix (#4734)
  package-lock.json
  package.json
Due: prettier --check

[XUI-1118] Add disabled state cell examples to helper
  src/react/components/editabletable/stories/helpers.js
Due: eslint

[XUI-1118] Add an extra row to displayed stories to enable the new disabled state examples to be shown.
  src/react/components/editabletable/stories/stories.js
Due: eslint

XUI-1124 typo fix (#4733)
  src/docs/fundamentals/_typography.scss
Due: stylelint, prettier --check

[FIX] Remove workaround in Styleguidist sidebar (#4740)
  .styleguidist/components/ComponentsList.js
Due: eslint

[XUI-1118] Nesting editable table cell styles, to ensure that for selectbox in normal and disabled states reflect the editable table cell styles.
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

Fix XUIPageHeader's breadcrumb props (#4743)
  src/react/components/pageheader/XUIPageHeader.d.ts
Due: eslint

XUI-1117 React docs for Editable table. (#4717)
  .styleguidist/sections.json
  src/react/editabletable.md
Due: prettier --check

[STYLE] Style headings (#4726)
  src/react/components/editabletable/XUIEditableTableHeadingCell.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHeadingCell-test.js.snap
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[editable] XUI-1120 Make editable table accessible (#4745)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableHeadingCell.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableHeadingCell-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHeadingCell-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/editabletable.md
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[XUI-1118] Update mixin names.
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[XUI-1118] Ensure that box-shadow effect is only applied on hover when a cell is not in a `isDisabled` state.
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[XUI-1118] Ensure that console log function in story example is more appropriate.
  src/react/components/editabletable/stories/helpers.js
Due: eslint

[minor] XUI-903 Accessibility improvements for XUITable (#4730)
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/displaying-data/examples/table/_table-actions.html
  src/docs/components/displaying-data/examples/table/_table-avatars.html
  src/docs/components/displaying-data/examples/table/_table-body.html
  src/docs/components/displaying-data/examples/table/_table-link-single.html
  src/docs/components/displaying-data/examples/table/_table-overflow.html
  src/docs/components/displaying-data/examples/table/_table-sortable.html
  src/docs/components/displaying-data/examples/table/_table.html
  src/react/components/table/XUITable.d.ts
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/GenericCell.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/stories/stories.js
  src/react/table.md
  src/sass/7-components/_table.scss
Due: eslint, stylelint, prettier --check

[editable] Add select-all-on-focus for TextInput cells (#4750)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
Due: eslint

Version bump for 16.2.3-editable.1 (#4752)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[editable] A few updates around autocompleterCell (#4754)
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellReadOnly-test.js
  src/react/components/editabletable/stories/helpers.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[editable] XUI-1061 Adding overflow shadow (#4747)
  .visual-testing/reference/backstop_default_XUI_Editable_Table_responsive_0_rootdivdiv_0_just_desktop.png
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[XUI-1092] Disambiguate links to component writing guide (#4758)
  .kss/builder/index.hbs
  src/docs/patterns/_text.scss
Due: stylelint, prettier --check

[STYLE] Silence Stylelint errors
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[STYLE] Unify heading cell styles
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[patch] [XUI-126] Refactor build scripts to use async/await and direct requires (#4757)
  scripts/build/babel.js
  scripts/build/cssmin/index.js
  scripts/build/cssmin/private/minify.js
  scripts/build/index.js
  scripts/build/kss.js
  scripts/build/kss/index.js
  scripts/build/kss/tmp.js
  scripts/build/postcss/doPostCss.js
  scripts/build/postcss/kss.js
  scripts/build/postcss/tokens.js
  scripts/build/postcss/xui.js
  scripts/build/sass/compileSass.js
  scripts/build/storybook.js
  scripts/build/styleguidist.js
  scripts/build/typescript.js
  scripts/build/umd_webpack.js
  scripts/build/xui.js
  scripts/check-engines/index.js
  scripts/clean/css.js
  scripts/clean/dist.js
  scripts/clean/docs.js
  scripts/clean/private/cleanDir.js
  scripts/clean/react.js
  scripts/clean/sass.js
  scripts/clean/src_react_umd.js
  scripts/clean/src_sass_tmp.js
  scripts/clean/umd_assets.js
  scripts/helpers.js
  scripts/release/index.js
  scripts/release/package-lock-update.js
  scripts/start/index.js
  scripts/test/index.js
  scripts/test/visual.js
  scripts/update-versions/index.js
  scripts/watch/kss.js
Due: eslint

Add IDs to popover story (#4761)
  src/react/components/popover/stories/stories.js
Due: eslint

[minor] File uploader XUI Guide docs copy edits (#4746)
  src/docs/components/controls/_file-uploader.scss
Due: stylelint, prettier --check

[minor] XUI-1102 Popover docs (#4756)
  src/docs/components/alerts/_popovers.scss
  src/docs/components/alerts/examples/popover/_popover-anatomy.html
  src/docs/components/alerts/examples/popover/_popover-dismissable.html
  src/docs/components/alerts/examples/popover/_popover-onboarding.html
  src/docs/components/alerts/examples/popover/_popover-responsive.html
  src/docs/components/alerts/examples/popover/_popover-size-variants.html
  src/docs/components/alerts/examples/popover/_popover-supporting-information.html
  src/docs/components/alerts/examples/popover/_popover.html
Due: stylelint, prettier --check

Version bump for 16.3.0 (#4763)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[patch] XUI-969 Added named exports for components exported as default. (#4762)
  changes.md
  src/react/accordion.ts
  src/react/autocompleter.ts
  src/react/avatar.ts
  src/react/banner.ts
  src/react/button.ts
  src/react/capsule.ts
  src/react/checkbox.ts
  src/react/datepicker.ts
  src/react/dropdown.ts
  src/react/icon.ts
  src/react/illustration.ts
  src/react/isolationheader.ts
  src/react/loader.ts
  src/react/modal.ts
  src/react/pageheader.ts
  src/react/panel.ts
  src/react/picklist.ts
  src/react/pill.ts
  src/react/progressindicator.ts
  src/react/radio.ts
  src/react/range.ts
  src/react/rollovercheckbox.ts
  src/react/select-box.ts
  src/react/stepper.ts
  src/react/switch.ts
  src/react/table.ts
  src/react/tag.ts
  src/react/textinput.ts
  src/react/toast.ts
  src/react/toggle.ts
  src/react/tooltip.ts
Due: eslint, prettier --check

Add DropDownPanel type definition for highlightInitial (#4767)
  src/react/components/dropdown/DropDownPanel.d.ts
Due: eslint

Updates to stories to be more realistic and useful for design (#4769)
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

[patch] XUI-966 Investigate handleSpacebarAsClick in XUIButton (#4770)
  src/react/components/banner/__tests__/__snapshots__/XUIBannerAction-test.js.snap
  src/react/components/button/XUIButton.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastAction-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
Due: eslint

Set input and select bgs to transparent (#4768)
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[editable] XUI-1061 Border fixes after adding responsive overflow. (#4760)
  .visual-testing/reference/backstop_default_XUI_Editable_Table_Default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_narrow_in_wide_container_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_narrow_table_with_default_display_in_wide_container_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_narrow_table_with_narrow_display_in_wide_container_0_rootdivdiv_0_just_desktop.png
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCellIconButton.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/stories/variations.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check
