Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

[breaking-changes] Better composition storybook stories
  src/react/components/compositions/XUIGridAreaMasterPanelDropdown.js
  src/react/components/compositions/stories/content-block.js
  src/react/components/compositions/stories/form.js
  src/react/components/compositions/stories/header.js
  src/react/components/compositions/stories/stories.js
  src/react/components/compositions/stories/summary.js
  src/react/components/structural/XUIActions.js
  src/sass/2-mixins/_layout.breakpoints.scss
  src/sass/2-mixins/_layout.grids.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/7-components/_dropdown.scss
  src/sass/99-utils/_marginpadding.scss
  src/sass/99-utils/_utilities.scss
Due: eslint, stylelint

Fix up with some design updates
  src/react/components/compositions/stories/content-block.js
  src/react/components/compositions/stories/header.js
  src/react/components/compositions/stories/stories.js
Due: eslint

[Breaking-changes] Pill updates (#4108)
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_pills.scss
Due: stylelint

Revert dropdown changes - fix minor variable bug
  src/react/components/compositions/stories/stories.js
  src/sass/7-components/_dropdown.scss
Due: eslint, stylelint

[breaking-changes] XUI-190 Stepper updates for max-width and truncation (#4115)
  .visual-testing/reference/backstop_default_XUI_Stepper_extra_long_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_button_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_standard_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_progress_button_combinations_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_sidebar_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_sidebar_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_sidebar_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_with_wrapping_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/stepper/XUIStepper.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/customElements/StepperTab.js
  src/react/components/stepper/stories/stories.js
  src/react/components/stepper/stories/variations.js
  src/sass/7-components/_stepper.scss
Due: eslint, stylelint

[breaking-changes] re-instate page-width and deprecate for 15
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

Placeholder text for the upgrade note
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

Add a note to changes.md too
  changes.md
Due: none

add new size varants to dropdown
  .kss/scss/cards.scss
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Matched_to_Trigger_Width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_NestedDropDown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_xsmall_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_large_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xlarge_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_truncation_in_narrow_list_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_wrapping_in_narrow_list_0_rootdivdiv_0_just_desktop.png
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownLayout.js
  src/react/components/dropdown/private/constants.js
  src/react/components/dropdown/stories/stories.js
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_modals.scss
Due: eslint, stylelint

adds docs additions to autocompleter
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
Due: stylelint

Revert size changes and alter to better enhance stories
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/react/components/compositions/stories/README.md
  src/react/components/compositions/stories/header.js
  src/react/components/compositions/stories/stories.js
  src/react/components/compositions/stories/summary.js
  src/sass/2-mixins/_layout.grids.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/7-components/_gridarea-paneldropdown.scss
Due: eslint, stylelint

Remove this, not needed any more
  src/sass/2-mixins/_layout.breakpoints.scss
Due: stylelint

Update package-lock file
  package-lock.json
Due: none

Add deprecated to this layout experience
  src/docs/building-blocks/_docs.page-header.scss
Due: stylelint

[breaking-changes] Release Beta.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Page width size changes https://jira.teamxero.com/browse/XUI-393
  .visual-testing/reference/backstop_default_Components_in_Components_Form_Layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/fundamentals/_docs.layout.scss
  src/sass/1-vars/_structure.scss
Due: stylelint

Add a vertical lockLayout option to XUIStepper so teams can limit to vertical/stacked (#4117)
  src/react/components/stepper/XUIStepper.js
Due: eslint

update codemod and vis reg images
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_xsmall_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Matched_to_Trigger_Width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_xsmall_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
Due: none

Updated based on conversation in Standup
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

Changes.md
  changes.md
Due: none

Fix up whitespace
  changes.md
Due: none

Updates to changes.md for flex utilities documentation (#4122)
  changes.md
Due: none

update guide and docs with new size names & values + changes.md
  changes.md
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/react/components/dropdown/DropDown.js
Due: eslint, stylelint

single and multi-select docs
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
Due: stylelint

adds secondary search autocompleter docs
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
Due: stylelint

[breaking-changes] [tooling] Fixes up postcss errors on command line
  scripts/build/kss/tmp.js
Due: none

Added hint and validation messages to existing React examples XUI-391 (#4126)
  src/react/autocompleter.md
  src/react/checkbox.md
  src/react/components/checkbox/checkbox.group.md
  src/react/components/radio/radio.group.md
  src/react/components/switch/switch.group.md
  src/react/radio.md
  src/react/select-box.md
  src/react/switch.md
  src/react/toggle.md
Due: none

typos and whitespace edits
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
Due: stylelint

Updated Switch markup in prep for sizing (#4128)
  changes.md
  src/docs/building-blocks/_docs.switches.scss
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/sass/7-components/_forms.switch.scss
Due: eslint, stylelint

removal of xlarge reference images and stories with xlarge dropdowns + minor updates to modal and dropdown min-width values
  .codemod/classReplacements.js
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_NestedDropDown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xlarge_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_truncation_in_narrow_list_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_wrapping_in_narrow_list_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_modals.scss
Due: stylelint

sizing updates to autocompleter and nested dropdown incl stories and tests
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/variations.js
  src/react/components/dropdown/NestedDropDown.js
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
Due: eslint

more sizing updates to consumers of dropdown
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/dropdown/DropDownLayout.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/picklist/stories/variations.js
Due: eslint

replace hardcoded width value with dropdown width variable
  .kss/scss/cards.scss
Due: none

Updated Columns, Rows, and Compositions to share the existing grid-gutter var (#4129)
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_With_a_grid_variant_0_rootdivdiv_0_just_desktop.png
  src/sass/2-mixins/_layout.grids.scss
  src/sass/99-utils/_grid.scss
Due: stylelint

[breaking-changes] XUI-391 Additional validation examples for the Guide + group class cleanup (#4125)
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/switch/XUISwitchGroup.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggle-test.js.snap
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
Due: eslint, stylelint

add hyphen to codemod class transform
  .codemod/classReplacements.js
Due: none

import fixedWidthDropdownSizes to reduce repetition of size range
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/stories/variations.js
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownLayout.js
  src/react/components/dropdown/NestedDropDown.js
Due: eslint

add xsmall vis reg for auto completer + another dropdown one
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xsmall_dropdown_0_xui-container_0_just_desktop.png
Due: none

xlarge -> large, large -> medium, medium -> small size shifts
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/react/datepicker.md
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_datepicker.scss
Due: stylelint

fix name change and tidy up import
  src/react/components/autocompleter/stories/stories.js
  src/react/components/autocompleter/stories/variations.js
Due: eslint
