Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Bring forward change from 12.2.2
  src/sass/objects/_avatars.groups.scss
Due: stylelint

Add guard to modal node when restricting focus (#2984) (#3025)
  src/react/components/modal/XUIModal.js
Due: eslint

Updated dropdown datepicker test with settings to better reflect a true implementation (#3030)
  src/react/components/dropdown/stories/variations.js
Due: eslint

Isolation mode: remove inverted style and button wrapper; React docs (#3032)
  package.json
  src/react/components/button/XUIButton.js
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/XUIIsolationHeaderButton.js
  src/react/components/isolationheader/XUIIsolationHeaderNavigation.js
  src/react/components/isolationheader/XUIIsolationHeaderSecondaryTitle.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/react/isolationheader.js
  src/react/isolationheader.md
  src/sass/objects/_isolationheader.scss
  src/sass/trumps/_utilities.scss
  styleguide/sections.json
Due: eslint, stylelint

[master] Nested modals - a test, a fix, and some storybook cleanup (#3028)
  src/react/components/helpers/lockScroll.js
  src/react/stories/modal-in-modal/README.md
  src/react/stories/modal-in-modal/index.js
  src/react/stories/statefulpicklist-infiniteloop/index.js
  src/react/stories/tests.js
Due: eslint

Fix some of the problems from earlier merge from master (#3035)
  package-lock.json
  src/docs/working-with-xui/_docs.developers.scss
  src/sass/objects/_navigation.picklist.scss
  umd/index.html
  visual-testing/reference/backstop_default_Compositions_Dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_Compositions_Form_layout_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_Compositions_Form_on_a_page_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Avatar_grouped_avatars_many_sizes_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Avatar_grouped_avatars_many_sizes_business_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Avatar_with_image_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_completion_alert_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_hard_error_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_icon_hard_error_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_grow_layout_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_hard_error_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_overflow_standard_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_segments_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_soft_error_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_color_combinations_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_grow_layout_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_overflow_segments_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_overflow_standard_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_segments_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_0_xui-container_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_borderless_input_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_default_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_isDisabled_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_a_label_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_a_label_and_maxCharacters_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_default_value_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_hint_message_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_lots_of_rows_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_maxCharacters_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_min_rows_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_validation_message_and_invalid_0_rootdivdiv_0_just_desktop.png
Due: stylelint

Merge master into breaking-changes (#3036)
  src/react/components/dropdown/stories/variations.js
  src/react/components/helpers/lockScroll.js
  src/react/stories/modal-in-modal/README.md
  src/react/stories/modal-in-modal/index.js
  src/react/stories/statefulpicklist-infiniteloop/index.js
  src/react/stories/tests.js
Due: eslint

Remaining backstop screenshot updates to breaking-changes (#3038)
  visual-testing/reference/backstop_default_XUI_Textarea_read_only_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Textarea_with_max_rows_0_rootdivdiv_0_just_desktop.png
Due: none

Isolation mode stories (#3037)
  src/react/components/input/stories/variations.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/isolationheader/stories/variations.js
  src/react/isolationheader.md
  src/sass/objects/_isolationheader.scss
  visual-testing/index.js
  visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_only_0_rootdivdiv_0_just_desktop.png
Due: eslint, stylelint

Likely bug fix for more min-height IE scenarios. #3014 (#3040)
  src/sass/objects/_contentblocks.scss
  src/sass/objects/_navigation.picklist.scss
  src/sass/objects/_navigation.subapp.scss
Due: stylelint

Fix up title wording for storybook playground
  src/react/components/isolationheader/stories/stories.js
Due: eslint

Update changes.md (#3041)
  changes.md
Due: none

Add title attribute to iso header titles; update changes.md
  changes.md
  src/react/components/isolationheader/XUIIsolationHeaderSecondaryTitle.js
  src/react/components/isolationheader/XUIIsolationHeaderTitle.js
  src/react/components/isolationheader/__tests__/XUIIsolationHeader-test.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
Due: eslint

fix XUIModal._restrictFocus method (#3043)
  src/react/components/modal/XUIModal.js
Due: eslint

[breaking-changes] Feature: Generic Table (#3024)
  package-lock.json
  package.json
  src/react/components/table/XUITable.js
  src/react/components/table/XUITableCell.js
  src/react/components/table/XUITableColumn.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/table-test.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/TableAlert.js
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/constants.js
  src/react/components/table/helpers/utilities.js
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/react/table.js
  src/react/table.md
  src/sass/objects/_contentblocks.scss
  src/sass/settings/_borders.scss
  styleguide/sections.json
  visual-testing/index.js
  visual-testing/reference/backstop_default_XUI_Table_basic_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_checkbox_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_header___footer_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_loading_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_no_header_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_overflow_menu_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_pinned_actions_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_responsive_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_truncation_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_widths_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
Due: eslint, stylelint

[breaking-changes] Feature: Progress Tooltip (#3045)
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/__tests__/progressindicator-test.js
  src/react/components/progressindicator/customElements/ProgressToolTip.js
  src/react/components/progressindicator/customElements/ProgressWrapper.js
  src/sass/objects/_progressindicator.scss
Due: eslint, stylelint

Just needs a version bump
  package.json
Due: none

Modify Checkbox & Radio docs to give better uncontrolled & controlled examples (#3055)
  src/react/checkbox.md
  src/react/radio.md
Due: none

Naming and efficiency updates per CR
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIRow.js
  src/react/components/structural/stories/stories.js
Due: eslint

Added rows and columns as React components with backstop tests
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIRow.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/private/constants.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  visual-testing/index.js
  visual-testing/reference/backstop_default_Structural_With_a_flex_variant_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_Structural_With_a_grid_variant_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_Structural_With_a_standard_variant_0_rootdivdiv_0_just_desktop.png
Due: eslint

Fix whitespace and broken tests from prop name changes
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/stories/variations.js
Due: eslint

Rewritten as functinal components
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIRow.js
Due: eslint

Updated typing for column widths, per code review
  src/react/components/structural/XUIColumn.js
Due: eslint

Added a11y plugin to storybook (#3049)
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: none

Fix bugs in text input examples (#3052)
  src/react/textInput.md
Due: none

Updated package-lock for new core-js and backstop versions
  package-lock.json
Due: none

Undo breaking changes in breaking-changes
  src/react/components/progressindicator/helpers/enrichprops.js
  src/sass/objects/_forms.scss
  src/sass/objects/_forms.textinputs.scss
  src/sass/objects/_progressindicator.scss
  src/sass/objects/_typography.utilities.scss
  src/sass/objects/_usermessaging.tooltip.scss
  src/sass/tools/_mixins.components.scss
  src/sass/tools/_mixins.typography.scss
Due: eslint, stylelint

Move flex:1 from xui-input-base to xui-textinput--input (#3065)
  src/sass/objects/_forms.textinputs.scss
  src/sass/tools/_mixins.components.scss
Due: stylelint

white-list transition properties (#3062)
  src/sass/objects/_steps.scss
Due: stylelint

Minor CSS fixes (#3067)
  src/sass/objects/_progressindicator.scss
  src/sass/tools/_mixins.components.scss
Due: stylelint

Naming TODOs
  src/sass/objects/_progressindicator.scss
Due: stylelint

XUI component namespacing part 1
  .storybook/welcome.js
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/constants.js
  src/react/components/banner/XUIBanner.js
  src/react/components/banner/XUIBannerAction.js
  src/react/components/banner/XUIBannerActions.js
  src/react/components/banner/XUIBannerMessage.js
  src/react/components/banner/XUIBannerMessageDetail.js
  src/react/components/banner/private/sentiments.js
  src/react/components/helpers/__tests__/xuiClassNamespace-test.js
  src/react/components/helpers/xuiClassNamespace.js
Due: eslint

move input from child to header section (#3070)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

Autocompleter class namespacing
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterInput.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

[breaking-changes] Added documentation for columns and rows (#3072)
  src/docs/fundamentals/_docs.layout.scss
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.row.md
  src/react/structural.js
  src/react/structural.md
  styleguide/sections.json
Due: eslint, stylelint

Docs/side navigation (#3071)
  kss/builder/extend/menu.js
  kss/builder/index.hbs
  kss/scss/mixins.scss
  kss/scss/redesign.scss
  kss/scss/style.scss
Due: none

Button class namespacing
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIButtonCaret.js
  src/react/components/button/XUIButtonGroup.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/private/constants.js
Due: eslint

Add Pageheader, Breadcrumb, and Actions
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/XUIActions.js
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/XUIPageheader.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.actions.md
  src/react/components/structural/structural.breadcrumb.md
  src/react/components/structural/structural.pageheader.md
  src/react/structural.js
  src/sass/objects/_navigation.subapp.scss
  styleguide/sections.json
  styleguide/styles.scss
  visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumbs_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_Structural_pageheader_with_title_0_rootdivdiv_0_just_desktop.png
  visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_0_rootdivdiv_0_just_desktop.png
Due: eslint, stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
