Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

XUI-1225 Fix pills can be deleted in disabled autocompleters (#4832)
  src/react/components/pill/XUIPill.js
  src/react/components/textInput/XUITextInput.js
  src/react/contexts/DisabledStateContext.js
Due: eslint

[patch] Bar chart XUI Guide example fixes (#4821)
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-header.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-key.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-max-visible.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-overflow.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-pagination.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-stacked.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-tooltips.html
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-zero-value.html
Due: prettier --check

[patch] XUI-1275 Fix IDs on SelectBox for a11y purposes (#4836)
  src/react/components/pagination/__tests__/XUIPagination-test.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
Due: eslint

[editable] [XUI-1204] Replace Editable borders with box shadows (#4830)
  src/sass/2-mixins/_borders.scss
  src/sass/7-components/_editabletable.scss
  src/sass/_mixins.scss
Due: stylelint, prettier --check

Update docs for codeshift usage (#4834)
  README.md
Due: prettier --check

XUI-1292 Additional documentation for XUI16 b-c for Accordion (#4837)
  changes.md
Due: prettier --check

XUI-1214 Fix table-sort arrow direction (#4839)
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/TableHead.js
Due: eslint, prettier --check

XUI-1114 Top-level section pages default to expanded nav (#4838)
  .kss/builder/extend/menu.js
Due: eslint

[patch] XUI-1305 Update broken/suboptimal links between the Guide and React (#4843)
  src/docs/components/controls/_file-uploader.scss
  src/docs/fundamentals/_illustrations.scss
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.row.md
  src/react/fileUploader.md
Due: stylelint, prettier --check

[XUI-1140] Fix focus trap in table overflow menu
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/OverflowMenuCell.js
Due: eslint

[patch] XUI-1308 Update flags in 16.x.x (#4845)
  src/docs/components/alerts/_popovers.scss
  src/docs/components/collecting-input/_dropdowns-nested.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/navigation/_pagination.scss
  src/docs/components/navigation/_steppers.scss
  src/docs/fundamentals/_icons.scss
  src/docs/getting-started/_developers.scss
Due: stylelint, prettier --check

Fix type for Dropdown's HighlightItem method (#4846)
  src/react/components/dropdown/DropDown.d.ts
Due: eslint

Bump version to 16.4.1 (#4847)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-1159 Fix codemod for XUITable (#4856)
  .codemod/componentTransforms.js
Due: eslint

XUI-1325 Fix dropdown portaling at narrow when set to be inline (#4854)
  src/react/components/dropdown/DropDownToggled.js
Due: eslint

[breaking-changes] XUI-1164 Flag updates for v17 docs (#4857)
  src/docs/components/alerts/_popovers.scss
  src/docs/components/collecting-input/_dropdowns-nested.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_checkboxes-rollover.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/identifiers/_tags.scss
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/_pagination.scss
  src/docs/components/navigation/_steppers.scss
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_layout.scss
  src/docs/getting-started/localisation/_localisation.scss
Due: stylelint, prettier --check

[editable] XUI-1243 Editable table cell borders get cut off at the edge of the table (#4827)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/__tests__/PortalFocus-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellControl-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellControl-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableRow-test.js.snap
  src/react/components/editabletable/private/PortalFocus.js
  src/react/components/helpers/useResizeObserver.js
  src/react/components/pagination/XUIPagination.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

Fix to jscodeshift instructions. Whoops. (#4860)
  README.md
Due: prettier --check

[patch] XUI-1161 Fix an error in React docs (#4861)
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/private/helpers.js
Due: eslint

XUI-1335 PageHeader prop and Type fixes (#4863)
  src/react/components/pageheader/XUIPageHeader.d.ts
  src/react/components/pageheader/XUIPageHeader.js
Due: eslint

[breaking-changes] XUI-1160 17.0.0 changes.md (#4853)
  changes.md
Due: prettier --check

XUI-1170 Update Picklist to accept custom swapAtBreakpoint values (#4862)
  .visual-testing/reference/backstop_default_XUI_Picklist_with_custom_swapAtBreakpoint_value_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_custom_swapAtBreakpoint_value_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/picklist/Picklist.d.ts
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/stories/stories.js
  src/react/components/picklist/stories/variations.js
Due: eslint

[breaking-changes][XUI-587] Revert i18n icon changes where required (#4868)
  changes.md
  src/react/components/accordion/XUIAccordionItem.d.ts
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/banner/XUIBanner.d.ts
  src/react/components/banner/XUIBanner.js
  src/react/components/chart/XUIBarChart.d.ts
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/helpers/bars.js
  src/react/components/picklist/NestedPicklistTrigger.d.ts
  src/react/components/picklist/NestedPicklistTrigger.js
  src/react/components/progressindicator/XUIProgressCircular.d.ts
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/customElements/CircularIcon.js
  src/react/components/table/XUITable.d.ts
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/TableHead.js
Due: eslint, prettier --check

[breaking-changes] XUI-1162 Update KSS examples in XUI guide (#4869)
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-secondary.html
  src/docs/components/collecting-input/examples/datepicker/_datepicker.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-child.html
  src/docs/components/collecting-input/examples/form/_form-validation.html
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/examples/button/_button-split.html
  src/docs/components/controls/examples/select/_select-content.html
  src/docs/components/controls/examples/select/_select-disabling.html
  src/docs/components/controls/examples/select/_select-labels-and-validation.html
  src/docs/components/controls/examples/select/_select-multiselect.html
  src/docs/components/controls/examples/select/_select-sizes.html
  src/docs/components/controls/examples/select/_select-variants.html
  src/docs/components/controls/examples/select/_select.html
  src/docs/components/navigation/examples/pagination/_pagination-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-paging.html
  src/docs/components/navigation/examples/pagination/_pagination.html
Due: stylelint, prettier --check

[XUI-997] Update functional components to ‘fat arrow’ syntax
  src/react/components/banner/XUIBanner.js
  src/react/components/banner/XUIBannerAction.js
  src/react/components/banner/XUIBannerActions.js
  src/react/components/banner/XUIBannerMessage.js
  src/react/components/banner/XUIBannerMessageDetail.js
  src/react/components/button/XUIButtonGroup.js
  src/react/components/button/XUISplitButtonGroup.js
  src/react/components/datepicker/customElements/CustomCaption.js
  src/react/components/datepicker/customElements/CustomWeekday.js
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/modal/XUIModalBody.js
  src/react/components/modal/XUIModalFooter.js
  src/react/components/modal/XUIModalHeader.js
  src/react/components/pageheader/XUIBreadcrumbTrail.js
  src/react/components/toast/XUIToast.js
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/XUIToastMessage.js
  src/react/components/toggle/XUIToggleOption.js
  src/react/docs/ExampleContainer.js
Due: eslint

[editable] XUI-1252 Fixed cell height for Firefox. (#4865)
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[XUI-997] Documentation and miscellaneous tweaks
  changes.md
  src/react/components/autocompleter/XUIAutocompleterEmptyState.js
  src/react/components/button/XUIButton.js
  src/react/components/compositions/XUIGridAreaHeader.js
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/helpers/useResizeObserver.js
  src/react/components/modal/XUIModal.js
  src/react/components/select-box/SelectBox.js
Due: eslint, prettier --check

[XUI-997] Convert ‘more complex’ class-based components to functions
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/switch/XUISwitch.js
  src/react/components/tag/XUITag.js
Due: eslint

XUI-1246 Fix broken tooltip best practice warning (#4871)
  .kss/scss/style.scss
Due: prettier --check

[Breaking-changes] [xui-1165] Add draft update notes for 17.0.0 (#4870)
  src/docs/_updates.scss
Due: stylelint, prettier --check

[patch] XUI-1302 Cleanup how styleguidist shows import paths (#4875)
  .styleguidist/config.js
Due: eslint

[patch] Docs updates of various sorts (#4877)
  .styleguidist/README.md
  CONTRIBUTING.md
  README.md
  src/docs/components/displaying-data/_bar-charts.scss
  src/docs/getting-started/_developers.scss
Due: stylelint, prettier --check

[REFACTOR] Update built-in Sass functions to use modules
  .kss/scss/cards.scss
  src/sass/1-vars/_colors.scss
  src/sass/1-vars/_layout.scss
  src/sass/2-mixins/_functions.decimals.scss
  src/sass/2-mixins/_layout.grids.scss
  src/sass/7-components/_buttons.variants.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_progressindicator.scss
Due: stylelint, prettier --check

[patch] General KSS tweaks and fixes (#4876)
  .kss/builder/index.hbs
  .kss/builder/kss-assets/copy-code-blocks.js
  .kss/scss/hover-tooltip.scss
  .kss/scss/style.scss
Due: eslint, prettier --check

XUI-1366 Rejig code-copy tooltip in the XUI Guide (#4881)
  .kss/builder/kss-assets/copy-code-blocks.js
  .kss/scss/copy-code-blocks.scss
  .kss/scss/hover-tooltip.scss
  .kss/scss/markup.scss
Due: eslint, prettier --check

Version bump for 17 alpha 1 (#4883)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[XUI-1377] Add a line to XUIChart on 0 y-axis (#4885)
  src/react/components/chart/helpers/yaxis.js
  src/react/components/chart/stories/variations.js
Due: eslint
