Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[patch][xui-3086] Content changes made to multiple component pages (#5971)
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/_popovers.scss
  src/docs/components/alerts/_toasts.scss
  src/docs/components/alerts/_tooltips.scss
  src/docs/components/collecting-input/_search.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_file-preview.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/_page-headers.scss
Due: stylelint, prettier --check

[XUI-3011] Update React examples for Select box and Toggle (#5966)
  src/react/selectbox.md
  src/react/toggle.md
Due: prettier --check

[XUI-3011] Update React examples for Button (#5962)
  src/react/actions.md
  src/react/button.md
  src/react/components/button/button.group.md
  src/react/components/button/button.icon.md
  src/react/components/button/button.split.md
Due: prettier --check

[XUI-3011] Update React examples for Switch and Range (#5965)
  src/react/components/switch/switch.group.md
  src/react/range.md
  src/react/switch.md
Due: prettier --check

[XUI-3011] Update React examples for File uploader (#5964)
  src/react/fileuploader.md
Due: prettier --check

[Patch][XUI-2918] Visual examples (#5968)
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-visual-example.html
  src/docs/components/displaying-data/_file-preview.scss
  src/docs/components/displaying-data/_overview-blocks.scss
  src/docs/components/displaying-data/examples/file-preview/_file-preview-visual-example.html
  src/docs/components/displaying-data/examples/overview-block/_overview-block-visual-example.html
  src/docs/components/identifiers/_loaders.scss
  src/docs/components/identifiers/_progress-indicators.scss
  src/docs/components/identifiers/examples/loader/_loader-visual-example.html
  src/docs/components/identifiers/examples/progress-indicator/_progress-indicator-visual-example.html
  src/docs/components/navigation/_steppers.scss
  src/docs/components/navigation/examples/stepper/_stepper-visual-example.html
Due: stylelint, prettier --check

[patch][xui-3088] Minor content changes to 7 docs pages (#5978)
  .styleguidist/sections.json
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/alerts/_toasts.scss
  src/docs/components/collecting-input/_dateinputs.scss
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_file-preview.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/navigation/_isolation-headers.scss
Due: stylelint, prettier --check

[patch][XUI-3011] Update react examples for text input (#5983)
  src/react/textinput.md
Due: prettier --check

[patch][XUI-3057] Update React examples for compositions and helpers to meet quality guidelines (#5984)
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/helpers/containerQueries.md
  src/react/helpers/resizeObserver.md
Due: prettier --check

[patch][XUI-3011] Update React examples for checkbox and radio (#5982)
  src/react/checkbox.md
  src/react/components/checkbox/checkbox.group.md
  src/react/components/radio/radio.group.md
  src/react/radio.md
  src/react/rollovercheckbox.md
Due: prettier --check

[XUI-3021] Update React examples for Capsule, Pill and Progress Indicator (#5988)
  src/react/capsule.md
  src/react/pill.md
  src/react/progressindicator.md
Due: prettier --check

[patch][XUI-3102] When XUIAutocompleter opens with no results it causes the application to crash (#5985)
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/dropdown/XUIDropdownPanel.js
Due: eslint, prettier --check

[main] [XUI-2968] Automate CloudFront release step (#5991)
  .teamcity/buildTypes/BranchDependency.kt
  .teamcity/buildTypes/BuildDocs.kt
  .teamcity/buildTypes/UpdateCloudFrontDistribution.kt
  .teamcity/helpers/addXUIBuildTriggers.kt
  .teamcity/projects/XUIArtifacts.kt
  .teamcity/projects/XUIDocs.kt
  package.json
  scripts/pipeline/cloudfront.sh
  scripts/pipeline/helpers/cloudfront/getEtag.js
  scripts/pipeline/helpers/cloudfront/updateVersion.js
Due: eslint, prettier --check

[XUI-3021] Update React examples for Avatar, Loader and Tag (#5987)
  src/react/avatar.md
  src/react/components/avatar/avatar.group.md
  src/react/loader.md
  src/react/tag.md
Due: prettier --check

[XUI-3028] Update React examples for banner, introbanner and tooltip (#5989)
  src/react/banner.md
  src/react/components/banner/banner.action.md
  src/react/introbanner.md
  src/react/tooltip.md
Due: prettier --check

[patch][XUI-3084] Remove padding-top from large viewports and margin from Intro banner illustration (#5997)
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_bigger_than_2xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_footer_and_video_illustration_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_and_long_title_and_button_text_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Intro_Banner_with_illustration_just_desktop.png
  src/sass/7-components/_introbanner.scss
Due: stylelint, prettier --check

[patch][XUI-3108] Capsule storybook updates (#5996)
  src/react/components/capsule/stories/stories.js
Due: eslint, prettier --check

[patch] Bump version (Release XUI 19.3.1) (#6000)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch][XUI-3028] Update React examples for Popover and Toast (#5993)
  src/react/components/toast/toast.action.md
  src/react/components/toast/toast.wrapper.md
  src/react/popover.body.md
  src/react/popover.footer.md
  src/react/popover.header.md
  src/react/popover.md
  src/react/toast.md
Due: prettier --check

[XUI-3028] Add missing ariaLabel props to icon buttons in popover (#6010)
  src/react/popover.body.md
  src/react/popover.footer.md
  src/react/popover.header.md
  src/react/popover.md
Due: prettier --check

[patch][XUI-3034] Update React examples for fixed footer, pagination, stepper (#6009)
  src/react/fixedfooter.md
  src/react/pagination.md
  src/react/stepper.md
Due: prettier --check

[patch][XUI-3108] Capsule storybook updates - leftover unused import (#6004)
  src/react/components/capsule/stories/stories.js
Due: eslint, prettier --check

[patch][xui-3163] Updates to content guidelines in component pages (#5999)
  src/docs/components/alerts/_popovers.scss
  src/docs/components/collecting-input/_form-labels.scss
  src/docs/components/collecting-input/_search.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/navigation/_tabs.scss
Due: stylelint, prettier --check

[noref] Add `$xui-border-control` to the docs (#6012)
  src/sass/1-vars/_borders.scss
Due: stylelint, prettier --check

[patch][XUI-3034][XUI-3167] Update React examples for isolation header, pageheader, breadcrumbs (#6001)
  src/react/components/pageheader/pageheader.breadcrumbtrail.md
  src/react/isolationheader.md
  src/react/pageheader.md
Due: prettier --check

vis-reg-fix (#6018)
  .storybook/webpack.config.js
  src/react/components/progressindicator/stories/350x350.png
  src/react/components/progressindicator/stories/stories.js
Due: eslint, prettier --check

[XUI-3193] Fix calling select on border div (#6017)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
Due: eslint, prettier --check

[patch][XUI-3108] Button storybook updates (#5992)
  src/react/components/button/stories/stories.js
  src/react/components/button/stories/util.js
  src/react/components/button/stories/variations.js
Due: eslint, prettier --check

[patch][XUI-3108] XUIBarChart Storybook updates (#6013)
  package-lock.json
  package.json
  src/react/components/chart/stories/stories.js
Due: eslint, prettier --check

[Patch][XUI-3177] Add visual examples (set #6) (#6008)
  .kss/builder/index.hbs
  scripts/build/kss/config.json
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/alerts/examples/banner/_banner-visual-example.html
  src/docs/components/alerts/examples/introbanner/_intro-banner-visual-example.html
  src/docs/components/alerts/examples/toast/_toast-visual-example.html
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/_ranges.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/controls/_toggles.scss
  src/docs/components/controls/examples/file-uploader/_file-uploader-visual-example.html
  src/docs/components/controls/examples/range/_range-visual-example.html
  src/docs/components/controls/examples/switch/_switch-visual-example.html
  src/docs/components/controls/examples/toggle/_toggle-visual-example.html
  src/docs/components/identifiers/_avatars.scss
  src/docs/components/identifiers/_capsules.scss
  src/docs/components/identifiers/_pills.scss
  src/docs/components/identifiers/_tags.scss
  src/docs/components/identifiers/examples/avatar/_avatar-visual-example.html
  src/docs/components/identifiers/examples/capsule/_capsule-visual-example.html
  src/docs/components/identifiers/examples/pill/_pill-visual-example.html
  src/docs/components/identifiers/examples/tag/_tag-visual-example.html
Due: stylelint, prettier --check

[FIX] Remove vestigial container in control group vis-regs
  src/react/components/controlgroup/stories/stories.js
Due: eslint, prettier --check

[Patch][XUI-3178] Add 7th set of visual examples (#6023)
  src/docs/components/alerts/examples/tooltip/_tooltip-visual-example.html
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/collecting-input/_modals.scss
  src/docs/components/collecting-input/examples/dateinput/_date-input-visual-example.html
  src/docs/components/collecting-input/examples/form/_form-visual-example.html
  src/docs/components/displaying-data/_bar-charts.scss
  src/docs/components/displaying-data/_content-blocks.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/displaying-data/examples/bar-chart/_bar-chart-visual-example.html
  src/docs/components/displaying-data/examples/content-block/_content-block-visual-example.html
  src/docs/components/displaying-data/examples/panel/_panel-visual-example.html
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/_pagination.scss
  src/docs/components/navigation/_tabs.scss
  src/docs/components/navigation/examples/breadcrumb-trail/_breadcrumb-trail-visual-example.html
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer-visual-example.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header-visual-example.html
  src/docs/components/navigation/examples/page-header/_page-header-visual-example.html
  src/docs/components/navigation/examples/pagination/_pagination-visual-example.html
  src/docs/components/navigation/examples/tab/_tab-visual-example.html
Due: stylelint, prettier --check

[XUI-2441] Remove unused refs from select box example (#6030)
  src/react/selectbox.md
Due: prettier --check

[minor][XUI-2889] Enable useNewFocusBehaviour for editable table dropdown components (#6031)
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleterSecondarySearch.tsx
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
Due: eslint, prettier --check

[patch][XUI-2406] Move jest-axe to dev dependencies
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint, prettier --check

XUI-3108--contentblock--storybook-updates (#6029)
  src/react/components/contentblock/stories/stories.js
  src/react/components/contentblock/stories/variations.js
Due: eslint, prettier --check

[XUI-3082] Remove CodePen examples from Global Navigation documentation (#6034)
  src/docs/components/navigation/_global-navigation.scss
Due: stylelint, prettier --check
