Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[NOREF] Restoring PR#5499 after incorrect auto-merge.
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/components/table/private/XUITableHeadingCell.tsx
Due: eslint, prettier --check

[breaking-changes] [XUI-702] Use flexbox by default (#5602)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  .storybook/welcome.js
  .visual-testing/reference/backstop_default_Structural_With_a_float_variant_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_With_a_float_variant_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_With_a_float_variant_smaller_than_xsmall_breakpoint.png
  src/docs/components/controls/examples/text-input/_text-input-transparent.html
  src/docs/fundamentals/_layout.scss
  src/docs/fundamentals/examples/layout/_layout-column-breakpoints.html
  src/docs/fundamentals/examples/layout/_layout-column-nesting.html
  src/docs/fundamentals/examples/layout/_layout-columns.html
  src/docs/fundamentals/examples/layout/_layout-rows.html
  src/docs/fundamentals/examples/typography/_typography-dark-background.html
  src/react/components/structural/XUIRow.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/private/constants.ts
  src/react/components/structural/structural.row.md
  src/sass/99-utils/_grid.scss
Due: eslint, stylelint, prettier --check

XUI-2298 Fixing broken links (#5606)
  src/docs/components/collecting-input/_dateinputs.scss
Due: stylelint, prettier --check

[NOREF] Fixing a check for RepoTags in Docker image for local vis-reg. (#5607)
  scripts/test/helpers/Docker.js
Due: eslint, prettier --check

Creating new alpha.2 release with breaking-changes and 18.2.0. (#5609)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] [XUI-1746] Add responsive custom column width guidance (#5612)
  src/react/components/editabletable/editabletable.custom.md
Due: prettier --check

[patch] [XUI-2034] Add guidance + focus styling to HTML XUITextInput examples in the XUI Guide (#5613)
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input-actions.html
  src/docs/components/controls/examples/text-input/_text-input-borderless.html
  src/docs/components/controls/examples/text-input/_text-input-character-limit-always.html
  src/docs/components/controls/examples/text-input/_text-input-character-limit-on-invalid.html
  src/docs/components/controls/examples/text-input/_text-input-content-prompts.html
  src/docs/components/controls/examples/text-input/_text-input-focus-accessibility.html
  src/docs/components/controls/examples/text-input/_text-input-inverted.html
  src/docs/components/controls/examples/text-input/_text-input-nesting.html
  src/docs/components/controls/examples/text-input/_text-input-right-aligned.html
  src/docs/components/controls/examples/text-input/_text-input-sizes.html
  src/docs/components/controls/examples/text-input/_text-input-textarea.html
  src/docs/components/controls/examples/text-input/_text-input-transparent.html
  src/docs/components/controls/examples/text-input/_text-input.html
Due: stylelint, prettier --check

[FIX] Remove unused security checks
  README.md
  scripts/README.md
  scripts/release/index.js
  scripts/security/index.js
Due: eslint, prettier --check

Version bump for 18.3.0 (#5617)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[NOREF] Restoring SASS to 1.33.00 after sync merge.
  package-lock.json
  package.json
Due: prettier --check

[NOREF] Restoring SASS to 1.33.0 after sync merge.
  package.json
Due: prettier --check

[patch] XUI-2206 Adding aria attribute to the input for a screen reader (#5625)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint, prettier --check

[patch](XUI-2006) XUI Labs documentation in XUI Guide (#5621)
  .kss/builder/index.hbs
  scripts/build/kss/config.json
  src/docs/contributing-to-xui/_contributing-to-xui.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
  src/docs/contributing-to-xui/xui-labs/examples/_xui-labs-decision-tree-overview.html
  src/docs/contributing-to-xui/xui-labs/examples/_xui-labs-figma-tree.html
  src/docs/contributing-to-xui/xui-labs/examples/_xui-labs-ownership-table.html
Due: stylelint, prettier --check

[minor][XUI-2086] Add ability to show/hide columns in XUITable (#5626)
  changes.md
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/_tables.scss
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/table/XUITable.tsx
  src/react/components/table/__tests__/__snapshots__/table-test.tsx.snap
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/private/XUITableBody.tsx
  src/react/table.md
Due: eslint, stylelint, prettier --check

[patch] [XUI-2296] Update tooltip guidance with content formatting (#5627)
  src/docs/components/alerts/_tooltips.scss
Due: stylelint, prettier --check

[patch][XUI-2178] Update XUIIntroBanner video docs (#5629)
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/alerts/examples/introbanner/_intro-banner-video.html
Due: stylelint, prettier --check

[minor] XUI-2075 Add columnWidths API for XUITable (#5630)
  .visual-testing/reference/backstop_default_XUI_Table_width_columnWidths_and_maxWidth_minWidth_just_desktop.png
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/table/XUITable.tsx
  src/react/components/table/__tests__/__snapshots__/table-test.tsx.snap
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/react/table.md
Due: eslint, prettier --check

[XUI-2339] Update links for XUI Labs (#5633)
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
Due: stylelint, prettier --check

[patch][XUI-2444] Add hubble config file (#5632)
  hubble.yaml
Due: none

[Patch][XUI-2057] Fix Keyboard navigation bugs with Autocompleter (#5603)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
Due: eslint, prettier --check

[patch] Update version + package-lock for XUI 18.3.1 release (#5636)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

XUI-2067_autocompleter-secondary-search-presuming-type-value
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
Due: eslint, prettier --check

[Patch][XUI-2445] Add deploytrack API call script (#5644)
  scripts/pipeline/deploytrack.sh
Due: none

[XUI-2483] Define xui-transition-speed-xslow (#5648)
  src/sass/7-components/_motion.scss
Due: stylelint, prettier --check

[STYLE] Enable stylelint indentation rule
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.controlgroups.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_table.editable.scss
  stylelint.config.js
Due: eslint, stylelint, prettier --check

[patch][XUI-2445] Add echo to log deploytrack variables for debugging purposes (#5650)
  scripts/pipeline/deploytrack.sh
Due: none

Version bump for blind-date and xui patch (#5652)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Update package-lock and Jest config to handle new victory and d3 packages. (#5656)
  jest.config.js
  package-lock.json
Due: eslint, prettier --check

[minor] XUI-2073 editabletable - support sorting data by column (#5661)
  .visual-testing/reference/backstop_default_XUI_Editable_Table_responsive_with_sortable_columns_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_sortable_columns_just_desktop.png
  changes.md
  src/docs/components/displaying-data/_editable-table.scss
  src/react/components/editabletable/XUIEditableTableHeadingCell.d.ts
  src/react/components/editabletable/XUIEditableTableHeadingCell.js
  src/react/components/editabletable/__tests__/XUIEditableTableHeadingCell-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableHeadRow-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableHeadingCell-test.js.snap
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/components/table/__tests__/__snapshots__/table-test.tsx.snap
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/helpers/generateCellProps.ts
  src/react/components/table/private/XUITableHead.tsx
  src/react/components/table/private/XUITableHeadingCell.tsx
  src/react/helpers/isQueryValidInteraction.ts
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_table.editable.scss
  src/sass/7-components/_table.readonly.scss
  src/sass/7-components/_table.scss
Due: eslint, stylelint, prettier --check

Open autocompleter's dropdown when input is focused instead of trigger (#5663)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
Due: eslint, prettier --check

[minor][XUI-2569] Allow dropdowns to have a min-width based on the trigger's width (#5647)
  .visual-testing/reference/backstop_default_XUI_Dropdown_matching_trigger_min-width_with_long_content_and_max_width_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_matching_trigger_min-width_with_short_content_and_max_width_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_matching_trigger_min-width_with_long_content_and_max_width_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_matching_trigger_min-width_with_short_content_and_max_width_just_desktop.png
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/dropdown/XUIDropdownToggled.d.ts
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/positioning/Positioning.d.ts
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/PositioningInline.d.ts
  src/react/components/positioning/PositioningInline.js
  src/react/components/selectbox/XUISelectBox.d.ts
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/selectbox/stories/stories.js
  src/react/components/selectbox/stories/variations.js
Due: eslint, prettier --check

XUI-2059 Excluding node_modules from TS checks.
  tsconfig.json
Due: prettier --check

[noref] Version bump and new package lock for 19.0.0-alpha.3.
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[breaking-changes][XUI-2569] Allow dropdowns to have a min-width based on the trigger's width (#5670)
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/dropdown/XUIDropdownToggled.d.ts
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/positioning/Positioning.d.ts
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/PositioningInline.d.ts
  src/react/components/positioning/PositioningInline.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/selectbox/XUISelectBox.d.ts
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
Due: eslint, prettier --check

[patch] XUI-2458 Updates to pageHeader styling to play nicely with nav (#5665)
  .visual-testing/reference/backstop_default_Use_cases_Layering_elements_just_desktop.png
  src/react/stories/use-cases/layering-elements/components/ExampleNav.js
  src/react/stories/use-cases/layering-elements/index.js
  src/react/stories/use-cases/tests.js
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_headers.scss
Due: eslint, stylelint, prettier --check

[minor] XUI-1200 Editable - Secondary/Select cell component (#5611)
  .visual-testing/reference/backstop_default_XUI_Editable_Table_with_autocompleter_secondary_search_cells_just_desktop.png
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-secondarysearch.html
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleterSecondarySearch.tsx
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleterSecondarySearch-test.tsx
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleterSecondarySearch-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/react/components/editabletable/editabletable.celltypes.md
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/selectbox/private/SelectBoxTrigger.tsx
  src/react/components/selectbox/private/constants.ts
  src/react/components/textinput/XUITextInput.js
  src/react/components/textinput/__tests__/XUITextInput-test.js
  src/react/contexts/EditableTableCellContext.ts
  src/react/editabletable.ts
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_table.editable.scss
Due: eslint, stylelint, prettier --check

[patch] [XUI-2467] Various XUIAutocompleter and XUIEditableTableCellAutocompleter bug fixes (#5668)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/private/helpers.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellAutocompleter-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
Due: eslint, prettier --check

Noref - Version bump to 18.3.3 (#5674)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check
