Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Updates per code review
  src/react/components/structural/XUIActions.js
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/XUIPageheader.js
  src/react/components/structural/stories/stories.js
  src/sass/objects/_navigation.subapp.scss
Due: eslint, stylelint

Updates for grid/column helper refactor, including namespacing update
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIRow.js
  src/react/stories/form-on-a-page/index.js
  src/react/stories/helpers/column.js
  src/react/stories/helpers/grid.js
  src/react/stories/helpers/inputgroup.js
Due: eslint

Bug: Input Group with Dropdown (#3076)
  src/react/stories/form-layout1/index.js
  src/sass/objects/_forms.inputs.scss
  visual-testing/reference/backstop_default_Compositions_Form_layout_0_xui-container_0_just_desktop.png
Due: eslint, stylelint

Modify XUIAutocompleter and XUIAutocompleterSecondarySearch to use XUITextInput
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterInput.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/XUIAutocompleterTextInput.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/sass/components/_autocompleter.scss
  src/sass/objects/_forms.textinputs.scss
Due: eslint, stylelint

Remove binds for XUIAutocompleterSecondarySearch
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

Fix up tests
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/sass/components/_autocompleter.scss
Due: eslint, stylelint

Fix tests for reals
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

Remove XUIAutocompleterTextInput component in favour of direct XUITextInput
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/XUIAutocompleterTextInput.js
Due: eslint

Update test snapshot
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
Due: none

Add missing proptypes
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
Due: eslint

Fix code example name
  src/react/autocompleter.md
Due: none

Minor tidy ups to autocompleter components
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/sass/components/_autocompleter.scss
Due: eslint, stylelint

Tidy up autocompleter examples
  src/react/autocompleter.md
  src/react/components/autocompleter/private/indexedPeople.js
Due: eslint

Update .eslintignore
  .eslintignore
Due: none

Modify KSS build pipeline (#3084)
  .kss/config.json
  scripts/build/kss/config.json
  scripts/watch/kss.js
Due: none

Use transpiled output for visual regression tests to allow ES6 modules in src
  .visual-testing/index.js
  scripts/build/babel_dev.js
  scripts/test/visual.js
Due: none

Shuffle stuff around
  .eslintignore
  .gitignore
  .prettierignore
  .visual-testing/index.js
  pre-commit.sh
  scripts/build/babel_dev.js
  scripts/versions/versions.js
Due: none

Updates to new components already merged in. Docs, spreadProps, and storybook
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIPageheader.js
  src/react/components/structural/XUIRow.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.actions.md
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.pageheader.md
  src/react/components/structural/structural.row.md
Due: eslint, stylelint

Progress indicator namespacing and fragment simplification
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/helpers/constants.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
Due: eslint

Fixes for postcss not working on all the output files. (#3093)
  .gitignore
  scripts/build/cssmin/index.js
  scripts/build/cssmin/private/minify.js
  scripts/build/index.js
  scripts/build/kss/index.js
  scripts/build/postcss/xui.js
  scripts/build/sass/xui.js
  scripts/build/storybook.js
  scripts/test/approve-snapshots.js
  scripts/test/index.js
  scripts/watch/xui.js
  src/sass/objects/_forms.selects.scss
Due: stylelint

Class namespacing Part 4 (#3095)
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/radio/constants.js
  src/react/components/rolloverCheckbox/private/constants.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/SelectBoxOption.js
  src/react/components/select-box/TextHelpers.js
  src/react/components/stepper/customElements/StepperTab.js
  src/react/components/stepper/helpers/constants.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/TableAlert.js
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/constants.js
  src/react/components/textarea/XUITextArea.js
Due: eslint

Add textinput avatar side element class and single select autocompler example (#3094)
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/XUITextInputSideElement.js
  src/sass/objects/_forms.textinputs.scss
Due: eslint, stylelint

Text input class namespacing
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/XUITextInputSideElement.js
  src/react/components/textInput/private/constants.js
Due: eslint

Toasts, toggle, tooltip class namespacing
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/XUITextInputSideElement.js
  src/react/components/textInput/private/constants.js
  src/react/components/toast/XUIToast.js
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/XUIToastMessage.js
  src/react/components/toast/XUIToastWrapper.js
  src/react/components/toast/private/constants.js
  src/react/components/toast/private/sentiments.js
  src/react/components/toast/stories/stories.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/private/constants.js
  src/react/components/tooltip/XUITooltip.js
Due: eslint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Some follow up tasks for 13.2.0 (#3098)
  .eslintignore
  src/react/autocompleter.md
  src/react/components/autocompleter/private/indexedPeople.js
  src/react/components/table/customElements/TableAlert.js
  src/react/components/table/helpers/utilities.js
Due: eslint

Update backstop
  .visual-testing/index.js
  package-lock.json
  package.json
Due: none

Adds ability to run `npm t -- -u` to update snaps per jest documentation. (#3099)
  scripts/test/index.js
Due: none

This fixes the storybook watchers: `node scripts/storybook` and `npm start` (#3101)
  package-lock.json
  package.json
  scripts/storybook/index.js
Due: none

Updated package and lock for a11y plugin, after master
  package-lock.json
  package.json
Due: none

Fix broken autocompleter examples
  src/react/autocompleter.md
  src/react/components/autocompleter/private/people.js
Due: eslint

[minor] Renamed classes to better fit our naming conventions (#3103)
  .visual-testing/reference/backstop_default_XUI_TextInput_has_both_side_elements_0_rootdivdiv_0_just_desktop.png
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/XUITextInputSideElement.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/private/constants.js
  src/react/components/textInput/stories/variations.js
  src/react/components/textarea/XUITextArea.js
  src/sass/objects/_forms.inputs.scss
  src/sass/objects/_forms.scss
  src/sass/objects/_forms.selects.scss
  src/sass/objects/_forms.textinputs.scss
  src/sass/tools/_mixins.components.scss
Due: eslint, stylelint

Gets livereload working (#3106)
  package-lock.json
  package.json
  scripts/build/kss.js
  scripts/watch/both.js
  scripts/watch/kss.js
Due: none

Remove dropdown-toggled-wrapper (#3077)
  changes.md
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/dropdown/scss/_dropDown.scss
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/sass/objects/_forms.inputs.scss
  src/sass/objects/_loaders.scss
Due: eslint, stylelint

Add all available Compounds (#3085)
  .kss/builder/extend/landingpage.js
  scripts/build/kss/config.json
  src/docs/building-blocks/_docs.masthead.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/index.scss
  src/sass/objects/_accordion.scss
  src/sass/objects/_contentblocks.scss
  src/sass/objects/_datepicker.scss
  src/sass/objects/_isolationheader.scss
  src/sass/objects/_modals.scss
  src/sass/objects/_overview.scss
Due: stylelint

fixes for storybook defaults for issue 3059 (#3108)
  src/react/components/icon/stories/stories.js
  src/react/components/pill/stories/stories.js
Due: eslint

update xui version number to beta
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
