Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[patch] XUI-904 Nested Dropdown keyboard navigation is funky (#4582)
  src/react/components/dropdown/NestedDropDown.js
Due: eslint

XUI-935 Missed one file rename under patterns (#4587)
  src/docs/patterns/_text.scss
Due: stylelint, prettier --check

[breaking-changes] Change NestedDropdown's prop name from `currentPanel` to `currentPanelId` (#4586)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
  src/react/components/dropdown/NestedDropDown.js
  src/react/components/dropdown/__tests__/NestedDropdown-test.js
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/stories/stories.js
Due: eslint, prettier --check

[patch] fix console errors in React doc (#4590)
  .styleguidist/sections.json
  src/react/isolationheader.md
Due: prettier --check

New ESLint rules for TS (#4591)
  .eslintrc.js
  package-lock.json
  package.json
  src/react/autocompleter.ts
  src/react/avatar.ts
  src/react/button.ts
  src/react/components/accordion/stories/variations.js
  src/react/components/picklist/stories/variations.js
  src/react/compositions.ts
  src/react/dropdown.ts
  src/react/panel.ts
  src/react/picklist.ts
  src/react/progressindicator.ts
  src/react/table.ts
Due: eslint, prettier --check

XUI-976 Update to pageheader title prop documentation (#4593)
  src/react/components/pageheader/XUIPageHeader.js
Due: eslint

[patch] XUI-978 Update to contentblock/accordion rowlink sass (#4595)
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_hover_0_rootdivdiv_0_just_desktop.png
  src/react/components/contentblock/stories/variations.js
  src/sass/2-mixins/_components.scss
Due: eslint, stylelint, prettier --check

[Minor] [XUI-743] Add reverse aligned option for TextInput (#4592)
  .visual-testing/reference/backstop_default_XUI_TextInput_input_is_reverse-aligned_0_rootdivdiv_0_just_desktop.png
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/textinput.md
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-937 Deleting a pill with a tooltip throws a console error (#4596)
  src/react/components/tooltip/XUITooltip.js
Due: eslint

XUI-982 Additional guards for focus on modal close (#4598)
  src/react/components/helpers/modalManager.js
Due: eslint

[minor] XUI-935 Drag and Drop examples extraction (#4602)
  src/docs/patterns/_docs.patterns.drag-and-drop.scss
  src/docs/patterns/_drag-and-drop.scss
  src/docs/patterns/examples/drag-and-drop/_drag-and-drop-area.html
  src/docs/patterns/examples/drag-and-drop/_drag-and-drop-item.html
Due: stylelint, prettier --check

[patch] XUI-938 Pills with Business Avatar are broken (#4599)
  .visual-testing/reference/backstop_default_XUI_Pill_with_business_Avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_business_Avatar_small_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/stories/variations.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint, prettier --check

[Minor] [XUI-750] Allow "hasWrapping" in XUITableCell if XUITable has onRowClick (#4600)
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/GenericCell.js
  src/react/table.md
Due: eslint, prettier --check

[XUI-954] Prevent KSS sidebar panels from stacking
  .kss/builder/kss-assets/kss-script.js
Due: eslint

[breaking-changes]XUI-891 Updated medium size of iconwrapper to 32px. (#4607)
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_boxed_with_a_set_height_and_width_0_capture_0_just_desktop.png
  changes.md
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/dropdown/stories/stories.js
  src/sass/1-vars/_layout.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-933 Adding simple nav-item-search to the XUI docs (#4603)
  .kss/builder/extend/menu.js
  .kss/builder/index.hbs
  .kss/builder/kss-assets/kss-script.js
  .kss/builder/kss-assets/search.js
  .kss/scss/style.scss
  package-lock.json
  scripts/build/kss/config.json
Due: eslint, prettier --check

[patch] XUI-270 Added memoization to improve performance (#4605)
  package-lock.json
  package.json
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/XUIAvatarCounter.js
  src/react/components/avatar/XUIAvatarGroup.js
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownFooter.js
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/DropDownLayout.js
Due: eslint, prettier --check

Upgrade version to 16.1.0. (#4610)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Bump version for 16.2.0-beta.1 (#4613)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/_updates.scss
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[XUI-927] Loosen union types (#4615)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/button/XUIButton.d.ts
  src/react/components/capsule/XUICapsule.d.ts
  src/react/components/chart/XUIBarChart.d.ts
  src/react/components/controlwrapper/XUIControlWrapper.d.ts
  src/react/components/controlwrapper/XUIControlWrapperInline.d.ts
  src/react/components/dropdown/DropDownToggled.d.ts
  src/react/components/picklist/Pickitem.d.ts
  src/react/components/picklist/Picklist.d.ts
  src/react/components/pill/XUIPill.d.ts
  src/react/components/table/XUITable.d.ts
  src/react/components/textInput/XUITextInput.d.ts
  src/react/components/toast/XUIToastAction.d.ts
Due: none

XUI-1010 Marked 'head' prop as required for XUITableColumn. (#4616)
  src/react/components/table/XUITableColumn.js
Due: eslint

XUI-1008 Fixed contribution url in docs. (#4617)
  src/docs/getting-started/_developers.scss
Due: stylelint, prettier --check

[xui-991] Fix wording of prop description for onKeyDown: - Correct reference to onKeyDown. - Fix typo.
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

Bump version for 16.2.0-beta.2 (#4620)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Fix incorrect autocompleter type (#4621)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
Due: none

XUI-1011 Added color property to buttons to overwrite default link color on focus. (#4623)
  src/sass/2-mixins/_buttons.scss
Due: stylelint, prettier --check

[XUI-991] Add logic to ensure that when a custom onKeyDown callback is provided: * The custom callback is triggered with the event. * The default behaviour is not triggered.
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

[XUI-991] Add test for the correct behaviour where a user provides a custom onKeyDown callback prop.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-991] Update test description to be more appropriate.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

Add spread props for XUIButton (#4624)
  src/react/components/button/XUIButton.d.ts
  src/react/components/toast/XUIToastAction.d.ts
Due: none

[XUI-991] Update test to ensure to test that default onKeyDown event still occurs along with the custom callback.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-991] Amend code to ensure that default onKeyDown behaviour continues even where custom callback provided.
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

[XUI-991] Update comments to be outside of if statement.
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

XUI-986 Updated stepper spacing to new 4px grid. (#4627)
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_button_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_truncation_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_wrapping_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_standard_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_with_truncation_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_with_wrapping_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/sass/7-components/_stepper.scss
Due: stylelint, prettier --check

XUI-996 Removed obsolete documentation piece. (#4630)
  src/react/accordion.md
Due: prettier --check

[XUI-927] Fix UMD builds (#4631)
  scripts/umd/create_entry_point.js
Due: eslint

Fix John Sanders' tests 🔥 (#4633)
  src/react/components/picklist/__tests__/StatefulPicklist-test.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md}
