Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

[Breaking-changes] Overview block documentation update (XUI-420) (#4162)
  src/sass/7-components/_overview.scss
Due: stylelint

Fix some broken and missing docs links (#4163)
  src/docs/building-blocks/forms/_docs.selects.scss
  src/react/barchart.md
  src/react/components/picklist/picklist.stateful.md
  src/react/components/structural/structural.contentblock.md
  src/sass/7-components/_barchart.scss
Due: stylelint

[breaking-changes] XUI-350 Container queries updates and docs (#4156)
  .styleguidist/sections.json
  src/react/components/helpers/resizeObserver.js
  src/react/helpers/resizeObserver.js
  src/react/helpers/resizeObserver.md
Due: eslint

Lint fixes (#4164)
  src/react/components/compositions/XUIGridAreaMasterPanelDropdown.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/stepper/customElements/StepperTab.js
  src/react/components/toggle/XUIToggle.js
Due: eslint

Menu is in the parent - but shared down to each individual component - show hides managed via CSS
  package-lock.json
  src/react/components/compositions/XUIGridAreaMasterPanelDropdown.js
  src/react/components/compositions/stories/content-block.js
  src/react/components/compositions/stories/stories.js
  src/sass/7-components/_gridarea-paneldropdown.scss
Due: eslint, stylelint

Remove the component that we really don't need any more
  src/react/components/compositions/XUIGridAreaMasterPanelDropdown.js
  src/react/components/compositions/stories/stories.js
Due: eslint

Pass the navigation through the other template too
  src/react/components/compositions/stories/stories.js
Due: eslint

Fix css errors + npmrc
  .npmrc
  package-lock.json
  src/sass/xui.scss
Due: stylelint

updates docs
  src/docs/_docs.updates.scss
Due: stylelint

single line addition
  src/docs/_docs.updates.scss
Due: stylelint

add button classes to yeat and month selectors in datepicker guide examples
  src/sass/7-components/_datepicker.scss
Due: stylelint

edit to additonal line of copy
  src/docs/_docs.updates.scss
Due: stylelint

[breaking-changes] XUI-414 Docs updates (#4169)
  .kss/builder/index.hbs
  .styleguidist/components/TableOfContents.js
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/react/compositions.md
Due: stylelint

change datepicker select button to be -xsmall
  src/sass/7-components/_datepicker.scss
Due: stylelint

Add missing changes to changes.md and componentTransforms
  .codemod/componentTransforms.js
  changes.md
Due: none

XUI-469 Bug fix for table overflow (#4172)
  src/sass/7-components/_table.scss
Due: stylelint

Put changes in the right places
  changes.md
Due: none

Add XUIAutocompleterSecondarySearch's dropdownSize
  changes.md
Due: none

Update README.md (#4173)
  README.md
Due: none

Version bump
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

MasterDetail story fixes (#4181)
  src/react/components/compositions/stories/stories.js
Due: eslint

[NOJIRA] Fix propTypes typo
  src/react/components/table/XUITable.js
Due: eslint

Prettier
  .eslintrc.js
  .lintstagedrc
  .prettierignore
  package.json
  prettier.config.js
Due: none

[NOJIRA] Add Prettier documentation to README.md
  README.md
Due: none

[NOJIRA] Update stylelint indentation to match prettier
  stylelint.config.js
Due: none

Prettier
  stylelint.config.js
Due: none

Icon fix for progress indicator
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/customElements/CircularIcon.js
  src/sass/7-components/_progressindicator.scss
  stylelint.config.js
Due: eslint, stylelint

Replace React.createElement with JSX (#4195)
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/dropdown/dropdown.toggled.md
Due: eslint

[patch] Couple of docs-related bugfixes for 15 (#4200)
  .kss/scss/style.scss
  changes.md
Due: none

[XUI-271] Prevent XUIProgressCircular from stretching vertically (#4194)
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_multiline_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_multiline_completion_alert_0_rootdivdiv_0_just_desktop.png
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/customElements/CircularIcon.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/progressindicator/stories/variations.js
  src/sass/7-components/_progressindicator.scss
Due: eslint, stylelint

[NOJIRA] Disable stylelint indentation in favour of Prettier (#4201)
  stylelint.config.js
Due: none

[XUI-361] Prevent right content from automatically opening accordion (#4191)
  changes.md
  src/react/accordion.md
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/helpers/preventDefault.js
Due: eslint

[patch] XUI-503: Fix dropdown positioning when hint/validity/label are present (#4204)
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_hint_and_label_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_label_only_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_msg_only_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_validation_message_and_label_0_xui-container_0_just_desktop.png
  src/react/components/autocompleter/stories/variations.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/private/dom-helpers.js
Due: eslint

[patch] XUI-511 Guide links need to be relative (#4206)
  src/docs/_docs.feedback.scss
  src/docs/_docs.updates.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/fundamentals/_docs.layout.scss
  src/docs/fundamentals/_docs.typography.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

XUI-202 XUI-394 Z-index variables and used for fixed Iso header
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_isolationheader.scss
Due: stylelint

XUI-202 Added docs to support new z-index variables
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

add util to hide chart until it's completed calculating
  src/react/barchart.md
  src/react/components/chart/__tests__/barchart-test.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/sass/7-components/_chart.scss
Due: eslint, stylelint

[patch] Add a PR template based on our DoD (#4190)
  .github/pull_request_template.md
Due: none
