Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

adds remaining composition docs and parent page docs
  .kss/README.md
  .kss/builder/extend/landingpage.js
  .kss/builder/index.hbs
  .kss/builder/kss-assets/composition-images/Detail-Summary_browser.svg
  .kss/builder/kss-assets/composition-images/Detail-Summary_devices.svg
  .kss/builder/kss-assets/composition-images/Detail_browser.svg
  .kss/builder/kss-assets/composition-images/Detail_devices.svg
  .kss/builder/kss-assets/composition-images/Master-Detail-Summary_browser.svg
  .kss/builder/kss-assets/composition-images/Master-Detail-Summary_devices.svg
  .kss/builder/kss-assets/composition-images/Master-Detail_browser.svg
  .kss/builder/kss-assets/composition-images/Master-Detail_devices.svg
  .kss/builder/kss-assets/composition-images/Split_browser.svg
  .kss/builder/kss-assets/composition-images/Split_devices.svg
  .kss/scss/cards.scss
  .kss/scss/style.scss
  scripts/build/kss/config.json
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

XUI-354 Update Range size props (#4077)
  .visual-testing/reference/backstop_default_XUI_Range_is_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_medium_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/building-blocks/forms/_docs.range.scss
  src/react/components/range/XUIRange.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/range/stories/stories.js
  src/react/components/range/stories/variations.js
  src/sass/7-components/_forms.range.scss
Due: eslint, stylelint

updates page header color in examples
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

Re-add Codeowners
  CODEOWNERS
Due: none

Add documentation for `Single select pill` replacement
  src/sass/7-components/_pills.scss
Due: stylelint

Handful of bug fixes for storybook and docs
  .visual-testing/reference/backstop_default_XUI_Modal_size_default_0_xui-container_0_just_desktop.png
  src/react/components/autocompleter/stories/stories.js
  src/react/components/modal/XUIModal.js
  src/react/components/modal/constants.js
  src/react/components/modal/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/loader.md
Due: eslint

Added prop for column auto widths, as applicable
  src/react/components/compositions/XUICompositionDetailSummary.js
  src/react/components/compositions/XUICompositionDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionMasterDetail.js
  src/react/components/compositions/XUICompositionMasterDetailHeader.js
  src/react/components/compositions/XUICompositionMasterDetailSummary.js
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.js
  src/react/components/compositions/helpers.js
  src/react/components/compositions/stories/stories.js
Due: eslint

Auto-widths and a refactor of locked layouts
  src/sass/2-mixins/_layout.grids.scss
  src/sass/5-structure/compositions/_detailsummary.scss
  src/sass/5-structure/compositions/_detailsummaryheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/5-structure/compositions/_split.scss
  src/sass/5-structure/compositions/_splitheader.scss
Due: stylelint

More commonisation of composition classes
  src/react/components/compositions/XUICompositionDetailSummary.js
  src/react/components/compositions/XUICompositionDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionMasterDetail.js
  src/react/components/compositions/XUICompositionMasterDetailHeader.js
  src/react/components/compositions/XUICompositionMasterDetailSummary.js
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionSplit.js
  src/react/components/compositions/XUICompositionSplitHeader.js
  src/react/components/compositions/helpers.js
Due: eslint

Updated test and snapshots
  src/react/components/compositions/__tests__/XUICompositionDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionSplit-test.js
  src/react/components/compositions/__tests__/XUICompositionSplitHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplit-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplitHeader-test.js.snap
Due: eslint

unflex xui-icon-button
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_buttons.icons.scss
Due: stylelint

[Breaking-changes] Picklist — Sizing and nesting docs updates (#4083)
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_small_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_xsmall_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Selected_and_Disabled_States_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_invalid_with_right_media_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_Multiselect_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

XUI-356 Updated Toggle sizing props, classes, etc (#4096)
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Small_Size_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toggle_is_Small_Variant_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/building-blocks/_docs.toggles.scss
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/__tests__/XUIToggle-test.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggle-test.js.snap
  src/react/components/toggle/private/constants.js
  src/react/components/toggle/stories/stories.js
  src/react/components/toggle/stories/variations.js
  src/react/toggle.md
  src/sass/7-components/_toggle.scss
Due: eslint, stylelint

change flex:none to flex-shrink: 0
  src/sass/7-components/_buttons.icons.scss
Due: stylelint

[breaking-changes] Picklist React docs (#4097)
  .styleguidist/sections.json
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/PicklistDivider.js
  src/react/components/picklist/PicklistHeader.js
  src/react/components/picklist/picklist.pickitem.md
  src/react/components/switch/XUISwitchGroup.js
Due: eslint

[breaking-changes] XUI-378 Updates for tag size rename (#4095)
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_medium_size_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/tag/XUITag.js
  src/react/components/tag/__tests__/__snapshots__/XUITag-test.js.snap
  src/react/components/tag/private/constants.js
  src/react/components/tag/stories/stories.js
  src/sass/7-components/_typography.tags.scss
Due: eslint, stylelint

[patch] XUI-333 and 228 : Updates for breakpoint-related column widths (#4086)
  src/docs/fundamentals/_docs.layout.scss
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/structural.column.md
  src/sass/2-mixins/_layout.grids.scss
Due: eslint, stylelint

[XUI-294] Move fallback logic out of Context and into component
  src/react/components/pill/XUIPill.js
  src/react/contexts/SizeContext.js
Due: eslint

[XUI-294] Add inputSize prop to Autocompleter.
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_input_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_input_0_xui-container_0_just_desktop.png
  changes.md
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/autocompleter/stories/variations.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/contexts/SizeContext.js
  src/react/textinput.md
Due: eslint

[XUI-294] Remove useless comment
  src/react/autocompleter.md
Due: none

PR updates
  .kss/README.md
  .kss/scss/cards.scss
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

slight copy update
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

PR changes
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

[XUI-343] Update docs for XUISplitButton
  src/react/components/button/XUISecondaryButton.js
Due: eslint

pill color update
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_non-wrapping_pills_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_wrapping_pills_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_a_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_xsmall_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_does_not_have_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_and_auto_width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_and_size_limit_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Delete_Button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_qaHooks_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_small_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_pills.scss
Due: stylelint

rename page header to content header
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

Updates to kss and xui.xero.com
  .kss/builder/extend/breadcrumbs.js
  .kss/builder/extend/tokens.js
  .kss/builder/index.hbs
  .kss/scss/style.scss
  src/docs/home.md
Due: none

Cross link composition docs (#4101)
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.scss
  src/docs/compositions/_docs.compositions.split.scss
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/compositions/compositions.split.md
  src/react/compositions.md
Due: stylelint

Small docs tweak
  src/docs/working-with-xui/_docs.accessibility.scss
Due: stylelint

Loader updates
  .codemod/componentTransforms.js
  src/react/components/loader/XUILoader.js
Due: eslint

Cleanup of textinput samples
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint

Package-lock update
  package-lock.json
Due: none

Button standard related updates (#4106)
  changes.md
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
  src/react/button.md
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_loaders.scss
Due: stylelint

Updates related to Pill (#4105)
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/sass/7-components/_pills.scss
Due: stylelint

Picklist related docs fixes (#4104)
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/sass/7-components/_loaders.scss
Due: stylelint

Updated styling and story for dropdown trigger as grouped button XUI-377 (#4088)
  src/react/components/button/button.split.md
  src/react/components/button/stories/stories.js
  src/sass/7-components/_buttons.groups.scss
Due: eslint, stylelint

Fixes for icon buttons and iconwrappers (#4103)
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/react/components/compositions/stories/stories.js
  src/react/components/icon/__tests__/XUIIcon-test.js
  src/react/components/icon/__tests__/__snapshots__/XUIIcon-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.contentblock.md
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_table.scss
Due: eslint, stylelint

Version bump for 15.0.0-alpha.8
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Reconcile updates from minor -> breaking-changes
  .visual-testing/reference/backstop_default_Structural_With_a_flex_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_With_a_standard_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  package-lock.json
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/sass/7-components/_pills.scss
Due: stylelint

Adds docs improvements for select
  src/docs/building-blocks/forms/_docs.selects.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
