Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

backstop | add reference to readyEvent issue in Backstop
  src/react/stories/helpers/log-ready-state.js
Due: eslint

XUITable todos
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_header___footer_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_loading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
  src/react/barchart.md
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/stories/stories.js
Due: eslint

Delete old example files
  src/react/components/avatar/example/example.png
  src/react/components/button/example/buttons.png
  src/react/components/switch/example/switch-example.PNG
  src/react/components/toggle/examples/toggle.PNG
  src/react/components/toggle/examples/xui-toggle-examples.PNG
Due: none

[breaking-changes] Remove utilities from XUIPanel, plus a few other outstanding todos (#3836)
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/XUIPanel.js
  src/react/components/structural/XUIPanelFooter.js
  src/react/components/structural/XUIRow.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_navigation.breadcrumb.scss
  src/sass/7-components/_navigation.scss
  src/sass/7-components/_navigation.subapp.scss
Due: eslint, stylelint

table | update sort system to be more robust
  src/react/components/table/helpers/utilities.js
Due: eslint

[breaking changes] - add new breakpoint vars + media queries and update docs (#3831)
  .kss/scss/cards.scss
  .kss/scss/example.scss
  .kss/scss/home.scss
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  changes.md
  src/docs/fundamentals/_docs.layout.scss
  src/sass/2-mixins/_layout.breakpoints.scss
  src/sass/2-mixins/_layout.grids.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_actions.scss
  src/sass/7-components/_buttons.sizes.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_forms.layout.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_overview.scss
  src/sass/7-components/_typography.headings.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/7-components/_usermessaging.toasts.scss
  src/sass/99-utils/_utilities.scss
Due: stylelint

Update VR tests (#3839)
  .visual-testing/reference/backstop_default_XUI_Table_basic_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_no_header_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_as_props_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_using_XUIActions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_an_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_long_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_medium_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_small_actions_0_rootdivdiv_0_just_desktop.png
  src/react/components/chart/customElements/ChartEmpty.js
Due: eslint

Switch update for API to be similar to XUICheckbox (#3835)
  .visual-testing/reference/backstop_default_XUI_Switch_invalid_with_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Checked_and_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Checked_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_Default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_grouped_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_grouped_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_with_hint_text_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/radio/XUIRadio.js
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/XUISwitch-test.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/switch/stories/stories.js
  src/react/components/switch/switch.group.md
  src/react/switch.md
  src/sass/7-components/_forms.switch.scss
Due: eslint, stylelint

Update docs for checkbox and radio + codemod (#3841)
  .codemod/componentTransforms.js
  src/react/radio.md
Due: none

Adds issue collector to XUI guide homepage (#3838)
  .kss/scss/home.scss
  src/docs/_docs.feedback.scss
  src/docs/home.md
Due: stylelint

React switch example fixup (#3842)
  src/react/switch.md
Due: none

Adjusted focus behavior to allow keyboard nav to left and right elements in autocompleter
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

Dropdown footer keyboard nav bug fix. GH #3820
  src/react/components/dropdown/DropDownPanel.js
Due: eslint

[breaking-changes] [XUI-159] Change throttle on autocompleter to be debounce (#3845)
  .codemod/componentTransforms.js
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

Missed visual regression updated baselines
  .visual-testing/reference/backstop_default_XUI_Avatar_business_sizes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Avatar_standard_sizes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_small_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_with_Caret_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_colors_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Loader_with_inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_negative_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_positive_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_warning_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_both_side_elements_0_rootdivdiv_0_just_desktop.png
Due: none

Updated pill images, now that not all pills are interactive
  .visual-testing/reference/backstop_default_XUI_Pill_as_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_single-select_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Delete_Button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_qaHooks_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/stories/variations.js
Due: eslint

Update all visual diffs with picklist highlighted states
  .visual-testing/reference/backstop_default_Compositions_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Fixed-Width_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_Matched_to_Trigger_Width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_maxHeight_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_checkboxes_and_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_hidden_label_and_button_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_no_drawer_footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_large_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xlarge_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_when_open_shows_drawer_0_xui-container_0_just_desktop.png
Due: none

Version bump for 14.1.0
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

documentation | add new performance section into the XUI docs
  src/docs/working-with-xui/_docs.performance.scss
Due: stylelint

[breaking-changes] Accordion: Documentation | update react examples (#3856)
  src/react/accordion.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/customElements/AccordionTrigger.js
Due: eslint

[breaking-changes] Stepper: Documentation | update react examples (#3853)
  changes.md
  src/react/components/stepper/XUIStepper.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/customElements/StepperTab.js
  src/react/components/stepper/helpers/enrichprops.js
  src/react/stepper.md
Due: eslint

Fix for 14.x.x Autocompleter + Pills. Obsolete for 15.0 [XUI-161] (#3864)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: eslint

[XUI-160] Use React.Children where we haven't been using it (#3859)
  src/react/components/select-box/SelectBox.js
  src/react/components/table/helpers/utilities.js
  src/react/stories/compositions/helpers/inputgroup.js
Due: eslint

[breaking-changes] Table: Documentation | update react examples (#3865)
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/table.md
Due: eslint

Do not use String constructor in avatar (#3867)
  src/react/components/avatar/XUIAvatarCounter.js
Due: eslint

Fix whitespazz in KSS file (#3869)
  .kss/builder/extend/components.js
Due: none

[XUI-155] Flexible tag sizes (#3868)
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_everything_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_negative_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_neutral_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_positive_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_standard_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_warning_variant_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/isolationheader/stories/stories.js
  src/react/components/tag/XUITag.js
  src/react/components/tag/__tests__/XUITag-test.js
  src/react/components/tag/private/constants.js
  src/react/components/tag/stories/stories.js
  src/react/components/textInput/XUITextInput.js
  src/sass/7-components/_typography.tags.scss
Due: eslint, stylelint

Use small avatars in toolbar
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  src/docs/_docs.avatars.scss
  src/react/components/isolationheader/stories/stories.js
Due: eslint, stylelint

Remove old textarea.md file (#3872)
  src/react/textarea.md
Due: none

Bugfix for typo in react docs
  src/react/table.md
Due: none

Pill performance optimisations XUI-113 (#3875)
  src/react/components/pill/XUIPill.js
  src/react/pill.md
Due: eslint

Performance updates to autocompleter and examples XUI-119
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/stories/stories.js
Due: eslint

[XUI-94] Update toggle docs to reflect best practice (#3871)
  src/docs/building-blocks/_docs.toggles.scss
Due: stylelint

[XUI-128] Fix: Firefox dropdown trigger firing again on select-via-spacebar #3849 Ripped out and put on to patch
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

[breaking changes] Compositions / Both variant(s) (#3863)
  .kss/scss/mixins.scss
  .storybook/preview-head.html
  package-lock.json
  package.json
  scripts/build/postcss/xui.js
  src/react/components/compositions/XUIComposition1.js
  src/react/components/compositions/XUIComposition2.js
  src/react/components/compositions/XUIGridAreaHeader.js
  src/react/components/compositions/XUIGridAreaMain.js
  src/react/components/compositions/XUIGridAreaNav.js
  src/react/components/compositions/XUIGridAreaSummary.js
  src/react/components/compositions/__tests__/XUIComposition1-test.js
  src/react/components/compositions/__tests__/XUIComposition2-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition1-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition2-test.js.snap
  src/react/components/compositions/helpers.js
  src/react/components/compositions/stories/stories.js
  src/react/components/pill/private/LeftVisualEl.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/switch/XUISwitch.js
  src/sass/2-mixins/_layout.breakpoints.scss
  src/sass/5-structure/_base.scss
  src/sass/5-structure/_gridarea-header.scss
  src/sass/5-structure/_gridarea-main.scss
  src/sass/5-structure/_gridarea-nav.scss
  src/sass/5-structure/_gridarea-summary.scss
  src/sass/5-structure/compositions/_1.scss
  src/sass/5-structure/compositions/_2.scss
  src/sass/xui.scss
Due: eslint, stylelint

Missed ref in secondary search
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

Stateful picklist ref updates to allow inclusion in dropdpown
  src/react/components/picklist/StatefulPicklist.js
  src/react/components/picklist/__tests__/StatefulPicklist-test.js
Due: eslint

Dropdown updates for performance per XUI-120
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownFooter.js
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/NestedDropdown-test.js
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/dropdown.toggled.md
Due: eslint

[Responsive audit] Banner #3489 Bug/banner width fix sparking from #3851 (#3879)
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_an_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_two_actions_with_long_strings_0_rootdivdiv_0_just_desktop.png
  src/react/components/banner/stories/variations.js
  src/sass/7-components/_usermessaging.banners.scss
Due: eslint, stylelint
