Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.js": "eslint",
  "src/**/*.scss": "stylelint",
   "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[breaking-changes] XUI-744 (1/4) NestedPicklistContainer: remove deprecated componentWillReceiveProps lifecycle method (#4513)
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_and_controlled_closed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_and_controlled_open_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_and_uncontrolled_closed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Nested_and_uncontrolled_open_0_rootdivdiv_0_just_desktop.png
  src/react/components/picklist/NestedPicklistContainer.js
  src/react/components/picklist/__tests__/NestedPicklistContainer-test.js
  src/react/components/picklist/picklist.nested.md
  src/react/components/picklist/stories/stories.js
  src/react/components/picklist/stories/variations.js
Due: eslint, prettier --check

[XUI-905] Unify content block and accordion styles
  .visual-testing/reference/backstop_default_XUI_Accordion_accordion_tab_composition_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_basic_accordion_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_expanded_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_expanded_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_avatar_checkbox_and_tag_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_no_description_but_has_tags_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_tag_position_inline_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_tag_position_right_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_tag_position_right_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_0_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_1_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_3_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_4_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_5_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_ContentBlock_with_two_children_0_rootdivdiv_6_bigger_than_2xlarge_breakpoint.png
  src/react/accordion.md
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/stories/stories.js
  src/react/components/accordion/stories/variations.js
  src/react/components/contentblock/XUIContentBlockItem.js
  src/react/components/contentblock/__tests__/XUIContentBlock-test.js
  src/react/components/contentblock/stories/stories.js
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] Wait for images to load during visual regression tests (#4536)
  .visual-testing/index.js
  .visual-testing/onReady.js
  .visual-testing/reference/backstop_default_Components_in_Components_Form_layout_0_xui-container_0_just_desktop.png
Due: eslint

Version bump for 16.0.0 (#4538)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes] [XUI-939] Update ‘Updates’ page for XUI 16 (#4539)
  src/docs/_docs.updates.scss
Due: stylelint, prettier --check

Typo correction that was lost in a previous merge conflict (#4541)
  .kss/README.md
Due: prettier --check

[patch] IE11 bug in Table story in Storybook (#4532)
  src/react/components/table/stories/stories.js
Due: eslint

XUI-943 Reimplement Picklist type check in DropdownPanel (#4543)
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/private/TabDropDown.js
Due: eslint

XUI-944 Figma link updates (#4544)
  src/docs/_docs.updates.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --check

Version bump for 16.0.1 (#4545)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[XUI-900] Make the popover border bits match
  src/sass/1-vars/_colors.scss
Due: stylelint, prettier --check

XUI-950 Update docs for missed Building Blocks mention. Plus bonus updates (#4552)
  .kss/README.md
  README.md
  src/docs/building-blocks/forms/_docs.inputs.text.scss
Due: stylelint, prettier --check

Update vis-reg for compositions with examples (#4555)
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailHeader_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummaryHeader_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detailSummary_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_detail_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailHeader_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummaryHeader_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetailSummary_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_masterDetail_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
Due: none

XUI-953 export XUIActions as a named export (#4556)
  src/react/actions.js
  src/react/components/compositions/stories/header.js
Due: eslint

[XUI-554] Add localisation docs to XUI Guide
  scripts/build/kss/config.json
  src/docs/working-with-xui/_docs.localisation.scss
Due: stylelint, prettier --check

[XUI-33] Add ARIA roles to accordion bits for accessibility (#4559)
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/contentblock/XUIContentBlockItem.js
Due: eslint

[patch] XUI-922 Opening accordion items in XUICompositionMasterDetail changes layout (#4551)
  src/sass/5-structure/_base.scss
Due: stylelint, prettier --check

[Patch] XUI-896 Fix Autocompleter tests using `setTimeout()`. (#4560)
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[patch] XUI-920 Fixed action links in accordion item. (#4557)
  src/react/components/contentblock/XUIContentBlockItem.js
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint, prettier --check

XUI-679 Proof of concept for KSS file shuffle (#4563)
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/components/navigation/_global-navigation.scss
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/_steppers.scss
  src/docs/components/navigation/_tabs.scss
  src/sass/7-components/_stepper.scss
Due: stylelint, prettier --check

[patch] XUI-935 Continued kss refactor - Top level, Getting Started, Compositions (#4567)
  src/docs/_feedback.scss
  src/docs/_updates.scss
  src/docs/compositions/_compositions.scss
  src/docs/compositions/_detail-summary.scss
  src/docs/compositions/_detail.scss
  src/docs/compositions/_master-detail-summary.scss
  src/docs/compositions/_master-detail.scss
  src/docs/compositions/_split.scss
  src/docs/getting-started/_codepen.scss
  src/docs/getting-started/_designers.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_getting-started.scss
  src/docs/getting-started/_performance.scss
  src/docs/getting-started/accessibility/_accessibility.scss
  src/docs/getting-started/accessibility/_design.scss
  src/docs/getting-started/accessibility/_development.scss
  src/docs/getting-started/localisation/_localisation.scss
  src/docs/getting-started/responsive/_guidelines.scss
  src/docs/getting-started/responsive/_responsive.scss
Due: stylelint, prettier --check

Fundamentals docs files refactor (#4568)
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_illustrations.scss
  src/docs/fundamentals/_layout.scss
  src/docs/fundamentals/_motion.scss
  src/docs/fundamentals/_spacing.scss
  src/docs/fundamentals/_typography.scss
  src/docs/fundamentals/_utilities.scss
  src/docs/fundamentals/_variables-and-mixins.scss
  src/docs/index.scss
  src/sass/1-vars/_borders.scss
  src/sass/1-vars/_colors.scss
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_globalstates.scss
  src/sass/7-components/_icons.scss
  src/sass/7-components/_illustrations.scss
  src/sass/7-components/_motion.scss
  src/sass/99-utils/_marginpadding.scss
  src/sass/99-utils/_utilities.scss
  src/sass/_mixins.scss
  src/sass/_vars.scss
Due: stylelint, prettier --check

[patch] XUI-758 Improve discoverability of container queries (#4564)
  .styleguidist/sections.json
  src/docs/getting-started/responsive/_guidelines.scss
  src/react/components/button/button.container.queries.md
  src/react/components/pageheader/pageheader.breadcrumbtrail.md
  src/react/isolationheader.md
  src/react/pageheader.md
Due: stylelint, prettier --check

Fix copy-paste error from #4566 (#4569)
  src/docs/components/controls/_buttons.scss
  src/sass/7-components/_buttons.scss
Due: stylelint, prettier --check

[patch] XUI-793 Proof of concept for "related" links (#4561)
  .kss/README.md
  .kss/builder/extend/related.js
  .kss/builder/index.hbs
  .kss/scss/style.scss
  scripts/build/kss/config.json
  src/docs/components/navigation/_page-headers.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-935 Removing HTML examples from KSS to their own files (proof of concept) (#4570)
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/_popovers.scss
  src/docs/components/alerts/_toasts.scss
  src/docs/components/alerts/_tooltips.scss
  src/docs/components/alerts/examples/banner/_banner-sentiment.html
  src/docs/components/alerts/examples/banner/_banner.html
  src/docs/components/alerts/examples/popover/_popover-dismissable.html
  src/docs/components/alerts/examples/popover/_popover.html
  src/docs/components/alerts/examples/toast/_toast-actions.html
  src/docs/components/alerts/examples/toast/_toast-sentiment.html
  src/docs/components/alerts/examples/toast/_toast-wrapping.html
  src/docs/components/alerts/examples/toast/_toast.html
  src/docs/components/alerts/examples/tooltip/_tooltip-positioning.html
  src/docs/components/alerts/examples/tooltip/_tooltip.html
Due: stylelint, prettier --check

[patch] XUI-935 Compositions examples extraction (#4576)
  src/docs/compositions/_detail-summary.scss
  src/docs/compositions/_detail.scss
  src/docs/compositions/_master-detail-summary.scss
  src/docs/compositions/_master-detail.scss
  src/docs/compositions/_split.scss
  src/docs/compositions/examples/detail-summary/_detail-summary-header.html
  src/docs/compositions/examples/detail-summary/_detail-summary.html
  src/docs/compositions/examples/detail/_detail-header.html
  src/docs/compositions/examples/detail/_detail.html
  src/docs/compositions/examples/master-detail-summary/_master-detail-summary-header.html
  src/docs/compositions/examples/master-detail-summary/_master-detail-summary.html
  src/docs/compositions/examples/master-detail/_master-detail-header.html
  src/docs/compositions/examples/master-detail/_master-detail.html
  src/docs/compositions/examples/split/_split-header.html
  src/docs/compositions/examples/split/_split.html
Due: stylelint, prettier --check

[patch] XUI-935 Fundamentals examples extraction (#4577)
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_illustrations.scss
  src/docs/fundamentals/_layout.scss
  src/docs/fundamentals/_spacing.scss
  src/docs/fundamentals/_typography.scss
  src/docs/fundamentals/_utilities.scss
  src/docs/fundamentals/examples/icon/_icon-color.html
  src/docs/fundamentals/examples/icon/_icon-placement.html
  src/docs/fundamentals/examples/icon/_icon-rotation.html
  src/docs/fundamentals/examples/icon/_icon-sizes.html
  src/docs/fundamentals/examples/illustration/_illustration-custom-size.html
  src/docs/fundamentals/examples/illustration/_illustration-sizes.html
  src/docs/fundamentals/examples/layout/_layout-column-breakpoints.html
  src/docs/fundamentals/examples/layout/_layout-column-nesting.html
  src/docs/fundamentals/examples/layout/_layout-columns.html
  src/docs/fundamentals/examples/layout/_layout-flex-utilities.html
  src/docs/fundamentals/examples/layout/_layout-rows.html
  src/docs/fundamentals/examples/spacing/_spacing-position.html
  src/docs/fundamentals/examples/spacing/_spacing.html
  src/docs/fundamentals/examples/typography/_typography-dark-background.html
  src/docs/fundamentals/examples/typography/_typography-links.html
  src/docs/fundamentals/examples/typography/_typography-long-form.html
  src/docs/fundamentals/examples/utilities/_utilities-aligning.html
  src/docs/fundamentals/examples/utilities/_utilities-direction.html
  src/docs/fundamentals/examples/utilities/_utilities-growing-and-shrinking.html
  src/docs/fundamentals/examples/utilities/_utilities-justifying.html
Due: stylelint, prettier --check

[patch] XUI-935 components > navigation examples extraction (#4575)
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/_steppers.scss
  src/docs/components/navigation/_tabs.scss
  src/docs/components/navigation/examples/breadcrumb-trail/_breadcrumb-trail-compact.html
  src/docs/components/navigation/examples/breadcrumb-trail/_breadcrumb-trail.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header-actions.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header-layout.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header-stepper.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header-tooltip.html
  src/docs/components/navigation/examples/isolation-header/_isolation-header.html
  src/docs/components/navigation/examples/page-header/_page-header-actions.html
  src/docs/components/navigation/examples/page-header/_page-header-extended.html
  src/docs/components/navigation/examples/page-header/_page-header-layout.html
  src/docs/components/navigation/examples/page-header/_page-header-tabs.html
  src/docs/components/navigation/examples/page-header/_page-header-titles.html
  src/docs/components/navigation/examples/page-header/_page-header.html
  src/docs/components/navigation/examples/stepper/_stepper-inline-stacked.html
  src/docs/components/navigation/examples/stepper/_stepper-inline.html
  src/docs/components/navigation/examples/stepper/_stepper-link-modifier.html
  src/docs/components/navigation/examples/stepper/_stepper-link-text.html
  src/docs/components/navigation/examples/stepper/_stepper-sidebar.html
  src/docs/components/navigation/examples/stepper/_stepper-stacked.html
  src/docs/components/navigation/examples/stepper/_stepper.html
  src/docs/components/navigation/examples/tab/_tab.html
Due: stylelint, prettier --check

[patch] XUI-935 components > collecting-input examples extraction (#4571)
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/_dropdowns-nested.scss
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/collecting-input/_form-labels.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/collecting-input/_modals.scss
  src/docs/components/collecting-input/_search.scss
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-contained.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-disabling.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-multi-select.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-secondary.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-single-select.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter-wrapping.html
  src/docs/components/collecting-input/examples/autocompleter/_autocompleter.html
  src/docs/components/collecting-input/examples/datepicker/_datepicker.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-child.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-parent.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown.html
  src/docs/components/collecting-input/examples/form/_form-horizontal.html
  src/docs/components/collecting-input/examples/form/_form-inline.html
  src/docs/components/collecting-input/examples/form/_form-labels-notes-and-errors.html
  src/docs/components/collecting-input/examples/form/_form-labels-placeholders.html
  src/docs/components/collecting-input/examples/form/_form-labels.html
  src/docs/components/collecting-input/examples/form/_form-stacked.html
  src/docs/components/collecting-input/examples/form/_form-validation-modals.html
  src/docs/components/collecting-input/examples/form/_form-validation.html
  src/docs/components/collecting-input/examples/modal/_modal-sizes.html
  src/docs/components/collecting-input/examples/modal/_modal.html
  src/docs/components/collecting-input/examples/search/_search-create-new.html
  src/docs/components/collecting-input/examples/search/_search-empty.html
  src/docs/components/collecting-input/examples/search/_search.html
  src/docs/components/collecting-input/forms/_forms.scss
  src/docs/components/collecting-input/forms/_validation.scss
Due: stylelint, prettier --check

Address dart-sass warnings
  src/sass/7-components/_icons.scss
  src/sass/7-components/_progressindicator.scss
Due: stylelint, prettier --check

Replace node-sass with JavaScript implementation
  package-lock.json
  package.json
  scripts/build/postcss/private/variableparser.js
  scripts/build/sass/compileSass.js
Due: eslint, prettier --check

[minor] XUI-720 Drag and drop docs + CSS/XUI classes (#4525)
  .kss/builder/kss-assets/drag-and-drop-images/Drag-Indicator.png
  .kss/builder/kss-assets/drag-and-drop-images/Dropzone-Area_Group.png
  .kss/builder/kss-assets/drag-and-drop-images/Dropzone-Line_Group.png
  .kss/builder/kss-assets/drag-and-drop-images/Origin-State.png
  src/docs/patterns/_docs.patterns.drag-and-drop.scss
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_draganddrop.scss
  src/sass/xui.scss
Due: stylelint, prettier --check

[patch] Housekeeping updates pre-patch (#4579)
  README.md
  package-lock.json
  scripts/update-versions/index.js
Due: eslint, prettier --check

Version bump for 16.0.2 (#4580)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

XUI-928 Updated docs with webpack config avoiding doubled modules (ES6 and non-ES6 distribution imports) and surfaced it in React docs. (#4578)
  src/docs/getting-started/_developers.scss
Due: stylelint, prettier --check
