Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,js,json,css,scss,md}": "prettier --write",
}

Prettier > Don't add trailing commas in MarkDown files containing JS
  prettier.config.js
Due: prettier --write

[patch] XUI-539 & 374 Documentation and dropdown bug fix (#4210)
  src/docs/working-with-xui/_docs.responsive.scss
  src/react/autocompleter.md
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/dropdown.toggled.md
Due: eslint, stylelint, prettier --write

Update docs to point to Sketch library (+ Prettier) (#4217)
  src/docs/working-with-xui/_docs.designers.scss
Due: stylelint, prettier --write

One more sketch-related doc update (#4219)
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

Update trimFileRegex in tmp.js for Windows compatibility (#4218)
  scripts/build/kss/tmp.js
Due: prettier --write

Version bump for 15.0.1 (#4220)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] XUI-548 Banner message detail coverage (#4216)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_XUI_Banner_detail_without_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_string_length_stress_test_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_an_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_long_message_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_message_and_detail_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_two_actions_with_long_strings_0_rootdivdiv_0_just_desktop.png
  src/react/components/banner/banner.messageDetail.md
  src/react/components/banner/stories/stories.js
  src/react/components/banner/stories/variations.js
  src/sass/7-components/_usermessaging.banners.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-506 Styles for disabled Radio/Checkbox (#4223)
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_checked_xsmall_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_indeterminate_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_validation_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_validation_error_and_hidden_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_validation_error_and_hidden_label_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_validation_error_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_checked_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_checked_xsmall_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Inline_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Radio_Group_Invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_with_validation_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_with_validation_error_and_hidden_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_with_validation_error_and_hidden_label_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_with_validation_error_and_reversed_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: stylelint, prettier --write

[patch] XUI-504 Updated disabled styles for pickitems (#4224)
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Horizontal_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Selected_and_Disabled_States_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Stateful_Picklist_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_items_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_right_media_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_Multiselect_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_horizontal_with_wrapping_et_al_0_rootdivdiv_0_just_desktop.png
  src/react/components/picklist/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --write

Export ES6 code with artifact (#4211)
  .gitignore
  package.json
  scripts/prepack/index.js
  src/react/components/autocompleter/stories/variations.js
  src/react/components/banner/stories/variations.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/helpers/noop.js
  src/react/components/pill/stories/variations.js
  src/react/components/positioning/private/constants.js
  src/react/components/tag/stories/variations.js
Due: eslint, prettier --write

[patch] XUI-547 Updated docs links to product language guide (#4227)
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/home.md
Due: stylelint, prettier --write

Pre job commint with regression images.
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_small_size_with_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_single_icon_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_sizes_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_completion_alert_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_hard_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_multiline_completion_alert_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_small_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
Due: none

Switch updates to Node from String
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/XUISwitchGroup.js
Due: eslint, prettier --write

Prettier Switch Files
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/XUISwitchGroup.js
Due: eslint, prettier --write

Toast strings to node
  src/react/components/toast/XUIToast.js
Due: eslint, prettier --write

Toast prettier
  src/react/components/toast/XUIToast.js
Due: eslint, prettier --write

toggle prettier
  src/react/components/toggle/XUIToggle.js
Due: eslint, prettier --write

TextInput string to node
  src/react/components/textInput/XUITextInput.js
Due: eslint, prettier --write

textinput prettier
  src/react/components/textInput/XUITextInput.js
Due: eslint, prettier --write

Table Strings to Nodes.
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
Due: eslint, prettier --write

Table Pretty
  src/react/components/icon/XUIIcon.js
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/EmptyState.js
  src/react/components/table/customElements/TableHead.js
Due: eslint, prettier --write

Visual regression test update (#4229)
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_small_size_with_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_single_icon_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Icon_with_different_sizes_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_completion_alert_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_hard_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_multiline_completion_alert_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_stacked_buttons_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_small_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
Due: none

[patch] XUI-596: Bug fix for borderless table variant (#4232)
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/stories/stories.js
Due: eslint, prettier --write

Version bump for 15.0.2 (#4233)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] [XUI-589] Update content string props to accept nodes (#4237)
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/controlwrapper/XUIControlWrapperInline.js
  src/react/components/controlwrapper/private/MessageElement.js
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
Due: eslint, prettier --write

[patch] XUI-583 String props updated to node (#4238)
  src/react/components/accordion/XUIAccordion.js
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/banner/XUIBannerMessageDetail.js
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/XUICheckboxGroup.js
Due: eslint, prettier --write

[patch] [XUI-590] Update content string props to accept nodes (#4239)
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/select-box/SelectBox.js
  src/react/components/stepper/XUIStepper.js
  src/react/components/stepper/customElements/StepperTab.js
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/XUIOverviewSection.js
Due: eslint, prettier --write

[patch] [XUI-592] Avoid rendering unnecessary elements for progress indicator (#4231)
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/__tests__/progressindicator-test.js
  src/react/components/progressindicator/customElements/CircularTrack.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/__tests__/stepper-test.js
  src/react/components/stepper/stories/stories.js
  src/sass/7-components/_progressindicator.scss
Due: eslint, stylelint, prettier --write

XUI-218: Show text avatar if image is loading. Fixed and unit tests changed
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/__tests__/__snapshots__/XUIAvatar-test.js.snap
  src/react/components/avatar/constants.js
  src/react/components/avatar/stories/variations.js
  src/react/components/range/stories/variations.js
  src/sass/2-mixins/_utilities.scss
  src/sass/7-components/_avatars.scss
  src/sass/99-utils/_utilities.scss
Due: eslint, stylelint, prettier --write

Backstopjs engine change from chrome to puppeteer
  .visual-testing/index.js
Due: prettier --write

Visual Regression Results
  .visual-testing/reference/backstop_default_XUI_Avatar_with_broken_image_no_id_0_rootdivdiv_0_just_desktop.png
Due: none

[patch] XUI-586 Fix to button size in autocompleter docs (#4243)
  src/react/autocompleter.md
Due: prettier --write

Revert required value changes
  .visual-testing/index.js
  src/react/components/avatar/XUIAvatar.js
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/__tests__/__snapshots__/XUIAvatar-test.js.snap
  src/react/components/avatar/stories/variations.js
  src/react/components/range/stories/variations.js
Due: eslint, prettier --write

Prettier
  src/react/components/avatar/stories/variations.js
Due: eslint, prettier --write

Image story changed
  src/react/components/avatar/stories/variations.js
Due: eslint, prettier --write

Prettier whitespace fix
  src/react/components/avatar/stories/variations.js
Due: eslint, prettier --write

Delete old visual testing snapshot
  .visual-testing/reference/backstop_default_XUI_Avatar_with_broken_image_no_value_or_id_0_rootdivdiv_0_just_desktop.png
Due: none

[minor] [XUI-563] Illustration component (#4235)
  .kss/scss/style.scss
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Illustration_custom_height_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_custom_height_and_padding_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_custom_padding_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_large_illustration_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_medium_illustration_0_capture_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Illustration_small_illustration_0_capture_0_just_desktop.png
  changes.md
  src/react/components/illustration/XUIIllustration.js
  src/react/components/illustration/__tests__/XUIIllustration-test.js
  src/react/components/illustration/__tests__/__snapshots__/XUIIllustration-test.js.snap
  src/react/components/illustration/private/constants.js
  src/react/components/illustration/stories/stories.js
  src/react/components/illustration/stories/variations.js
  src/react/illustration.js
  src/react/illustration.md
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_illustrations.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --write
