Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[breaking-changes] A couple lil fixes (#4483)
  changes.md
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/pageheader/__tests__/XUIPageHeader-test.js
  src/react/components/pageheader/stories/stories.js
  src/react/components/select-box/SelectBox.js
  src/react/components/table/customElements/CheckBoxCell.js
Due: eslint, prettier --check

[XUI-796] Keep tooltip open when tooltip is hovered (#4484)
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/XUITooltip-test.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
Due: eslint

[breaking-changes] XUI-755 Updated preferred position for tooltips in Storybook Playground (#4487)
  .visual-testing/reference/backstop_default_XUI_PageHeader_pageheader_with_title_and_tabs_of_mixed_type_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_on_an_icon_bottom_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_on_an_icon_left_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_on_an_icon_top_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_to_the_side_0_rootdivdivdiv_0_just_desktop.png
  src/react/components/tooltip/stories/stories.js
  src/react/components/tooltip/stories/variations.js
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --check

Updated flag to signify changes to z-index vars (#4490)
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint, prettier --check

XUI-712 add 'updates coming' flag to z-index (#4491)
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint, prettier --check

[patch] - Fix modal escape key not working for internet explorer (#4485)
  src/react/components/modal/XUIModal.js
  src/react/components/modal/__tests__/XUIModal-test.js
Due: eslint

[breaking-changes] XUI-894 Updates to codemod for relative pathing (#4492)
  .codemod/componentTransforms.js
  README.md
  package-lock.json
  package.json
Due: eslint, prettier --check

[breaking-changes] Updated Storybook to latest version. (#4481)
  package-lock.json
  package.json
Due: prettier --check

[xui-817] Update vulnerable packages by running npm audit fix. (#4493)
  package-lock.json
Due: prettier --check

Updating unit tests after merge (related to RP#4485).
  src/react/components/modal/__tests__/XUIModal-test.js
Due: eslint

Version bump to 15.2.7 (#4496)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Version bump for beta 1.
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-902 Reinstate isPositionFixed on isoHeader (#4499)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Fixed_position_0_xui-container_0_just_desktop.png
  src/docs/building-blocks/_docs.isolation-header.scss
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/__tests__/XUIIsolationHeader-test.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/isolationheader/stories/variations.js
  src/sass/7-components/_headers.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-751 Fix bug with item selection and debouncer in Autocompleter (#4489)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[DOCS] Touch up deployment docs
  README.md
Due: prettier --check

[breaking-changes] XUI-897 Docs and story tweaks from design + a new story (#4501)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Popover_basic_HTML_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.isolation-header.scss
  src/react/components/isolationheader/stories/stories.js
  src/react/components/popover/stories/stories.js
  src/react/components/popover/stories/variations.js
  src/react/isolationheader.md
  src/sass/7-components/_popovers.scss
Due: eslint, stylelint, prettier --check

One docs correction for picklist (#4502)
  src/react/components/picklist/Picklist.js
Due: eslint

XUI-897 Docs tweaks from design (#4503)
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_popovers.scss
Due: stylelint, prettier --check

[patch] XUI-854 Tooltip rendering in Safari bug (#4505)
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
Due: eslint

[XUI-794] Tweak Styleguidist hierarchy and appearance
  .styleguidist/components/CodeTabButton.js
  .styleguidist/components/ComponentsList.js
  .styleguidist/components/HeadingRenderer.js
  .styleguidist/components/Link.js
  .styleguidist/components/LogoRenderer.js
  .styleguidist/components/Pathline.js
  .styleguidist/components/PlaygroundRenderer.js
  .styleguidist/components/ReactComponentRenderer.js
  .styleguidist/components/StyleGuide.js
  .styleguidist/components/TabButtonRenderer.js
  .styleguidist/components/UsageTabButton.js
  .styleguidist/components/theme.js
  .styleguidist/config.js
  .styleguidist/styles.scss
Due: eslint, prettier --check

[DOCS] Tweak PR template checklist
  .github/pull_request_template.md
Due: prettier --check

[breaking-changes] XUI-724 Add XUIButton codemod (#4511)
  .codemod/componentTransforms.js
  src/react/components/isolationheader/__tests__/XUIIsolationHeader-test.js
Due: eslint

[patch] XUI-855 Rollover checkbox touch focus visibility fix (#4512)
  src/docs/building-blocks/_docs.rolloverCheckbox.scss
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/sass/7-components/_rolloverCheckbox.scss
Due: eslint, stylelint, prettier --check

[XUI-892] Ignore .docker folder (#4517)
  .eslintignore
  .gitignore
  .prettierignore
Due: none

[breaking-changes] XUI-744 (3/4) XUIModal: remove deprecated componentWillReceiveProps lifecycle method (#4515)
  src/react/components/modal/XUIModal.js
  src/react/components/modal/__tests__/XUIModal-test.js
Due: eslint

[patch] XUI-881 Release strategy docs (#4519)
  .kss/scss/redesign.scss
  CONTRIBUTING.md
  src/docs/_docs.updates.scss
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint, prettier --check

[breaking-changes] [XUI-892] Run the correct visual testing script in the Docker container (#4522)
  .visual-testing/index.js
  scripts/test/visual.js
Due: eslint

[breaking-changes] XUI-737 Updated codemod for removed props (#4524)
  .codemod/componentTransforms.js
Due: eslint

[minor] XUI-852 Offer a way to disable the checkbox in table (#4521)
  .visual-testing/reference/backstop_default_XUI_Table_checkbox_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/helpers/utilities.js
  src/react/components/table/stories/variations.js
  src/react/table.md
Due: eslint, prettier --check

[breaking-changes] A few housekeeping bits and bobs (#4526)
  .codemod/componentTransforms.js
  README.md
  package-lock.json
Due: eslint, prettier --check

[XUI-857] Fix invisible dropdown contents on iPadOS 12 (#4527)
  src/sass/7-components/_dropdown.scss
Due: stylelint, prettier --check

Updated bc docs for section merge
  changes.md
  src/docs/building-blocks/_docs.isolation-header.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/react/components/pageheader/pageheader.breadcrumbtrail.md
  src/react/pageheader.md
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint, prettier --check

Vis-reg reference with fixed image sources
  .visual-testing/reference/backstop_default_XUI_Avatar_with_image_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_circular_custom_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_left_and_right_Elements_0_rootdivdiv_0_just_desktop.png
Due: none

[breaking-changes] XUI-744 (2/4) XUIDatePicker: remove deprecated componentWillReceiveProps lifecycle method (#4514)
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/datepicker/__tests__/XUIDatePicker-test.js
Due: eslint

[breaking-changes] XUI-744 (4/4) XUIAutocompleter stories: remove deprecated componentWillReceiveProps lifecycle method (#4516)
  src/react/components/autocompleter/stories/stories.js
Due: eslint

15.3.0 Version bump (#4534)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Add a link to the upgrade guide from changes.md (#4533)
  changes.md
Due: prettier --check

[xui-744] Autocompleter stories: Fix for visual regression differences. (#4537)
  src/react/components/autocompleter/stories/stories.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md}
