Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

XUI-1064 Updating directory for stories (for PR #4919) (#4988)
  .visual-testing/index.js
Due: eslint

[editable] XUI-1389 Added guidance on optimising performance. (#4976)
  src/docs/getting-started/_performance.scss
  src/react/components/editabletable/editabletable.interactions.md
Due: stylelint, prettier --check

[XUI-1432] Remove focus when clicking pill button
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

[patch] Fix prop-types warnings (#4992)
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/pagination/XUIPagination.js
  src/react/helpers/checkRequiredProps.js
Due: eslint

[patch] XUI-1478 Revert "[Patch] Fix XUIButton variant type to accept variant textButtonVariants. (#4961)" (#4994)
  src/react/components/button/XUIButton.d.ts
Due: eslint

Version bump to 16.5.3 (#4995)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes] Updated missed visual regression reference images. (#4990)
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_and_reversed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_grouped_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Switch_is_grouped_and_reversed_0_rootdivdiv_0_just_desktop.png
  src/react/components/switch/stories/stories.js
Due: eslint

[breaking-changes] XUI-1465 XUITable --sortbutton width (#4989)
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/sass/7-components/_table.scss
Due: stylelint, prettier --check

[patch] [XUI-958] Add support for multiple spinners to our build scripts (#4924)
  package-lock.json
  package.json
  scripts/helpers.js
  scripts/helpers/TaskSpinners.js
  scripts/start/index.js
  scripts/test/index.js
  scripts/watch/kss.js
Due: eslint, prettier --check

[patch] [XUI-1470] Fix language example
  src/docs/components/navigation/_pagination.scss
Due: stylelint, prettier --check

[patch] [XUI-1466] Change static URL to non-responsive design codepen
  src/docs/components/navigation/_global-navigation.scss
Due: stylelint, prettier --check

Add Safari+Compositions fix to changes.md (#4998)
  changes.md
Due: prettier --check

[XUI-1374] Allow horizontal margins for banner layout
  changes.md
  src/sass/7-components/_usermessaging.banners.scss
Due: stylelint, prettier --check

[DOCS] Fix verb agreement
  changes.md
Due: prettier --check

Update package-lock with editable table dependencies
  package-lock.json
Due: prettier --check

[XUI-1446] Fix cursor not being pointer on code styled links
  .styleguidist/styles.scss
Due: prettier --check

Bump version to 16.5.3-editable-beta.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Add fixed versions of babel dependencies
  package.json
Due: prettier --check

[minor] XUI-1250 Allow Picklists using swapAtBreakPoint to set closeO… (#5007)
  src/react/components/picklist/Picklist.d.ts
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/__tests__/TabDropDown-test.js
  src/react/components/picklist/private/TabDropDown.js
  src/react/components/picklist/stories/stories.js
Due: eslint

[patch] XUI-1494 Update react example margin (#5008)
  package-lock.json
  src/react/contentblock.md
Due: prettier --check

NOREF - A bunch of Prettier updates probably related to XUI-1137 (#5009)
  src/docs/components/alerts/examples/popover/_popover-anatomy.html
  src/docs/components/alerts/examples/popover/_popover-onboarding.html
  src/docs/components/alerts/examples/popover/_popover-responsive.html
  src/docs/components/alerts/examples/toast/_toast-actions.html
  src/docs/components/alerts/examples/toast/_toast-wrapping.html
  src/docs/components/alerts/examples/toast/_toast.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-header-and-footer.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-parent.html
  src/docs/components/collecting-input/examples/modal/_modal.html
  src/docs/components/collecting-input/examples/search/_search-create-new.html
  src/docs/components/navigation/examples/pagination/_pagination-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-paging.html
  src/docs/components/navigation/examples/pagination/_pagination.html
Due: prettier --check

[XUI-800] Enable import/no-useless-path-segments
  .eslintrc.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/yaxis.js
  src/react/components/helpers/portalContainer.js
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/components/stepper/helpers/enrichprops.js
Due: eslint

[XUI-800] Enable lines-between-class-members
  .eslintrc.js
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/stories/stories.js
  src/react/components/button/XUIButton.d.ts
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/dropdown/DropDown.d.ts
  src/react/components/dropdown/DropDownPanel.d.ts
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/DropDownToggled.d.ts
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/picklist/NestedPicklistContainer.d.ts
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/StatefulPicklist.d.ts
  src/react/components/pill/XUIPill.js
  src/react/components/popover/private/Positioning.js
  src/react/components/popover/private/helpers/__tests__/positioning-test.js
  src/react/components/popover/private/helpers/positioning.d.ts
  src/react/components/popover/private/helpers/positioning.js
  src/react/components/positioning/Positioning.js
  src/react/components/progressindicator/customElements/ElementSize.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/range/XUIRange.js
  src/react/components/select-box/SelectBox.js
  src/react/components/stepper/XUIStepper.js
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableData.js
  src/react/components/tag/XUITag.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/tooltip/XUITooltip.d.ts
  src/react/components/tooltip/XUITooltip.js
  src/react/stories/components-in-components/helpers/daterangedropdown.js
  src/react/stories/components-in-components/touch-interactions/helpers.js
Due: eslint

[XUI-800] Enable max-classes-per-file
  .eslintrc.js
  src/react/components/autocompleter/stories/components/DetailedListExample.js
  src/react/components/autocompleter/stories/components/PillWrapper.js
  src/react/components/autocompleter/stories/components/SecondarySearchExample.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/progressindicator/stories/components/ColorComparison.js
  src/react/components/progressindicator/stories/components/StandardComparison.js
  src/react/components/progressindicator/stories/components/ToolTipComparison.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/table/customElements/BodyData.js
  src/react/components/table/customElements/HeadData.js
  src/react/components/table/customElements/SortButton.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/customElements/TableHeadCheckBoxCell.js
  src/react/components/table/customElements/TableHeadGenericCell.js
  src/react/components/table/customElements/TableHeadOverflowMenuCell.js
  src/react/components/table/helpers/constants.js
  src/react/stories/components-in-components/layering-elements/components/Example.js
  src/react/stories/components-in-components/layering-elements/components/ExampleToast.js
  src/react/stories/components-in-components/layering-elements/index.js
  src/react/stories/components-in-components/modal-in-modal/components/Example.js
  src/react/stories/components-in-components/modal-in-modal/components/Example2.js
  src/react/stories/components-in-components/modal-in-modal/index.js
  src/react/stories/components-in-components/touch-interactions/components/RangeWrapper.js
  src/react/stories/components-in-components/touch-interactions/components/TooltipWrapper.js
  src/react/stories/components-in-components/touch-interactions/helpers.js
  src/react/stories/components-in-components/touch-interactions/index.js
Due: eslint

[XUI-800] Enable no-else-return
  .eslintrc.js
  src/react/components/autocompleter/stories/components/DetailedListExample.js
  src/react/components/chart/helpers/yaxis.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/pageheader/XUIBreadcrumbTrail.js
  src/react/components/positioning/private/utils.js
Due: eslint

[XUI-800] Enable react/jsx-fragments
  .eslintrc.js
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/autocompleter/stories/components/DetailedListExample.js
  src/react/components/avatar/XUIAvatar.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/compositions/stories/stories.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/modal/stories/stories.js
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/components/pill/XUIInnerPill.js
  src/react/components/popover/XUIPopover.js
  src/react/components/popover/private/PortalFocusHelper.js
  src/react/components/popover/private/__tests__/PortalFocusHelper-test.js
  src/react/stories/components-in-components/layering-elements/index.js
  src/react/stories/components-in-components/touch-interactions/components/RangeWrapper.js
  src/react/stories/components-in-components/touch-interactions/helpers.js
Due: eslint

[XUI-800] Enable react/no-access-state-in-setstate
  .eslintrc.js
  src/react/stories/components-in-components/form-layout1/index.js
Due: eslint

[XUI-800] Enable react/state-in-constructor
  .eslintrc.js
  src/react/components/autocompleter/stories/components/DetailedListExample.js
  src/react/components/autocompleter/stories/components/SecondarySearchExample.js
  src/react/components/avatar/XUIAvatar.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/compositions/stories/header.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/datepicker/stories/stories.js
  src/react/components/modal/XUIModal.js
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/picklist/Picklist.js
  src/react/components/pill/XUIPill.js
  src/react/components/popover/XUIPopover.js
  src/react/components/popover/private/Positioning.js
  src/react/components/positioning/Positioning.js
  src/react/components/progressindicator/customElements/ElementSize.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/stepper/XUIStepper.js
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/BodyData.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/tag/XUITag.js
  src/react/components/textInput/XUITextInput.js
  src/react/stories/components-in-components/five-nested-modals/index.js
  src/react/stories/components-in-components/helpers/daterangedropdown.js
  src/react/stories/components-in-components/layering-elements/components/Example.js
  src/react/stories/components-in-components/statefulpicklist-infiniteloop/index.js
  src/react/stories/components-in-components/touch-interactions/components/RangeWrapper.js
  src/react/stories/components-in-components/touch-interactions/index.js
Due: eslint

[XUI-800] Enable react/static-property-placement
  .eslintrc.js
  src/react/components/progressindicator/customElements/WithCircularGrowth.js
  src/react/components/progressindicator/customElements/WithLinearGrowth.js
Due: eslint

[XUI-800] Disable jsx-a11y/no-interactive-element-to-noninteractive-role for label wrapper
  src/react/components/controlwrapper/XUIControlWrapperInline.js
Due: eslint

Exclude umd.js from the npm artifact
  scripts/build/babel.js
  scripts/prepack/index.js
Due: eslint

Fix UMD builds
  babel.config.js
Due: eslint

Guard stdout to prevent `npm pack` from hanging
  scripts/helpers.js
Due: eslint

[XUI-800] Disable jsx-a11y/no-interactive-element-to-noninteractive-role for label wrapper correctly
  src/react/components/controlwrapper/XUIControlWrapperInline.js
Due: eslint

[XUI-800] Fix state + imports for regression tests
  src/react/components/chart/customElements/TruncatedText.js
  src/react/stories/components-in-components/touch-interactions/index.js
Due: eslint

[patch] XUI-1482 Opening NestedPicklist causes page scrolling (#5011)
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint, prettier --check

[patch] Version bump to 16.5.4 (#5015)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Package imports more consistent
  src/react/components/accordion/stories/stories.js
  src/react/components/actions/stories/stories.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/button/stories/stories.js
  src/react/components/chart/stories/stories.js
  src/react/components/fileUploader/stories/stories.js
  src/react/components/illustration/stories/stories.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/picklist/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/switch/stories/stories.js
  src/react/components/table/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/toggle/stories/stories.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md}
