Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

[XUI-276] [breaking-changes ]Add composition pages to the docs
  scripts/build/kss/config.json
  src/docs/_docs.compositions.scss
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.scss
  src/docs/compositions/_docs.compositions.split.scss
  src/docs/index.scss
Due: stylelint

Adjustment to styling to prevent ghost Toast. (#3969)
  src/sass/7-components/_usermessaging.toasts.scss
Due: stylelint

fix wording and orders
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

set up for composition docs
  src/react/compositions.md
Due: none

add compositions section to sections.json + set up of compositions in styleguidist
  .styleguidist/sections.json
  src/react/compositions.md
Due: none

name changes to SCSS and grid-area classes
  src/sass/5-structure/_gridarea-detail.scss
  src/sass/5-structure/_gridarea-main.scss
  src/sass/5-structure/_gridarea-master.scss
  src/sass/5-structure/_gridarea-media.scss
  src/sass/5-structure/_gridarea-primary.scss
  src/sass/5-structure/compositions/_detail.scss
  src/sass/5-structure/compositions/_detailheader.scss
  src/sass/5-structure/compositions/_detailsummary.scss
  src/sass/5-structure/compositions/_detailsummaryheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/5-structure/compositions/_split.scss
  src/sass/5-structure/compositions/_splitheader.scss
  src/sass/xui.scss
Due: stylelint

name changes to tests and storybook
  src/react/components/compositions/__tests__/XUICompositionDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetail-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionMasterDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionSplit-test.js
  src/react/components/compositions/__tests__/XUICompositionSplitHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplit-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplitHeader-test.js.snap
  src/react/components/compositions/stories/stories.js
Due: eslint

name changes to composition components and where they're referred to + reorganising of styleguidist composition pages (under Compositions parent)
  .styleguidist/sections.json
  src/react/components/compositions/XUICompositionDetailHeader.js
  src/react/components/compositions/XUICompositionDetailSplit.js
  src/react/components/compositions/XUICompositionDetailSummary.js
  src/react/components/compositions/XUICompositionDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionMasterDetail.js
  src/react/components/compositions/XUICompositionMasterDetailHeader.js
  src/react/components/compositions/XUICompositionMasterDetailSummary.js
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionSplit.js
  src/react/components/compositions/XUICompositionSplitHeader.js
  src/react/components/compositions/XUIGridAreaDetail.js
  src/react/components/compositions/XUIGridAreaMaster.js
  src/react/components/compositions/XUIGridAreaMasterPanelDropdown.js
  src/react/components/compositions/XUIGridAreaPrimary.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummary-test.js
  src/react/components/compositions/__tests__/XUICompositionDetailSummaryHeader-test.js
  src/react/components/compositions/__tests__/XUICompositionSplit-test.js
  src/react/components/compositions/__tests__/XUICompositionSplitHeader-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplit-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplitHeader-test.js.snap
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/compositions/compositions.split.md
  src/react/components/compositions/stories/stories.js
  src/react/compositions.js
  src/react/compositions.md
Due: eslint

more nameing changes in .md compositions files
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/compositions/compositions.split.md
Due: none

Bump version for 15.0.0-alpha.4
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Updates per code review
  src/sass/2-mixins/_states.scss
  src/sass/7-components/_datepicker.scss
Due: stylelint

Allow size variant to be set on SelectBoxOptions.
  src/react/components/select-box/SelectBoxOption.js
Due: eslint

Selectbox stories and backstop images
  .visual-testing/reference/backstop_default_SelectBox_with_checkboxes_and_option_variations_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  src/react/components/select-box/stories/stories.js
  src/react/components/select-box/stories/variations.js
Due: eslint

Autocompleter updates to consume new picklist sizes
  src/react/autocompleter.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/autocompleter/stories/variations.js
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/private/PickitemBody.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Autocompleter vis-reg updates for picklist size
  .visual-testing/reference/backstop_default_XUI_Autocompleter_no_drawer_footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_large_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_picklist_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xlarge_dropdown_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_an_xsmall_picklist_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_when_open_shows_drawer_0_xui-container_0_just_desktop.png
Due: none

Styleguidist demos (#3977)
  .styleguidist/sections.json
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/compositions/compositions.split.md
  src/react/components/picklist/picklist.nested.md
  src/react/compositions.md
Due: none

Performance updates to modal samples. XUI-121
  src/react/modal.md
Due: none

Cleanup and perf updates for Tooltip. XUI-116
  src/react/tooltip.md
Due: none

Bug fix for long text pushing arrow button XUI-282 (#3978)
  src/sass/7-components/_accordion.scss
Due: stylelint

[breaking-changes] Various bugfixes from a review of storybook and the react docs (#3975)
  .visual-testing/reference/backstop_default_Components_in_Components_Datepicker_dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Components_in_Components_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_smaller_than_smallest_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_4_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Modal_full_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_with_footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_with_header_0_xui-container_0_just_desktop.png
  src/react/components/range/XUIRange.js
  src/react/components/range/__tests__/XUIRange-test.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/range/stories/variations.js
  src/react/components/tag/XUITag.js
  src/react/range.md
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_modals.scss
Due: eslint, stylelint

Update class replacement map to export correctly
  .codemod/classReplacements.js
Due: none

Version bump for 14.2.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Bump to 15.0.0-alpha.5 (#3984)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Remove codePoint use, for IE (#3987)
  src/react/components/avatar/utils.js
Due: eslint

Content block viewport changes, and accommodating images (#3985)
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_smaller_than_smallest_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_1_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_3_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_4_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_5_bigger_than_xlarge_breakpoint.png
  src/react/stories/helpers/viewports.js
Due: eslint

Updated codemod and changes.md for #3920 (#3988)
  .codemod/componentTransforms.js
  changes.md
Due: none

Overview block - a handful of new props (XUI-84)
  .visual-testing/reference/backstop_default_Structural_overview_block_minimalist_and_left-aligned_with_progress_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIOverviewBlock.js
  src/react/components/structural/XUIOverviewSection.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_overview.scss
Due: eslint, stylelint

Bumping for 14.2.2 (#3989)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

14.2.2 Lets Go! (#3990)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/avatar/utils.js
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Updates for overview, per design, and added responsive snapshots
  .visual-testing/reference/backstop_default_Structural_overview_block_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_0_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_1_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_3_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_4_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_5_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_overview_block_without_layout_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIOverviewBlock.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_overview.scss
Due: eslint, stylelint

XUI 209 amend spacing page (#3991)
  src/sass/99-utils/_marginpadding.scss
Due: stylelint

Fix IE & Edge styleguidist not working (#3993)
  .styleguidist/components/TableOfContents.js
Due: none

One small update for autocompleter docs
  src/react/autocompleter.md
Due: none

Some cleanup for docs referring to modular SASS imports that have been removed
  changes.md
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

[breaking-changes] Fixes introduced tooltip pill display block issue (#3995)
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: eslint

Added and implemented resize observer polyfill XUI-288
  package-lock.json
  package.json
  src/react/components/helpers/resizeObserver.js
Due: eslint

Updates to XUILoader, per XUI-299
  .codemod/componentTransforms.js
  changes.md
  src/react/components/loader/XUILoader.js
  src/react/components/loader/private/constants.js
  src/react/loader.md
  src/sass/7-components/_loaders.scss
Due: eslint, stylelint

Updates to test and snapshots
  src/react/components/loader/__tests__/XUILoader-test.js
  src/react/components/loader/__tests__/__snapshots__/XUILoader-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

Updates to visual regression reference images
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Loading_State_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_full-width-mobile_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_full-width_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_standard_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_xsmall_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Loader_with_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Loader_with_inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Loader_with_retain_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Loader_without_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_loading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_no_header_0_rootdivdiv_0_just_desktop.png
Due: none
