Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

abstract scaffold props into module and rename into consistent naming convention
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/chartpadding.js
  src/react/components/chart/helpers/index.js
Due: eslint

address IE11 issues with Array.fill()
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/helpers/yaxis.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

sanitise React components
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
Due: eslint

sanitise /helpers items
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/helpers/groupposition.js
  src/react/components/chart/helpers/index.js
  src/react/components/chart/helpers/targetposition.js
  src/react/components/chart/helpers/theme.js
  src/react/components/chart/helpers/yaxis.js
Due: eslint

revert target positioning abstraction that broke the tooltip system
  src/react/components/chart/customElements/ChartScaffold.js
Due: eslint

Fix eslint errors
  scripts/build/cssmin/index.js
  src/react/components/toast/XUIToast.js
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/__tests__/XUIToastWrapper-test.js
Due: eslint

add ability to hide tile and header completely if no relevant content is supplied
  src/react/barchart.md
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
Due: eslint

create standard x-axis label variant
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/helpers/bars.js
Due: eslint

Bugfixes for inline dropdown (#3335)
  .visual-testing/reference/backstop_default_DropDown_side_by_side_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/dropdown/dropdown.toggled.md
  src/react/components/dropdown/stories/stories.js
  src/react/components/positioning/PositioningInline.js
  src/react/components/positioning/private/utils.js
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/tooltip/stories/stories.js
  src/react/dropdown.md
  src/react/stories/modal-in-modal/index.js
  src/react/tooltip.md
  src/sass/objects/_dropdowns.container.scss
  src/sass/objects/_forms.scss
  src/sass/objects/_usermessaging.tooltip.scss
Due: eslint, stylelint

Allow autocompleter input to update on change (#3349)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

Resolve Issue #3355 by normalizing dir/path to lowercase
  .styleguidist/config.js
  .styleguidist/sections.json
  src/react/textinput.md
Due: none

create abbreviation x-axis label variant
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/xaxis.js
Due: eslint

fix large decimal place rounding bug where NaN was returned
  src/react/components/chart/helpers/yaxis.js
Due: eslint

added revised default empty state and ability to customise or replace
  src/react/barchart.md
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

Update Updates page with notes for XUI 13.3.0
  package-lock.json
  src/docs/_docs.updates.scss
Due: stylelint

fix the empty stack / bar no data states with options like [0,0,0,0,0,0]
  src/react/barchart.md
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
Due: eslint

rebuilt the active bar / stack setup as per new designs
  src/react/barchart.md
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/constants.js
Due: eslint

Bump version 13.3.0 (#3366)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

update the y-axis incriminator system
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/yaxis.js
Due: eslint

Additional changes to cater for modal which don't start open (#3365)
  README.md
  src/react/components/modal/XUIModal.js
  src/sass/objects/_modals.scss
Due: eslint, stylelint

add a customisable Key title
  src/react/barchart.md
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
Due: eslint

add sass custom namespace
  src/sass/objects/_chart.scss
Due: stylelint

add JSX name spacing for .xui-chart
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/helpers/groupposition.js
Due: eslint

removed all references to qui utility classes
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

add PropType declarations for all components
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/chart/helpers/bars.js
Due: eslint

Fix CSS docs for non-boxed icons
  .kss/builder/extend/breadcrumbs.js
  .kss/builder/extend/menu.js
  .kss/builder/extend/tokens.js
  .kss/builder/kss-assets/copy-code-blocks.js
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/objects/_buttons.scss
  src/sass/objects/_contentblocks.scss
  src/sass/objects/_datepicker.scss
  src/sass/objects/_icons.scss
  src/sass/objects/_loaders.scss
  src/sass/objects/_modals.scss
  src/sass/objects/_navigation.picklist.scss
  src/sass/objects/_pills.scss
  src/sass/objects/_popovers.scss
  src/sass/objects/_steps.scss
  src/sass/objects/_typography.tags.scss
  src/sass/objects/_usermessaging.banners.scss
  src/sass/objects/_usermessaging.tooltip.scss
Due: stylelint

Modify modal to not add header if no onClose is added (#3372)
  src/react/components/modal/XUIModal.js
Due: eslint

rework the active API to depend on isolated references and independent bar ID
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
Due: eslint

renamed remaining propType declarations
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/yaxis.js
Due: eslint

remove redundant variable references and <GroupComponent />
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/helpers/bars.js
Due: eslint

add pagination labels with default fallbacks
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/helpers/bars.js
Due: eslint

add qahook integration
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/helpers/bars.js
Due: eslint

rename utils, fix pagination tooltip positioning, reintroduce GroupWrapper
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/groupposition.js
  src/react/components/chart/helpers/index.js
  src/react/components/chart/helpers/utilities.js
Due: eslint

swap Component / PureComponent declarations
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
Due: eslint

Revise / simplify truncation system
  src/react/barchart.md
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/TruncatedText.js
Due: eslint

truncation optimisation, reremove GroupWrapper
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/targetposition.js
Due: eslint

sanitise misc code formatting for PR update
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

alphabetize sass properties
  src/sass/objects/_chart.scss
Due: stylelint

create label optimisation and tooltip consolidation
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/chart/helpers/xaxis.js
Due: eslint
