Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Add in links
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

[patch] [NO-JIRA] Add instructions for npm-link (#5183)
  README.md
  package-lock.json
  package.json
Due: node scripts/lint/prettier -- --check

Properly added info icon
  .kss/scss/style.scss
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Attempt to add in images
  .kss/builder/kss-assets/page-level-actions/_example-page-header.png
  .kss/builder/kss-assets/page-level-actions/_placement-after-main.svg
  .kss/builder/kss-assets/page-level-actions/_placement-before-main.svg
  .kss/builder/kss-assets/page-level-actions/_placement-fixed-footer.svg
  .kss/builder/kss-assets/page-level-actions/_placement-page-header.svg
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Reference page-level actions in button, fixed footer, isolation header and page header page
  src/docs/components/controls/_buttons.scss
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
Due: stylelint, node scripts/lint/prettier -- --check

Tweak margin of info icon
  .kss/scss/style.scss
Due: node scripts/lint/prettier -- --check

Add in all the images
  .kss/builder/kss-assets/page-level-actions/_example-page-header.png
  .kss/builder/kss-assets/page-level-actions/example-after-main.png
  .kss/builder/kss-assets/page-level-actions/example-before-main.png
  .kss/builder/kss-assets/page-level-actions/example-fixed-footer.png
  .kss/builder/kss-assets/page-level-actions/example-page-header.png
  .kss/builder/kss-assets/page-level-actions/placement-after-main.svg
  .kss/builder/kss-assets/page-level-actions/placement-before-main.svg
  .kss/builder/kss-assets/page-level-actions/placement-fixed-footer.svg
  .kss/builder/kss-assets/page-level-actions/placement-page-header.svg
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Update page header page with the flag
  src/docs/components/navigation/_page-headers.scss
Due: stylelint, node scripts/lint/prettier -- --check

Address Finn's comment
  src/docs/components/navigation/_page-headers.scss
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

[NOJIRA] Update VisReg tests for XUIEditableTable pinned columns padding (#5196)
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_with_pinned_first_and_last_action_columns_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_with_pinned_first_and_last_text_columns_0_rootdivdiv_0_just_desktop.png
Due: none

- Make wording in intro consistent with teaser - Remove p tag in intro - Wording change for first paragraph in best practice
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

- Rename link to internal XUI Guide - Swap the order of related links to match with what's in the guide
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

[breaking-changes][XUI-1718] Update Styleguidist to the latest version (#5195)
  .styleguidist/components/ComponentsList.js
  .styleguidist/components/Section.js
  .styleguidist/config.js
  package-lock.json
  package.json
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Address Finn's comment on wording in Figma: https://www.figma.com/file/7LHhtjLDwouXI40ff1xH3Z/Page-Actions-Workshop?node-id=1311%3A0
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Remove full dot for single sentences
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Tweak image dimension for placement and rewrite the caption
  .kss/builder/kss-assets/page-level-actions/placement-above-main.png
  .kss/builder/kss-assets/page-level-actions/placement-after-main.svg
  .kss/builder/kss-assets/page-level-actions/placement-before-main.svg
  .kss/builder/kss-assets/page-level-actions/placement-below-main.png
  .kss/builder/kss-assets/page-level-actions/placement-fixed-footer.png
  .kss/builder/kss-assets/page-level-actions/placement-fixed-footer.svg
  .kss/builder/kss-assets/page-level-actions/placement-page-header.svg
  .kss/builder/kss-assets/page-level-actions/placement-within-header.png
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

More wording change
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

[DOCS] Fix copypasta error in banner docs
  src/react/components/banner/XUIBanner.d.ts
  src/react/components/banner/XUIBanner.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Wording change
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

Add full dots and update example and wording in placements
  .kss/builder/kss-assets/page-level-actions/example-before-main.png
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

NOREF Remove xperts and placekittens for tests and examples (#5203)
  .visual-testing/reference/backstop_default_XUI_Avatar_with_image_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_Image_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_positioning_test_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_left_and_right_Elements_0_rootdivdiv_0_just_desktop.png
  src/react/avatar.md
  src/react/barchart.md
  src/react/components/avatar/__tests__/XUIAvatar-test.js
  src/react/components/avatar/__tests__/__snapshots__/XUIAvatar-test.js.snap
  src/react/components/avatar/stories/stories.js
  src/react/components/avatar/stories/variations.js
  src/react/components/chart/stories/variations.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/range/stories/stories.js
  src/react/components/range/stories/variations.js
  src/react/progressindicator.md
  src/react/range.md
  src/react/rollovercheckbox.md
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Version bump to 17.1.1 (#5204)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

XUI-1414 Update 'release' script to include xop yaml (#5205)
  scripts/update-versions/constants.js
  scripts/update-versions/index.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

add an extra line at the end of the document
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, node scripts/lint/prettier -- --check

[Minor][XUI-1702] Expose `isLegacyDisplay` DDT prop to Autocompleter and AutocompleterSecondarySearch (#5211)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

XUI-1720 Silence some styleguidist errors (#5213)
  .styleguidist/components/Wrapper.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Fix type definition for XUIEditableTableCellAutocompleter (#5216)
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.d.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

Version bump for 17.1.2 (#5217)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] XUI-1714 Fix overzealous falsiness checks (#5215)
  src/react/components/contentblock/XUIContentBlockItem.js
  src/react/components/controlwrapper/private/LabelElement.js
  src/react/components/controlwrapper/private/MessageElement.js
  src/react/components/helpers/__tests__/shouldRender-test.js
  src/react/components/helpers/shouldRender.js
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/picklist/XUINestedPicklistTrigger.js
  src/react/components/picklist/XUIPickitem.js
  src/react/components/toast/XUIToast.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] noref - Resolving errors for Storybook stories (#5226)
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_autocompleter_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_multi_pick_autocompleter_cells_0_rootdivdiv_0_just_desktop.png
  src/react/components/actions/stories/stories.js
  src/react/components/banner/stories/variations.js
  src/react/components/button/stories/stories.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/components/illustration/stories/stories.js
  src/react/components/popover/private/Positioning.js
  src/react/components/popover/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/table/stories/stories.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[minor] noref - cleanup docs weighting (#5227)
  src/docs/_contributing-to-xui.scss
  src/docs/getting-started/_codepen.scss
  src/docs/getting-started/_designers.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_directory.scss
  src/docs/getting-started/_performance.scss
  src/docs/getting-started/_typescript.scss
  src/docs/getting-started/accessibility/_accessibility.scss
  src/docs/getting-started/accessibility/_design.scss
  src/docs/getting-started/accessibility/_development.scss
  src/docs/getting-started/localisation/_localisation.scss
  src/docs/getting-started/responsive/_guidelines.scss
  src/docs/getting-started/responsive/_responsive.scss
  src/docs/index.scss
  src/docs/patterns/_drag-and-drop.scss
  src/docs/patterns/_page-level-actions.scss
  src/docs/patterns/_text.scss
Due: stylelint, node scripts/lint/prettier -- --check

[minor][XUI-1693] Rewrite our resize observers + container queries (#5214)
  .styleguidist/sections.json
  changes.md
  src/docs/getting-started/responsive/_guidelines.scss
  src/react/components/button/button.container.queries.md
  src/react/components/button/button.resize.observers.md
  src/react/components/compositions/XUIGridAreaDetail.js
  src/react/components/compositions/XUIGridAreaHeader.js
  src/react/components/compositions/XUIGridAreaMaster.js
  src/react/components/compositions/XUIGridAreaPrimary.js
  src/react/components/compositions/XUIGridAreaSummary.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellControl-test.js.snap
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
  src/react/components/editabletable/private/PortalFocus.js
  src/react/components/helpers/breakpoints.ts
  src/react/components/helpers/containerQuery.ts
  src/react/components/helpers/resizeObserver.js
  src/react/components/helpers/resizeObserver.ts
  src/react/components/helpers/useContainerQuery.ts
  src/react/components/helpers/useResizeObserver.js
  src/react/components/helpers/useResizeObserver.ts
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/pagination/XUIPagination.js
  src/react/components/pagination/__tests__/XUIPagination-test.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/picklist/XUIPicklist.js
  src/react/helpers/containerQueries.md
  src/react/helpers/containerQuery.ts
  src/react/helpers/resizeObserver.js
  src/react/helpers/resizeObserver.md
  src/react/helpers/resizeObserver.ts
  src/react/helpers/useContainerQuery.ts
  src/react/helpers/useResizeObserver.ts
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

noref - package-lock.json update
  package-lock.json
Due: node scripts/lint/prettier -- --check

noref - update eslint-plugin-import
  package-lock.json
  package.json
Due: node scripts/lint/prettier -- --check

[nojira] - Update release version to 17.2.0 (#5233)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] Page header doc (XUI-1197) (#5236)
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/examples/page-header/_page-header-actions.html
  src/docs/components/navigation/examples/page-header/_page-header-breadcrumb-trail.html
  src/docs/components/navigation/examples/page-header/_page-header-extended.html
  src/docs/components/navigation/examples/page-header/_page-header-primary-title.html
  src/docs/components/navigation/examples/page-header/_page-header-responsive.html
  src/docs/components/navigation/examples/page-header/_page-header-secondary-title.html
  src/docs/components/navigation/examples/page-header/_page-header-supplementary-text.html
  src/docs/components/navigation/examples/page-header/_page-header-tabs.html
  src/docs/components/navigation/examples/page-header/_page-header-tags.html
  src/docs/components/navigation/examples/page-header/_page-header-titles.html
  src/docs/components/navigation/examples/page-header/_page-header.html
Due: stylelint, node scripts/lint/prettier -- --check

Path conditions:
  node scripts/lint/eslint --: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  node scripts/lint/prettier -- --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
