Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[Patch][XUI-1408] Add `TypeScript with XUI` section to XUI docs. (#4915)
  changes.md
  src/docs/getting-started/_typescript.scss
Due: stylelint, prettier --check

[patch][XUI-16.5.1-release] Bump version # to 16.5.1 (#4934)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes][XUI-1403] Update codemods for XUI 17 (#4933)
  .codemod/componentTransforms.js
  package-lock.json
  package.json
Due: eslint, prettier --check

[XUI-983] Update XUIPanelSection header prop to accept node (#4926)
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Panel_with_header_node_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/panel/XUIPanelSection.d.ts
  src/react/components/panel/XUIPanelSection.js
  src/react/components/panel/__tests__/XUIPanel-test.js
  src/react/components/panel/stories/stories.js
  src/react/components/panel/stories/variations.js
  src/react/panel.md
Due: eslint, prettier --check

[XUI-983] Add PanelSection prop changes to updates docs
  src/docs/_updates.scss
Due: stylelint, prettier --check

[editable] patch → editable for 16.5.1-editable.3 (#4939)
  .github/pull_request_template.md
  .kss/scss/style.scss
  .umd/index.html
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Negative_Bars_0_rootdivdiv_0_just_desktop.png
  README.md
  Runbook.md
  changes.md
  package-lock.json
  package.json
  src/docs/_feedback.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_typescript.scss
  src/docs/home.md
  src/react/button.md
  src/react/checkbox.md
  src/react/components/button/button.caret.md
  src/react/components/button/button.group.md
  src/react/components/button/button.icon.md
  src/react/components/button/button.split.md
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/stories/variations.js
  src/react/components/checkbox/checkbox.group.md
  src/react/components/helpers/__tests__/doAsync-test.ts
  src/react/components/helpers/doAsync.ts
  src/react/components/helpers/versions.js
  src/react/components/popover/private/Positioning.js
  src/react/components/radio/radio.group.md
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.row.md
  src/react/fileUploader.md
  src/react/icon.md
  src/react/radio.md
  src/react/range.md
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-1415] Add unit tests to editable table wrapper
  src/react/components/editabletable/__tests__/EditableTableWrapper-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableWrapper-test.js.snap
Due: eslint

[editable] Fix the setSelectionRange error when the input type is number (#4942)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint

[Breaking-changes] Bump version to 17.0.0-beta.1 (#4946)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Update Readme to reflect accurate codeshift info (#4950)
  README.md
Due: prettier --check

[XUI-1379] Convert class component types to function component types
  src/react/components/actions/XUIActions.d.ts
  src/react/components/avatar/XUIAvatar.d.ts
  src/react/components/chart/XUIBarChart.d.ts
  src/react/components/checkbox/XUICheckboxGroup.d.ts
  src/react/components/compositions/XUICompositionDetail.d.ts
  src/react/components/compositions/XUICompositionDetailHeader.d.ts
  src/react/components/compositions/XUICompositionDetailSummary.d.ts
  src/react/components/compositions/XUICompositionDetailSummaryHeader.d.ts
  src/react/components/compositions/XUICompositionMasterDetail.d.ts
  src/react/components/compositions/XUICompositionMasterDetailHeader.d.ts
  src/react/components/compositions/XUICompositionMasterDetailSummary.d.ts
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.d.ts
  src/react/components/compositions/XUICompositionSplit.d.ts
  src/react/components/compositions/XUICompositionSplitHeader.d.ts
  src/react/components/contentblock/XUIContentBlock.d.ts
  src/react/components/contentblock/XUIContentBlockItem.d.ts
  src/react/components/controlwrapper/XUIControlWrapper.d.ts
  src/react/components/controlwrapper/XUIControlWrapperInline.d.ts
  src/react/components/overviewblock/XUIOverviewBlock.d.ts
  src/react/components/overviewblock/XUIOverviewSection.d.ts
  src/react/components/panel/XUIPanel.d.ts
  src/react/components/panel/XUIPanelSection.d.ts
  src/react/components/picklist/XUINestedPicklist.d.ts
  src/react/components/picklist/XUIPicklistDivider.d.ts
  src/react/components/picklist/XUIPicklistHeader.d.ts
  src/react/components/pill/XUIPill.d.ts
  src/react/components/radio/XUIRadio.d.ts
  src/react/components/radio/XUIRadioGroup.d.ts
  src/react/components/range/XUIRange.d.ts
  src/react/components/switch/XUISwitch.d.ts
  src/react/components/switch/XUISwitchGroup.d.ts
  src/react/components/tag/XUITag.d.ts
  src/react/components/textInput/XUITextInputSideElement.d.ts
  src/react/components/toast/XUIToastWrapper.d.ts
  src/react/components/toggle/XUIToggle.d.ts
Due: eslint

[editable] Hide/show columns via "hiddenColumns" table API (no docs, yet) (#4948)
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/stories/column-hide-select.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

[editable] XUI-1443 Add support for disabling drag/remove icons in rows (#4951)
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/stories/stories.js
Due: eslint

[FIX] Silence Browserslist warning on start
  package-lock.json
Due: prettier --check

XUI-1209 Add getHighlighted methods to DropDown (#4944)
  src/react/components/dropdown/DropDown.d.ts
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownPanel.d.ts
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/__tests__/DropDown-test.js
  src/react/components/picklist/__tests__/StatefulPicklist-test.js
Due: eslint

[editable] XUI-1201 Add-a-row functionality (button) (#4940)
  .styleguidist/sections.json
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/editabletable/__tests__/EditableTableOverflow-test.tsx
  src/react/components/editabletable/__tests__/EditableTableUtilityBar-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableFootAction-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableUtilityBar-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableFootAction-test.js.snap
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/editabletable.md
  src/react/editabletable.ts
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

Update xui-icon dep to latest (#4959)
  package-lock.json
  package.json
Due: prettier --check

[Breaking-changes] Fix XUIButton variant type to accept variant textButtonVariants. (#4960)
  src/react/components/button/XUIButton.d.ts
Due: eslint

XUI-1416 Updated Updates page for markdown (#4962)
  src/docs/_updates.scss
Due: stylelint, prettier --check

[XUI-1347] Add Styleguidist docs for editable table
  .styleguidist/sections.json
  src/react/components/editabletable/editabletable.celltypes.md
  src/react/components/editabletable/editabletable.custom.md
  src/react/components/editabletable/editabletable.head.md
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/editabletable.responsive.md
  src/react/components/editabletable/editabletable.validation.md
  src/react/editabletable.ts
Due: eslint, prettier --check

[editable] Add missing section in React docs
  src/react/components/editabletable/editabletable.interactions.md
Due: prettier --check

[Patch] Fix XUIButton variant type to accept variant textButtonVariants. (#4961)
  src/react/components/button/XUIButton.d.ts
Due: eslint

[editable] XUI-1443 Add support for disabling drag/remove icons in rows - docs (#4956)
  src/react/components/editabletable/editabletable.interactions.md
Due: prettier --check

[Breaking-changes] [XUI-1169] Address issues identified in 17.0.0-beta.1 (#4965)
  .codemod/componentTransforms.js
  README.md
  src/react/components/dropdown/XUINestedDropdown.d.ts
Due: eslint, prettier --check

[editable] XUI-1205 Docs for column hide/show API (#4955)
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/stories/column-hide-select.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
Due: eslint, prettier --check

[editable] XUI-1202 Add-a-row functionality (non-button) (#4949)
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/helpers/reactKeyHandler.js
  src/react/components/textInput/XUITextInput.d.ts
  src/react/components/textInput/XUITextInput.js
  src/react/helpers/reactKeyHandler.js
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[Editable] Editable style tweaks (#4969)
  src/sass/7-components/_editabletable.scss
Due: stylelint, prettier --check

[XUI-1471] Update Artifactory URLs
  .npmrc
  package-lock.json
Due: prettier --check

[XUI-1444] Add editable table type defs
  src/react/components/button/XUIButton.d.ts
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableBody.d.ts
  src/react/components/editabletable/XUIEditableTableCell.d.ts
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.d.ts
  src/react/components/editabletable/XUIEditableTableCellControl.d.ts
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/XUIEditableTableCellIconButton.d.ts
  src/react/components/editabletable/XUIEditableTableCellReadOnly.d.ts
  src/react/components/editabletable/XUIEditableTableCellSelectBox.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableFoot.d.ts
  src/react/components/editabletable/XUIEditableTableHead.d.ts
  src/react/components/editabletable/XUIEditableTableHeadingCell.d.ts
  src/react/components/editabletable/XUIEditableTableRow.d.ts
  src/react/components/editabletable/contexts/XUIEditableTableContext.ts
  src/react/components/textInput/XUITextInput.d.ts
Due: eslint

[XUI-1283] Fix bottom-of-page margin collapsing in Safari (#4971)
  src/sass/4-base/_base.scss
Due: stylelint, prettier --check

[breaking-changes] [release-blocker] Add fixed versions of babel dependencies. (#4967)
  package-lock.json
  package.json
Due: prettier --check

[patch] Version bump and update to package-lock (#4977)
  .npmrc
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Version bump for 17.0.0-beta.2 (#4978)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

More package-lock path updates
  package-lock.json
Due: prettier --check

[breaking-changes] XUI-1248 Expose rootNode of XUITextInput (#4975)
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/textInput/XUITextInput.d.ts
  src/react/components/textInput/XUITextInput.js
Due: eslint

[breaking-changes] XUI-1450 Add new 2XL font size (#4972)
  .codemod/classReplacements.js
  .kss/scss/utility-classes.scss
  changes.md
  src/docs/_updates.scss
  src/docs/fundamentals/_typography.scss
  src/sass/1-vars/_typography.scss
  src/sass/2-mixins/_typography.scss
  src/sass/7-components/_avatars.scss
  src/sass/7-components/_typography.headings.scss
Due: eslint, stylelint, prettier --check

[editable] (XUI-1327) Editable table XUI Guide docs (#4964)
  .kss/scss/style.scss
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/examples/editable-table/_editable-table-addrow-automatic.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-addrow-manual.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-anatomy.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-autocompleter.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-customcontent.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-iconbutton.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-readonly.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-selectbox.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-textinput.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-columns.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-disabling.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-draganddrop.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-header.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-removerow.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-responsive.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-validation.html
  src/docs/components/navigation/_pagination.scss
Due: stylelint, prettier --check

[editable] Guidance for usage of column and table width. (#4984)
  src/react/components/editabletable/editabletable.custom.md
Due: prettier --check

[editable] XUI-1448 Create stories/vis reg tests for editable table (#4973)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Editable_Table_responsive_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_Default_5_by_5_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_a_single_row_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_add_new_row_button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_autocompleter_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_drag_and_drop_without_delete_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_invalid_and_mixed_type_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_max-width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_max-width_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_max-width_smaller_than_container_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_min-width_and_max-width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_min-width_and_max-width_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_mixed_type_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_multi_pick_autocompleter_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_multiline_text_input_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_read-only_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_select_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_text_input_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_without_header_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_without_max-width_0_rootdivdiv_0_just_desktop.png
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md}
