Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

[patch] XUI-697 Updated nested icon button sizes (#4342)
  src/react/textinput.md
Due: prettier --write

[patch] XUI-722 Update XUIButton with isLoading to also be disabled - v15 (#4344)
  .visual-testing/reference/backstop_default_XUI_Button_medium_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_xsmall_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  src/react/components/button/XUIButton.js
  src/react/components/button/__tests__/XUIButton-test.js
  src/react/components/button/__tests__/__snapshots__/XUIButton-test.js.snap
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_loaders.scss
Due: eslint, stylelint, prettier --write

[breaking-changes] XUI-665 Tag component - added min-width (touch targets) (#4346)
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_long_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_short_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_short_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/react/components/tag/stories/variations.js
  src/sass/7-components/_typography.tags.scss
Due: eslint, stylelint, prettier --write

[patch] KSS for sunset (#4348)
  .kss/builder/index.hbs
  .kss/scss/example.scss
  .kss/scss/style.scss
  src/sass/7-components/_pills.scss
Due: stylelint, prettier --write

[patch]XUI-667 group touch targets (#4340)
  changes.md
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/react/components/button/XUIButtonGroup.js
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/picklist.pickitem.md
  src/react/textinput.md
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --write

[breaking-changes] XUI 362 right align input docs (#4349)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
Due: stylelint, prettier --write

Fix Chrome Jira Links
  src/docs/home.md
Due: prettier --write

[XUI-261] NPM audit fixes
  .stylelintignore
  jest.config.js
  package-lock.json
  package.json
  src/sass/7-components/_overview.scss
Due: stylelint, prettier --write

[XUI-261] Patch deprecated lifecycle methods
  src/react/components/autocompleter/stories/stories.js
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/modal/XUIModal.js
  src/react/components/picklist/NestedPicklistContainer.js
Due: eslint, prettier --write

[XUI-261] Prettier changes
  jest.config.js
  src/sass/7-components/_overview.scss
Due: stylelint, prettier --write

[XUI-261] More Prettier changes
  src/react/components/picklist/NestedPicklistContainer.js
Due: eslint, prettier --write

[XUI-261] Remove ‘javascript:’ URLs
  src/react/components/button/XUIButton.js
  src/react/components/toast/__tests__/__snapshots__/XUIToast-test.js.snap
  src/react/components/toast/__tests__/__snapshots__/XUIToastActions-test.js.snap
  src/react/components/tooltip/__tests__/XUITooltip-test.js
  src/react/components/tooltip/__tests__/__snapshots__/XUITooltip-test.js.snap
Due: eslint, prettier --write

[breaking-changes] XUI-665 Touch target fixes - Textinput, Pill, Capsule, Table, Toggle, Range (#4347)
  .visual-testing/reference/backstop_default_XUI_Pill_with_short_content_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_input_with_both_side_elements_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_TextInput_flex-width_mutliline_input_with_both_side_elements_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Toggle_with_short_content_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/pill/stories/variations.js
  src/react/components/toggle/stories/variations.js
  src/sass/7-components/_forms.range.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_typography.capsules.scss
Due: eslint, stylelint, prettier --write

[patch] Add new flags and accompanying tooltips for KSS (#4353)
  .kss/README.md
  .kss/builder/extend/flags.js
  .kss/builder/index.hbs
  .kss/builder/kss-assets/copy-code-blocks.js
  .kss/scss/copy-code-blocks.scss
  .kss/scss/hover-tooltip.scss
  .kss/scss/style.scss
  CONTRIBUTING.md
  scripts/build/kss/config.json
  src/docs/_docs.updates.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/fundamentals/_docs.layout.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_globalstates.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_motion.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_overview.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/99-utils/_utilities.scss
Due: stylelint, prettier --write

XUI-668 adds touch target documentation (#4343)
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint, prettier --write

[breaking-changes] XUI-665 Linear progress indicator - min-width (#4350)
  .visual-testing/reference/backstop_default_XUI_Progress_Indicator_linear_standard_-_very_short_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/stories/stories.js
  src/react/components/progressindicator/stories/variations.js
  src/sass/7-components/_progressindicator.scss
Due: eslint, stylelint, prettier --write

(breaking-changes) XUI-603 reframe size variant documentation (#4355)
  src/docs/_docs.avatars.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/docs/building-blocks/forms/_docs.range.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_illustrations.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/99-utils/_marginpadding.scss
Due: stylelint, prettier --write

[patch] XUI-756 Fix KSS build regression
  scripts/build/kss/config.json
Due: prettier --write

[patch] XUI-756 Update KSS readme. (#4360)
  .kss/README.md
Due: prettier --write

Bump version to 15.2.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] Copy XUI CSS after storybook build task (#4363)
  scripts/build/index.js
Due: prettier --write

[patch] XUI-675 Docs updates for tooltip on hover (#4357)
  src/react/tooltip.md
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint, prettier --write

(breaking-changes) XUI-678-Hover improvements: Write and publish guidance on hover states (#4358)
  scripts/build/kss/config.json
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.accessibility.development.scss
  src/docs/working-with-xui/_docs.accessibility.scss
  src/docs/working-with-xui/_docs.codepen.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/docs/working-with-xui/_docs.developers.scss
  src/docs/working-with-xui/_docs.performance.scss
  src/docs/working-with-xui/_docs.responsive.guidelines.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint, prettier --write

[patch] XUI-764 Fixes to grid layout + updated vis-reg tests (#4366)
  .visual-testing/reference/backstop_default_Structural_With_a_flex_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_With_a_flex_variant_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_With_a_flex_variant_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_With_a_grid_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_With_a_grid_variant_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_With_a_grid_variant_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_With_a_standard_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_With_a_standard_variant_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_With_a_standard_variant_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/2-mixins/_layout.grids.scss
Due: eslint, stylelint, prettier --write

Lint fixes (#4369)
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_table.scss
Due: eslint, stylelint, prettier --write

Remove redundant flag from build script (#4367)
  package-lock.json
  scripts/build/index.js
Due: prettier --write

Bump version to 15.2.2
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[breaking-changes] [XUI-666] Document touch targets for components with a fixed size (#4365)
  changes.md
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/sass/7-components/_buttons.scss
Due: stylelint, prettier --write

[patch] XUI-773 Fix KSS to support Markup files
  .kss/builder/index.js
  src/sass/7-components/_buttons.scss
  src/sass/7-components/button-unstyled.html
Due: stylelint, prettier --write

[breaking-changes] XUI-706 Responsive breadcrumbs (#4368)
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumbs_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_breadcrumb_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.breadcrumb.md
  src/sass/1-vars/_colors.scss
  src/sass/2-mixins/_states.scss
  src/sass/7-components/_navigation.breadcrumb.scss
  src/sass/7-components/_navigation.subapp.scss
Due: eslint, stylelint, prettier --write

[breaking-changes] [XUI-666] Add visual regression test for invisible touch targets (#4377)
  .storybook/decorators/xuiResponsiveCenter.js
  .storybook/decorators/xuiRevealTouchTargets.js
  .storybook/preview-head.html
  .visual-testing/reference/backstop_default_Components_in_Components_Invisible_touch_targets_0_xui-container_0_just_desktop.png
  package-lock.json
  src/react/components/accordion/stories/stories.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/button/stories/stories.js
  src/react/components/chart/stories/stories.js
  src/react/components/illustration/stories/stories.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/picklist/stories/stories.js
  src/react/components/select-box/stories/stories.js
  src/react/components/structural/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/toggle/stories/stories.js
  src/react/stories/components-in-components/tests.js
  src/react/stories/components-in-components/touch-targets/README.md
  src/react/stories/components-in-components/touch-targets/index.js
Due: eslint, prettier --write

[patch] [XUI-753] Throw warnings for unsupported props with horizontal pickitems (#4379)
  changes.md
  package-lock.json
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/__tests__/Pickitem-test.js
  src/react/components/picklist/private/helpers.js
  src/react/components/structural/XUIRow.js
Due: eslint, prettier --write

[breaking-changes] XUI-700 Responsive component improvements | Tabs (#4376)
  .kss/README.md
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Horizontal_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_leftelement_and_secondarytext_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_leftelement_and_secondarytext_no_panel_width_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_secondary_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Wrapping_horizontal_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Wrapping_horizontal_with_leftelement_and_secondarytext_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Wrapping_horizontal_with_secondary_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_multiselect_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_multiselect_with_truncation_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_right_media_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_right_media_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_horizontal_with_wrapping_et_al_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_horizontal_with_wrapping_et_al_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_truncating_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  CONTRIBUTING.md
  changes.md
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/__tests__/Pickitem-test.js
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/picklist/stories/variations.js
  src/sass/2-mixins/_states.scss
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --write

[breaking-changes] XUI-726 Responsive header (docs to come later) (#4378)
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_long_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_breadcrumb_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_breadcrumb_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_hover_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_selected_hover_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_navigation.breadcrumb.scss
  src/sass/7-components/_navigation.subapp.scss
Due: eslint, stylelint, prettier --write

XUI-726 Docs updates (responsive header) (#4380)
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/structural.pageheader.md
  src/sass/7-components/_navigation.subapp.scss
Due: stylelint, prettier --write

XUI-617 Artifactory links updated (#4382)
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint, prettier --write

[patch] XUI-709 Update links to sketch (#4383)
  src/docs/_docs.updates.scss
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

[Patch] Adds sunsetting flag to size variants section (#4384)
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint, prettier --write

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
  prettier --write: any of: *.{html,hbs,js,json,css,scss,md}
