Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[minor] no-ref Turn off @typescript-eslint/ban-ts-comment (#5679)
  .eslintrc.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleterSecondarySearch.tsx
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/invariant.ts
  src/react/components/editabletable/private/DragAndDrop/helpers/react-beautiful-dnd/usePointerSensors.ts
  src/react/components/editabletable/private/EditableTableColGroup.tsx
  src/react/components/selectbox/private/SelectBoxTrigger.tsx
  src/react/components/table/__tests__/table-test.tsx
Due: eslint, prettier --check

XUI-2514 Correct disabled checkbox hover style (#5682)
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: stylelint, prettier --check

[XUI-2537] Fix popover issue caused by React 17 propagation changes (#5683)
  src/react/components/popover/XUIPopover.js
  src/react/components/popover/__tests__/XUIPopover-test.js
Due: eslint, prettier --check

XUI-2584 Fix type on XUIRange isLabelHidden (#5685)
  src/react/components/range/XUIRange.d.ts
  src/react/components/range/XUIRange.js
Due: eslint, prettier --check

[minor] XUI-2563 XUIRange gets labelId prop (#5686)
  changes.md
  src/react/components/range/XUIRange.d.ts
  src/react/components/range/XUIRange.js
  src/react/components/range/__tests__/XUIRange-test.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/range/stories/stories.js
Due: eslint, prettier --check

[breaking-changes] XUI-2503 Audit codemod (#5691)
  .codemod/componentTransforms.js
Due: eslint, prettier --check

Format .kss/builder/index.hbs (#5687)
  .kss/builder/index.hbs
Due: prettier --check

[breaking-changes] Clicking on static side-elements should focus text input (#5671)
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/textinput/XUITextInput.d.ts
  src/react/components/textinput/XUITextInput.js
  src/react/components/textinput/__tests__/XUITextInput-test.js
  src/react/components/textinput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/textinput.md
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint, prettier --check

[patch] [NO-REF] Revert format .kss/builder/index.hbs (#5692)
  .kss/builder/index.hbs
Due: prettier --check

[Breaking-changes][XUI-2508] Updating changes.md (#5693)
  changes.md
Due: prettier --check

[patch] XUI-2598 Fix label-required warnings in the XUI React docs (#5695)
  src/react/components/chart/XUIBarChart.js
  src/react/components/editabletable/editabletable.alignment.md
  src/react/components/editabletable/editabletable.celltypes.md
  src/react/components/editabletable/editabletable.custom.md
  src/react/components/editabletable/editabletable.foot.md
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/editabletable.validation.md
  src/react/progressindicator.md
Due: eslint, prettier --check

[Minor] 18.4.0 Release: Update package-lock file and bump version (#5700)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[Breaking-changes][noRef] lint-stage major upgrade to 11 requires node 12+. (#5703)
  package-lock.json
  package.json
Due: prettier --check

[Breaking-changes] Fix incorrect merge conflict resolutions highlighted in review
  changes.md
  xop-library.yaml
Due: prettier --check

[Breaking-changes] 18.4.0 add new components heading
  changes.md
Due: prettier --check

[breaking-changes] XUI-1835 Update ID generation for accessible elements (#5689)
  changes.md
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/controlgroup/XUIControlGroup.js
  src/react/components/controlwrapper/__tests__/XUIControlWrapper-test.js
  src/react/components/controlwrapper/__tests__/XUIControlWrapperInline-test.js
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/helpers/__tests__/ariaHelpers-test.js
  src/react/components/helpers/ariaHelpers.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
  src/react/components/range/XUIRange.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/range/stories/stories.js
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBox-test.js.snap
  src/react/components/switch/XUISwitch.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/textinput/__tests__/XUITextInput-test.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/XUIToggleOption-test.js
  src/react/components/toggle/stories/stories.js
Due: eslint, prettier --check

[patch] XUI-2562 - Fix precedence of XUITable onRowClick vs OverflowMenu (#5699)
  package-lock.json
  src/react/components/helpers/preventDefault.js
  src/react/components/helpers/preventDefault.ts
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/private/XUITableBodyRow.tsx
Due: eslint, prettier --check

[breaking-changes][XUI-2500] Escalate label-required warnings to label-required errors (#5701)
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/button/XUIButton.js
  src/react/components/chart/XUIBarChart.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/fileuploader/XUIFileUploader.d.ts
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/fileuploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileuploader/private/helpers.js
  src/react/components/helpers/__tests__/labelRequiredError-test.ts
  src/react/components/helpers/__tests__/labelRequiredWarning-test.ts
  src/react/components/helpers/labelRequiredError.ts
  src/react/components/pagination/XUIPagination.d.ts
  src/react/components/pagination/XUIPagination.js
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/range/__tests__/XUIRange-test.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/switch/XUISwitch.js
  src/react/components/table/XUITable.tsx
  src/react/components/table/__tests__/XUITableWithData.tsx
  src/react/components/textinput/XUITextInput.js
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[patch] XUI-2598 Fix label-required warnings in the XUI React docs - part 2 (#5709)
  src/react/components/editabletable/editabletable.interactions.md
Due: prettier --check

[patch] XUI-2496 Adding 'updates coming' flags (#5698)
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/fundamentals/_layout.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-2498 Adding 'updated' flags (#5707)
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/_introbanners.scss
  src/docs/components/collecting-input/_dateinputs.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
  src/docs/fundamentals/_layout.scss
  src/docs/getting-started/_getting-started.scss
  src/docs/patterns/_onboarding.scss
Due: stylelint, prettier --check

[patch] XUI-2598 Fix label-required warnings in the XUI React docs - part3 (#5715)
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/modal.md
Due: eslint, prettier --check

[breaking-changes][XUI-2641] Fix issue with .npmrc to unblock npm audit (#5716)
  .npmrc
Due: none

[Patch][XUI-2641] Fix issue with .npmrc to unblock npm audit (#5718)
  .npmrc
Due: none

[patch] XUI-2637 - XUIPageHeader layering above Global Search (#5711)
  .visual-testing/reference/backstop_default_Use_cases_Layering_elements_just_desktop.png
  src/react/stories/helpers/ExampleNav.js
  src/react/stories/helpers/FullPageStoryWrapper.js
  src/react/stories/use-cases/layering-elements/components/ExampleNav.js
  src/react/stories/use-cases/layering-elements/index.js
  src/react/stories/use-cases/tests.js
  src/sass/1-vars/_layout.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] [XUI-2495] Ensure all KSS examples in XUI guide are correct (#5714)
  src/docs/components/controls/examples/text-input/_text-input-actions.html
  src/docs/components/controls/examples/text-input/_text-input-borderless.html
  src/docs/components/controls/examples/text-input/_text-input-content-prompts.html
  src/docs/components/controls/examples/text-input/_text-input-inverted.html
  src/docs/components/controls/examples/text-input/_text-input-nesting.html
  src/docs/components/controls/examples/text-input/_text-input-right-aligned.html
  src/docs/components/controls/examples/text-input/_text-input-transparent.html
  src/docs/components/displaying-data/examples/table/_table-actions.html
  src/docs/components/displaying-data/examples/table/_table-avatars.html
  src/docs/components/displaying-data/examples/table/_table-body.html
  src/docs/components/displaying-data/examples/table/_table-overflow.html
  src/docs/components/displaying-data/examples/table/_table-sortable.html
  src/docs/components/displaying-data/examples/table/_table.html
Due: prettier --check

[breaking-changes] Update flags after merge from minor
  src/docs/components/controls/_checkboxes.scss
  src/docs/fundamentals/_layout.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-2639 Revert ID changes to SelectBox (#5719)
  changes.md
  package-lock.json
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBox-test.js.snap
Due: eslint, prettier --check

[Breaking-changes][XUI-2642] Fix issue with node-gyp and fix issues identified in `npm audit` (#5722)
  package-lock.json
  package.json
Due: prettier --check

[Breaking-changes][XUI-2504] XUI 19-alpha release: package-lock update and version bump (#5725)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] XUI-2592 XUIFileUploader has a hardcoded string which can not be internationalised (#5723)
  src/react/components/fileuploader/__tests__/XUIFileUploader-test.js
  src/react/components/fileuploader/private/helpers.js
Due: eslint, prettier --check

[patch] noref - Package lock updates and version bump for 18.4.1 (#5726)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] Fix artifactory issue (#5731)
  .npmrc
Due: none

[patch] xui-2599 Remove undefiend qaHook values (#5732)
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/components/table/private/XUITableHead.tsx
Due: eslint, prettier --check

[Patch] Update package-lock (#5733)
  package-lock.json
Due: prettier --check

XUI-2659 - Update default tooltip behaviour for a11y (#5739)
  changes.md
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/__tests__/XUITooltip-test.js
  src/react/components/tooltip/stories/stories.js
  src/react/tooltip.md
Due: eslint, prettier --check

[Breaking-changes][XUI-2678] Update to latest xuishift which fixes codemod bugs (#5740)
  README.md
  package-lock.json
  package.json
Due: prettier --check

[Breaking-changes] XUI 19.0.0 alpha.5 release version bump (#5741)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
