Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

Update TS definitions with changes from patch (#4671)
  src/react/components/autocompleter/XUIAutocompleter.d.ts
Due: eslint

16.2.0 (#4672)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Fix React version (#4673)
  .umd/index.html
Due: prettier --check

Minor → master for 16.2.0 (#4674)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[FIX] Fix TS error on build (#4675)
  package-lock.json
  package.json
Due: prettier --check

[patch] Fixed export (#4680)
  src/react/components/pagination/stories/variations.js
Due: eslint

[REVERT] Revert "[XUI-1040] Stub out editable table component"
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Editable_Table_Default_0_rootdivdiv_0_just_desktop.png
  src/docs/components/displaying-data/_editable-tables.scss
  src/docs/components/displaying-data/examples/editable-table/_editable-table.html
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/editabletable.js
  src/react/editabletable.md
  src/sass/7-components/_editabletable.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

16.2.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Add flex-wrap as a xui class (#4687)
  src/docs/fundamentals/_utilities.scss
  src/docs/fundamentals/examples/utilities/_utilities-wrapping.html
  src/sass/99-utils/_utilities.scss
Due: stylelint, prettier --check

Add Amritah's photo to feedback page of the docs (#4689)
  src/docs/_feedback.scss
Due: stylelint, prettier --check

[FIX] Fix npm audit vulnerabilities
  package-lock.json
Due: prettier --check

XUI-1078 Fixing Tag alignment in Contentblock in FireFox. (#4693)
  src/sass/2-mixins/_components.scss
Due: stylelint, prettier --check

[minor] XUI-973 Buid fileUploader (#4655)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_FileUploader_as_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_disabled_drag_and_drop_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_hint_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_hint_text_and_hidden_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_validation_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_validation_error_and_hidden_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_hint_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_hint_text_and_hidden_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_long_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_long_text_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_no_icon_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_no_icon_single_line_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_single_line_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_validation_error_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_validation_error_and_hidden_label_0_rootdivdiv_0_just_desktop.png
  src/docs/fundamentals/_motion.scss
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/fileUploader/__tests__/XUIFileUploader-test.js
  src/react/components/fileUploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileUploader/private/FileList.js
  src/react/components/fileUploader/private/helpers.js
  src/react/components/fileUploader/stories/stories.js
  src/react/components/fileUploader/stories/variations.js
  src/react/components/pagination/XUIPagination.js
  src/react/components/pagination/private/helpers.js
  src/react/helpers/checkRequiredProps.js
  src/sass/1-vars/_animation.scss
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_draganddrop.scss
  src/sass/7-components/_fileuploader.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

[XUI-1091] Add data-automationids to date picker
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
Due: eslint

[patch] XUI-1075 Adjust truncation behaviour for breadcrumbs and tweak vis-reg (#4688)
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_breadcrumb_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/pageheader/stories/variations.js
  src/sass/7-components/_navigation.breadcrumb.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-329 Aligned pre-commit prettier hook with npm script in package.json (#4699)
  .lintstagedrc
Due: none

Update TS recommendation for copying component prop types (#4686)
  changes.md
Due: prettier --check

XUI-1074 Add guard for undefined observer entries (#4701)
  src/react/components/helpers/resizeObserver.js
Due: eslint

[xui-956] Update Autocompleter stories to ensure correct prop name used.
  src/react/components/autocompleter/stories/stories.js
Due: eslint

[XUI-956] Rename aria setting prop in Autocompleter to reflect that prop is only for accessibility purposes.
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[xui-956] [Autocompleter] Add codemod to transform all instances of loadingLabel to loadingAriaLabel
  .codemod/componentTransforms.js
Due: eslint

[XUI-956] Update XUIButton to change prop loadingLabel to loadingAriaLabel, including changes to:
  .codemod/componentTransforms.js
  src/react/button.md
  src/react/components/button/XUIButton.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/__tests__/XUIButton-test.js
  src/react/components/button/stories/stories.js
  src/react/components/button/stories/variations.js
Due: eslint, prettier --check

[xui-956] Formatting autofixes applied on save (prettier).
  .codemod/componentTransforms.js
Due: eslint

[xui-956] Autocompleter loadingLabel reference for stateful picklist. Update to new loadingAriaLabel name.
  src/react/stories/components-in-components/statefulpicklist-infiniteloop/index.js
Due: eslint

[XUI-956] Add codemod for XUIBarChart to convert all `loadingLabel` to `loadingAriaLabel`
  .codemod/componentTransforms.js
Due: eslint

[XUI-956][DropDownHeader] rename `backButtonLabel` to `backButtonAriaLabel` including changes to component, tests, stories and codemod.
  .codemod/componentTransforms.js
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/__tests__/DropDownHeader-test.js
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/stories/stories.js
Due: eslint, prettier --check

[XUI-956] [XUITable] Rename prop `loaderLabel` to `loaderAriaLabel` including changing component, stories, docs and codemod.
  .codemod/componentTransforms.js
  src/react/components/table/XUITable.js
  src/react/components/table/stories/stories.js
  src/react/table.md
Due: eslint, prettier --check

[XUI-956] Update prop comments to better reflect how it can be used. * Specifically where a prop can be used as a physical label or an accessibility aria-label this is specified.
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/modal/XUIModal.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/switch/XUISwitchGroup.js
Due: eslint

[XUI-971] Improve parsing of KSS example classes
  .kss/builder/extend/helper.js
  .kss/builder/index.hbs
  src/docs/components/identifiers/_avatars.scss
Due: eslint, stylelint, prettier --check

[XUI-971] Avatar KSS docs tweaks
  src/docs/components/identifiers/_avatars.scss
Due: stylelint, prettier --check

[XUI-971] Prettier changes
  .kss/builder/extend/helper.js
Due: eslint

[TEST] Factor out Chai and Sinon
  package-lock.json
  package.json
  src/react/components/avatar/__tests__/XUIAvatarGroup-test.js
  src/react/components/button/__tests__/XUIButton-test.js
  src/react/components/button/__tests__/XUIIconButton-test.js
  src/react/components/radio/__tests__/XUIRadio-test.js
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
Due: eslint, prettier --check

[TEST] Silence SVG warnings in Jest tests
  src/react/components/chart/__tests__/barchart-test.js
Due: eslint

[TEST] Silence extraneous Jest-related lint warnings
  .eslintrc.js
  src/react/components/select-box/__tests__/helpers.js
Due: eslint

[TEST] Silence TS-related lint warnings
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/button/private/constants.ts
  src/react/components/table/XUITable.d.ts
Due: eslint

[DOCS] Update link to FT Origami docs style guide
  CONTRIBUTING.md
Due: prettier --check

[XUI-956] Amend wording of prop descriptions for clarity.
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/switch/XUISwitchGroup.js
Due: eslint

Version bump for 16.2.2 (#4707)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[XUI-1067] Upgrade Styleguidist (#4710)
  package-lock.json
  package.json
Due: prettier --check
