Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

[XUI-291] Fix nested picklist not opening on click for NON-split trigger
  src/react/components/picklist/NestedPicklistTrigger.js
Due: eslint

Bump version to 14.2.3 for patch
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

updates to Text pattern and color change of KSS tips
  .kss/scss/style.scss
  src/docs/patterns/_docs.patterns.text.scss
  src/docs/patterns/_docs.text-rules.scss
Due: stylelint

Add basic composition examples as per regular old kss
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

Add StoryBook debugging for VSCode
  .gitignore
  .vscode/launch.json
  README.md
Due: none

[breaking-changes] Alter the name of textinput size from standard to medium
  .visual-testing/reference/backstop_default_XUI_TextInput_as_a_multiline_input_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_with_background_colour_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_with_background_colour_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_medium_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_multiline_input_grown_to_fit_contents_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_bottom_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_center_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_top_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_small_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_xsmall_mutliline_input_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_xsmall_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  package-lock.json
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/helpers/sizes.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/private/constants.js
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/textinput.md
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint

I don't know why these are here
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
Due: none

Change the value of standard to medium in changes.md
  changes.md
Due: none

Codemod for string replace
  .codemod/componentTransforms.js
Due: none

Additional tests for rollover in component block
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/stories/variations.js
Due: eslint

Jest tests and snapshots
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/rollovercheckbox-test.js
Due: eslint

Updates to rollover checkbox for checkbox sizing and target area
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/sass/7-components/_rolloverCheckbox.scss
Due: eslint, stylelint

Updated stories and vis-reg
  .visual-testing/reference/backstop_default_Rollover_Checkbox_checkbox_visible_and_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_checkbox_visible_disabled_and_checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_with_checkbox_hidden_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_with_checkbox_visible_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_with_checkbox_visible_and_checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_with_larger_alternate_rollover_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_with_small_rollover_content_and_xsmall_checkbox_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Rollover_Checkbox_with_smaller_alternate_rollover_content_0_rootdivdiv_0_just_desktop.png
  src/react/components/rolloverCheckbox/stories/stories.js
  src/react/components/rolloverCheckbox/stories/variations.js
Due: eslint

Documentation around these updates
  changes.md
  src/react/rollovercheckbox.md
Due: none

Fixed a bug which caused lots of comments from Finn
  .visual-testing/reference/backstop_default_XUI_TextInput_as_a_multiline_input_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_icon_with_background_colour_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_left_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_button_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_icon_with_background_colour_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_pill_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_has_a_right_text_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_medium_with_both_side_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_multiline_input_grown_to_fit_contents_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_bottom_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_center_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_mutliline_input_with_top_aligned_side_element_0_rootdivdiv_0_just_desktop.png
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/private/constants.js
  src/react/components/textInput/stories/variations.js
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint

Add `storybook` KSS custom property
  .kss/README.md
  .kss/builder/index.hbs
  .kss/scss/style.scss
  scripts/build/kss/config.json
  src/docs/compositions/_docs.compositions.detail.scss
Due: stylelint

adds copy
  src/docs/patterns/_docs.patterns.text.scss
Due: stylelint

removes tip
  src/docs/patterns/_docs.patterns.text.scss
Due: stylelint

copy edits
  src/sass/7-components/_buttons.scss
Due: stylelint

Displaying text patterns page (#4058)
  .kss/scss/style.scss
  src/docs/patterns/_docs.patterns.text.scss
  src/docs/patterns/_docs.text-rules.scss
Due: stylelint

Add the missing size variations for no side elements
  .visual-testing/reference/backstop_default_XUI_TextInput_as_a_small_multiline_input_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_as_an_xsmall_multiline_input_0_rootdivdiv_0_just_desktop.png
  src/react/components/textInput/stories/variations.js
Due: eslint

Codemod and some docs tweaks for breakpoint updates (#4061)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
Due: none

adds master detail docs
  src/docs/compositions/_docs.compositions.master-detail.scss
Due: stylelint

[XUI-343] Add more detail to docs
  changes.md
  src/react/button.md
Due: none

[XUI-343] Remove deprecated visual regression snapshots
  .visual-testing/reference/backstop_default_XUI_Button_as__icon-inverted-large_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as__icon-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as__icon-large_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as__icon_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_borderless-create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_borderless-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_borderless-negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_borderless-standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width-mobile_negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_borderless-create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_borderless-muted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_borderless-negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_borderless-primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_full-width_unstyled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_standard_borderless-create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-muted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_negative_0_rootdivdiv_0_just_desktop.png
Due: none

[XUI-343] Split size into size and fullWidth for XUIButton and SelectBox
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_small_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_small_size_and_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_standard_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_standard_size_with_xsmall_size_list_items_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-muted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_standard_borderless-negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_standard_borderless-standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_link_0_rootdivdiv_0_just_desktop.png
  changes.md
  package-lock.json
  package.json
  src/react/button.md
  src/react/components/button/XUIButton.js
  src/react/components/button/private/constants.js
  src/react/components/button/stories/stories.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/stories/stories.js
  src/react/components/select-box/stories/variations.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/tooltip/stories/stories.js
  src/react/select-box.md
  src/react/tooltip.md
Due: eslint

remove kss script
  .kss/builder/kss-assets/kss-script.js
  scripts/build/kss/config.json
Due: none

fixes typos
  src/docs/patterns/_docs.patterns.text.scss
Due: stylelint

adds kss option for component image and subcopy
  .kss/builder/index.hbs
  .kss/builder/kss-assets/composition-images/Master-Detail_devices.svg
  scripts/build/kss/config.json
  src/docs/compositions/_docs.compositions.master-detail.scss
Due: stylelint

adds responsive docs info and edits tips to align better
  .kss/scss/style.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

[breaking-changes] Naming picklist (and associated components)
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_medium_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_medium_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_medium_size_with_xsmall_size_list_items_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_standard_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_standard_size_with_xsmall_size_list_items_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/react/components/autocompleter/stories/stories.js
  src/react/components/button/private/constants.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/DropDownFooter-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/__tests__/Picklist-test.js
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/Picklist-test.js.snap
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/components/picklist/private/constants.js
  src/react/components/picklist/private/helpers.js
  src/react/components/picklist/stories/stories.js
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/SelectBoxOption.js
  src/react/components/select-box/__tests__/SelectBox-test.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/select-box/private/constants.js
  src/react/components/select-box/stories/stories.js
  src/react/components/select-box/stories/variations.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

Revert change to button due to bad merge
  src/react/components/button/private/constants.js
Due: eslint

Revert console log in test
  src/react/components/select-box/__tests__/SelectBox-test.js
Due: eslint

add qaHook props to structural components
  src/react/components/structural/XUIActions.js
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIContentBlock.js
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/XUIOverviewBlock.js
  src/react/components/structural/XUIOverviewSection.js
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/XUIPanel.js
  src/react/components/structural/XUIPanelFooter.js
  src/react/components/structural/XUIPanelHeading.js
  src/react/components/structural/XUIPanelSection.js
  src/react/components/structural/XUIRow.js
Due: eslint

Fix broken lint
  src/react/components/select-box/private/constants.js
Due: eslint

[XUI-301] Make SelectBox text black on hover
  src/sass/7-components/_forms.selects.scss
Due: stylelint

[breaking-changes] Small change to fix things throwing errors on CTRL + C quits
  scripts/helpers.js
Due: none

[breaking-changes] CSS name changed from nav to master
  src/react/components/compositions/XUIGridAreaMasterPanelDropdown.js
Due: eslint

Additional 2xl breakpoint and some docs cleanup (#4060)
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_5_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_5_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_DropDown_as_default_0_xui-container_6_bigger_than_2xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_5_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_5_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_6_bigger_than_2xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_5_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_5_bigger_than_xlarge_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_6_bigger_than_2xlarge_breakpoint.png
  changes.md
  src/react/components/helpers/breakpoints.js
  src/react/stories/helpers/viewports.js
  src/sass/2-mixins/_layout.breakpoints.scss
Due: eslint, stylelint
