Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[patch][xui-2969] Content changes to file uploader (#5916)
  src/docs/components/controls/_file-uploader.scss
Due: stylelint, prettier --check

[patch][xui-2975] Content updates to Capsule page (#5920)
  src/docs/components/identifiers/_capsules.scss
Due: stylelint, prettier --check

[patch][xui-2970] Content updates made to Pagination page (#5919)
  src/docs/components/navigation/_pagination.scss
Due: stylelint, prettier --check

[XUI-2531] Release 20.0.0-alpha.1 (#5921)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch][xui-2971] Updating content on switch component page (#5922)
  src/docs/components/controls/_switches.scss
Due: stylelint, prettier --check

[patch][xui 2972] Updating content on Toggle component page (#5925)
  src/docs/components/controls/_toggles.scss
Due: stylelint, prettier --check

[XUI-2531] Disable `aws.region` requirements (#5924)
  .teamcity/projects/XUIArtifacts.kt
  .teamcity/projects/XUIDocs.kt
Due: none

[patch] [xui-2977] - Content changes made to tag component page (#5928)
  src/docs/components/identifiers/_tags.scss
Due: stylelint, prettier --check

[patch][xui-2973] Content changes to range component page (#5926)
  src/docs/components/controls/_ranges.scss
Due: stylelint, prettier --check

[patch][xui-2976] Content changes to Pill component page (#5927)
  src/docs/components/identifiers/_pills.scss
Due: stylelint, prettier --check

minor docs edits for XUI Labs, fixes broken link (#5931)
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
Due: stylelint, prettier --check

[master] [XUI-2531] Adjust breaking-changes releases (#5932)
  .teamcity/helpers/addXUIBuildTriggers.kt
  .teamcity/helpers/removeAgentRegionRequirement.kt
  .teamcity/projects/XUIArtifacts.kt
  .teamcity/projects/XUIDocs.kt
  scripts/build/docs/private/xuiDocsVersion.js
Due: eslint, prettier --check

[XUI-2531] Make xui docs version node 10 compatible (#5939)
  scripts/build/docs/private/xuiDocsVersion.js
Due: eslint, prettier --check

[XUI-2531] Make xui docs build verbose (#5940)
  .teamcity/buildTypes/BuildDocs.kt
Due: none

[patch] [XUI-2998] Fix type definitions for components with spreadProps (#5936)
  src/react/components/actions/XUIActions.d.ts
  src/react/components/button/XUIButton.d.ts
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTableBody.d.ts
  src/react/components/editabletable/XUIEditableTableCell.d.ts
  src/react/components/editabletable/XUIEditableTableCellControl.d.ts
  src/react/components/editabletable/XUIEditableTableCellReadOnly.d.ts
  src/react/components/editabletable/XUIEditableTableFoot.d.ts
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/editabletable/XUIEditableTableHead.d.ts
  src/react/components/editabletable/XUIEditableTableHeadingCell.d.ts
  src/react/components/editabletable/XUIEditableTableRow.d.ts
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
  src/react/components/filepreview/XUIFilePreview.d.ts
  src/react/components/filepreview/XUIFilePreviewFooter.d.ts
  src/react/components/filepreview/XUIFilePreviewHeader.d.ts
  src/react/components/overviewblock/XUIOverviewBlock.d.ts
  src/react/components/overviewblock/XUIOverviewSection.d.ts
  src/react/components/pageheader/XUIPageHeader.d.ts
  src/react/components/panel/XUIPanel.d.ts
  src/react/components/panel/XUIPanelFooter.d.ts
  src/react/components/panel/XUIPanelHeading.d.ts
  src/react/components/panel/XUIPanelSection.d.ts
  src/react/components/structural/XUIColumn.d.ts
  src/react/components/structural/XUIRow.d.ts
  src/react/components/textinput/XUITextInput.d.ts
Due: eslint, prettier --check

[patch][xui-2978] Content updates to the Avatar component page (#5933)
  src/docs/components/identifiers/_avatars.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-1498 Consuming XUI tokens in XUI (colours). (#5889)
  .gitignore
  package-lock.json
  package.json
  scripts/build/index.js
  scripts/build/sass/clearTokens.js
  scripts/build/sass/copyTokens.js
  scripts/build/sass/kss.js
  scripts/helpers.js
  scripts/start/index.js
  scripts/test/visual.js
  src/sass/1-vars/_colors.scss
Due: eslint, stylelint, prettier --check

[patch][xui-2979] Content updates to the breadcrumb trail component page (#5938)
  src/docs/components/navigation/_breadcrumb-trails.scss
Due: stylelint, prettier --check

[Patch] [xui-2980] - Content change to fixed footer (#5934)
  src/docs/components/navigation/_fixed-footers.scss
Due: stylelint, prettier --check

[XUI-2967] Update storybook example (#5944)
  src/react/components/editabletable/stories/helpers.js
Due: eslint, prettier --check

[patch][xui-2987] Content updates to global nav (#5935)
  src/docs/components/navigation/_global-navigation.scss
Due: stylelint, prettier --check

[minor][XUI-2290] Add description as a secondary text to DateInput and DateRangeInput (#5930)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_US_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_across_two_years_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_small_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_group_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_just_one_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_no_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_suggested_dates_open_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_without_labels_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_xsmall_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_date_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_date_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Empty_with_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_In_fixed_width_container_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Suggested_dates_with_custom_icon_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_a_hint_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_an_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_min_and_max_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_specified_DatePicker_month_picker_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_suggested_dates_open_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_small_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_initial_date_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_xsmall_just_desktop.png
  src/react/components/dateinput/XUIDateInput.js
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/private/suggestedDateHelperComponents.js
  src/react/components/dateinput/stories/helpers/suggestedDates.ts
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
  src/react/dateinput.md
  src/sass/7-components/_dateinput.scss
Due: eslint, stylelint, prettier --check

[master] [XUI-2531] Add snapshot dependencies (#5943)
  .teamcity/buildTypes/PRBuild.kt
  .teamcity/buildTypes/VisRegTest.kt
  .teamcity/projects/XUIArtifacts.kt
  .teamcity/projects/XUIDocs.kt
Due: none

[Patch] [xui-2990] – Content changes to bar chart (#5942)
  src/docs/components/displaying-data/_bar-charts.scss
Due: stylelint, prettier --check

[noref] Use `npm ci` instead of `npm install` for docs builds (#5945)
  .teamcity/buildTypes/BuildDocs.kt
Due: none

[XUI-2531] Update PR trigger branchFilter (#5947)
  .teamcity/buildTypes/PRBuild.kt
  .teamcity/buildTypes/VisRegTest.kt
Due: none

[Patch] [xui-2989] – Content updates for form overview (#5941)
  src/docs/components/collecting-input/_form-labels.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/collecting-input/_forms.scss
Due: stylelint, prettier --check

[release] Release XUI 19.2.1 (#5949)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[Patch][XUI-2916] Add 3rd batch of visual examples (#5946)
  src/docs/components/alerts/_popovers.scss
  src/docs/components/alerts/examples/popover/_popover-visual-example.html
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/examples/datepicker/_datepicker-visual-example.html
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/examples/checkbox/_checkbox-visual-example.html
  src/docs/components/controls/examples/radio/_radio-visual-example.html
  src/docs/components/controls/examples/select/_select-visual-example.html
Due: stylelint, prettier --check

[Patch][XUI-2917] 4th Batch of visual examples (#5956)
  src/docs/components/collecting-input/_search.scss
  src/docs/components/collecting-input/examples/search/_search-visual-example.html
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input-visual-example.html
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/displaying-data/examples/editable-table/_editable-table-visual-example.html
  src/docs/components/displaying-data/examples/picklist/_picklist-visual-example.html
  src/docs/components/displaying-data/examples/table/_table-visual-example.html
Due: stylelint, prettier --check

[patch] [XUI-2532] Guard onHighlightChange (#5955)
  src/react/components/dropdown/XUIDropdownPanel.js
Due: eslint, prettier --check

[patch] [XUI-3079] Fix type defs for components with spreadProps (#5957)
  src/react/components/actions/XUIActions.d.ts
  src/react/components/button/XUIButton.d.ts
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTableBody.d.ts
  src/react/components/editabletable/XUIEditableTableCell.d.ts
  src/react/components/editabletable/XUIEditableTableCellControl.d.ts
  src/react/components/editabletable/XUIEditableTableCellReadOnly.d.ts
  src/react/components/editabletable/XUIEditableTableFoot.d.ts
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/editabletable/XUIEditableTableHead.d.ts
  src/react/components/editabletable/XUIEditableTableHeadingCell.d.ts
  src/react/components/editabletable/XUIEditableTableRow.d.ts
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
  src/react/components/filepreview/XUIFilePreview.d.ts
  src/react/components/filepreview/XUIFilePreviewFooter.d.ts
  src/react/components/filepreview/XUIFilePreviewHeader.d.ts
  src/react/components/overviewblock/XUIOverviewBlock.d.ts
  src/react/components/overviewblock/XUIOverviewSection.d.ts
  src/react/components/pageheader/XUIPageHeader.d.ts
  src/react/components/pagination/private/helpers.js
  src/react/components/panel/XUIPanel.d.ts
  src/react/components/panel/XUIPanelHeading.d.ts
  src/react/components/panel/XUIPanelSection.d.ts
  src/react/components/structural/XUIColumn.d.ts
  src/react/components/structural/XUIRow.d.ts
  src/react/components/textinput/XUITextInput.d.ts
Due: eslint, prettier --check

[Patch] [xui -2988] - Content updates for tabs (#5954)
  src/docs/components/navigation/_tabs.scss
Due: stylelint, prettier --check

[XUI-2765] Fix undefined ariaRole for XUIPickitems (#5959)
  src/react/components/picklist/XUIPicklist.js
  src/react/components/picklist/__tests__/XUIPicklist-test.js
Due: eslint, prettier --check

[patch][XUI-3007] Update React examples for Icon, Illustrations and Layout (#5958)
  src/react/components/structural/structural.column.md
  src/react/components/structural/structural.row.md
  src/react/icon.md
Due: prettier --check

Upgrade storybook to fix error with accessibility panel (#5961)
  package-lock.json
  package.json
Due: prettier --check

[patch] [XUI-3006] Style Form overview as a component page (#5963)
  .kss/builder/extend/helper.js
  .kss/builder/index.hbs
  src/docs/components/collecting-input/_form-validation.scss
Due: eslint, stylelint, prettier --check

[XUI-3093] Fix failing editable table vis-regs
  src/react/components/editabletable/stories/variations.js
Due: eslint, prettier --check

[master] [XUI-3077] Separate version selector deployment (#5970)
  .teamcity/buildTypes/DeployVersionSelector.kt
  .teamcity/projects/XUIDocs.kt
  scripts/build/docs/index.js
Due: eslint, prettier --check

[release] Bump version to XUI 19.3.0 (#5973)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
