Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[patch] XUI-1481 Disabling outline on table cell. (#5018)
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/customElements/TableHead.js
Due: eslint

Revert "[XUI-800] Enable react/state-in-constructor"
  .eslintrc.js
  src/react/components/autocompleter/stories/components/DetailedListExample.js
  src/react/components/autocompleter/stories/components/SecondarySearchExample.js
  src/react/components/avatar/XUIAvatar.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/TruncatedText.js
  src/react/components/compositions/stories/header.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/datepicker/stories/stories.js
  src/react/components/modal/XUIModal.js
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/picklist/Picklist.js
  src/react/components/pill/XUIPill.js
  src/react/components/popover/XUIPopover.js
  src/react/components/popover/private/Positioning.js
  src/react/components/positioning/Positioning.js
  src/react/components/progressindicator/customElements/ElementSize.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/stepper/XUIStepper.js
  src/react/components/table/XUITable.js
  src/react/components/table/customElements/BodyData.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/tag/XUITag.js
  src/react/components/textInput/XUITextInput.js
  src/react/stories/components-in-components/five-nested-modals/index.js
  src/react/stories/components-in-components/helpers/daterangedropdown.js
  src/react/stories/components-in-components/layering-elements/components/Example.js
  src/react/stories/components-in-components/statefulpicklist-infiniteloop/index.js
  src/react/stories/components-in-components/touch-interactions/components/RangeWrapper.js
  src/react/stories/components-in-components/touch-interactions/index.js
Due: eslint

[patch] XUI-1520 Fix for XUITable overflow / rowClick conflict (#5021)
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/TableBodyRow.js
Due: eslint

Remove redundant constructor
  src/react/components/chart/customElements/TruncatedText.js
Due: eslint

[breaking-changes] XUI-1477 qaHook all the XUITable things (#5022)
  changes.md
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/table-test.js
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/OverflowMenu.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/stories/stories.js
Due: eslint, prettier --check

[XUI-1527] Swap pickitem's invisible checkbox position for height (#5025)
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint, prettier --check

[XUI-1535] Make trigger text ternary account for the falsey id of 0 (#5026)
  src/react/components/dropdown/dropdown.toggled.md
Due: prettier --check

[XUI-828] Add ESLint and Prettier scripts and clear out .ignore files (#5023)
  .eslintignore
  .lintstagedrc
  .prettierignore
  package.json
  scripts/lint/eslint.js
  scripts/lint/prettier.js
Due: eslint, prettier --check

Make dndDragStartMessage optional in the TS definition to match proptype (#5027)
  src/react/components/editabletable/XUIEditableTable.d.ts
Due: eslint

Add support for className to XUIEditableTableCellIconButton (#5029)
  src/react/components/editabletable/XUIEditableTableCellIconButton.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellIconButton-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellIconButton-test.js.snap
Due: eslint

[editable] [XUI-1542] Fix editable table types (#5030)
  src/react/components/button/XUIButton.d.ts
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.d.ts
  src/react/components/editabletable/XUIEditableTableCellIconButton.d.ts
  src/react/components/editabletable/XUIEditableTableCellSelectBox.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/textInput/XUITextInput.d.ts
Due: eslint

[XUI-1525] Fix logo size and clipping at small breakpoints
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  .kss/scss/vars.scss
  src/sass/2-mixins/_layout.breakpoints.scss
Due: stylelint, prettier --check

Increase logo size and reduce target size
  .kss/builder/index.hbs
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  .kss/scss/vars.scss
Due: prettier --check

Remove the new select class for minor (#5036)
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-selectbox.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-disabling.html
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/select-box/SelectBox.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/sass/7-components/_forms.selects.scss
Due: eslint, stylelint, prettier --check

Button variant is not actually supported for ETCellSelect (#5037)
  src/react/components/editabletable/XUIEditableTableCellSelectBox.d.ts
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
Due: eslint

Replace instances of ComponentProps with React.ComponentProps<Component> (#5033)
  TypeScript-style-guide.md
  src/react/components/button/XUIButtonCaret.d.ts
  src/react/components/button/XUIIconButton.d.ts
  src/react/components/button/XUISecondaryButton.d.ts
  src/react/components/dropdown/DropDownFooter.d.ts
  src/react/components/picklist/Pickitem.d.ts
  src/react/components/pill/XUIPill.d.ts
  src/react/components/table/XUITable.d.ts
  src/react/components/table/XUITableColumn.d.ts
  src/react/components/toast/XUIToastAction.d.ts
Due: eslint, prettier --check

Remove bad practice mixin
  .kss/scss/redesign.scss
  .kss/scss/style.scss
  src/sass/2-mixins/_layout.breakpoints.scss
Due: stylelint, prettier --check

Updated error message thrown in avatar utils to be more accurate (#5039)
  src/react/components/avatar/__tests__/XUIAvatar-utils-test.js
  src/react/components/avatar/utils.js
Due: eslint

[patch] noref - Updates to React docs after reading ~20% of the styleguidist code (#5040)
  .styleguidist/config.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/contentblock/XUIContentBlockItem.js
  src/react/components/picklist/Pickitem.js
Due: eslint

[XUI-1534] Update XUI Docs homepage
  README.md
  src/docs/home.md
Due: prettier --check

noref - Fixing borders for non-table selectboxes (#5041)
  src/sass/7-components/_forms.selects.scss
Due: stylelint, prettier --check

Version bump for 16.5.4-editable-beta.2
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

And a bazillion package-lock updates, cause why should today be different
  package-lock.json
Due: prettier --check

[XUI-1526] Add new team members to ‘Feedback’ Guide page
  src/docs/_feedback.scss
Due: stylelint, prettier --check

Noref - Fix storybook warning and new vis-reg images (#5045)
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_long_validation_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_long_validation_message_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/fileUploader/stories/variations.js
Due: eslint

[editable] XUI-1553 Overflow shadow conflicting with utility footer (#5047)
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/sass/7-components/_editabletable.scss
Due: eslint, stylelint, prettier --check

[editable] Fixes for ET console errors revealed in release process (#5048)
  package-lock.json
  package.json
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/editabletable.celltypes.md
  src/react/components/editabletable/editabletable.interactions.md
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/textInput/XUITextInput.js
Due: eslint, prettier --check

[patch] XUI-1464 Dropdown-in-dropdown click detection (#5031)
  .visual-testing/reference/backstop_default_DropDown_dropdown_in_dropdown_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/contexts/DropDownContext.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
Due: eslint

Fix failing visual regression test
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_0_rootdivdiv_0_just_desktop.png
Due: none

Straightforward updates to Editable per new lint rules
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellIconButton.js
  src/react/components/editabletable/stories/column-hide-select.js
  src/react/components/editabletable/stories/helpers.js
  src/react/components/editabletable/stories/user-tests.js
Due: eslint

One fix per Prettier
  .styleguidist/config.js
Due: eslint

Factored internal state references out
  src/react/components/editabletable/stories/column-hide-select.js
  src/react/components/editabletable/stories/user-tests.js
Due: eslint

[breaking-changes] XUI-1287 Fixed footer WIP component (#5044)
  .kss/builder/extend/flagDefinitions.js
  .kss/builder/extend/flags.js
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_default_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_with_contentblock_stuff_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Fixed_Footer_WIP_with_contentblock_stuff_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer.html
  src/react/components/fixedfooter/XUIFixedFooterWIP.d.ts
  src/react/components/fixedfooter/XUIFixedFooterWIP.js
  src/react/components/fixedfooter/__tests__/XUIFixedFooterWIP-test.js
  src/react/components/fixedfooter/__tests__/__snapshots__/XUIFixedFooterWIP-test.js.snap
  src/react/components/fixedfooter/stories/stories.js
  src/react/components/fixedfooter/stories/variations.js
  src/react/components/helpers/developmentConsole.js
  src/react/fixedfooter.md
  src/react/fixedfooter.ts
  src/react/stories/components-in-components/layering-elements/index.js
  src/sass/7-components/_fixedfooter.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

Flag Editable Table as being NEW (#5051)
  src/docs/components/displaying-data/_editable-table.scss
Due: stylelint, prettier --check

Version bump to 16.6.0 (#5052)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[patch] XUI-1483 Grow split button when placed in actions on a small screen. (#5038)
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_empty_split_button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_empty_split_button_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_split_button_and_a_dropdown_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_split_button_and_a_dropdown_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/actions/stories/stories.js
  src/react/components/actions/stories/variations.js
  src/sass/7-components/_buttons.dropdowns.scss
  src/sass/7-components/_buttons.groups.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-1406 Release prep housekeeping (#5058)
  changes.md
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_switches.scss
  src/docs/fundamentals/_typography.scss
  src/react/components/table/__tests__/table-test.js
Due: eslint, stylelint, prettier --check

[XUI-1554] Fix banner overflow
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Banner_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/7-components/_usermessaging.toasts.scss
Due: stylelint, prettier --check

[XUI-1378] Upgrade react-day-picker and tweak guards
  package-lock.json
  package.json
  src/react/components/datepicker/customElements/CustomCaption.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/CustomWeekday.js
Due: eslint, prettier --check
