Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[minor] XUI-1913 Add layout config options to Split composition (#5528)
  .visual-testing/reference/backstop_default_Compositions_splitHeader_hasAutoSpaceAround_hasGridGap_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_hasAutoSpaceAround_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_hasGridGap_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_hasAutoSpaceAround_hasGridGap_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_hasAutoSpaceAround_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_hasGridGap_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_hasPrimaryBelowAtSmall_between_xsmall_and_small_breakpoints.png
  src/docs/compositions/_split.scss
  src/react/components/compositions/XUICompositionSplit.d.ts
  src/react/components/compositions/XUICompositionSplit.js
  src/react/components/compositions/XUICompositionSplitHeader.d.ts
  src/react/components/compositions/XUICompositionSplitHeader.js
  src/react/components/compositions/stories/__snapshots__/variations-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/react/components/compositions/stories/variations.js
  src/sass/5-structure/compositions/_split.scss
  src/sass/5-structure/compositions/_splitheader.scss
  stylelint.config.js
Due: eslint, stylelint, prettier --check

[minor] noref - Version bump and package-lock updates (#5531)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-2071] Convert table pagination example to use object instead of array (#5533)
  src/react/table.md
Due: prettier --check

[minor] [XUI-2111] Add support for parseDueDate (#5532)
  src/react/components/dateinput/XUIDateInput.d.ts
  src/react/components/dateinput/XUIDateInput.js
  src/react/components/dateinput/XUIDateRangeInput.d.ts
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/stories/stories.js
  src/react/dateinput.md
Due: eslint, prettier --check

[patch] XUI-2050 Update Dropdown guidance (#5525)
  .kss/README.md
  .kss/builder/index.hbs
  scripts/build/kss/config.json
  src/docs/_contributing-to-xui.scss
  src/docs/components/collecting-input/_dropdowns-nested.scss
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-child.html
  src/docs/components/collecting-input/examples/dropdown/_dropdown-nested-parent.html
  src/docs/getting-started/_directory.scss
Due: stylelint, prettier --check

[REVERT] Remove requirement for designer code review
  CODEOWNERS
Due: none

[patch] [noref] Change XUIRadioGroup validationMessage type to ReactNode (#5537)
  src/react/components/controlgroup/XUIControlGroup.js
  src/react/components/radio/XUIRadioGroup.d.ts
  src/react/components/radio/XUIRadioGroup.js
Due: eslint, prettier --check

Label checks cause errors in XUI 18.1.0 when provided with a <FormattedMessage> (#5542)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/controlwrapper/XUIControlWrapper.d.ts
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/controlwrapper/XUIControlWrapperInline.d.ts
  src/react/components/controlwrapper/XUIControlWrapperInline.js
  src/react/components/controlwrapper/private/LabelElement.js
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/helpers/labelRequiredWarning.ts
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/switch/XUISwitch.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[XUI-1941] Compose onClick with cellProps (#5539)
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
Due: eslint, prettier --check

[patch] Bump version to 18.1.1 for release (#5544)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch][XUI-2201] adds missing types for icon aria labels (#5550)
  src/react/components/fileuploader/XUIFileUploader.d.ts
Due: eslint, prettier --check

Creating new alpha release with breaking-changes and 18.1.1. (#5552)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] XUI-2208 types currently taking strings which could be nodes (#5551)
  package-lock.json
  src/react/components/controlgroup/XUIControlGroup.js
  src/react/components/controlwrapper/private/CharacterCounterElement.js
  src/react/components/dateinput/XUIDateInput.d.ts
  src/react/components/dateinput/XUIDateInput.js
  src/react/components/dateinput/XUIDateRangeInput.d.ts
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/editabletable/private/EditableTableWrapper.js
  src/react/components/fileuploader/XUIFileUploader.d.ts
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/radio/XUIRadioGroup.d.ts
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/textinput/private/CharacterCounterProps.ts
  src/react/components/textinput/stories/stories.js
  src/react/stories/form-controls/form-layout1/select-box.js
Due: eslint, prettier --check

[minor] XUI-1989 XUICheckbox flickers unexpectedly when sorted in a table (#5555)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/PickitemMultiselect-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPicklist-test.js.snap
  src/react/components/rollovercheckbox/__tests__/__snapshots__/XUIRolloverCheckbox-test.js.snap
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBoxOption-test.js.snap
  src/react/table.md
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint, prettier --check

[DOCS] Fix line height in typography variable examples
  .kss/builder/extend/tokens.js
Due: eslint, prettier --check

[patch][XUI-2219] Fix header tabbing bug and improve table cell performance (#5553)
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/components/table/private/XUITableHead.tsx
  src/react/components/table/private/XUITableHeadingCell.tsx
Due: eslint, prettier --check

[Patch][XUI-2204] Fix bug in Pickitem where multiline and non-truncated items did not work as expected (#5541)
  .visual-testing/reference/backstop_default_XUI_Picklist_multiline_pickitems_with_and_without_truncation_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_multiline_pickitems_with_and_without_truncation_smaller_than_xsmall_breakpoint.png
  src/react/components/picklist/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --check

XUI-2182 Update page header examples with Actions (#5562)
  src/docs/components/navigation/examples/page-header/_page-header-actions.html
  src/docs/components/navigation/examples/page-header/_page-header-responsive.html
  src/docs/components/navigation/examples/page-header/_page-header-tabs.html
  src/react/pageheader.md
Due: prettier --check

[XUI-1969] Fix formatting for link to XUI 11 upgrade guide in React docs (#5561)
  src/docs/react/introduction.md
Due: prettier --check

[no-ref] Add type context to the TS customSort example for XUITable (#5563)
  src/react/table.md
Due: prettier --check

[patch] [XUI-2192] Replace references to jira.teamxero.com and confluence.teamxero.com (#5565)
  CONTRIBUTING.md
  README.md
  src/docs/_contributing-to-xui.scss
  src/docs/_feedback.scss
  src/docs/_updates.scss
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_illustrations.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_directory.scss
  src/react/fileuploader.md
  src/react/illustration.md
  xop-library.yaml
Due: stylelint, prettier --check

[patch] Update anchor section of Editable Table guide (#5566)
  .kss/builder/index.hbs
  src/docs/components/displaying-data/_editable-table.scss
Due: stylelint, prettier --check

[XUI-2008] Add component generator
  .plop/helpers/__tests__/index-test.js
  .plop/helpers/index.js
  .plop/templates/component.hbs
  .plop/templates/exports.hbs
  .plop/templates/kssDocs.hbs
  .plop/templates/reactDocs.hbs
  .plop/templates/scss.hbs
  .plop/templates/storybookConfig.hbs
  .plop/templates/storybookStories.hbs
  .plop/templates/storybookVariations.hbs
  .plop/templates/styleguidistConfig.hbs
  .plop/templates/typeDefs.hbs
  .plop/templates/unitTests.hbs
  .visual-testing/index.js
  CONTRIBUTING.md
  jest.config.js
  package.json
  plopfile.js
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

[XUI-2220] Update sass and migrate to math.div (#5567)
  package-lock.json
  package.json
  src/sass/1-vars/_typography.scss
  src/sass/2-mixins/_functions.decimals.scss
  src/sass/2-mixins/_layout.grids.scss
  src/sass/7-components/_buttons.sizes.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_forms.layout.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_headers.scss
  src/sass/7-components/_pagination.scss
  src/sass/7-components/_table.editable.scss
  src/sass/99-utils/_grid.scss
Due: stylelint, prettier --check

[FEAT] Track changes based on new GitHub organisation
  CODEOWNERS
Due: none

noref - Remove unused classes and styles for icon checkboxes (#5569)
  .codemod/classReplacements.js
  changes.md
  package-lock.json
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint, prettier --check

[Patch][XUI-2233] Fix popover issue caused by React 17 propagation changes (#5572)
  src/react/components/popover/XUIPopover.js
Due: eslint, prettier --check

[patch] [XUI-2242] Upgrade to node v14 (#5559)
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
  scripts/test/helpers/Docker.js
  scripts/test/jest.js
Due: eslint, prettier --check

[minor] [XUI-2210] revert `inputRef` changes to XUIEditableTableCellTextInput (#5573)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint, prettier --check

[noref] Delete XUIButtonCaret.d.ts file (#5581)
  src/react/components/button/XUIButtonCaret.d.ts
Due: eslint, prettier --check

[minor] Version bump to 18.2.0
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-2195] Fix type definition for onMouseUp prop for XUIPickitem (#5580)
  src/react/components/picklist/XUIPickitem.d.ts
Due: eslint, prettier --check

Revert "[patch] [XUI-2242] Upgrade to node v14 (#5559)"
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
  scripts/test/helpers/Docker.js
  scripts/test/jest.js
Due: eslint, prettier --check

[patch] XUI-2248 XUIEditableTableCellTextInpt - Focus ring doesn't get correct focused (#5584)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint, prettier --check

[patch] XUI-2105 Updating XUIButton guidelines. (#5564)
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/examples/button/_button-content-icons.html
  src/docs/components/controls/examples/button/_button-dropdown-trigger.html
  src/docs/components/controls/examples/button/_button-full-width-mobile.html
  src/docs/components/controls/examples/button/_button-full-width.html
  src/docs/components/controls/examples/button/_button-split.html
Due: stylelint, prettier --check

XUI-2236 Links to upgrade guides now point to confluence (#5600)
  README.md
  src/docs/_updates.scss
  src/docs/getting-started/_typescript.scss
Due: stylelint, prettier --check

[breaking-changes][XUI-2034] Update text colour for dropdown footer pickitems (#5601)
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_large_dropdown_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_medium_dropdown_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_small_dropdown_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_a_xsmall_dropdown_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_isLoading_prop_and_dropdown_is_open_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_when_open_shows_drawer_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_validation_message_and_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_Header_and_Footer_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_Header_and_Footer_smaller_than_xsmall_breakpoint.png
  changes.md
  src/docs/components/collecting-input/examples/dateinput/_date-range-input.html
  src/docs/components/collecting-input/examples/dateinput/_single-date-input.html
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/sass/7-components/_dateinput.scss
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --check

[minor][XUI-2251] Add ValidationFailed callback for Date input (#5592)
  src/react/components/dateinput/XUIDateInput.d.ts
  src/react/components/dateinput/XUIDateInput.js
  src/react/components/dateinput/XUIDateRangeInput.d.ts
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
Due: eslint, prettier --check

[patch][XUI-1674] Add and apply prefers-reduced-motion mixin where appropriate (#5575)
  package-lock.json
  package.json
  src/docs/fundamentals/_motion.scss
  src/docs/getting-started/accessibility/_accessibility.scss
  src/docs/getting-started/accessibility/_development.scss
  src/sass/2-mixins/_animation.scss
  src/sass/2-mixins/_states.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_chart.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_fileuploader.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_table.editable.scss
  src/sass/7-components/_table.readonly.scss
  src/sass/7-components/_toggle.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/7-components/_usermessaging.toasts.scss
  src/sass/7-components/_usermessaging.tooltip.scss
  src/sass/_mixins.scss
  stylelint.config.js
Due: eslint, stylelint, prettier --check

[NOREF] Fixing a check for RepoTags in Docker image for local vis-reg.
  scripts/test/helpers/Docker.js
Due: eslint, prettier --check
