Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1556 Updated Fixed footer documentation. (#5059)
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer-inline-example-buttons.html
  src/docs/components/navigation/examples/fixed-footer/_fixed-footer-inline-example.html
Due: stylelint, node scripts/lint/prettier -- --check

[breaking-changes] XUI-1560 Update vis-reg (#5062)
  .visual-testing/reference/backstop_default_Components_in_Components_Invisible_touch_targets_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Button_small_with_caret_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_with_caret_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_tabs_swap_to_tabDropdown_in_small_breakpoint_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_tabs_swap_to_tabDropdown_in_small_breakpoint_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
Due: none

[NOREF] Simplify style change documentation
  changes.md
Due: node scripts/lint/prettier -- --check

Disable dragging when disableRowControls is true (#5061)
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/XUIEditableTableRow-test.js
Due: node scripts/lint/eslint --

[XUI-1568] Make onBlur and onFocus optional props for TS (#5067)
  src/react/components/select-box/SelectBox.d.ts
Due: node scripts/lint/eslint --

Make editable table types more specific
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTableBody.d.ts
  src/react/components/editabletable/XUIEditableTableCell.d.ts
  src/react/components/editabletable/XUIEditableTableCellControl.d.ts
  src/react/components/editabletable/XUIEditableTableCellIconButton.d.ts
  src/react/components/editabletable/XUIEditableTableCellReadOnly.d.ts
  src/react/components/editabletable/XUIEditableTableCellSelectBox.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableFoot.d.ts
  src/react/components/editabletable/XUIEditableTableFootAction.tsx
  src/react/components/editabletable/XUIEditableTableHead.d.ts
  src/react/components/editabletable/XUIEditableTableHeadingCell.d.ts
  src/react/components/editabletable/XUIEditableTableRow.d.ts
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
Due: node scripts/lint/eslint --

[XUI-1254] Clarify loading/disabled state & improve props documentation formatting (#5069)
  src/react/button.md
  src/react/components/button/XUIButton.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] Follow up to #5071 Add specific type for Editable Autocompleter Cell. (#5073)
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.d.ts
Due: node scripts/lint/eslint --

Delete phantom TabDropDown-test.js file
  src/react/components/picklist/__tests__/TabDropDown-test.js
Due: node scripts/lint/eslint --

[XUI-1568] Make onBlur and onFocus optional props for TS (#5067)
  src/react/components/selectbox/XUISelectBox.d.ts
Due: node scripts/lint/eslint --

[breaking-changes] noref Update dropdown casing in breaking-changes (#5077)
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/contexts/DropdownContext.js
Due: node scripts/lint/eslint --

[breaking-changes] XUI-1576 ET cleanup (#5076)
  src/docs/components/displaying-data/examples/editable-table/_editable-table-cell-selectbox.html
  src/docs/components/displaying-data/examples/editable-table/_editable-table-disabling.html
  src/react/components/button/XUIButton.js
  src/react/components/editabletable/XUIEditableTableCellSecondarySearch.js
  src/react/components/editabletable/__tests__/EditableTableColGroup-test.tsx
  src/react/components/editabletable/__tests__/EditableTableHeadRow-test.tsx
  src/react/components/editabletable/__tests__/XUIEditableTableCellSecondarySearch-test.js
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableColGroup-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/EditableTableHeadRow-test.tsx.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSecondarySearch-test.js.snap
  src/react/components/editabletable/stories/helpers.js
  src/react/editabletable.ts
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] noref Update vis-reg images of selectbox (#5079)
  .visual-testing/reference/backstop_default_XUI_Select_Box_as_full-width_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_as_full-width_size_with_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_disabled_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_disabled_and_invalid_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_invalid_with_an_error_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_invalid_with_an_error_message_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_is_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_is_disabled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_a_hint_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_a_hint_message_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_no_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_no_default_layout_0_xui-container_0_just_desktop.png
Due: none

Unify xui-button-split styles (#5078)
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_empty_split_button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_empty_split_button_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_split_button_and_a_dropdown_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_split_button_and_a_dropdown_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/sass/7-components/_buttons.contenticons.scss
  src/sass/7-components/_buttons.dropdowns.scss
Due: stylelint, node scripts/lint/prettier -- --check

noref - Fixing autocompleter vis-reg (#5081)
  .visual-testing/onReady.js
  .visual-testing/reference/backstop_default_XUI_Autocompleter_SecondarySearch_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  src/react/components/autocompleter/stories/components/DetailedListExample.js
  src/react/components/autocompleter/stories/components/SecondarySearchExample.js
Due: node scripts/lint/eslint --

[breaking-changes] noref Editable overflow shadow. (#5082)
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_add_new_row_button_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_editabletable.scss
Due: stylelint, node scripts/lint/prettier -- --check

[no-ref] Fix react-day-picker prop-type errors (#5084)
  src/react/components/datepicker/customElements/CustomCaption.js
  src/react/components/datepicker/customElements/CustomWeekday.js
Due: node scripts/lint/eslint --

Poopover -> popover (#5085)
  src/docs/components/alerts/_popovers.scss
Due: stylelint, node scripts/lint/prettier -- --check

[XUI-1589] Fix XUITextInput type definition (#5083)
  src/react/components/textInput/XUITextInput.d.ts
Due: node scripts/lint/eslint --

[Breaking-changes] noref Fix caret positioning issue within a selectbox (#5080)
  .visual-testing/reference/backstop_default_Components_in_Components_Form_layout_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_invalid_and_mixed_type_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_mixed_type_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_with_select_cells_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_as_controlled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_change_count_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_one_page_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_paging_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_two_pages_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_test_item_select_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_as_medium_size_auto-width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_as_medium_size_width_by_viewport_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_as_medium_size_width_by_viewport_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_disabled_and_invalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_disabled_and_invalid_hover_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_invalid_with_an_error_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_is_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_a_hint_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_no_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Select_Box_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  src/react/components/button/XUIButton.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBox-test.js.snap
  src/sass/7-components/_editabletable.scss
  src/sass/7-components/_forms.selects.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[bc] version bump to 17.0.0 (#5090)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Update updates date for 17.0.0 (#5092)
  src/docs/_updates.scss
Due: stylelint, node scripts/lint/prettier -- --check

[minor] XUI-1538 AutocompleterEmptyState icon updates (#5074)
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_empty_state_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_empty_state_and_custom_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_with_empty_state_and_custom_props_0_xui-container_0_just_desktop.png
  changes.md
  src/react/components/autocompleter/XUIAutocompleterEmptyState.d.ts
  src/react/components/autocompleter/XUIAutocompleterEmptyState.js
  src/react/components/autocompleter/__tests__/XUIAutcompleterEmptyState-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterEmptyState-test.js.snap
  src/react/components/autocompleter/stories/components/EmptyStateExample.js
  src/react/components/autocompleter/stories/stories.js
  src/react/components/autocompleter/stories/variations.js
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[patch] XUI-1541 Exporting additional types for XUIFileUploader. (#5088)
  src/react/components/fileUploader/XUIFileUploader.d.ts
Due: node scripts/lint/eslint --

XUI-1604 Update where flag definitions live (#5102)
  .kss/builder/extend/flags.js
  src/react/components/helpers/developmentConsole.js
  src/react/helpers/flagDefinitions.js
Due: node scripts/lint/eslint --

[patch] XUI-1547 Dropdown auto width when against right gutter (#5093)
  .visual-testing/reference/backstop_default_XUI_Dropdown_dropdown_against_right_gutter_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/private/dom-helpers.js
Due: node scripts/lint/eslint --

Clear out major release assets for XUI18 (#5103)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
Due: node scripts/lint/eslint --, node scripts/lint/prettier -- --check

[breaking-changes] [XUI-1073] Add upload progress to file uploader (#5097)
  .codemod/classReplacements.js
  .visual-testing/reference/backstop_default_XUI_FileUploader_drag_and_drop_with_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_no_icon_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_no_icon_single_line_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_single_line_fileList_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_FileUploader_with_various_uploadProgressPercentage_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-uploading.html
  src/react/components/fileUploader/XUIFileUploader.d.ts
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/fileUploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileUploader/private/FileList.js
  src/react/components/fileUploader/private/helpers.js
  src/react/components/fileUploader/stories/variations.js
  src/react/fileUploader.md
  src/sass/7-components/_fileuploader.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[XUI-1626] Fix absolute import
  .kss/builder/extend/flags.js
Due: node scripts/lint/eslint --

[XUI-1599] Update Guide Figma links
  src/docs/_updates.scss
  src/docs/getting-started/_designers.scss
  src/docs/getting-started/_getting-started.scss
Due: stylelint, node scripts/lint/prettier -- --check

[patch] [XUI-1455] Update illustration documentation (#5105)
  src/docs/fundamentals/_illustrations.scss
  src/docs/getting-started/_directory.scss
  src/react/illustration.md
Due: stylelint, node scripts/lint/prettier -- --check

XUI-1573 Apply minLoaderWidth over touch target width. (#5107)
  .visual-testing/reference/backstop_default_XUI_Button_with_short_content_and_minLoaderWidth_0_rootdivdiv_0_just_desktop.png
  src/react/components/button/stories/variations.js
  src/sass/7-components/_buttons.states.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] Version bump for 17.0.1 (#5109)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[minor] [XUI-1127] Add pinned columns for XUIEditableTable (#5100)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_with_pinned_first_and_last_action_columns_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_with_pinned_first_and_last_input_columns_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Editable_table_responsive_with_pinned_first_and_last_text_columns_0_rootdivdiv_0_just_desktop.png
  src/docs/components/displaying-data/_editable-table.scss
  src/react/components/editabletable/XUIEditableTable.d.ts
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableRow.js
  src/react/components/editabletable/__tests__/EditableTableOverflow-test.tsx
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/editabletable.pinnedcolumns.md
  src/react/components/editabletable/private/EditableTableOverflow.tsx
  src/react/components/editabletable/private/EditableTableWrapper.js
  src/react/components/editabletable/private/PortalFocus.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_editabletable.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

[patch] [XUI-1557] Fix reversed animation on circular progress initial render (#5117)
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/progressindicator/__tests__/progressindicator-test.js
  src/react/components/progressindicator/customElements/ElementSize.js
Due: node scripts/lint/eslint --

[patch] XUI-1588 Fixing editable table utility bar resizing (#5120)
  src/react/components/editabletable/private/EditableTableUtilityBar.tsx
Due: node scripts/lint/eslint --

[Patch] XUI-1632 Fix issue where Dropdown was closing unexpectedly (#5122)
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
Due: node scripts/lint/eslint --

[patch] XUI-1653 Fix for splitButton inline dropdown (#5123)
  .visual-testing/reference/backstop_default_XUI_Dropdown_dropdown_inline_from_split_button_0_xui-container_0_just_desktop.png
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/sass/7-components/_buttons.groups.scss
Due: node scripts/lint/eslint --, stylelint, node scripts/lint/prettier -- --check

Path conditions:
  node scripts/lint/eslint --: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  node scripts/lint/prettier -- --check: any of: *.{html,hbs,json,css,scss,md}
