Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Bump to 13.2.0-beta.3 (#3184)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

update versions.js
  src/react/components/helpers/versions.js
Due: eslint

IE 11 fix the story. (#3175)
  .storybook/config.js
  .storybook/preview-head.html
Due: none

Ignore this folder and files from watcher.
  scripts/watch/kss.js
Due: none

For safety sake, ensure we ignore for all watch tasks
  scripts/watch/styleguide.js
  scripts/watch/xui.js
Due: none

Adds update section for 13.2.0
  src/docs/_docs.updates.scss
Due: stylelint

tidies release info section below update
  src/docs/_docs.updates.scss
Due: stylelint

Fix to iso header link between Guide and React docs
  src/sass/objects/_isolationheader.scss
Due: stylelint

Renamed XUIPageheader to XUIPageHeader (#3189)
  .styleguidist/sections.json
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.actions.md
  src/react/components/structural/structural.breadcrumb.md
  src/react/components/structural/structural.pageheader.md
  src/react/structural.js
Due: eslint, stylelint

updates home page links and naming (#3190)
  src/docs/home.md
Due: none

Remove erroneous J (#3194)
  README.md
Due: none

Fix dropdown alignment in forceDesktop mode for mobile (#3192)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/positioning/Positioning.js
Due: eslint

Fix strange overflowing behaviour in XUITextInput (#3196)
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/sass/components/_autocompleter.scss
  src/sass/objects/_forms.textinputs.scss
Due: eslint, stylelint

[MINOR] Fix broken KSS pages (#3197)
  scripts/build/index.js
  scripts/build/kss/tmp.js
Due: none

Release 13.2.0.beta.4 (#3198)
  .umd/index.html
  package.json
  scripts/release/index.js
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Add security note about isolation header
  package-lock.json
  src/sass/objects/_isolationheader.scss
Due: stylelint

Version bump for 13.2.0 (#3200)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

Update confusing doc code example (#3205)
  src/docs/fundamentals/_docs.layout.scss
  src/sass/trumps/_marginpadding.scss
Due: stylelint

Fix to link from React docs back to Guide per #3207 (#3209)
  src/docs/react/introduction.md
Due: none

Fix broken link tabs => picklists (#3206)
  src/docs/building-blocks/_docs.page-header.scss
Due: stylelint

Additional hook deletion needed to get husky working. Update docs.
  README.md
Due: none

[minor] Bug: Table "Check All" activates when there are no results (#3204)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Table_basic_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_checkbox_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_header___footer_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_loading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_no_header_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_overflow_menu_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_pinned_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_responsive_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_widths_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
Due: eslint

[minor] Chore: XUI docs heading / team list updates (#3211)
  src/docs/_docs.feedback.scss
  src/sass/_mixins.scss
Due: stylelint

[minor] React a11y fixes - batch 1 (#3179)
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/radio/stories/stories.js
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggle-test.js.snap
  src/react/components/toggle/stories/variations.js
Due: eslint, stylelint

Remove babel polyfill that is causing problems for MS browsers?
  .storybook/config.js
Due: none

ARIA role updates for dropdown + stateful picklist. Issue #2066
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
Due: eslint

Add another classname prop to allow recommended width classes on pageHeader content
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: eslint

Add qaHook for XUIToggleOption input (#3229)
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/XUIToggleOption-test.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggleOption-test.js.snap
Due: eslint

Addressed main design behaviour modifications
  src/sass/objects/_steps.scss
Due: stylelint

realign the inline / stacked divider vertically
  src/sass/objects/_steps.scss
Due: stylelint

shrink the pill design horizontally for more balance
  src/sass/objects/_steps.scss
Due: stylelint

update visual regression references
  .visual-testing/reference/backstop_default_XUI_Stepper_extra_long_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_inline_standard_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_progress_button_combinations_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_sidebar_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_standard_button_combinations_0_rootdivdiv_0_just_desktop.png
Due: none

create service worker and config
  .kss/builder/extend/serviceworker.js
  .kss/builder/index.hbs
  package-lock.json
  package.json
  scripts/build/index.js
  scripts/build/serviceworker.js
  scripts/start/index.js
Due: none

update service worker to reference multiple versions of the XUI docs
  .kss/builder/extend/serviceworker.js
  scripts/build/serviceworker.js
Due: none

stop caching of versionSelector.js
  scripts/build/serviceworker.js
Due: none

add SERVICE_WORKER environment hook to run / skip sequence
  .kss/builder/extend/serviceworker.js
  scripts/build/serviceworker.js
Due: none

forgot the package lock
  package-lock.json
Due: none

Removed grunt again
  package.json
Due: none

Test snapshot update
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
Due: none

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
