Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[minor] [XUI-927] Update documentation for TS (#4629)
  changes.md
  src/docs/getting-started/_developers.scss
Due: stylelint, prettier --check

[minor] XUI-930 Build Pagination (#4619)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Pagination_as_controlled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_change_count_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_count_is_less_than_min_perPageCount_option_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_count_is_less_than_min_size_option_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_0_rootdivdiv_2_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_one_page_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_paging_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_two_pages_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_test_item_select_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_test_paging_select_0_rootdivdiv_0_just_desktop.png
  src/react/components/helpers/useResizeObserver.js
  src/react/components/pagination/XUIPagination.js
  src/react/components/pagination/__tests__/XUIPagination-test.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/pagination/private/ItemsElement.js
  src/react/components/pagination/private/PaginationSelect.js
  src/react/components/pagination/private/Paging.js
  src/react/components/pagination/private/helpers.js
  src/react/components/pagination/stories/stories.js
  src/react/components/pagination/stories/variations.js
  src/react/components/select-box/SelectBox.js
  src/sass/7-components/_pagination.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

[XUI-991] Add tests to test for 3 different scenarios for custom onKeyDown callback.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-991] Amend order of custom onKeyDown callback to be called after default onKeyDown behaviour.
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

Update Simar's name (#4639)
  src/docs/components/displaying-data/examples/picklist/_picklist-expanding.html
Due: prettier --check

[XUI-991] Refactor tidy: remove unnecessary `async`.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-991] Add Autocompleter custom key down example to docs.
  src/react/autocompleter.md
Due: prettier --check

Bug fix for a link between Guide docs and React (#4641)
  src/docs/fundamentals/_layout.scss
Due: stylelint, prettier --check

[patch] Revert "XUI-1010 Marked 'head' prop as required for XUITableColumn. (… (#4640)
  src/react/components/table/XUITableColumn.js
Due: eslint

Version bump for 16.1.1 (#4642)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

Update teammates on 'Feedback' page (#4643)
  src/docs/_feedback.scss
Due: stylelint, prettier --check

[minor] XUI-930 Add pagination documents (#4638)
  .kss/builder/extend/markdownSection.js
  .kss/builder/index.hbs
  .kss/scss/style.scss
  .styleguidist/sections.json
  src/docs/components/navigation/_pagination.scss
  src/docs/components/navigation/examples/pagination/_pagination-layout.html
  src/docs/components/navigation/examples/pagination/_pagination-paging.html
  src/docs/components/navigation/examples/pagination/_pagination.html
  src/react/components/pagination/XUIPagination.d.ts
  src/react/components/pagination/XUIPagination.js
  src/react/components/pagination/__tests__/XUIPagination-test.js
  src/react/components/pagination/private/helpers.js
  src/react/components/pagination/stories/stories.js
  src/react/components/select-box/SelectBox.d.ts
  src/react/pagination.md
  src/react/pagination.ts
Due: eslint, stylelint, prettier --check

[XUI-991] Delete unused import.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-991] Simplify custom `onKeyDown` example. Rationale: The previous Tab-on-select is not a usage we want to encourage.
  src/react/autocompleter.md
Due: prettier --check

[XUI-991] Delete unnecessary comment.
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

Bash typescript codemod command typo (#4645)
  README.md
Due: prettier --check

[minor] XUI-930 Add min-height for pagination (#4648)
  .visual-testing/reference/backstop_default_XUI_Pagination_count_is_less_than_min_perPageCount_option_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_pagination.scss
Due: stylelint, prettier --check

[XUI-991] Update comments in example to be more specific about its limitations.
  src/react/autocompleter.md
Due: prettier --check

[XUI-991] Refactor tests to be separated out into proper units and better use of describes to give structure.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-999] Sunset ‘link’ button variants
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_borderless-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_borderless-negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_borderless-primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_medium_borderless-standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-muted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_borderless-standard_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_small_unstyled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-create_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-inverted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-muted_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_borderless-primary_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_xsmall_negative_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_full-width-mobile_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_full-width_with_a_Loader_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_medium_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_medium_inverted_medium_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_small_inverted_small_iconButton_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_xsmall_inverted_xsmall_iconButton_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/banner/XUIBannerAction.js
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIIconButton.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/XUISplitButtonGroup.js
  src/react/components/button/private/constants.js
  src/react/components/button/stories/variations.js
  src/react/components/toast/XUIToastAction.js
Due: eslint, prettier --check

[XUI-991] Update structure and naming of tests.
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
Due: eslint

[XUI-992] Add Logos page to fundamentals docs
  src/docs/fundamentals/_logos.scss
Due: stylelint, prettier --check

[XUI-1051] Delete rogue `.ts` in import
  src/react/components/banner/XUIBannerAction.js
Due: eslint

[XUI-1040] Stub out editable table component
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Editable_Table_Default_0_rootdivdiv_0_just_desktop.png
  src/docs/components/displaying-data/_editable-tables.scss
  src/docs/components/displaying-data/examples/editable-table/_editable-table.html
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/__tests__/XUIEditableTable-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTable-test.js.snap
  src/react/components/editabletable/stories/stories.js
  src/react/components/editabletable/stories/variations.js
  src/react/editabletable.js
  src/react/editabletable.md
  src/sass/7-components/_editabletable.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

[XUI-992] Update wording to be more precise and concise.
  src/docs/fundamentals/_logos.scss
Due: stylelint, prettier --check

[patch] XUI-890 Allowing accordion item to be open by default. (#4636)
  .visual-testing/reference/backstop_default_XUI_Accordion_basic_accordion_with_item_open_0_rootdivdiv_0_just_desktop.png
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/stories/variations.js
Due: eslint

[XUI-952] Add section in developer docs about migrating from unsafe lifecycles.
  src/docs/getting-started/_developers.scss
Due: stylelint, prettier --check

[XUI-1056] Fix broken section links in Styleguidist
  .styleguidist/components/ComponentsList.js
  .styleguidist/components/Section.js
  .styleguidist/config.js
Due: eslint

[XUI-967] Add related links in XUI Guide
  src/docs/components/alerts/_banners.scss
  src/docs/components/alerts/_popovers.scss
  src/docs/components/alerts/_toasts.scss
  src/docs/components/alerts/_tooltips.scss
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/collecting-input/_modals.scss
  src/docs/components/collecting-input/_search.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_ranges.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/_toggles.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_bar-charts.scss
  src/docs/components/displaying-data/_content-blocks.scss
  src/docs/components/displaying-data/_overview-blocks.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/identifiers/_avatars.scss
  src/docs/components/identifiers/_capsules.scss
  src/docs/components/identifiers/_loaders.scss
  src/docs/components/identifiers/_pills.scss
  src/docs/components/identifiers/_progress-indicators.scss
  src/docs/components/identifiers/_tags.scss
  src/docs/components/navigation/_breadcrumb-trails.scss
  src/docs/components/navigation/_global-navigation.scss
  src/docs/components/navigation/_isolation-headers.scss
  src/docs/components/navigation/_page-headers.scss
  src/docs/components/navigation/_steppers.scss
  src/docs/components/navigation/_tabs.scss
Due: stylelint, prettier --check

[patch] XUI-1025 Input props for XUIRadio and XUICheckbox (#4658)
  changes.md
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
Due: eslint, prettier --check

Revert "[patch] XUI-1025 Input props for XUIRadio and XUICheckbox (#4658)" (#4660)
  changes.md
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
Due: eslint, prettier --check

XUI-1002 Adding new pages to the docs - Directory and Contributing to XUI. (#4650)
  .kss/builder/index.hbs
  src/docs/_contributing-to-xui.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_bar-charts.scss
  src/docs/components/displaying-data/_content-blocks.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/identifiers/_avatars.scss
  src/docs/components/identifiers/_progress-indicators.scss
  src/docs/compositions/_detail-summary.scss
  src/docs/compositions/_detail.scss
  src/docs/compositions/_master-detail-summary.scss
  src/docs/compositions/_master-detail.scss
  src/docs/compositions/_split.scss
  src/docs/fundamentals/_spacing.scss
  src/docs/getting-started/_codepen.scss
  src/docs/getting-started/_designers.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_directory.scss
  src/docs/getting-started/_performance.scss
Due: stylelint, prettier --check

[minor] XUI-1025 Input props for XUIRadio and XUICheckbox (#4661)
  changes.md
  src/react/components/checkbox/XUICheckbox.d.ts
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/radio/XUIRadio.d.ts
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
Due: eslint, prettier --check

[XUI-1016] Remove drag and drop colors from showing on the section-fundamentals-colors.html page
  src/sass/1-vars/_colors.scss
Due: stylelint, prettier --check

Remove toggleLabel from XUIAccordionItem demo (#4663)
  src/react/accordion.md
Due: prettier --check

[XUI-1029] Amend references to 'default' to standard to keep consistency of naming within docs.
  src/docs/components/identifiers/_tags.scss
  src/react/tag.md
Due: stylelint, prettier --check

[XUI-1031] Rearrange to get attributes in alphabetical order.
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint, prettier --check
