Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,js,json,css,scss,md}": "prettier --write",
}

[patch] XUI-215 Removed duplicated CodePen documentation. (#4390)
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

[patch] XUI-772 XUITable - offer a way to apply a custom class on a row (#4388)
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/react/table.md
Due: eslint, prettier --write

[Breaking-changes] Picklist example updates (#4381)
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint, prettier --write

[patch] XUI-712 Add flags to XUI Guide for v15.x.x (#4387)
  .kss/builder/extend/flags.js
  .kss/scss/style.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/fundamentals/_docs.layout.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_globalstates.scss
  src/sass/7-components/_illustrations.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_motion.scss
  src/sass/7-components/_overview.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/99-utils/_utilities.scss
Due: stylelint, prettier --write

[XUI-781] Update dependencies
  .styleguidist/config.js
  babel.config.js
  package-lock.json
  package.json
  scripts/build/kss/tmp.js
  scripts/build/postcss/kss.js
  scripts/build/postcss/xui.js
  scripts/build/storybook.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/controlwrapper/XUIControlWrapperInline.js
  src/react/components/dropdown/DropDown.js
  src/react/components/helpers/versions.js
  src/react/components/picklist/NestedPicklistContainer.js
  src/react/components/progressindicator/customElements/LinearTrack.js
  src/react/components/radio/XUIRadio.js
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/GenericCell.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  webpack.umd.config.js
Due: eslint, prettier --write

[XUI-809] Revert React version
  package-lock.json
  package.json
  src/react/components/helpers/versions.js
Due: eslint, prettier --write

[XUI-808] Make tabIndex prop types friendlier
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIIconButton.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/radio/XUIRadio.js
  src/react/components/stepper/customElements/StepperTab.js
  src/react/components/table/customElements/TableData.js
Due: eslint, prettier --write

[patch] XUI-712 Add flag definitions to docs and make flags link to said defs (#4392)
  .kss/builder/extend/flags.js
  .kss/builder/index.hbs
  .kss/scss/hover-tooltip.scss
  .kss/scss/style.scss
  src/docs/_docs.updates.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint, prettier --write

15.2.3 Version bump (#4397)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] XUI-455 Composition react docs (#4398)
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/react/components/compositions/compositions.detail.md
  src/react/components/compositions/compositions.detailsummary.md
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/compositions/compositions.split.md
Due: stylelint, prettier --write

Update visual regression images
  .visual-testing/reference/backstop_default_Compositions_splitHeader_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_splitHeader_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_sample_0_root_0_between_xsmall_and_small_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_sample_0_root_1_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_sample_0_root_2_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_sample_0_root_3_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_Compositions_split_sample_0_root_4_between_xlarge_and_2xlarge_breakpoints.png
Due: none

[CHORE] Align EditorConfig with Prettier config
  .editorconfig
Due: none

Fixed a couple small bugs in React docs examples (#4406)
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
Due: prettier --write

Add .gitignore rules to .eslintignore (#4405)
  .eslintignore
Due: none

Add .gitignore rules to .eslintignore (#4409)
  .eslintignore
Due: none

[Breaking-changes] Border radius fixes (#4401)
  .kss/scss/home.scss
  .kss/scss/style.scss
  .styleguidist/styles.scss
  src/sass/1-vars/_structure.scss
  src/sass/7-components/_avatars.scss
  src/sass/7-components/_buttons.icons.scss
  src/sass/7-components/_chart.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.range.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_stepper.scss
Due: stylelint, prettier --write

[breaking-changes] XUI-708 Responsive component improvements | Tabs / Dropdown swap - resize observer (#4402)
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_swap_to_tabDropDown_in_small_breakpoint_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_swap_to_tabDropDown_in_small_breakpoint_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Tab_Dropdown_with_leftelement_and_secondarytext_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Tab_Dropdown_with_leftelement_and_secondarytext_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownFooter-test.js.snap
  src/react/components/helpers/breakpoints.js
  src/react/components/picklist/Picklist.js
  src/react/components/picklist/__tests__/Picklist-test.js
  src/react/components/picklist/__tests__/TabDropDown-test.js
  src/react/components/picklist/__tests__/__snapshots__/Picklist-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/TabDropDown-test.js.snap
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/TabDropDown.js
  src/react/components/picklist/private/helpers.js
  src/react/components/picklist/stories/stories.js
  src/react/components/picklist/stories/variations.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_navigation.subapp.scss
Due: eslint, stylelint, prettier --write

[breaking changes] XUI-681 Tag touch target and tooltip updates (#4389)
  .visual-testing/reference/backstop_default_Components_in_Components_Form_layout_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_right_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_medium_size_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_negative_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_neutral_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_positive_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_standard_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_With_a_warning_variant_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_long_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_long_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_long_content_truncated_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_short_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tag_with_short_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/tag/XUITag.js
  src/react/components/tag/__tests__/XUITag-test.js
  src/react/components/tag/__tests__/__snapshots__/XUITag-test.js.snap
  src/react/components/tag/stories/stories.js
  src/react/components/tag/stories/variations.js
  src/react/components/tooltip/XUITooltip.js
  src/react/stories/components-in-components/touch-targets/index.js
  src/sass/7-components/_navigation.subapp.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --write

XUI-700 and XUI-708 Responsive component improvements | Tabs - Update docs (#4413)
  changes.md
  src/react/components/picklist/__tests__/TabDropDown-test.js
  src/react/components/picklist/private/helpers.js
  src/react/picklist.md
Due: eslint, prettier --write

[patch] XUITextInput onFocus event is triggered twice (#4418)
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
Due: eslint, prettier --write

Touch interaction story styling tweak (#4415)
  src/react/stories/components-in-components/touch-interactions/helpers.js
Due: eslint, prettier --write

XUI-785 Refactored narrow-viewport tooltip behaviour (#4417)
  src/react/components/positioning/PositioningInline.js
Due: eslint, prettier --write

Ensure react-es6 output is spec-compliant (#4416)
  babel.config.js
  scripts/build/babel.js
  scripts/prepack/index.js
Due: prettier --write

[breaking-changes] XUI-760 Compact breadcrumb (#4410)
  .visual-testing/reference/backstop_default_Structural_pageheader_compact_breadcrumb_dropdown_0_rootdivdiv_0_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_long_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_all_the_things_long_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_compactable_one-item_breadcrumb_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_compactable_one-item_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_compactable_three-item_breadcrumb_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_compactable_three-item_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_compactable_two-item_breadcrumb_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_pageheader_with_compactable_two-item_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/XUIBreadcrumb.js
  src/react/components/structural/XUIPageHeader.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.breadcrumb.md
  src/react/contexts/WidthContext.js
  src/sass/7-components/_navigation.breadcrumb.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-689 XUIAutocompleter autoFocus error (#4414)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/stories/variations.js
Due: eslint, prettier --write

Minor improvements for react doc (#4419)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/select-box/SelectBox.js
Due: eslint, prettier --write

[patch] XUI-689 XUIAutocompleter autoFocus error - Update (#4421)
  src/react/components/autocompleter/stories/variations.js
Due: eslint, prettier --write

XUI-737/738 Updated changes.md and classReplacements.js (#4426)
  .codemod/15.1.2/classReplacements.js
  .codemod/15.1.2/componentTransforms.js
  .codemod/classReplacements.js
  changes.md
Due: prettier --write

Renaming XUIBreadcrumb to XUIBreadcrumbTrail (#4427)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  .styleguidist/sections.json
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/overviewblock/__tests__/XUIOverviewBlock-test.js
  src/react/components/pageheader/XUIBreadcrumbTrail.js
  src/react/components/pageheader/XUIPageHeader.js
  src/react/components/pageheader/__tests__/XUIPageHeader-test.js
  src/react/components/pageheader/__tests__/__snapshots__/XUIPageHeader-test.js.snap
  src/react/components/pageheader/pageheader.breadcrumb.md
  src/react/components/pageheader/pageheader.breadcrumbtrail.md
  src/react/components/pageheader/stories/stories.js
  src/react/components/panel/stories/stories.js
  src/react/pageheader.js
  src/react/pageheader.md
  src/sass/7-components/_navigation.breadcrumb.scss
Due: eslint, stylelint, prettier --write

[no-jira] Latest guidelines update
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint, prettier --write

Do our own .npmrc
  .npmrc
  package-lock.json
Due: prettier --write

[patch] cherry-pick XUI-678-Hover improvements: Write and publish guidance on hover states (#4358) (#4430)
  scripts/build/kss/config.json
  src/docs/working-with-xui/_docs.accessibility.design.scss
  src/docs/working-with-xui/_docs.accessibility.development.scss
  src/docs/working-with-xui/_docs.accessibility.scss
  src/docs/working-with-xui/_docs.codepen.scss
  src/docs/working-with-xui/_docs.designers.scss
  src/docs/working-with-xui/_docs.developers.scss
  src/docs/working-with-xui/_docs.performance.scss
  src/docs/working-with-xui/_docs.responsive.guidelines.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint, prettier --write

[patch] 15.2.4 release script run
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

[patch] XUI-776 Sunset size variants that result in invisible touch target overlaps (#4424)
  changes.md
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/react/autocompleter.md
  src/react/button.md
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/button/XUIButtonGroup.js
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/Picklist.js
  src/react/components/pill/XUIPill.js
  src/react/datepicker.md
  src/react/pill.md
  src/react/textinput.md
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_pills.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-799 Update table interaction to remove package dependency (#4433)
  package-lock.json
  package.json
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/OverflowMenuCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/stories/stories.js
Due: eslint, prettier --write

[breaking-changes] XUI-471 Line-height update for L, XL, 2XL, 3XL headings (#4423)
  .visual-testing/reference/backstop_default_XUI_Modal_size_fullscreen_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_xlarge_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Panel_-_simple_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/fundamentals/_docs.typography.scss
  src/sass/2-mixins/_typography.scss
Due: stylelint, prettier --write

[patch] XUI-740 Updated tooltip/link reload issue for React docs (#4432)
  src/react/tooltip.md
Due: prettier --write

[XUI-810] Upgrade React and friends
  package-lock.json
  package.json
  src/react/components/helpers/versions.js
Due: eslint, prettier --write
