Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Updates per code review. Tested good in all the same browsers.
  src/react/components/helpers/modalManager.js
  src/react/components/modal/XUIModal.js
  src/react/stories/compositions/five-nested-modals/index.js
Due: eslint

[breaking-changes] Toggle interaction updates (#3627)
  changes.md
  src/docs/building-blocks/_docs.toggles.scss
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggleOption-test.js.snap
  src/react/components/toggle/stories/stories.js
  src/react/components/toggle/stories/variations.js
  src/react/toggle.md
Due: eslint, stylelint

A few more footer pickitem icons
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/dropdown/dropdown.headerfooter.md
Due: eslint

Fix colors for isolation header, radio checked disabled, disabled input
  .visual-testing/reference/backstop_default_Rollover_Checkbox_checkbox_visible_disabled_and_checked_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_disabled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Autocompleter_is_disabled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_only_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Checked_and_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Radio_is_Disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_TextInput_is_disabled_0_rootdivdiv_0_just_desktop.png
  src/sass/1-vars/_colors.scss
  src/sass/2-mixins/_elements.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: stylelint

Removes `xui-is-disabled` to enable support for cursors
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/docs/color-test-docs.scss
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/radio/XUIRadio.js
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint

[breaking-changes] Feature: Table (Tab / interactions enhancements) (#3641)
  .styleguidist/sections.json
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/TableBody.js
  src/react/components/table/customElements/TableData.js
  src/react/components/table/customElements/TableHead.js
  src/react/components/table/helpers/constants.js
  src/react/components/table/helpers/utilities.js
  src/react/table.md
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

update pill bg color (#3643)
  .visual-testing/reference/backstop_default_XUI_Pill_as_a_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_does_not_have_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_long_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Avatar_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_no_Delete_Button_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_with_qaHooks_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_bottom-center_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_bottom-left_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_bottom-right_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_bottom_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_flip_from_bottom_left_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_flip_from_left-bottom_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_flip_from_right_center_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_flip_from_side_to_vertical_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_flip_from_top-right_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_inline_with_text_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_is_Default_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_left-bottom_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_left-center_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_left-top_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_left_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_on_an_icon_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_right-bottom_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_right-center_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_right-top_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_right_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_top-center_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_top-left_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_top-right_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_top_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_0_rootdivdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Tooltip_with_a_longer_tip_to_the_side_0_rootdivdivdiv_0_just_desktop.png
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint

Add underlines back to links in some cases (#3628)
  .kss/scss/cards.scss
  .kss/scss/style.scss
  .visual-testing/reference/backstop_default_XUI_Button_as_small_link_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_a_link_0_rootdivdiv_0_just_desktop.png
  src/docs/_docs.updates.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/components/button/stories/variations.js
  src/sass/2-mixins/_buttons.scss
  src/sass/3-reset/_reset.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_typography.links.scss
Due: eslint, stylelint

Add `not-allowed` cursor type to disabled stepper
  src/sass/objects/_steps.scss
Due: stylelint

[breaking-changes] Feature: Stepper a11y enhancements (Focus, Disabled and Documentation) (#3648)
  src/react/stepper.md
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_steps.scss
Due: stylelint

update button docs, CSS order, additional story (#3650)
  .visual-testing/reference/backstop_default_XUI_Avatar_color_variants_0_rootdivdiv_0_just_desktop.png
  src/react/button.md
  src/react/components/avatar/stories/stories.js
  src/react/components/avatar/stories/variations.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint

again
  package-lock.json
Due: none

[breaking-changes] Dropdown tab updates (#3651)
  .visual-testing/reference/backstop_default_XUI_Autocompleter_shows_loading_when_passed_loading_prop_and_dropdown_is_open_0_xui-container_0_just_desktop.png
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/autocompleter/stories/stories.js
  src/react/components/dropdown/DropDownPanel.js
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/stories/variations.js
Due: eslint

[breaking-changes] Fix linting errors for button, banner, toast, datepicker, and pill (#3653)
  src/react/components/banner/XUIBanner.js
  src/react/components/banner/XUIBannerAction.js
  src/react/components/banner/XUIBannerActions.js
  src/react/components/banner/XUIBannerMessage.js
  src/react/components/banner/XUIBannerMessageDetail.js
  src/react/components/banner/private/sentiments.js
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIButtonCaret.js
  src/react/components/button/XUIButtonGroup.js
  src/react/components/button/XUISecondaryButton.js
  src/react/components/button/XUISplitButtonGroup.js
  src/react/components/button/private/constants.js
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/datepicker/customElements/CustomCaption.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/CustomWeekday.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/datepicker/helpers/constants.js
  src/react/components/datepicker/helpers/utils.js
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
  src/react/components/switch/XUISwitch.js
  src/react/components/tag/XUITag.js
  src/react/components/tag/private/constants.js
  src/react/components/toast/XUIToast.js
  src/react/components/toast/XUIToastAction.js
  src/react/components/toast/XUIToastActions.js
  src/react/components/toast/XUIToastMessage.js
  src/react/components/toast/XUIToastWrapper.js
  src/react/components/toast/private/constants.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/private/constants.js
Due: eslint

chart | update icon color variation to match 14 swatches
  src/react/components/chart/customElements/AvatarLabel.js
  src/sass/7-components/_avatars.scss
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_chart.scss
Due: eslint, stylelint

chart | update static empty icon version
  src/sass/7-components/_barchart.scss
Due: stylelint

charts | update remaining standard colors values to reference 14 swatches
  src/react/barchart.md
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/stories/variations.js
  src/sass/7-components/_barchart.scss
Due: eslint, stylelint

A few documentation tweaks across the board (#3658)
  .kss/builder/kss-assets/big-bird.png
  .kss/builder/kss-assets/elmo.png
  .kss/scss/copy-code-blocks.scss
  .kss/scss/home.scss
  .kss/scss/style.scss
  .kss/scss/vars.scss
  package-lock.json
  src/docs/_docs.avatars.scss
  src/docs/building-blocks/_docs.masthead.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint

chart | differentiate between x and y axis label colors
  src/react/components/chart/customElements/AbbreviationLabel.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/StandardLabel.js
  src/react/components/chart/helpers/constants.js
  src/react/components/chart/helpers/theme.js
Due: eslint

Add new lint rules and move to calling eslint directly in package.json (#3660)
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  scripts/lint/js.js
  scripts/lint/js_fix.js
  src/react/components/autocompleter/XUIAutocompleter.js
Due: eslint

[breaking-changes] Bugfixes to stories and React docs (#3663)
  .visual-testing/reference/backstop_default_Compositions_Form_on_a_page_0_xui-container_0_just_desktop.png
  src/react/barchart.md
  src/react/components/avatar/stories/stories.js
  src/react/components/avatar/stories/variations.js
  src/react/components/icon/stories/stories.js
  src/react/components/progressindicator/stories/stories.js
  src/react/components/select-box/SelectBox.js
  src/react/components/structural/stories/stories.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/stories/stories.js
  src/react/components/toggle/stories/stories.js
  src/react/components/tooltip/XUITooltip.js
  src/react/stories/compositions/form-on-a-page/index.js
  src/react/table.md
  src/react/toggle.md
Due: eslint

[breaking-changes] 1.4.1 Cursors (#3652)
  src/react/components/accordion/stories/stories.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/switch/XUISwitch.js
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/XUIToggleOption-test.js
  src/sass/2-mixins/_buttons.scss
  src/sass/2-mixins/_elements.scss
  src/sass/7-components/_buttons.states.scss
  src/sass/7-components/_buttons.toggle.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint

chart | update storybook accessibility issues
  src/react/components/chart/customElements/ChartScaffold.js
  src/sass/7-components/_barchart.scss
Due: eslint, stylelint

chart | update visual regression images
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Abbreviation_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Bars_Overflow_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Customise_Y-Axis_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Header_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Active_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Colored_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Negative_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Undefined___Disparit_Stress_Test_0_rootdivdiv_0_just_desktop.png
Due: none

chart | fix Storybooks display table influence that miss-aligns the scaffold
  src/sass/7-components/_chart.scss
Due: stylelint

Fix issues with broken variables
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_forms.switch.scss
Due: stylelint

Checkbox + control documentation, and 1 line of non-breaking CSS (#3662)
  package-lock.json
  src/docs/building-blocks/_docs.rolloverCheckbox.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: stylelint

[breaking-changes] Stepper: Revising React documentation around responsive / active content process (#3657)
  src/react/stepper.md
Due: none

accordion | fixed anomalies associated with 14.0.0 refactor (#3672)
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/accordion/customElements/EmptyState.js
Due: eslint

adds capsule fixes
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_typography.capsules.scss
Due: stylelint

[breaking-changes] Dropdown aria attributes - only populate when dropdown visible (#3670)
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterSecondarySearch-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/dropdown/DropDownToggled.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownToggled-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

Remove extra querystring from one package
  package-lock.json
Due: none

Updated snapshots
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleterInput-test.js.snap
  src/react/components/button/__tests__/__snapshots__/XUIButtonCaret-test.js.snap
  src/react/components/chart/__tests__/__snapshots__/barchart-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: none

One incorrect merge conflict resolution - fixed
  src/docs/building-blocks/forms/_docs.labels.scss
Due: stylelint

adds updates to pill styling
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_pills.scss
Due: stylelint

Bump xui-icon dependency to 6.1.1 to fix bugs (#3675)
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
