Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

remove Victory errors from introducing custom components
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/StackedLabel.js
Due: eslint

add additional prop to the <XUITooltip> in order to disable onBlur functionality
  src/react/components/tooltip/XUITooltip.js
Due: eslint

update groupPosition system to target a root node rather than a node list
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/helpers/getGroupPosition.js
Due: eslint

update the left offset reference for the x-axis label
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedLabel.js
Due: eslint

minimise alwaysPositive declerations
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/getGroupPosition.js
  src/react/components/chart/helpers/index.js
Due: eslint

consolidating tabs and spaces
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/getGroupPosition.js
  src/react/components/chart/helpers/index.js
Due: eslint

encapsulate the tooltip inside the root chart component
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StackedBar.js
  src/sass/objects/_chart.scss
  src/sass/xui.scss
Due: eslint, stylelint

fix IE11 issues using Array.from in favour of [...nodes]
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/getGroupPosition.js
Due: eslint

create the responsive scaffold for scrolling bar content and x-axis components
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/getGroupPosition.js
  src/react/components/chart/helpers/theme.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

add graph examples that utilise state management / interactivity
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
Due: eslint

change the tooltip to use transitions rather than left / right position displacement
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StackedBar.js
Due: eslint

add in base theme overrides / ability to customise on a per graph type basis
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/getGroupPosition.js
  src/react/components/chart/helpers/theme.js
Due: eslint

Build out system to dynamically horizontally center grouped items via JS
  src/react/barchart.md
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/index.js
  src/react/components/chart/helpers/theme.js
Due: eslint

Create rudimentary dynamic truncation POC
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedLabel.js
Due: eslint

add rudimentary base level responsive x-axis label system
  src/react/barchart.md
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
Due: eslint

add min / max width bar size thresholds
  src/react/components/chart/XUIBarChart.js
Due: eslint

set up the overflow systems for both pagination / native scroll and max bars per page scenarios
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
Due: eslint

consolidate / document bar width distribution system
  src/react/components/chart/XUIBarChart.js
Due: eslint

enhance responsive bar system based on new instructions
  src/react/components/chart/XUIBarChart.js
Due: eslint

consolidate / document horisontal centering system
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
Due: eslint

integrate svg avatar colors / code system into official XUI hooks
  src/react/components/chart/customElements/StackedLabel.js
  src/sass/objects/_avatars.scss
Due: eslint, stylelint

build a rudimentary pagination / max bar per panel system
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ContentPagination.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

add chart key scaffold
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

document truncation system
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/TruncatedText.js
Due: eslint

add header aesthetic / layout enhancements
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/theme.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

create the y-axis seperation and custom sanitisation system
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
Due: eslint

Consolidated demos thus far
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
Due: eslint

enhance default and custom pagination implementation
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ContentPagination.js
Due: eslint

add empty stack data state
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/index.js
Due: eslint

abstract truncation setup into its own module
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/customElements/TruncatedText.js
Due: eslint

finalise charting key system
  src/react/barchart.md
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

consolidate helpers into individualised references
  src/react/barchart.md
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/groupposition.js
  src/react/components/chart/helpers/index.js
  src/react/components/chart/helpers/victorypadding.js
  src/react/components/chart/helpers/yaxis.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

fix pagination UI resize max panel edge case
  src/react/barchart.md
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
Due: eslint

add custom stack color example
  src/react/barchart.md
Due: none

create custom chart height hook
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartLoader.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/constants.js
Due: eslint

update additional prop / variable naming references
  src/react/barchart.md
  src/react/components/chart/customElements/ChartEmpty.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/ContentPagination.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/GroupWrapper.js
  src/react/components/chart/customElements/HorizontallyCenterContent.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/customElements/StackedLabel.js
  src/react/components/chart/customElements/XAxisLabelWrapper.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/helpers/yaxis.js
Due: eslint

transferred the mouse position tooltip to use the generic XUI position system
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

Revise responsive layout setup for the header
  src/react/barchart.md
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/StackedBar.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

add x-axis labels into new tooltip placement
  src/react/barchart.md
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/customElements/GraphTooltip.js
  src/react/components/chart/customElements/StackedBar.js
  src/react/components/chart/helpers/bars.js
  src/sass/objects/_chart.scss
Due: eslint, stylelint

add tooltip outline as a global enhancement
  src/sass/objects/_usermessaging.tooltip.scss
Due: stylelint
