Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Refactor vis-reg tests for Compositions
  src/react/components/compositions/stories/variations.js
Due: eslint

Add tests for Composition vis-reg variation generation
  src/react/components/compositions/stories/__snapshots__/variations-test.js.snap
  src/react/components/compositions/stories/variations-test.js
Due: eslint

Prevent Backstop from mutating viewport objects
  .visual-testing/index.js
Due: none

Build vis-reg tests for Compositions
  .visual-testing/index.js
  src/react/components/compositions/stories/stories.js
  src/react/components/compositions/stories/variations.js
Due: eslint

Uncomment this if you are working on Compositions
  .visual-testing/index.js
Due: none

[XUI-426] Don't apply size to unstyled buttons
  .visual-testing/reference/backstop_default_XUI_Button_as_small_unstyled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_as_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_does_not_have_default_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_has_custom_class_0_rootdivdiv_0_just_desktop.png
  src/react/components/button/XUIButton.js
  src/react/components/button/__tests__/XUIButton-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: eslint

[breaking-changes] XUI-425 Updates for icon buttons inside tooltips (#4150)
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/react/components/compositions/stories/content-block.js
  src/react/components/dropdown/DropDownHeader.js
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/react/components/dropdown/stories/stories.js
  src/react/components/isolationheader/stories/stories.js
  src/react/components/modal/XUIModal.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/textInput/stories/stories.js
  src/react/components/toast/XUIToast.js
  src/react/components/tooltip/stories/stories.js
  src/react/tooltip.md
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint

[breaking-changes] Fix XUIStepper in Firefox by removing box-sizing: content-box (#4144)
  .visual-testing/reference/backstop_default_XUI_Stepper_sidebar_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_sidebar_with_wrapping_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_with_wrapping_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_stepper.scss
Due: stylelint

remove 100% width of dropdown
  src/react/components/compositions/stories/stories.js
Due: eslint

[Breaking-changes] Part 2 fixes for [XUI-420] Documentation bugs in XUI KSS docs (#4154)
  .visual-testing/reference/backstop_default_Components_in_Components_Form_Layout_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_panel_-_simple_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_accordion_tab_composition_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Abbreviation_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Bars_Overflow_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Customise_Y-Axis_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Header_elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Active_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Colored_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Standard_Negative_Bars_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Undefined___Disparit_Stress_Test_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.panels.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/customElements/StepperTab.js
  src/sass/2-mixins/_typography.scss
  src/sass/6-containers/_panels.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_chart.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_typography.headings.scss
  src/sass/7-components/_typography.tags.scss
Due: eslint, stylelint

XUI-402 Storybook link fixes (#4159)
  .kss/README.md
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.detail.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

change split button in header size to small
  src/react/components/compositions/stories/header.js
Due: eslint

[XUI-344] Allow independent styling of inline control messages
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/controlwrapper/XUIControlWrapperInline.js
  src/react/components/controlwrapper/private/MessageElement.js
  src/react/components/radio/XUIRadio.js
  src/react/components/switch/XUISwitch.js
  src/react/components/toggle/XUIToggleOption.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_toggle.scss
Due: eslint, stylelint

[XUI-344] Fix reversed checkboxes and add a visual regression test
  src/react/components/checkbox/stories/stories.js
  src/react/components/checkbox/stories/variations.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint

[XUI-344] Fix CSS linting issues
  src/sass/7-components/_toggle.scss
Due: stylelint

[XUI-344] Fix rollover checkboxes
  src/sass/7-components/_rolloverCheckbox.scss
Due: stylelint

[XUI-344] Style inline control messages
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/radio/XUIRadio.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
Due: eslint, stylelint

[XUI-344] Add new message variations and update tests
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/checkbox/stories/variations.js
  src/react/components/radio/__tests__/XUIRadio-test.js
  src/react/components/radio/stories/variations.js
  src/react/components/switch/stories/variations.js
Due: eslint

[XUI-344] Add KSS docs
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

[XUI-344] Fix margins around checkboxes and radios
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

[XUI-344] Add inline checkboxes and radio buttons
  src/react/stories/components-in-components/form-on-a-page/index.js
Due: eslint

[XUI-344] Don't show empty validation message when XUISwitch is valid
  src/react/components/controlwrapper/private/MessageElement.js
Due: eslint

[XUI-344] Update snapshots
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/controlwrapper/__tests__/__snapshots__/XUIControlWrapperInline-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/PickitemMultiselect-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/Picklist-test.js.snap
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/toggle/__tests__/__snapshots__/XUIToggleOption-test.js.snap
Due: none

Revert > Don't show empty validation message when XUISwitch is valid
  src/react/components/controlwrapper/private/MessageElement.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
Due: eslint

[XUI-344] Refactor css to remove tag selectors and @at-root
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/Pickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/PickitemMultiselect-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/Picklist-test.js.snap
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/XUIRadio-test.js
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/__tests__/__snapshots__/XUISwitch-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggleOption-test.js.snap
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_toggle.scss
Due: eslint, stylelint

[XUI-344] Call Switches switches, not checkboxes
  src/docs/building-blocks/_docs.switches.scss
Due: stylelint

[XUI-344] Remove crazy selectors in favour of clobbering CSS
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: stylelint

[XUI-344] Add aria attributes for invalid inputs
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

[XUI-344] Refactor field class
  src/react/components/checkbox/XUICheckbox.js
Due: eslint

[XUI-344] Document changes for switches, checkboxes, and radio buttons
  changes.md
Due: none

[XUI-344] Clear up documentation around group validation
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

XUI-410 Updated chart examples with working pagination/nav code (#4161)
  src/sass/7-components/_barchart.scss
Due: stylelint

XUI-419 Validation form example bug fixes (#4158)
  src/docs/building-blocks/forms/_docs.validation.scss
Due: stylelint

XUI-425 Docs update and codemod for icon buttons. (#4157)
  .codemod/componentTransforms.js
  changes.md
  src/react/components/button/XUISecondaryButton.js
Due: eslint

XUI-429 Added documentation for ContentBlockItem classes (#4153)
  changes.md
Due: none

updates content for 15 release
  src/docs/_docs.updates.scss
Due: stylelint

[XUI-344] Update visual regression references
  .visual-testing/reference/backstop_default_Components_in_Components_Form_Layout_0_xui-container_0_just_desktop.png
Due: none

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
