Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[XUI-2003] Silence date input prop errors
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_min_and_max_range_just_desktop.png
  src/react/components/dateinput/stories/stories.js
  src/react/dateinput.md
Due: eslint, prettier --check

[XUI-2004] Fix styles for date input in the XUI Guide (#5413)
  src/docs/components/collecting-input/examples/dateinput/_date-input-accessibility.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-anatomy.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-disabled.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-size-variants.html
  src/docs/components/collecting-input/examples/dateinput/_date-input-validation.html
  src/docs/components/collecting-input/examples/dateinput/_date-range-input.html
Due: prettier --check

XUI-1859 Version bump for 18 beta (#5417)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-2003] Fix date input props for real this time
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/dropdown.toggled.md
  src/react/dateinput.md
Due: prettier --check

Fix editable table with pagination docs example (#5420)
  src/react/components/editabletable/editabletable.pagination.md
Due: prettier --check

[Patch][xui-1962] Resolve visreg flakiness (#5418)
  .visual-testing/index.js
Due: eslint, prettier --check

Remove 'read guide' button from intro banner example (#5422)
  src/docs/components/alerts/examples/introbanner/_intro-banner-responsive.html
Due: prettier --check

noref - bump xuishift package version (#5425)
  README.md
  package-lock.json
  package.json
Due: prettier --check

[XUI-1417] Change file uploader path casing
  .styleguidist/sections.json
  .visual-testing/index.js
  src/react/components/fileuploader/XUIFileUploader.d.ts
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/fileuploader/__tests__/XUIFileUploader-test.js
  src/react/components/fileuploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileuploader/private/FileList.js
  src/react/components/fileuploader/private/helpers.js
  src/react/components/fileuploader/stories/stories.js
  src/react/components/fileuploader/stories/variations.js
  src/react/fileUploader.ts
  src/react/fileuploader.md
  src/react/fileuploader.ts
Due: eslint, prettier --check

[XUI-1417] Change text input path casing
  .styleguidist/sections.json
  .visual-testing/index.js
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/controlwrapper/XUIControlWrapper.d.ts
  src/react/components/dateinput/XUIDateInput.d.ts
  src/react/components/dateinput/XUIDateInput.js
  src/react/components/dateinput/XUIDateRangeInput.d.ts
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/modal/stories/stories.js
  src/react/components/textinput/XUITextInput.d.ts
  src/react/components/textinput/XUITextInput.js
  src/react/components/textinput/XUITextInputSideElement.d.ts
  src/react/components/textinput/XUITextInputSideElement.js
  src/react/components/textinput/__tests__/XUITextInput-test.js
  src/react/components/textinput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textinput/private/CharacterCounterProps.ts
  src/react/components/textinput/private/constants.ts
  src/react/components/textinput/private/helpers.js
  src/react/components/textinput/stories/stories.js
  src/react/components/textinput/stories/variations.js
  src/react/components/tooltip/stories/stories.js
  src/react/textinput.ts
Due: eslint, prettier --check

XUI-1404 Moved ARIA helpers from content wrapper component to helper directory. (#5424)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/controlwrapper/XUIControlWrapperInline.js
  src/react/components/controlwrapper/__tests__/XUIControlWrapper-test.js
  src/react/components/controlwrapper/__tests__/XUIControlWrapperInline-test.js
  src/react/components/controlwrapper/helpers.js
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/helpers/ariaHelpers.js
  src/react/components/inputgroup/XUIInputGroup.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/range/XUIRange.js
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/switch/XUISwitch.js
  src/react/components/switch/XUISwitchGroup.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/toggle/XUIToggle.js
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[Patch] XUI-1939 Onboarding pattern guidance (#5423)
  src/docs/patterns/_onboarding.scss
Due: stylelint, prettier --check

[DOCS] Change hyphens to en dashes in pagination examples
  .visual-testing/reference/backstop_default_XUI_Pagination_as_controlled_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_count_is_less_than_min_perPageCount_option_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_one_page_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_only_two_pages_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pagination_test_item_select_just_desktop.png
  src/docs/components/navigation/examples/pagination/_pagination.html
  src/react/components/pagination/__tests__/XUIPagination-test.js
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/pagination/private/helpers.js
  src/react/pagination.md
Due: eslint, prettier --check

[patch] no-ref Update support viewport size in XUI Guide (#5428)
  src/docs/getting-started/responsive/_responsive.scss
Due: stylelint, prettier --check

Lock blind-date package to version 2.3.3 (#5430)
  package-lock.json
  package.json
Due: prettier --check

[breaking-changes][XUI-2019] Remove hard-coded "Close" string from XUIBanner and XUIToast (#5427)
  changes.md
  src/react/banner.md
  src/react/components/banner/XUIBanner.d.ts
  src/react/components/banner/XUIBanner.js
  src/react/components/banner/__tests__/XUIBanner-test.js
  src/react/components/banner/banner.action.md
  src/react/components/banner/stories/stories.js
  src/react/components/toast/XUIToast.d.ts
  src/react/components/toast/XUIToast.js
  src/react/components/toast/__tests__/XUIToast-test.js
  src/react/components/toast/stories/stories.js
  src/react/components/toast/toast.action.md
  src/react/components/toast/toast.wrapper.md
  src/react/toast.md
Due: eslint, prettier --check

Lock blind-date package to version 2.3.3 (#5431)
  package-lock.json
  package.json
Due: prettier --check

Update xuishift version (#5432)
  package-lock.json
  package.json
Due: prettier --check

[patch] XUI-1929 Form page content update. (#5401)
  src/docs/components/collecting-input/_form-labels.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/collecting-input/examples/form/_form-horizontal.html
  src/docs/components/collecting-input/examples/form/_form-labels-placeholders.html
  src/docs/components/collecting-input/examples/form/_form-labels.html
  src/docs/components/collecting-input/examples/form/_form-stacked.html
  src/docs/components/collecting-input/examples/form/_form-validation-modals.html
  src/docs/components/collecting-input/examples/form/_form-validation.html
Due: stylelint, prettier --check

[noref] Correct casing on fileuploader imports in react docs (#5435)
  src/react/fileuploader.md
Due: prettier --check

[breaking-changes] XUI-2011 Iterate on required label warnings (#5436)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/button/XUIButton.js
  src/react/components/chart/XUIBarChart.js
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/editabletable/XUIEditableTable.js
  src/react/components/fileUploader/XUIFileUploader.js
  src/react/components/helpers/labelRequiredWarning.ts
  src/react/components/pagination/XUIPagination.js
  src/react/components/progressindicator/XUIProgressCircular.js
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/radio/XUIRadio.js
  src/react/components/switch/XUISwitch.js
Due: eslint, prettier --check

[XUI-1912] Enable select on focus in Safari (#5437)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
Due: eslint, prettier --check

[patch] [XUI-1806] Allow use of inputRef prop for XUIEditableTableCellTextInput (#5439)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint, prettier --check

[XUI-2047] Make Table's children optional (#5438)
  src/react/components/table/XUITable.d.ts
  src/react/components/table/XUITable.js
Due: eslint, prettier --check

[no-ref] Address type issue with @types/react (#5440)
  package-lock.json
  package.json
Due: prettier --check

[noref] XUI 17.4.1 release (#5441)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

Update to reconcile new timers with a11y tests
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
Due: eslint, prettier --check

XUI-2011 Add warning for barChart paginationLabel (#5449)
  src/react/components/chart/XUIBarChart.js
Due: eslint, prettier --check

[breaking-changes] [XUI-2047] Make Table's children optional (#5451)
  src/react/components/table/XUITable.tsx
  src/react/components/table/helpers/canTruncate.ts
Due: eslint, prettier --check

[XUI-1861] Version bump for 18.0.0 release (#5453)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] XUI-2062 - Update how KSS parses "tips" (#5458)
  .kss/builder/extend/tips.js
  package-lock.json
Due: eslint, prettier --check

[patch] [XUI-2030] Ensure XUIDateRangeInput onSelectDate methods are called (#5450)
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/dateinput.md
Due: eslint, prettier --check

[breaking-changes] noref - Clean slate for xui 19 assets (#5465)
  .codemod/classReplacements.js
  .codemod/componentTransforms.js
  changes.md
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/_dropdowns-nested.scss
  src/docs/components/collecting-input/_dropdowns.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/controls/_buttons.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_selects.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/_picklists.scss
  src/docs/components/displaying-data/_tables.scss
  src/docs/components/navigation/_steppers.scss
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_typography.scss
Due: eslint, stylelint, prettier --check

XUI-2045 Open datepicker after shifting focus. (#5462)
  src/react/components/dateinput/XUIDateRangeInput.js
Due: eslint, prettier --check

Update home.md (#5467)
  src/docs/home.md
Due: prettier --check

[minor] XUI-1728 - Portaled dropdown respects preferredPosition (#5414)
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_default_between_large_and_xlarge_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_default_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_default_between_small_and_medium_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_inline_with_preferredPosition_bottom-left_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_inline_with_preferredPosition_bottom-right_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_inline_with_preferredPosition_top-left_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_inline_with_preferredPosition_top-right_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_preferredPosition_bottom-left_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_preferredPosition_bottom-right_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_preferredPosition_top-left_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_as_preferredPosition_top-right_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_Header_and_Footer_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Dropdown_with_maxHeight_just_desktop.png
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/positioning/Positioning.d.ts
  src/react/components/positioning/Positioning.js
  src/react/components/positioning/private/constants.ts
  src/react/components/positioning/private/utils.js
Due: eslint, prettier --check

[patch] [XUI-2110] Prevent mouseDown on XUIStatefulPicklist from closing the picklist early (#5474)
  src/react/components/dropdown/__tests__/__snapshots__/XUIDropdown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/XUINestedDropdown-test.js.snap
  src/react/components/picklist/XUIStatefulPicklist.js
Due: eslint, prettier --check

Version bump to 18.0.1 (#5477)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[minor] [XUI-1986] Add ability to exclude retry button on FileList items (#5464)
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_no_retry_button_fileList_just_desktop.png
  changes.md
  src/react/components/fileuploader/XUIFileUploader.d.ts
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/fileuploader/__tests__/XUIFileUploader-test.js
  src/react/components/fileuploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileuploader/private/FileList.js
  src/react/components/fileuploader/stories/variations.js
  src/react/fileuploader.md
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
