Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Documentation for all font-sizes
  .kss/scss/style.scss
  .kss/scss/utility-classes.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/7-components/_avatars.scss
Due: stylelint

Product language guide in XUI docs [XUI-163] (#4131)
  .kss/builder/index.hbs
  .kss/scss/style.scss
  scripts/build/kss/config.json
  src/docs/_docs.avatars.scss
  src/docs/building-blocks/_docs.masthead.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.autocomplete.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/docs/building-blocks/forms/_docs.range.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_barchart.scss
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_overview.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_popovers.scss
  src/sass/7-components/_progressindicator.scss
  src/sass/7-components/_stepper.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_typography.capsules.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/7-components/_usermessaging.banners.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint

adds breakpoint documentation to kss docs
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

adds breakpoint info to layout page
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

fix typo
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

[breaking-changes] XUI-382 Additional composition options added to docs. (#4130)
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

edits to markup
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

typos
  src/docs/fundamentals/_docs.layout.scss
Due: stylelint

Updates per co-lab
  .kss/scss/utility-classes.scss
  src/docs/fundamentals/_docs.typography.scss
  src/sass/1-vars/_typography.scss
  src/sass/2-mixins/_layout.scss
  src/sass/2-mixins/_typography.scss
  src/sass/7-components/_avatars.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_typography.headings.scss
  src/sass/7-components/_typography.tags.scss
  src/sass/7-components/_typography.textcontent.scss
Due: stylelint

[breaking-changes] Storybook enhancements
  package-lock.json
  package.json
  scripts/storybook/index.js
Due: none

[breaking-changes] XUI-384 Autoprefixer fixer (#4134)
  package-lock.json
  package.json
  src/sass/2-mixins/_layout.grids.scss
  src/sass/5-structure/compositions/_detailsummary.scss
  src/sass/5-structure/compositions/_detailsummaryheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
Due: stylelint

Based on IRL conversation with Finn we decided on a few more changes
  src/docs/fundamentals/_docs.typography.scss
  src/sass/2-mixins/_typography.scss
  src/sass/7-components/_typography.headings.scss
Due: stylelint

Adds better documentation to page and edits header CSS slightly
  .kss/scss/example.scss
  src/sass/7-components/_modals.scss
Due: stylelint

updates visual diffs
  .visual-testing/reference/backstop_default_XUI_Modal_full_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_medium_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_with_header_0_xui-container_0_just_desktop.png
Due: none

review edits
  src/sass/7-components/_modals.scss
Due: stylelint

[breaking-changes] XUI-385 Updates to pickitem to fix interaction (#4138)
  .visual-testing/reference/backstop_default_XUI_Picklist_small_horizontal_with_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_xsmall_horizontal_with_wrapping_et_al_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/picklist/__tests__/Pickitem-test.js
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/components/picklist/stories/stories.js
  src/react/components/picklist/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint

removes role and adjusts class naming
  src/sass/7-components/_modals.scss
Due: stylelint

Fix an error
  src/sass/7-components/_navigation.picklist.scss
Due: stylelint

XUI-422 Remove unnecessary "role" from ControlWrapper output (#4139)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/controlwrapper/__tests__/__snapshots__/XUIControlWrapper-test.js.snap
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/toggle/__tests__/__snapshots__/XUIToggle-test.js.snap
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

Disable Artifactory and remove package-lock.json
  .npmrc
  package-lock.json
Due: none

table snapshot updates
  .visual-testing/reference/backstop_default_XUI_Table_basic_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_checkbox_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_custom_classes_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_empty_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_loading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_overflow_menu_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_pinned_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_responsive_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_sorting_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_widths_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_0_rootdivdiv_0_just_desktop.png
Due: none

fixes docs for table and adjusts header styling to align text
  src/sass/7-components/_table.scss
Due: stylelint

fixes toggle examples
  src/docs/building-blocks/_docs.toggles.scss
Due: stylelint

fixes loader examples
  src/sass/7-components/_loaders.scss
Due: stylelint

adds examples for overflow
  src/sass/7-components/_table.scss
Due: stylelint

banner example fixes
  src/sass/7-components/_usermessaging.banners.scss
Due: stylelint

fixes tooltip examples
  src/sass/7-components/_usermessaging.tooltip.scss
Due: stylelint

fixes padding on dark examples
  src/docs/building-blocks/_docs.toggles.scss
Due: stylelint

updates picklist/icon examples in dropdown and search pages
  src/docs/building-blocks/dropdown/_docs.dropdowns.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
Due: stylelint

fixed pill examples
  src/sass/7-components/_pills.scss
Due: stylelint

fixes lint error
  src/sass/7-components/_stepper.scss
Due: stylelint

Change guidance copy.
  src/react/datepicker.md
Due: none

remove dropdown header from react example
  src/react/datepicker.md
Due: none

add resonsive example for datepicker in dropdown and guidance in xui guide
  src/react/datepicker.md
  src/sass/7-components/_datepicker.scss
Due: stylelint

Fix codemod with xuishift upgrade and let declaration (#4142)
  .codemod/classReplacements.js
  package.json
Due: none

[XUI-386] Add size option for button groups
  .visual-testing/reference/backstop_default_XUI_Button_as_a_small_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_small_negative_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_an_xsmall_Split_Button_Group_with_a_dropdown_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/button/XUIButton.js
  src/react/components/button/XUIButtonGroup.js
  src/react/components/button/XUISplitButtonGroup.js
  src/react/components/button/button.group.md
  src/react/components/button/button.split.md
  src/react/components/button/stories/stories.js
  src/react/components/button/stories/variations.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/sass/7-components/_buttons.dropdowns.scss
Due: eslint, stylelint

Fix textinput docs icon button sizes (#4149)
  src/react/textinput.md
Due: none

[XUI-386] Define the default size outside of the render method
  src/react/components/button/XUIButton.js
Due: eslint

[XUI-386] Replace margin with min-width on split buttons
  .visual-testing/reference/backstop_default_XUI_Button_as_a_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_Split_Button_Group_with_multi-line_text_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_a_small_negative_Split_Button_Group_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Button_as_an_xsmall_Split_Button_Group_with_a_dropdown_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_buttons.dropdowns.scss
Due: stylelint
