Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Really minor (#3154)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
Due: stylelint

TODO for inconsistent pill class (#3157)
  src/sass/objects/_pills.scss
Due: stylelint

Update input component cross linking documentation
  .styleguidist/sections.json
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/react/input.md
  src/react/textInput.md
  src/react/textarea.md
Due: stylelint

[minor] Reorder React Docs sections for navigation (and content) (#3162)
  .styleguidist/components/ComponentsList.js
  .styleguidist/sections.json
  .styleguidist/styles.scss
  .styleguidist/template.html
  package-lock.json
  package.json
Due: none

[minor] Chore: Table (#3137)
  src/react/components/table/XUITable.js
  src/react/components/table/stories/stories.js
  src/sass/objects/_contentblocks.scss
Due: eslint, stylelint

This fixes issues with :6060 not working (#3150)
  scripts/start/index.js
Due: none

Docs/update ia (#3138)
  scripts/build/kss/config.json
  src/docs/_docs.avatars.scss
  src/docs/building-blocks/_docs.panels.scss
  src/docs/building-blocks/_docs.rolloverCheckbox.scss
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/_docs.toasts.scss
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.forms.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.labels.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/docs/building-blocks/forms/_docs.selects.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/docs/index.scss
  src/sass/_mixins.scss
  src/sass/_vars.scss
  src/sass/objects/_buttons.scss
  src/sass/objects/_contentblocks.scss
  src/sass/objects/_globalstates.scss
  src/sass/objects/_loaders.scss
  src/sass/objects/_navigation.picklist.scss
  src/sass/objects/_pills.scss
  src/sass/objects/_popovers.scss
  src/sass/objects/_progressindicator.scss
  src/sass/objects/_steps.scss
  src/sass/objects/_typography.capsules.scss
  src/sass/objects/_typography.tags.scss
  src/sass/objects/_usermessaging.banners.scss
  src/sass/objects/_usermessaging.tooltip.scss
  src/sass/trumps/_utilities.scss
Due: stylelint

Updated jest tests for structural components (attempt 2) (#3132)
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: eslint

Now builds src/sass/tmp scss partials as part of the KSS build (#3146)
  scripts/build/kss/index.js
Due: none

[mionr] Modifies text input documentation to use xui-textinput and minor css fix (#3156)
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/sass/objects/_forms.textinputs.scss
Due: stylelint

Add shouldAnimate prop to XUIBanner to make animation optional (#3149)
  src/react/components/banner/XUIBanner.js
Due: eslint

Doc wording fix in working with XUI section (#3141)
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint

[minor] Added OverviewBlocks and OverviewSections (#3135)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_Structural_overview_block_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_with_more_sections_and_colors_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_overview_block_without_layout_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIColumn.js
  src/react/components/structural/XUIOverviewBlock.js
  src/react/components/structural/XUIOverviewSection.js
  src/react/components/structural/XUIRow.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/private/constants.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.overviewblock.md
  src/react/structural.js
  src/sass/objects/_overview.scss
Due: eslint, stylelint

Cut Beta2
  .umd/index.html
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

address incorrect progress indicator modifications
  src/react/components/progressindicator/XUIProgressLinear.js
  src/react/components/progressindicator/customElements/ProgressWrapper.js
Due: eslint

[minor] Adds Accessibility page + changes "Working with XUI" tab name to "About" (#3161)
  .kss/scss/style.scss
  src/docs/working-with-xui/_docs.accessibility.scss
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint

[minor] Update links between KSS and React for new structural components (#3151)
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/structural/structural.actions.md
  src/react/components/structural/structural.breadcrumb.md
  src/react/components/structural/structural.overviewblock.md
  src/react/components/structural/structural.pageheader.md
Due: stylelint

This should fix up dev server builds for styleguidist (#3153)
  package-lock.json
  package.json
  scripts/start/index.js
  scripts/watch/all.js
Due: none

Chore: Table Follow Up's (#3105)
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/table-test.js
  src/react/components/table/customElements/TableHead.js
  src/sass/objects/_contentblocks.scss
Due: eslint, stylelint

Fix storybook link from homepage (#3159)
  src/docs/home.md
Due: none

Fix React Docs -> XUI Guide cross links for elements (#3166)
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/react/autocompleter.md
  src/react/avatar.md
  src/react/banner.md
  src/react/button.md
  src/react/capsule.md
  src/react/checkbox.md
  src/react/datepicker.md
  src/react/dropdown.md
  src/react/isolationheader.md
  src/react/loader.md
  src/react/modal.md
  src/react/picklist.md
  src/react/pill.md
  src/react/progressindicator.md
  src/react/radio.md
  src/react/select-box.md
  src/react/stepper.md
  src/react/switch.md
  src/react/table.md
  src/react/tag.md
  src/react/toast.md
  src/react/toggle.md
  src/react/tooltip.md
  src/sass/objects/_motion.scss
Due: stylelint

Add watch and build styleguidist task (react docs) (#3145)
  scripts/start/index.js
  scripts/watch/all.js
  scripts/watch/styleguide.js
Due: none

Isolation header doc update (#3148)
  src/react/isolationheader.md
  src/sass/objects/_isolationheader.scss
Due: stylelint

[minor] Chore: Add legacy Git hook documentation for Husky migration (#3143)
  README.md
Due: none

Adds stepper docs and adjusts react label on isolation header
  src/sass/objects/_isolationheader.scss
  src/sass/objects/_stepper.scss
Due: stylelint

New icon API
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutcompleterEmptyState-test.js.snap
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleterInput-test.js.snap
  src/react/components/button/__tests__/__snapshots__/XUIButtonCaret-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/react/components/helpers/versions.js
  src/react/components/icon/XUIIcon.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBox-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/icon.md
Due: eslint

Fix typo in table docs
  src/react/table.md
Due: none

[minor] Bug: Stepper tab text wrapping (#3158)
  .visual-testing/reference/backstop_default_XUI_Stepper_extra_long_content_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_progress_button_combinations_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_stacked_layout_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Stepper_standard_button_combinations_0_rootdivdiv_0_just_desktop.png
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/stories/stories.js
  src/react/components/stepper/stories/variations.js
  src/sass/objects/_steps.scss
Due: eslint, stylelint

style edits to nav ia (#3171)
  .kss/scss/redesign.scss
  .kss/scss/style.scss
Due: none

Fix src sass tmp (#3172)
  scripts/build/kss/index.js
  src/react/components/helpers/versions.js
Due: eslint

Fix vars and mixins in docs (#3173)
  .kss/builder/parser/constants.js
Due: none

Add high maintenance whitespace to fix styling on vars and mixins page (#3176)
  .kss/scss/style.scss
Due: none

[minor] Panel and PanelSection components (#3155)
  .styleguidist/sections.json
  .visual-testing/reference/backstop_default_Structural_panel_-_simple_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_panel_with_all_options_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/_docs.panels.scss
  src/react/components/structural/XUIActions.js
  src/react/components/structural/XUIPanel.js
  src/react/components/structural/XUIPanelFooter.js
  src/react/components/structural/XUIPanelHeading.js
  src/react/components/structural/XUIPanelSection.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/react/components/structural/structural.panel.md
  src/react/structural.js
  src/sass/objects/_panels.scss
Due: eslint, stylelint

IE throwing errors.. Fixing IE11 (#3174)
  src/react/components/avatar/XUIAvatarGroup.js
Due: eslint

Docs fixes, naming tweaks for better consistency, and some aria fixes for storybook (#3178)
  src/react/components/structural/XUIPanel.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/stories/stories.js
  src/react/components/structural/structural.panel.md
Due: eslint

Check for _scrollableContent and remove unused variable in DropDownPanel (#3180)
  src/react/components/dropdown/DropDownPanel.js
Due: eslint

Fix toasts solution1 (#3181)
  src/react/components/toast/toast.action.md
  src/sass/objects/_usermessaging.toasts.scss
Due: stylelint

Remove iOS hack timeout on componentWillUnmount for DropDownPanel (#3182)
  src/react/components/dropdown/DropDownPanel.js
Due: eslint

Add newline to end of package.json and update package-lock version number (#3183)
  package-lock.json
  package.json
Due: none

Bump to 13.2.0-beta.3
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
