Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

[breaking-changes] XUI-2671 Update dateRange vertical alignment (#5738)
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_smaller_than_xsmall_breakpoint.png
  changes.md
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInput-test.js.snap
  src/react/components/dateinput/stories/variations.js
  src/sass/7-components/_dateinput.scss
  src/sass/7-components/_forms.controlgroups.scss
Due: eslint, stylelint, prettier --check

[patch] [XUI-2600] Manage cell text selection via onClick (#5724)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellTextInput-test.js.snap
  src/react/components/editabletable/stories/creator-row.js
  src/react/components/editabletable/stories/stories.js
  src/react/components/textinput/XUITextInput.js
Due: eslint, prettier --check

[patch] [XUI-2522] KSS "Version introduced" flags for XUI 18 (#5684)
  .github/pull_request_template.md
  .kss/README.md
  .kss/builder/extend/classes.js
  .kss/builder/index.hbs
  .kss/scss/_flags.scss
  .kss/scss/hover-tooltip.scss
  .kss/scss/style.scss
  .styleguidist/README.md
  .styleguidist/components/HeadingRenderer.js
  .styleguidist/components/Section.js
  .styleguidist/components/SectionHeadingRenderer.js
  .styleguidist/components/SectionRenderer.js
  .styleguidist/config.js
  .styleguidist/styles.scss
  README.md
  scripts/build/kss/config.json
  src/docs/getting-started/_getting-started.scss
Due: eslint, stylelint, prettier --check

[minor][INVINP-7314] Filetypes map to more icons with color (#5743)
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_with_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_custom_rightContent_for_uploaded_file_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_each_accepted_file_type_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_single_line_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_various_uploadProgressPercentage_just_desktop.png
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-multi-line.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-uploaded.html
  src/docs/components/controls/examples/file-uploader/_file-uploader-list-with-icon.html
  src/react/components/fileuploader/__tests__/XUIFileUploader-test.js
  src/react/components/fileuploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileuploader/private/FileList.js
  src/react/components/fileuploader/private/helpers.js
  src/react/components/fileuploader/stories/variations.js
Due: eslint, prettier --check

[patch] [XUI-2525] [XUI-2529] Move `docs` branch content to `main` branches (Version selector + build scripts) (#5742)
  README.md
  package-lock.json
  package.json
  rollup.config.js
  scripts/build/docs.js
  scripts/build/docs/addVersionSelector.js
  scripts/build/docs/deleteLiveReload.js
  scripts/build/docs/generateTags.js
  scripts/build/docs/index.js
  scripts/build/docs/private/generateTagList.js
  scripts/build/docs/private/getFiles.js
  scripts/build/docs/private/parseSemver.js
  scripts/build/docs/private/rewriteWithSelector.js
  scripts/build/docs/private/shouldExcludeThisVersion.js
  scripts/build/docs/private/xuiDocsVersion.js
  scripts/build/index.js
  src/versionSelector/VersionSelector.js
  src/versionSelector/error.html
  src/versionSelector/favicon.ico
  src/versionSelector/meta.png
  src/versionSelector/styles.scss
Due: eslint, stylelint, prettier --check

[XUI-2703] Add an ariaLabel prop for XUIToggleOption (#5748)
  changes.md
  src/react/components/toggle/XUIToggleOption.d.ts
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[XUI-2703] Add an ariaLabel prop for XUIToggleOption (#5747)
  src/react/components/toggle/XUIToggleOption.d.ts
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[Breaking-changes][XUI-2555] XUI 19.0.0 BETA release version bump and package-lock update (#5746)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[XUI-2706] Convert innerText label error checks to textContent checks (#5750)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/switch/XUISwitch.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[20.x.x][XUI-2570] Update default date input icons (#5744)
  .visual-testing/reference/backstop_default_XUI_Control_Group_grouped_XUIDateInput_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Control_Group_grouped_XUIDateInput_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_US_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_across_two_years_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_small_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_group_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_just_one_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_no_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_without_labels_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_xsmall_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_date_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_date_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Empty_with_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_In_fixed_width_container_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Suggested_dates_with_custom_icon_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_a_hint_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_an_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_min_and_max_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_specified_DatePicker_month_picker_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_small_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_custom_input_icon_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_initial_date_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_xsmall_just_desktop.png
  changes.md
  src/react/components/dateinput/XUIDateInput.d.ts
  src/react/components/dateinput/XUIDateInput.js
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInput-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInput-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/stories/variations.js
Due: eslint, prettier --check

[XUI-2706] Convert innerText label error checks to textContent checks (#5749)
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/fileuploader/XUIFileUploader.js
  src/react/components/radio/XUIRadio.js
  src/react/components/range/XUIRange.js
  src/react/components/switch/XUISwitch.js
  src/react/components/textinput/XUITextInput.js
  src/react/components/toggle/XUIToggleOption.js
Due: eslint, prettier --check

[Patch][XUI-2282] Add DateInput examples using `isInvalid` and `onValidationFailed` props (#5751)
  src/react/dateinput.md
Due: prettier --check

[breaking-changes] [XUI-2579] Use NPX for jscodeshift instead of installing globally (#5754)
  README.md
  src/docs/getting-started/_typescript.scss
Due: stylelint, prettier --check

[noref] Mention XUIEditableTableCellTextInput in XUITextInput's accessibility changes (#5756)
  changes.md
Due: prettier --check

[Patch][XUI-2715] Fix issues with Page header bottom border being more than 100% of parent (#5757)
  src/sass/7-components/_headers.scss
Due: stylelint, prettier --check

[patch] XUI-2711 & XUI-2712 - Wrapping and truncation in XUITable heading cells (#5759)
  .visual-testing/reference/backstop_default_XUI_Table_sorting_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_smaller_than_xsmall_breakpoint.png
  src/react/components/table/helpers/canTruncate.ts
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/sass/7-components/_table.readonly.scss
  src/sass/7-components/_table.scss
Due: eslint, stylelint, prettier --check

[patch][XUI-2607] Labs component versioning docs (#5752)
  src/docs/contributing-to-xui/xui-labs/_xui-labs-contributing.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
  src/docs/contributing-to-xui/xui-labs/examples/_xui-labs-versioning-table.html
Due: stylelint, prettier --check

[noref] Alphabetise version-selector-footer styles to meet lint requirements (#5764)
  src/versionSelector/styles.scss
Due: stylelint, prettier --check

[minor] Bump version to 18.5.0 + update package-lock.json (#5767)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[breaking-changes] [XUI-2497] Add XUI 19 changes to _updates.scss (#5761)
  .kss/scss/style.scss
  src/docs/_updates.scss
Due: stylelint, prettier --check

Update type of selectBaseClass to String (#5773)
  src/react/components/selectbox/private/constants.ts
Due: eslint, prettier --check

[XUI-2390] Use useResizeObserver to track cell size changes (#5771)
  src/react/components/editabletable/XUIEditableTableCellControl.js
  src/react/components/editabletable/private/PortalFocus.js
Due: eslint, prettier --check

[breaking-changes] XUI-2716 Adding more information about line endings. (#5772)
  README.md
Due: prettier --check

[Breaking-changes][XUI-2556] XUI 19: Bump version and update package-lock.json (#5776)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch] [XUI-2525] [XUI-2529] Move `docs` branch content to `main` branches (Version selector + build scripts) (#5742)
  README.md
  package-lock.json
  package.json
  rollup.config.js
  scripts/build/docs.js
  scripts/build/docs/addVersionSelector.js
  scripts/build/docs/deleteLiveReload.js
  scripts/build/docs/generateTags.js
  scripts/build/docs/index.js
  scripts/build/docs/private/generateTagList.js
  scripts/build/docs/private/getFiles.js
  scripts/build/docs/private/parseSemver.js
  scripts/build/docs/private/rewriteWithSelector.js
  scripts/build/docs/private/shouldExcludeThisVersion.js
  scripts/build/docs/private/xuiDocsVersion.js
  scripts/build/index.js
  src/react/components/table/private/XUITableHeadingCell.tsx
  src/versionSelector/VersionSelector.js
  src/versionSelector/error.html
  src/versionSelector/favicon.ico
  src/versionSelector/meta.png
  src/versionSelector/styles.scss
Due: eslint, stylelint, prettier --check

[patch] XUI-2711 & XUI-2712 - Wrapping and truncation in XUITable heading cells (#5759)
  .visual-testing/reference/backstop_default_XUI_Table_truncation_just_desktop.png
  src/react/components/table/helpers/canTruncate.ts
  src/react/components/table/stories/stories.js
  src/react/components/table/stories/variations.js
  src/sass/7-components/_table.readonly.scss
  src/sass/7-components/_table.scss
Due: eslint, stylelint, prettier --check

[patch][noRef] Update table visregs for master -> patch sync
  .visual-testing/reference/backstop_default_XUI_Table_sorting_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_truncation_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Table_wrapping_smaller_than_xsmall_breakpoint.png
Due: none

[jog-day] Convert XUITag component to TypeScript (#5783)
  .styleguidist/sections.json
  src/react/components/tag/XUITag.d.ts
  src/react/components/tag/XUITag.tsx
Due: eslint, prettier --check

[patch] Update package-lock to address post merg package issues (#5785)
  package-lock.json
Due: prettier --check

[minor][noRef] Sync patch -> minor (#5786)
  .styleguidist/sections.json
  package-lock.json
  src/react/components/tag/XUITag.d.ts
  src/react/components/tag/XUITag.tsx
Due: eslint, prettier --check

[minor][noRef] Sync patch -> minor (#5786) (#5787)
  .styleguidist/sections.json
  package-lock.json
  src/react/components/tag/XUITag.d.ts
  src/react/components/tag/XUITag.tsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: src/**/*.scss
  prettier --check: any of: *.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}
