Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.js": "eslint",
  "src/**/*.scss": "stylelint",
   "*.{html,hbs,json,css,scss,md}": "prettier --check",
}

[breaking-changes] XUI-849 Structural codemod (#4439)
  .codemod/componentTransforms.js
  changes.md
  package-lock.json
  package.json
  scripts/codemod/index.js
Due: eslint, prettier --check

XUI-865 Correct checkbox bug introduced in 15.2.4 (#4441)
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
Due: eslint

15.2.5 Version bump (#4442)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

XUI-688 Fixed IE11 pill that didn't need tooltips (1px difference). Removed max-width to fix Pill width in IE11. Fixed long text wrapping for IE11 (Pill). (#4420)
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/sass/7-components/_pills.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --check

XUI-856 Knock out a Safari browser style for text inputs (#4448)
  src/sass/2-mixins/_components.scss
Due: stylelint, prettier --check

XUI-871 XUITable pinned item fixes (#4445)
  src/react/components/table/XUITable.js
  src/sass/7-components/_table.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] Fix small bugs in React docs (#4449)
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/datepicker/helpers/constants.js
  src/react/pageheader.md
Due: eslint, prettier --check

[XUI-766] Isolation header responsive updates (#4425)
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_only_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/building-blocks/_docs.isolation-header.scss
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/XUIIsolationHeaderActions.js
  src/react/components/isolationheader/XUIIsolationHeaderNavigation.js
  src/react/components/isolationheader/XUIIsolationHeaderSecondaryTitle.js
  src/react/components/isolationheader/XUIIsolationHeaderTitle.js
  src/react/components/isolationheader/__tests__/XUIIsolationHeader-test.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/react/components/isolationheader/stories/stories.js
  src/react/isolationheader.js
  src/react/isolationheader.md
  src/sass/7-components/_headers.scss
  src/sass/7-components/_isolationheader.scss
  src/sass/7-components/_navigation.scss
  src/sass/7-components/_navigation.subapp.scss
  src/sass/xui.scss
Due: eslint, stylelint, prettier --check

[patch] Fix small bugs in React docs (#4450)
  src/react/components/compositions/compositions.masterdetail.md
  src/react/components/compositions/compositions.masterdetailsummary.md
  src/react/components/datepicker/helpers/constants.js
Due: eslint, prettier --check

XUI-754 Updated KSS examples. (#4446)
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.panels.scss
  src/sass/7-components/_contentblocks.scss
  src/sass/7-components/_loaders.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint, prettier --check

XUI-662 Marked onSearch as required prop for XUIAutocompleterSecondarySearch. (#4456)
  changes.md
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
Due: eslint, prettier --check

Export XUIBannerMessageDetail and release 15.2.6
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/banner.js
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

XUI-875 Flags to signify updates in XUI 16 (#4457)
  src/docs/building-blocks/_docs.isolation-header.scss
  src/docs/building-blocks/_docs.page-header.scss
  src/docs/building-blocks/_docs.rolloverCheckbox.scss
  src/docs/building-blocks/_docs.switches.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/sass/7-components/_buttons.scss
  src/sass/7-components/_illustrations.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_typography.tags.scss
Due: stylelint, prettier --check

[breaking-changes] Structural stories (#4453)
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Actions_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_default_with_two_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Actions_linear_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_linear_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Actions_linear_with_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Actions_linear_with_two_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/actions/stories/stories.js
  src/react/components/actions/stories/variations.js
  src/react/components/contentblock/stories/stories.js
  src/react/components/panel/stories/stories.js
  src/sass/7-components/_actions.scss
Due: eslint, stylelint, prettier --check

Version bump for 16 alpha (#4459)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes] Upgrade enzyme-adapter-react-16 adapter and fix tests that break (#4463)
  package-lock.json
  package.json
  src/react/components/autocompleter/__tests__/XUIAutcompleterSecondarySearch-test.js
  src/react/components/banner/__tests__/XUIBanner-test.js
  src/react/components/checkbox/__tests__/XUICheckbox-test.js
  src/react/components/dropdown/__tests__/DropDownToggled-test.js
  src/react/components/dropdown/__tests__/dropdown-api-test.js
  src/react/components/picklist/__tests__/StatefulPicklist-test.js
Due: eslint, prettier --check

[breaking-changes] Various bug fixes (#4465)
  .codemod/componentTransforms.js
  .visual-testing/reference/backstop_default_XUI_Panel_-_simple_0_rootdivdiv_0_just_desktop.png
  package-lock.json
Due: eslint, prettier --check

[breaking-changes] [XUI-842] Page and isolation header CSS tweaks (#4458)
  .styleguidist/styles.scss
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_only_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_compact_breadcrumb_dropdown_0_rootdivdiv_0_between_medium_and_large_breakpoints.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_breadcrumb_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_compactable_three-item_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_breadcrumb_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  changes.md
  src/react/components/isolationheader/XUIIsolationHeader.js
  src/react/components/isolationheader/__tests__/__snapshots__/XUIIsolationHeader-test.js.snap
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_headers.scss
  src/sass/7-components/_navigation.breadcrumb.scss
Due: eslint, stylelint, prettier --check

[XUI-749] Fix spacing issue with Seach text input examples. (#4466)
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
Due: stylelint, prettier --check

[XUI-472] Correct docs reference to textcolor-inverted-faint to 65%. (#4467)
  src/docs/fundamentals/_docs.typography.scss
Due: stylelint, prettier --check

[patch] XUI-748 Amend XUIModal tab index to 1: (#4468)
  src/react/components/modal/XUIModal.js
Due: eslint

[breaking-changes] XUI-701 Layering variables (#4454)
  changes.md
  src/docs/fundamentals/_docs.layout.scss
  src/react/components/dropdown/scss/_dropDown.scss
  src/react/stories/components-in-components/layering-elements/index.js
  src/react/stories/components-in-components/tests.js
  src/sass/1-vars/_layout.scss
  src/sass/2-mixins/_buttons.scss
  src/sass/2-mixins/_components.scss
  src/sass/2-mixins/_utilities.scss
  src/sass/7-components/_accordion.scss
  src/sass/7-components/_buttons.groups.scss
  src/sass/7-components/_chart.scss
  src/sass/7-components/_datepicker.scss
  src/sass/7-components/_dropdown.scss
  src/sass/7-components/_forms.selects.scss
  src/sass/7-components/_forms.textinputs.scss
  src/sass/7-components/_headers.scss
  src/sass/7-components/_modals.scss
  src/sass/7-components/_navigation.picklist.scss
  src/sass/7-components/_rolloverCheckbox.scss
  src/sass/7-components/_toggle.scss
  src/sass/7-components/_usermessaging.toasts.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --check

[patch] Sunset docs of size variants of SelectBoxOption (#4469)
  src/docs/building-blocks/forms/_docs.selects.scss
  src/react/components/select-box/SelectBoxOption.js
  src/react/select-box.md
Due: eslint, stylelint, prettier --check

[patch] XUI-752 XUIPageHeader link alignment fix (#4464)
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_of_mixed_type_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Horizontal_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/picklist/__tests__/__snapshots__/PickitemBody-test.js.snap
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] [CHORE] Add utility scripts and CSS watcher (#4451)
  README.md
  package-lock.json
  package.json
  scripts/watch/all.js
  scripts/watch/cssmin.js
Due: eslint, prettier --check

XUI-752 Removed unnecessary fix for anchor type PickItem in PageHeader. This problem is already solved by flexbox and new HTML structure.
  src/docs/building-blocks/_docs.page-header.scss
  src/react/components/picklist/private/PickitemBody.js
  src/sass/7-components/_navigation.picklist.scss
Due: eslint, stylelint, prettier --check

XUI-752 Snapshot update.
  src/react/components/picklist/__tests__/__snapshots__/PickitemBody-test.js.snap
  src/react/components/select-box/__tests__/__snapshots__/SelectBoxOption-test.js.snap
Due: none

[patch] XUI-777 Fix issue where reversed checkboxes sit too far to the right (#4470)
  .visual-testing/reference/backstop_default_XUI_Checkbox_grouped_and_reversed_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: stylelint, prettier --check

XUI-752 Code cleanup.
  src/docs/building-blocks/forms/_docs.selects.scss
  src/sass/7-components/_pills.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-452 Update XUIToggleOption classnames to fit our naming convention (#4475)
  .codemod/classReplacements.js
  changes.md
  src/docs/building-blocks/_docs.toggles.scss
  src/docs/building-blocks/forms/_docs.validation.scss
  src/react/components/toggle/XUIToggleOption.js
  src/react/components/toggle/__tests__/__snapshots__/XUIToggleOption-test.js.snap
  src/sass/7-components/_toggle.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] Version bump for alpha 2 (#4477)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --check

[breaking-changes] Minor -> breaking-changes (#4473)
  .umd/index.html
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_of_mixed_type_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Horizontal_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/banner.js
  src/react/components/modal/XUIModal.js
  src/react/components/pageheader/stories/stories.js
  src/react/components/pageheader/stories/variations.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
  src/react/tooltip.md
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --check

Revert "[breaking-changes] Minor -> breaking-changes (#4473)" (#4478)
  .umd/index.html
  .visual-testing/reference/backstop_default_Structural_pageheader_with_title_and_tabs_of_mixed_type_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Horizontal_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
  src/docs/fundamentals/_docs.typography.scss
  src/react/banner.js
  src/react/components/modal/XUIModal.js
  src/react/components/pageheader/stories/stories.js
  src/react/components/pageheader/stories/variations.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/customElements/CheckBoxCell.js
  src/react/components/table/customElements/TableBodyRow.js
  src/react/components/table/customElements/TableHead.js
  src/react/tooltip.md
  src/sass/2-mixins/_components.scss
  src/sass/7-components/_pills.scss
  src/sass/7-components/_table.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --check

XUI-752 Updated changes.md for changes in XUIPickItem regarding link alignment. (#4471)
  changes.md
Due: prettier --check

[patch] XUI-824 Make toast background opaque. (#4474)
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_message_as_prop_and_two_actions_as_props_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_using_XUIActions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_long_message_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_long_message_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_negative_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_a_positive_sentiment_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_an_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_long_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_long_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_medium_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Toast_with_two_small_actions_0_rootdivdiv_0_just_desktop.png
  src/sass/1-vars/_colors.scss
Due: stylelint, prettier --check

[XUI-885] Update action button spacing (#4476)
  .visual-testing/reference/backstop_default_XUI_Actions_linear_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_all_the_things_long_compact_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_breadcrumb_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_PageHeader_with_title_and_actions_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/docs/building-blocks/_docs.isolation-header.scss
  src/react/components/actions/XUIActions.js
  src/react/components/pageheader/stories/stories.js
  src/sass/7-components/_actions.scss
  src/sass/7-components/_headers.scss
Due: eslint, stylelint, prettier --check

[FIX] Fix linting errors (#4482)
  src/react/components/table/customElements/CheckBoxCell.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint, prettier --check
