Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[breaking-changes] [XUI-1850] Ensure KSS examples are correct (#5319)
  src/docs/components/collecting-input/examples/datepicker/_datepicker.html
  src/docs/components/displaying-data/_panels.scss
  src/docs/components/displaying-data/examples/panel/_panel-framing.html
Due: stylelint, prettier --check

[breaking-changes] XUI-1847 Ensure the codemod is as comprehensive as possible (#5326)
  .codemod/componentTransforms.js
  src/react/components/editabletable/XUIEditableTableCellTextInput.d.ts
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
Due: eslint, prettier --check

[patch] noref - Add UXE team images to the XUI repo (#5328)
  .kss/builder/kss-assets/uxe-team/alex-lapwood.jpeg
  .kss/builder/kss-assets/uxe-team/alexander-lee.jpeg
  .kss/builder/kss-assets/uxe-team/amritah.jpeg
  .kss/builder/kss-assets/uxe-team/bailey.jpeg
  .kss/builder/kss-assets/uxe-team/bronwen.png
  .kss/builder/kss-assets/uxe-team/catherine.jpeg
  .kss/builder/kss-assets/uxe-team/cherise.jpeg
  .kss/builder/kss-assets/uxe-team/corinne.jpeg
  .kss/builder/kss-assets/uxe-team/dion.jpeg
  .kss/builder/kss-assets/uxe-team/elise.png
  .kss/builder/kss-assets/uxe-team/finn.jpeg
  .kss/builder/kss-assets/uxe-team/grzegorz.jpeg
  .kss/builder/kss-assets/uxe-team/jacob.jpeg
  .kss/builder/kss-assets/uxe-team/james.jpeg
  .kss/builder/kss-assets/uxe-team/jason.jpeg
  .kss/builder/kss-assets/uxe-team/lennon.jpeg
  .kss/builder/kss-assets/uxe-team/nick.jpeg
  .kss/builder/kss-assets/uxe-team/nicki.jpeg
  .kss/builder/kss-assets/uxe-team/sacha.jpeg
  .kss/builder/kss-assets/uxe-team/terence.png
  .kss/builder/kss-assets/uxe-team/trevor.png
  .kss/builder/kss-assets/uxe-team/vicky.jpeg
  .kss/builder/kss-assets/uxe-team/zac.jpeg
  src/docs/getting-started/_about-xui.scss
  src/docs/home.md
Due: stylelint, prettier --check

[breaking-changes] XUI-1852 Updated flags for XUI18 release. (#5327)
  src/docs/components/alerts/_banners.scss
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/_form-validation.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/controls/_checkboxes.scss
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/_radios.scss
  src/docs/components/controls/_switches.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/navigation/_fixed-footers.scss
  src/docs/components/navigation/_pagination.scss
  src/docs/patterns/_page-level-actions.scss
Due: stylelint, prettier --check

[breaking-changes] XUI-1908 Breaking-changes only prep for full XUIInputGroup (#5329)
  .codemod/classReplacements.js
  .visual-testing/reference/backstop_default_Form_controls_Form_layout_smaller_than_xsmall_breakpoint.png
  changes.md
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
  src/react/components/checkbox/XUICheckboxGroup.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/pagination/__tests__/__snapshots__/XUIPagination-test.js.snap
  src/react/components/radio/XUIRadioGroup.js
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBox-test.js.snap
  src/react/components/selectbox/qaHooks.js
  src/react/components/switch/XUISwitchGroup.js
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/stories/stories.js
  src/react/stories/form-controls/form-layout1/index.js
  src/react/stories/form-controls/form-layout1/select-box.js
  src/react/stories/form-controls/form-on-a-page/index.js
  src/react/textinput.md
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_forms.inputgroups.scss
  src/sass/7-components/_forms.switch.scss
  src/sass/7-components/_forms.textinputs.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-1792 Add tests for XUITable (#5325)
  .jest/extend-expect.ts
  jest.setup.js
  package-lock.json
  package.json
  src/react/components/table/XUITable.tsx
  src/react/components/table/__tests__/XUITableWithData.tsx
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/react/components/table/__tests__/__snapshots__/table-test.tsx.snap
  src/react/components/table/__tests__/table-test.js
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/helpers/__mocks__/canTruncate.ts
  src/react/components/table/private/XUITableBody.tsx
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/components/table/private/XUITableHead.tsx
Due: eslint, prettier --check

[noref] Update patch flags to match upcoming breaking changes (#5334)
  src/docs/components/collecting-input/_autocompleters.scss
  src/docs/components/collecting-input/_datepickers.scss
  src/docs/components/collecting-input/_forms.scss
  src/docs/components/controls/_file-uploader.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_accordions.scss
  src/docs/components/displaying-data/_editable-table.scss
Due: stylelint, prettier --check

Fix broken react example file (#5339)
  src/react/textinput.md
Due: prettier --check

[breaking-changes] XUI-1853 Write the Updates page content (#5336)
  src/docs/_updates.scss
Due: stylelint, prettier --check

[XUI-1809] Automate datepicker localisation
  changes.md
  package-lock.json
  package.json
  src/react/components/datepicker/XUIDatePicker.d.ts
  src/react/components/datepicker/XUIDatePicker.js
  src/react/components/datepicker/__tests__/XUIDatePicker-test.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/helpers/constants.js
  src/react/components/datepicker/helpers/utils.js
  src/react/components/datepicker/stories/stories.js
  src/react/components/datepicker/stories/variations.js
  src/react/datepicker.md
Due: eslint, prettier --check

[XUI-1809] Update date input to reflect datepicker changes
  .visual-testing/reference/backstop_default_XUI_DateInput_Darerange_with_two_errors_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_DateInput_Daterange_without_convenience_dates_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_across_two_years_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_group_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_just_one_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Date_range_without_convenience_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_with_one_missing_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Daterange_without_labels_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_date_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Disabled_date_range_just_desktop.png
  changes.md
  src/react/components/dateinput/XUIDateInputWIP.d.ts
  src/react/components/dateinput/XUIDateInputWIP.js
  src/react/components/dateinput/XUIDateRangeInputWIP.d.ts
  src/react/components/dateinput/XUIDateRangeInputWIP.js
  src/react/components/dateinput/__tests__/XUIDateInputItem-test.js
  src/react/components/dateinput/__tests__/XUIDateInputWIP-test.js
  src/react/components/dateinput/__tests__/XUIDateRangeInputWIP-test.js
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputItem-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateInputWIP-test.js.snap
  src/react/components/dateinput/__tests__/__snapshots__/XUIDateRangeInputWIP-test.js.snap
  src/react/components/dateinput/private/XUIDateInputItem.d.ts
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
  src/react/dateinput.md
Due: eslint, prettier --check

[XUI-1809] Add tests for new auto-localisation functionality
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_daterange_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Picker_as_First_Day_of_Week_Determined_by_Locale_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Picker_as_Localised_with_Full_Locale_String_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Picker_as_Localised_with_Language_String_Only_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Picker_as_Right-to-Left_Determined_by_Locale_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Picker_as_Weeks_Starting_on_Monday_just_desktop.png
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  scripts/test/jest.js
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
  src/react/components/datepicker/__tests__/XUIDatePicker-test.js
  src/react/components/datepicker/customElements/CustomNavbar.js
  src/react/components/datepicker/customElements/navbar/MonthSelector.js
  src/react/components/datepicker/customElements/navbar/YearSelector.js
  src/react/components/datepicker/stories/stories.js
  src/react/components/datepicker/stories/variations.js
  src/react/components/dropdown/stories/stories.js
  src/react/stories/components-in-components/datepicker-dropdown-in-modal/index.js
  src/react/stories/form-controls/touch-targets/index.js
Due: eslint, prettier --check

[XUI-1811] Enable selection range highlighting on all cells (#5331)
  src/react/components/editabletable/XUIEditableTableCellTextInput.js
  src/react/components/editabletable/__tests__/XUIEditableTableCellTextInput-test.js
  src/react/components/editabletable/editabletable.celltypes.md
Due: eslint, prettier --check

[patch] XUI-1765 Inset shadow borders show up on the wrong side (#5343)
  src/sass/2-mixins/_borders.scss
Due: stylelint, prettier --check

[XUI-1410] Add partial for Shell.js styles
  src/sass/_shell.scss
Due: stylelint, prettier --check

[XUI-1839] Replace issue collector buttons with Confluence link
  src/docs/home.md
Due: prettier --check

[breaking-changes] [noref] Name change for Grzegorz (#5345)
  .visual-testing/reference/backstop_default_XUI_Picklist_as_Truncating_horizontal_with_avatars_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Picklist_horizontal_with_avatars_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Picklist_with_all_the_things_just_desktop.png
  src/docs/getting-started/_about-xui.scss
  src/react/components/picklist/stories/variations.js
Due: eslint, stylelint, prettier --check

Prevent `updatePosition` from throwing errors after componentDidUnmount (#5349)
  src/react/components/popover/private/Positioning.js
Due: eslint, prettier --check

[minor] XUI-1815 Fixing suggested dates for date input with an error (#5348)
  src/react/components/dateinput/XUIDateRangeInput.js
Due: eslint, prettier --check

Revert "[patch] XUI-1765 Inset shadow borders show up on the wrong side (#5343)" (#5354)
  src/sass/2-mixins/_borders.scss
Due: stylelint, prettier --check

Revert "[patch] XUI-1765 Inset shadow borders show up on the wrong side (#5343)" (#5354) (#5356)
  src/sass/2-mixins/_borders.scss
Due: stylelint, prettier --check

[Minor][XUI-1731] Add character limit counter to TextInput (#5338)
  .visual-testing/reference/backstop_default_XUI_Text_Input_has_a_displayed_character_limit_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Text_Input_has_a_long_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Text_Input_has_character_limit_and_validation_message_displayed_just_desktop.png
  jest.setup.js
  package-lock.json
  package.json
  src/react/components/controlwrapper/XUIControlWrapper.d.ts
  src/react/components/controlwrapper/XUIControlWrapper.js
  src/react/components/controlwrapper/private/CharacterCounterElement.js
  src/react/components/controlwrapper/private/LabelElement.js
  src/react/components/textInput/XUITextInput.d.ts
  src/react/components/textInput/XUITextInput.js
  src/react/components/textInput/__tests__/XUITextInput-test.js
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/react/components/textInput/private/CharacterCounterProps.ts
  src/react/components/textInput/stories/stories.js
  src/react/components/textInput/stories/variations.js
  src/react/textinput.md
  src/sass/7-components/_forms.layout.scss
Due: eslint, stylelint, prettier --check

[breaking-changes][XUI-1729] Test commit
  src/docs/components/controls/_text-inputs.scss
Due: stylelint, prettier --check

Character limit section added
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/examples/text-input/_text-input-character-limit-always.html
  src/docs/components/controls/examples/text-input/_text-input-character-limit-on-invalid.html
Due: stylelint, prettier --check

[XUI-1729] Add character counter to example
  src/docs/components/controls/examples/text-input/_text-input-character-limit-always.html
  src/docs/components/controls/examples/text-input/_text-input-character-limit-on-invalid.html
Due: prettier --check

[breaking-changes] XUI-1765 Inset shadow borders show up on the wrong side (#5357)
  changes.md
  src/sass/2-mixins/_borders.scss
  src/sass/7-components/_table.readonly.scss
Due: stylelint, prettier --check

Update src/docs/components/controls/_text-inputs.scss
  src/docs/components/controls/_text-inputs.scss
Due: stylelint, prettier --check

Update src/docs/components/controls/examples/text-input/_text-input-character-limit-on-invalid.html
  src/docs/components/controls/examples/text-input/_text-input-character-limit-on-invalid.html
Due: prettier --check

[minor] Update xui-icon to latest (#5361)
  package-lock.json
  package.json
Due: prettier --check

[XUI-1925] Fix icon checkbox alignment
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_icon_and_a_long_label_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Checkbox_with_an_icon_and_a_long_label_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/checkbox/stories/variations.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
Due: eslint, stylelint, prettier --check

[breaking-changes] XUI-1853 Write the Updates page content for 18.0.0 - Part 2 (#5342)
  src/docs/_updates.scss
Due: stylelint, prettier --check
