Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,js,json,css,scss,md}": "prettier --write",
}

[patch] XUI-632 Updating visual regression images after max-height rounding in Positioning.
  .visual-testing/reference/backstop_default_Components_in_Components_Form_on_a_page_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_textInput_trigger_with_label_only_portaled_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_DropDown_with_Header_and_Footer_0_xui-container_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_medium_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_small_size_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_full-width_with_small_size_and_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_medium_size_auto-width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_medium_size_with_xsmall_size_list_items_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_small_size_auto-width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_small_size_with_variant_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_as_xsmall_size_auto-width_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_is_default_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_with_truncation_and_no_icon_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_SelectBox_without_matching_trigger_width_0_xui-container_0_just_desktop.png
Due: none

Version bump to 15.1.3 (#4295)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint, prettier --write

IE11 dropdown bug fix
  src/react/components/dropdown/DropDownPanel.js
  src/sass/7-components/_dropdown.scss
Due: eslint, stylelint, prettier --write

Prettier
  src/react/components/dropdown/DropDownPanel.js
  src/sass/7-components/_dropdown.scss
Due: eslint, stylelint, prettier --write

Snapsnots updated
  src/react/components/dropdown/__tests__/__snapshots__/DropDown-test.js.snap
  src/react/components/dropdown/__tests__/__snapshots__/NestedDropdown-test.js.snap
Due: none

[patch] XUI-376 Extended tooltip with CSS specific for usage with Pills - to help aligning regular pills with tooltip pills.
  src/react/components/pill/XUIPill.js
  src/react/components/pill/stories/stories.js
  src/react/components/tooltip/XUITooltip.js
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-376 File formatting update.
  src/react/components/pill/stories/stories.js
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --write

[patch] XUI-376 Linting fix.
  src/react/components/pill/XUIPill.js
Due: eslint, prettier --write

[patch] XUI-376 Pill snapshot update with new CSS class.
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: none

[patch] XUI-376 changes.md updates
  changes.md
Due: prettier --write

[XUI-446] Fix stepper tab truncation in IE11
  src/sass/7-components/_stepper.scss
Due: stylelint, prettier --write

[XUI-446] Prettier changes
  src/sass/7-components/_stepper.scss
Due: stylelint, prettier --write

[patch] XUI-376 Prop and class name update.
  changes.md
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/tooltip/XUITooltip.js
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint, prettier --write

Prettier again
  src/sass/7-components/_dropdown.scss
Due: stylelint, prettier --write

[patch] XUI-376 Description update in changes.md
  changes.md
Due: prettier --write

[patch] XUI-567 Inconsistent dropdown picklist behavior when using index as id (#4304)
  src/react/components/picklist/Pickitem.js
  src/react/components/picklist/StatefulPicklist.js
Due: eslint, prettier --write

[XUI-395] Improve XUIStepper QA hooks
  src/react/components/stepper/XUIStepper.js
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/stepper/customElements/StepperTab.js
Due: eslint, prettier --write

[patch] XUI-661 Checkboxes in 'Reversed labels' group example won't change state when hit (#4306)
  src/react/checkbox.md
Due: prettier --write

[minor] Refactor XUIAccordionItem to be responsible for it's own rendering (#4282)
  src/react/accordion.md
  src/react/components/accordion/XUIAccordion.js
  src/react/components/accordion/XUIAccordionContext.js
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/AccordionTrigger-test.js
  src/react/components/accordion/__tests__/AccordionWrapper-test.js
  src/react/components/accordion/__tests__/XUIAccordion-test.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
  src/react/components/accordion/__tests__/__snapshots__/AccordionTrigger-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/AccordionWrapper-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordion-test.js.snap
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
  src/react/components/accordion/customElements/AccordionTrigger.js
  src/react/components/accordion/customElements/AccordionWrapper.js
  src/react/components/accordion/private/helpers.js
Due: eslint, prettier --write

XUI-380 Extended XUIBarChart with image avatar.
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/stories/variations.js
Due: eslint, prettier --write

XUI-380 File formatting update.
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
Due: eslint, prettier --write

add new reference image.
  .visual-testing/reference/backstop_default_XUI_Bar_Chart_Avatar_Image_X-Axis_Label_0_rootdivdiv_0_just_desktop.png
Due: none

XUI-380 Documentation updates and adding explicit clip-path parameters.
  changes.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
Due: eslint, prettier --write

XUI-380 File formatting update.
  changes.md
  src/react/components/chart/XUIBarChart.js
Due: eslint, prettier --write

XUI-380 Updated avatars for BarChart to use an array of image paths to support multiple images for data points.
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/stories/variations.js
Due: eslint, prettier --write

XUI-380 File formatting update.
  src/react/barchart.md
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/stories/variations.js
Due: eslint, prettier --write

XUI-380 Cleanup variable names.
  changes.md
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/stories/variations.js
Due: eslint, prettier --write

XUI-380 Cleanup - fixing linting.
  src/react/components/chart/customElements/AvatarLabel.js
Due: eslint, prettier --write

XUI-380 File formatting update.
  src/react/components/chart/customElements/AvatarLabel.js
Due: eslint, prettier --write

XUI-380 Fixed incorrect x and y parameters for avatar svg.
  src/react/components/chart/customElements/AvatarLabel.js
Due: eslint, prettier --write

XUI-380 Property description update.
  src/react/components/chart/XUIBarChart.js
Due: eslint, prettier --write

XUI-380 Simplify avatar implementation.
  changes.md
  src/react/barchart.md
  src/react/components/chart/XUIBarChart.js
  src/react/components/chart/customElements/AvatarLabel.js
  src/react/components/chart/customElements/ChartScaffold.js
  src/react/components/chart/helpers/bars.js
  src/react/components/chart/stories/variations.js
Due: eslint, prettier --write

XUI-380 File formatting update.
  src/react/barchart.md
  src/react/components/chart/stories/variations.js
Due: eslint, prettier --write

[minor] Update the snapshots (#4309)
  src/react/components/accordion/__tests__/__snapshots__/XUIAccordionItem-test.js.snap
Due: none

[minor] XUI-654 Add vis-reg tests for expanded Accordion (#4311)
  .visual-testing/index.js
  .visual-testing/onReady.js
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_expanded_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_expanded_0_rootdivdiv_1_smaller_than_xsmall_breakpoint.png
  src/react/components/accordion/stories/variations.js
Due: eslint, prettier --write

Fix test after merge (added deleteButtonLabel)
  src/react/components/pill/__tests__/XUIPill-test.js
Due: eslint, prettier --write
