Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "src/**/*.js": "eslint",
  "src/**/*.scss": "stylelint"
}

Updates per code review feedback
  src/react/components/dropdown/__tests__/NestedDropdown-test.js
  src/react/components/dropdown/dropdown.headerfooter.md
Due: eslint

Added Summary Composition
  src/react/components/compositions/XUIComposition3.js
  src/react/components/compositions/XUIComposition4.js
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/_base.scss
  src/sass/5-structure/compositions/_1.scss
  src/sass/5-structure/compositions/_3.scss
  src/sass/5-structure/compositions/_4.scss
Due: eslint, stylelint

Use isNaN instead of Number.isNaN because it is not supported on IE11 (#3883)
  src/react/components/helpers/lockScroll.js
Due: eslint

Tweaks to Accordion stories and vis-reg to use standard decorators
  .visual-testing/reference/backstop_default_XUI_Accordion_accordion_tab_composition_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Accordion_with_child_content_0_rootdivdiv_0_just_desktop.png
  src/react/components/accordion/stories/stories.js
Due: eslint

Tests for Summary compositions
  src/react/components/compositions/__tests__/XUIComposition3-test.js
  src/react/components/compositions/__tests__/XUIComposition4-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition3-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition4-test.js.snap
Due: eslint

Added Single composition
  src/react/components/compositions/XUIComposition5.js
  src/react/components/compositions/XUIComposition6.js
  src/react/components/compositions/__tests__/XUIComposition5-test.js
  src/react/components/compositions/__tests__/XUIComposition6-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition5-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition6-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_5.scss
  src/sass/5-structure/compositions/_6.scss
Due: eslint, stylelint

Added Split composition
  src/react/components/compositions/XUIComposition7.js
  src/react/components/compositions/XUIComposition8.js
  src/react/components/compositions/XUIGridAreaMedia.js
  src/react/components/compositions/__tests__/XUIComposition7-test.js
  src/react/components/compositions/__tests__/XUIComposition8-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition7-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition8-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/_gridarea-media.scss
  src/sass/5-structure/compositions/_7.scss
  src/sass/5-structure/compositions/_8.scss
Due: eslint, stylelint

One small lint fix
  src/react/components/table/helpers/utilities.js
Due: eslint

Update issue_template.md (#3892)
  .github/issue_template.md
Due: none

Perf optimisations for checkbox and radio, XUI-107 and XUI-108
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/radio/XUIRadio.js
  src/react/components/rolloverCheckbox/__tests__/rollovercheckbox-test.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
Due: eslint

XUI 14 : z-Index bugs with XUITable (alert component) (#3898)
  src/sass/7-components/_contentblocks.scss
Due: stylelint

Updated version for patch 14.1.1
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
Due: eslint, stylelint

[master] [XUI-21] Update issue template (again) (#3897)
  .github/issue_template.md
Due: none

Nav is nav is customcomponents (#3893)
  src/react/components/compositions/XUIComposition1.js
  src/react/components/compositions/XUIComposition2.js
  src/react/components/compositions/XUIGridAreaNav.js
  src/react/components/compositions/XUIGridAreaNavPanelDropdown.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition1-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition2-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/_base.scss
  src/sass/5-structure/_gridarea-nav.scss
  src/sass/5-structure/compositions/_2.scss
  src/sass/7-components/_gridarea-paneldropdown.scss
  src/sass/xui.scss
Due: eslint, stylelint

[XUI-169] Add nowrap to avatars
  src/sass/7-components/_avatars.scss
Due: stylelint

Expose some lower-level options and methods on dropdown and autocompleter (#3911)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/dropdown/DropDown.js
  src/react/components/dropdown/DropDownPanel.js
Due: eslint

Stories cleanup and added Both with Header
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_1.scss
Due: eslint, stylelint

Added nav composition
  src/react/components/compositions/XUIComposition10.js
  src/react/components/compositions/XUIComposition9.js
  src/react/components/compositions/__tests__/XUIComposition10-test.js
  src/react/components/compositions/__tests__/XUIComposition9-test.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition10-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition9-test.js.snap
  src/react/components/compositions/stories/stories.js
  src/sass/5-structure/compositions/_10.scss
  src/sass/5-structure/compositions/_9.scss
Due: eslint, stylelint

Update breakpoint variables and dependencies
  src/react/components/dropdown/private/helpers.js
  src/react/components/helpers/breakpoints.js
  src/sass/1-vars/_structure.scss
Due: eslint, stylelint

Updates for infinite-width across all compositions
  src/react/components/compositions/XUIComposition1.js
  src/react/components/compositions/XUIComposition2.js
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition1-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUIComposition2-test.js.snap
  src/sass/5-structure/_base.scss
Due: eslint, stylelint

Bad merge story that won't go away.
  src/react/components/compositions/stories/stories.js
Due: eslint

Update About to Getting Started
  src/docs/working-with-xui/_docs.working-with-xui.scss
Due: stylelint

[XUI-167] Update modal widths
  .visual-testing/reference/backstop_default_Compositions_Datepicker_dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Compositions_Dropdown_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_Compositions_Multiple_dropdowns_in_a_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_full_modal_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_large_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_small_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_size_xlarge_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_with_footer_0_xui-container_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Modal_with_header_0_xui-container_0_just_desktop.png
  changes.md
  src/react/components/modal/XUIModal.js
  src/react/stories/compositions/five-nested-modals/index.js
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_modals.scss
Due: eslint, stylelint

Fix a broken KSS (and other things)
  scripts/start/index.js
Due: none

Bugfix for borderless and icon buttons with loaders. Related to #3913.
  src/sass/2-mixins/_buttons.scss
  src/sass/7-components/_buttons.icons.scss
Due: stylelint

[breaking-changes] Container queries (Chrome only) (#3907)
  src/react/components/compositions/XUIGridAreaHeader.js
  src/react/components/compositions/XUIGridAreaMain.js
  src/react/components/compositions/XUIGridAreaMedia.js
  src/react/components/compositions/XUIGridAreaNav.js
  src/react/components/compositions/XUIGridAreaSummary.js
  src/react/components/helpers/breakpoints.js
  src/react/components/helpers/resizeObserver.js
Due: eslint

Add missing VR test image for modals
  .visual-testing/reference/backstop_default_XUI_Modal_size_medium_0_xui-container_0_just_desktop.png
Due: none

Add isBorderless prop to XUITable to exclude xui-panel class
  src/react/components/table/XUITable.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
Due: eslint

This is about the only thing I can find that would be an improvement. (#3919)
  src/react/components/switch/XUISwitch.js
  src/react/switch.md
Due: eslint

[breaking-changes] Xui 15/180 contentblocks (#3920)
  .visual-testing/reference/backstop_default_Structural_content_block_with_avatar_checkbox_and_tag_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_no_description_but_has_tags_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_pinned_value_and_action_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_standard_and_secondary_heading_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_inline_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_tag_position_right_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_with_two_children_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_Structural_content_block_without_layout_0_rootdivdiv_0_just_desktop.png
  src/react/components/structural/XUIContentBlock.js
  src/react/components/structural/XUIContentBlockItem.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/structural/stories/stories.js
  src/react/components/structural/stories/variations.js
  src/sass/7-components/_contentblocks.scss
Due: eslint, stylelint

[breaking-changes] Updated CSS for pills to truncate both secondary and primary text. (#3922)
  .visual-testing/reference/backstop_default_XUI_Pill_can_have_secondary_text_0_rootdivdiv_0_just_desktop.png
  src/sass/7-components/_pills.scss
Due: stylelint

Updated tip open/close handlers, spreadprops on TextInput, and cleanup tooltip stories (#3924)
  src/react/components/textInput/XUITextInput.js
  src/react/components/tooltip/XUITooltip.js
  src/react/components/tooltip/stories/stories.js
Due: eslint

[breaking-changes] [XUI-140] React range component (#3912)
  .styleguidist/sections.json
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Range_Max_Min_values_and_step_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_disabled_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_isInvalid_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_is_default_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_left_and_right_Elements_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_small_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Range_xsmall_0_rootdivdiv_0_just_desktop.png
  src/docs/building-blocks/forms/_docs.range.scss
  src/react/components/range/XUIRange.js
  src/react/components/range/__tests__/XUIRange-test.js
  src/react/components/range/__tests__/__snapshots__/XUIRange-test.js.snap
  src/react/components/range/stories/stories.js
  src/react/components/range/stories/variations.js
  src/react/range.js
  src/react/range.md
  src/sass/1-vars/_colors.scss
  src/sass/7-components/_forms.range.scss
Due: eslint, stylelint

Adding responsive and composition pages
  src/docs/_docs.compositions.scss
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

Release alpha.3 (#3925)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/working-with-xui/_docs.developers.scss
  src/react/components/helpers/versions.js
  src/react/components/range/XUIRange.js
  src/sass/7-components/_forms.range.scss
Due: eslint, stylelint

[breaking-changes] Bunch of pill and tooltip changes for XUI-83 (#3923)
  .eslintrc.js
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_secondary_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_truncated_text_and_tooltip_0_rootdivdiv_0_just_desktop.png
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/stories/variations.js
  src/react/components/tooltip/XUITooltip.js
  src/sass/7-components/_pills.scss
  src/sass/7-components/_usermessaging.tooltip.scss
Due: eslint, stylelint

updated spacing values on spacing page (#3928)
  src/sass/99-utils/_marginpadding.scss
Due: stylelint

Just updating some placeholder names
  src/docs/_docs.feedback.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.nested.scss
  src/docs/building-blocks/dropdown/_docs.dropdowns.search.scss
Due: stylelint
