Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --check

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "src/**/*.scss": "stylelint",
  "*.{html,hbs,json,css,scss,md,ts,tsx,js,jsx}": "prettier --check",
}

[XUI-3041] Update React examples for autocompleter and dropdown (#6027)
  src/react/autocompleter.md
  src/react/components/autocompleter/autocompleter.emptystate.md
  src/react/components/autocompleter/autocompleter.secondarysearch.md
  src/react/components/dropdown/dropdown.headerfooter.md
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/dropdown.toggled.md
Due: prettier --check

[patch][XUI-3167] Prevent buttons from stretching inside XUIPageHeader (#6024)
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_all_the_things_long_compact_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_all_the_things_long_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_all_the_things_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_breadcrumb_and_actions_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_title_and_actions_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_title_and_icon_action_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Page_Header_with_title_and_tabs_and_icon_action_just_desktop.png
  src/docs/components/navigation/examples/page-header/_page-header-tabs.html
  src/docs/components/navigation/examples/page-header/_page-header-visual-example.html
  src/react/components/pageheader/stories/stories.js
  src/react/components/pageheader/stories/variations.js
  src/react/pageheader.md
  src/sass/7-components/_headers.scss
Due: eslint, stylelint, prettier --check

[patch] [XUI-3145] Show doc's navigation column on all XUI Guide pages. (#5994)
  .kss/builder/index.hbs
  .kss/scss/style.scss
Due: prettier --check

[XUI-2957] Bump xuishift to 4.2.0 (#6039)
  package-lock.json
  package.json
Due: prettier --check

[XUI-3115] Update date input and date range input stories
  .visual-testing/index.js
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_US_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_across_two_years_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_disabled_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_in_fixed_width_container_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_localised_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_small_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_group_label_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_no_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_one_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_suggested_dates_open_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_two_errors_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_two_errors_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_without_labels_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_xsmall_just_desktop.png
  src/react/components/dateinput/stories/helpers/suggestedDates.ts
  src/react/components/dateinput/stories/stories.js
  src/react/components/dateinput/stories/variations.js
Due: eslint, prettier --check

[XUI-3115] Re-add renamed reference images
  .visual-testing/reference/backstop_default_XUI_Date_Input_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_empty_with_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_suggested_dates_with_custom_icon_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_a_hint_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_an_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_min_and_max_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_specified_DatePicker_month_picker_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_suggested_dates_open_just_desktop.png
Due: none

[XUI-3115] Remove renamed reference images
  .visual-testing/reference/backstop_default_XUI_Date_Input_Default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Empty_with_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_Suggested_dates_with_custom_icon_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_a_hint_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_an_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_min_and_max_range_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_specified_DatePicker_month_picker_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_suggested_dates_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Input_With_suggested_dates_open_just_desktop.png
Due: none

[XUI-3115] Update reference images
  .visual-testing/reference/backstop_default_XUI_Date_Input_with_suggested_dates_open_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Date_Range_Input_with_suggested_dates_open_just_desktop.png
Due: none

XUI-3108--checkbox-storybook-updates (#6025)
  .eslintrc.js
  src/react/components/checkbox/stories/stories.js
  src/react/components/checkbox/stories/util.js
  src/react/components/checkbox/stories/variations.js
Due: eslint, prettier --check

[minor] XUI-3284 Table select all pagination support (#6033)
  src/react/components/table/XUITable.tsx
  src/react/components/table/__tests__/table-test.tsx
  src/react/components/table/stories/stories.js
  src/react/table.md
Due: eslint, prettier --check

[patch][XUI-3121] Update Storybook playground examples to meet quality guidelines - FileUploader, FixedFooterWIP, Icon, Illustration, IntroBanner
  .visual-testing/reference/backstop_default_XUI_File_Uploader_as_disabled_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_default_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_disabled_drag_and_drop_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_with_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_with_hint_text_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_with_long_validation_message_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_with_long_validation_message_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_drag_and_drop_with_validation_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_custom_rightContent_for_uploaded_file_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_each_accepted_file_type_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_hint_text_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_long_text_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_long_text_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_long_validation_message_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_long_validation_message_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_no_icon_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_no_icon_single_line_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_no_retry_button_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_single_line_fileList_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_validation_error_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_File_Uploader_with_various_uploadProgressPercentage_just_desktop.png
  src/react/components/fileuploader/__tests__/__snapshots__/XUIFileUploader-test.js.snap
  src/react/components/fileuploader/private/helpers.js
  src/react/components/fileuploader/stories/stories.js
  src/react/components/fixedfooter/stories/stories.js
  src/react/components/icon/stories/stories.js
  src/react/components/illustration/stories/stories.js
  src/react/components/introbanner/stories/stories.js
Due: eslint, prettier --check

[patch][XUI-3121] Update config to allow `import React from 'react';` to not be present in react component files
  .eslintrc.js
  .storybook/webpack.config.js
Due: eslint, prettier --check

[minor][XUI-2806] onBlur called whenever dropdown closes (#6036)
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/__tests__/__snapshots__/XUIAutocompleter-test.js.snap
Due: eslint, prettier --check

[patch][XUI-3327] Update XUIFilePreview padding and height (#6041)
  .visual-testing/reference/backstop_default_XUI_File_Preview_default_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_File_Preview_in_a_side_container_just_desktop.png
  src/react/components/filepreview/XUIFilePreview.js
  src/react/components/filepreview/__tests__/__snapshots__/XUIFilePreview-test.js.snap
  src/sass/7-components/_filepreview.scss
Due: eslint, stylelint, prettier --check

[patch][XUI-2382] Enable keyboard navigation for multiselect picklists (#6040)
  src/react/components/picklist/__tests__/__snapshots__/PickitemMultiselect-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPickitem-test.js.snap
  src/react/components/picklist/__tests__/__snapshots__/XUIPicklist-test.js.snap
  src/react/components/picklist/picklist.pickitem.md
  src/react/components/picklist/private/PickitemMultiselect.d.ts
  src/react/components/picklist/private/PickitemMultiselect.js
  src/react/components/selectbox/__tests__/__snapshots__/XUISelectBoxOption-test.js.snap
Due: eslint, prettier --check

Bump version to 19.4.0 (#6047)
  .umd/index.html
  package-lock.json
  package.json
  src/docs/getting-started/_developers.scss
  src/react/components/helpers/versions.js
  xop-library.yaml
Due: eslint, stylelint, prettier --check

[patch][XUI-2983] Add error page guidance to XUI Guide (#6035)
  .kss/builder/kss-assets/error-pages/403.jpg
  .kss/builder/kss-assets/error-pages/404.jpg
  .kss/builder/kss-assets/error-pages/500.jpg
  .kss/builder/kss-assets/error-pages/503.jpg
  src/docs/patterns/_error-pages.scss
  src/docs/patterns/examples/error-pages/_error-pages-403.html
  src/docs/patterns/examples/error-pages/_error-pages-404.html
  src/docs/patterns/examples/error-pages/_error-pages-500.html
  src/docs/patterns/examples/error-pages/_error-pages-503.html
Due: stylelint, prettier --check

[patch][XUI-2898] XUIDateInput with suggested dates navigation
  src/react/components/dateinput/__tests__/XUIDateInput-test.js
Due: eslint, prettier --check

[noref] Disable react/no-unused-prop-types (#6053)
  .eslintrc.js
  package-lock.json
Due: eslint, prettier --check

[Patch][XUI-3188] Add visual examples for non component pages (#6038)
  .kss/builder/kss-assets/composition-images/Detail-Summary_devices.svg
  .kss/builder/kss-assets/composition-images/Detail_devices.svg
  .kss/builder/kss-assets/composition-images/Master-Detail-Summary_devices.svg
  .kss/builder/kss-assets/composition-images/Master-Detail_devices.svg
  .kss/builder/kss-assets/composition-images/Split_devices.svg
  src/docs/compositions/_detail-summary.scss
  src/docs/compositions/_detail.scss
  src/docs/compositions/_master-detail-summary.scss
  src/docs/compositions/_master-detail.scss
  src/docs/compositions/_split.scss
  src/docs/compositions/examples/detail-summary/_detail-summary-visual-example.html
  src/docs/compositions/examples/detail/_detail-visual-example.html
  src/docs/compositions/examples/master-detail-summary/_master-detail-summary-visual-example.html
  src/docs/compositions/examples/master-detail/_master-detail-visual-example.html
  src/docs/compositions/examples/split/_split-visual-example.html
  src/docs/fundamentals/_icons.scss
  src/docs/fundamentals/_illustrations.scss
  src/docs/fundamentals/_layout.scss
  src/docs/fundamentals/examples/icon/_icon-visual-example.html
  src/docs/fundamentals/examples/illustration/_illustration-visual-example.html
  src/docs/fundamentals/examples/layout/_layout-visual-example.html
Due: stylelint, prettier --check

[XUI-2714] Lower specifity of min-width rule
  src/sass/7-components/_buttons.icons.scss
  src/sass/7-components/_buttons.scss
Due: stylelint, prettier --check

[XUI-3362] Remove ‘full-icu’ package
  package-lock.json
  package.json
  scripts/test/jest.js
Due: eslint, prettier --check

[XUI-2983] Amend error page links in guidance (#6063)
  src/docs/patterns/_error-pages.scss
Due: stylelint, prettier --check

[XUI-3116] Update date picker Storybook playground
  .storybook/helpers/index.js
  src/react/components/dateinput/stories/stories.js
  src/react/components/datepicker/stories/stories.js
Due: eslint, prettier --check

[patch][XUI-3127] Update Storybook playground examples to meet quality guidelines - IsolationHeader, Loader
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_smaller_than_xsmall_breakpoint.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_and_actions_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Navigation_only_just_desktop.png
  src/react/components/isolationheader/stories/stories.js
  src/react/components/isolationheader/stories/variations.js
  src/react/components/loader/stories/stories.js
Due: eslint, prettier --check

[Minor][XUI-2113] Add React documentation example for Optional indicators (#6060)
  src/react/textinput.md
  src/sass/7-components/_forms.labels.scss
Due: stylelint, prettier --check

[breaking-changes] [XUI-3304] [XUI-2890] Change all Dropdown components to use new focus behaviour by default and deprecate props (#6065)
  changes.md
  src/docs/components/collecting-input/_dropdowns.scss
  src/react/autocompleter.md
  src/react/components/autocompleter/XUIAutocompleter.d.ts
  src/react/components/autocompleter/XUIAutocompleter.js
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.d.ts
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
  src/react/components/autocompleter/__tests__/XUIAutocompleter-test.js
  src/react/components/autocompleter/stories/components/SecondarySearchExample.js
  src/react/components/chart/customElements/ChartKey.js
  src/react/components/dateinput/XUIDateRangeInput.js
  src/react/components/dateinput/private/XUIDateInputItem.js
  src/react/components/dropdown/XUIDropdown.d.ts
  src/react/components/dropdown/XUIDropdown.js
  src/react/components/dropdown/XUIDropdownToggled.d.ts
  src/react/components/dropdown/XUIDropdownToggled.js
  src/react/components/dropdown/__tests__/XUIDropdownToggled-test.js
  src/react/components/dropdown/dropdown.nested.md
  src/react/components/dropdown/dropdown.toggled.md
  src/react/components/dropdown/stories/stories.js
  src/react/components/dropdown/stories/variations.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleter.js
  src/react/components/editabletable/XUIEditableTableCellAutocompleterSecondarySearch.tsx
  src/react/components/editabletable/XUIEditableTableCellSelectBox.js
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellAutocompleter-test.js.snap
  src/react/components/editabletable/__tests__/__snapshots__/XUIEditableTableCellSelectBox-test.js.snap
  src/react/components/selectbox/XUISelectBox.d.ts
  src/react/components/selectbox/XUISelectBox.js
  src/react/components/table/private/XUITableBodyRow.tsx
  src/react/stories/use-cases/helpers/daterangedropdown.js
Due: eslint, stylelint, prettier --check

[patch] [XUI-3194] Update heading styles and decouple callouts from heading levels (#6042)
  .kss/README.md
  .kss/builder/extend/helper.js
  .kss/builder/index.hbs
  .kss/builder/parser/constants.js
  .kss/scss/home.scss
  .kss/scss/style.scss
  package-lock.json
  package.json
  scripts/build/kss/config.json
  src/docs/_updates.scss
  src/docs/components/controls/_text-inputs.scss
  src/docs/components/displaying-data/_editable-table.scss
  src/docs/components/displaying-data/_panels.scss
  src/docs/contributing-to-xui/_contributing-to-xui.scss
  src/docs/contributing-to-xui/xui-labs/_xui-labs-overview.scss
  src/docs/fundamentals/_typography.scss
  src/docs/fundamentals/_variables-and-mixins.scss
  src/docs/getting-started/_about-xui.scss
  src/docs/getting-started/_codepen.scss
  src/docs/getting-started/_customising-xui.scss
  src/docs/getting-started/_designers.scss
  src/docs/getting-started/_developers.scss
  src/docs/getting-started/_directory.scss
  src/docs/getting-started/_getting-started.scss
  src/docs/getting-started/_performance.scss
  src/docs/getting-started/_typescript.scss
  src/docs/getting-started/accessibility/_accessibility.scss
  src/docs/getting-started/accessibility/_design.scss
  src/docs/getting-started/accessibility/_development.scss
  src/docs/getting-started/localisation/_localisation.scss
  src/docs/getting-started/responsive/_guidelines.scss
  src/docs/getting-started/responsive/_responsive.scss
  src/docs/patterns/_page-level-actions.scss
  src/docs/react/introduction.md
  src/sass/1-vars/_borders.scss
  src/sass/7-components/_typography.utilities.scss
Due: eslint, stylelint, prettier --check

[patch] [XUI-2734] Accordion - avoiding double execution of visibility toggling (#6043)
  src/react/components/accordion/XUIAccordionItem.js
  src/react/components/accordion/__tests__/XUIAccordionItem-test.js
Due: eslint, prettier --check

[breaking-changes][XUI-2888] Enable new focus behaviour for XUIPicklist on narrow viewport (#6071)
  src/react/components/picklist/private/PickitemBody.js
  src/react/components/picklist/private/TabDropdown.js
Due: eslint, prettier --check

[patch][XUI-3127] Update Storybook playground examples to meet quality guidelines - Modal
  src/react/components/modal/stories/stories.js
Due: eslint, prettier --check

[XUI-3127] Remove superfluous knobs
  src/react/components/modal/stories/stories.js
Due: eslint, prettier --check

[minor][XUI-3239] Update modal React examples (#6069)
  src/react/modal.md
Due: prettier --check

[patch][XUI-3047] Update React examples for overview block, content block, panel, file preview (#6070)
  src/react/contentblock.md
  src/react/filepreview.md
  src/react/overviewblock.md
  src/react/panel.md
Due: prettier --check

[patch][XUI-3239] Update React examples for datepicker and dateinput (#6068)
  src/react/dateinput.md
  src/react/datepicker.md
Due: prettier --check

[breaking-changes] [XUI-3359] Close popover with ESC key (#6061)
  changes.md
  jest.setup.js
  src/react/components/popover/XUIPopover.d.ts
  src/react/components/popover/XUIPopover.js
  src/react/components/popover/XUIPopoverHeader.d.ts
  src/react/components/popover/XUIPopoverHeader.js
  src/react/components/popover/__tests__/XUIPopover-test.js
  src/react/components/popover/__tests__/__snapshots__/XUIPopover-test.js.snap
  src/react/components/popover/contexts/CloseContext.js
  src/react/popover.md
Due: eslint, prettier --check

[breaking-changes] [XUI-2776] Updating XUI variables to use xui-tokens. (#6072)
  package-lock.json
  package.json
  scripts/build/sass/clearTokens.js
  scripts/build/sass/copyTokens.js
  src/sass/1-vars/_animation.scss
  src/sass/1-vars/_borders.scss
  src/sass/1-vars/_layout.scss
  src/sass/1-vars/_structure.scss
  src/sass/1-vars/_typography.scss
Due: eslint, stylelint, prettier --check

[XUI-3262] Add a missed flag (#6077)
  src/docs/components/alerts/_popovers.scss
Due: stylelint, prettier --check

[breaking-changes][XUI-2897] XUIPill enhanced truncation (#6074)
  .visual-testing/reference/backstop_default_XUI_Pill_secondary_text_truncated_just_desktop.png
  .visual-testing/reference/backstop_default_XUI_Pill_value_text_truncated_just_desktop.png
  changes.md
  src/docs/components/identifiers/_pills.scss
  src/react/components/pill/XUIInnerPill.js
  src/react/components/pill/XUIPill.d.ts
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/private/constants.ts
  src/react/components/pill/stories/stories.js
  src/react/components/pill/stories/variations.js
  src/sass/7-components/_pills.scss
Due: eslint, stylelint, prettier --check
