Repository jacoblapworth/akahu-sdk-swift: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

edits to copy
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

copy edits
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

add tests for new qaHook prop
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/toast/XUIToastActions.js
Due: eslint

edits tappable sentence
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

adds Master Detail docs kss configuration for images
  .kss/builder/index.hbs
  scripts/build/kss/config.json
  src/docs/compositions/_docs.compositions.master-detail.scss
Due: stylelint

[breaking-changes] XUI-348, 353 "standard" updates for checkbox, radio, rollover (#4066)
  changes.md
  src/docs/building-blocks/_docs.rolloverCheckbox.scss
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
  src/react/components/checkbox/XUICheckbox.js
  src/react/components/checkbox/__tests__/__snapshots__/XUICheckbox-test.js.snap
  src/react/components/checkbox/stories/stories.js
  src/react/components/radio/XUIRadio.js
  src/react/components/radio/__tests__/__snapshots__/XUIRadio-test.js.snap
  src/react/components/radio/stories/stories.js
  src/react/components/rolloverCheckbox/__tests__/__snapshots__/rollovercheckbox-test.js.snap
  src/react/components/rolloverCheckbox/__tests__/rollovercheckbox-test.js
  src/react/components/rolloverCheckbox/rolloverCheckbox.js
  src/react/components/rolloverCheckbox/stories/stories.js
  src/sass/7-components/_forms.checkboxesradios.styled.scss
  src/sass/7-components/_rolloverCheckbox.scss
Due: eslint, stylelint

hoist qaHook prop in tests
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: eslint

[breaking-changes] Rename loader size standard to medium
  .visual-testing/reference/backstop_default_XUI_Loader_with_sizes_0_rootdivdiv_0_just_desktop.png
  changes.md
  src/react/components/loader/XUILoader.js
  src/react/components/loader/__tests__/__snapshots__/XUILoader-test.js.snap
  src/react/components/loader/private/constants.js
  src/react/components/table/__tests__/__snapshots__/table-test.js.snap
  src/sass/7-components/_loaders.scss
Due: eslint, stylelint

adds Detail Summary docs and all images
  .kss/README.md
  .kss/builder/kss-assets/composition-images/Detail-Summary_devices.svg
  .kss/builder/kss-assets/composition-images/Detail_devices.svg
  .kss/builder/kss-assets/composition-images/Master-Detail-Summary_devices.svg
  .kss/builder/kss-assets/composition-images/Split_devices.svg
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
Due: stylelint

Revert this wording
  changes.md
Due: none

Add Alex avatar to XUI team section
  src/docs/_docs.feedback.scss
Due: stylelint

move overflow: hidden to only affect --navigation section
  src/sass/7-components/_isolationheader.scss
Due: stylelint

Fix component transform remove function usage
  .codemod/componentTransforms.js
Due: none

Current state of changes related to pill - requires icon and button complete to finish
  changes.md
  src/react/components/pill/XUIPill.js
  src/react/components/pill/__tests__/XUIPill-test.js
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
  src/react/components/pill/private/LeftVisualEl.js
  src/react/components/pill/private/constants.js
  src/react/pill.md
  src/sass/7-components/_pills.scss
Due: eslint, stylelint

unflex button in story
  .visual-testing/reference/backstop_default_XUI_Isolation_Header_Jam-packed_0_rootdivdiv_0_just_desktop.png
  src/react/components/isolationheader/stories/stories.js
Due: eslint

Upgrade xuishift to version that works for typescript and bump patch
  README.md
  package-lock.json
  package.json
  src/react/components/helpers/versions.js
Due: eslint

[breaking-changes] Icons now use medium over standard
  changes.md
  src/react/components/dropdown/__tests__/__snapshots__/DropDownHeader-test.js.snap
  src/react/components/icon/XUIIcon.js
  src/react/components/icon/__tests__/__snapshots__/XUIIcon-test.js.snap
  src/react/components/icon/private/constants.js
  src/react/components/modal/__tests__/__snapshots__/XUIModal-test.js.snap
  src/react/components/pill/private/LeftVisualEl.js
  src/react/components/progressindicator/__tests__/__snapshots__/progressindicator-test.js.snap
  src/react/components/stepper/__tests__/__snapshots__/stepper-test.js.snap
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
  src/react/components/textInput/__tests__/__snapshots__/XUITextInput-test.js.snap
  src/sass/1-vars/_layout.scss
  src/sass/7-components/_icons.scss
Due: eslint, stylelint

Fix the KSS docs regression (#4071)
  .kss/builder/kss-assets/kss-script.js
  .kss/builder/kss-assets/scrollspy.js
  scripts/build/kss/config.json
Due: none

Update xui version to new patch properly
  .umd/index.html
  src/docs/working-with-xui/_docs.developers.scss
Due: stylelint

Update lint-staged version to fix a dependency warning at commit time (#4079)
  package-lock.json
  package.json
Due: none

[breaking-changes] XUI-341 & 363 : Composition enhancements (#4078)
  src/react/components/compositions/XUICompositionDetail.js
  src/react/components/compositions/XUICompositionDetailHeader.js
  src/react/components/compositions/XUICompositionDetailSummary.js
  src/react/components/compositions/XUICompositionDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionMasterDetail.js
  src/react/components/compositions/XUICompositionMasterDetailHeader.js
  src/react/components/compositions/XUICompositionMasterDetailSummary.js
  src/react/components/compositions/XUICompositionMasterDetailSummaryHeader.js
  src/react/components/compositions/XUICompositionSplit.js
  src/react/components/compositions/XUICompositionSplitHeader.js
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetail-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummary-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionMasterDetailSummaryHeader-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplit-test.js.snap
  src/react/components/compositions/__tests__/__snapshots__/XUICompositionSplitHeader-test.js.snap
  src/react/components/compositions/helpers.js
  src/react/components/compositions/stories/stories.js
  src/sass/2-mixins/_layout.grids.scss
  src/sass/5-structure/_base.scss
  src/sass/5-structure/compositions/_detailheader.scss
  src/sass/5-structure/compositions/_detailsummary.scss
  src/sass/5-structure/compositions/_detailsummaryheader.scss
  src/sass/5-structure/compositions/_masterdetail.scss
  src/sass/5-structure/compositions/_masterdetailheader.scss
  src/sass/5-structure/compositions/_masterdetailsummary.scss
  src/sass/5-structure/compositions/_masterdetailsummaryheader.scss
  src/sass/5-structure/compositions/_split.scss
  src/sass/5-structure/compositions/_splitheader.scss
Due: eslint, stylelint

Test fix
  src/react/components/pill/__tests__/__snapshots__/XUIPill-test.js.snap
Due: none

Add a note on button
  changes.md
Due: none

Add comment on this based on a previous PR suggestion from Alex
  changes.md
Due: none

fix up moving of overflow: hidden
  src/sass/7-components/_isolationheader.scss
Due: stylelint

additional fixes for standard - medium changes
  src/docs/building-blocks/forms/_docs.checkboxes.scss
  src/docs/building-blocks/forms/_docs.inputs.text.scss
  src/docs/building-blocks/forms/_docs.radio-buttons.scss
Due: stylelint

updates to copy
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

adds tip around offline
  src/docs/working-with-xui/_docs.responsive.scss
Due: stylelint

move Alex's avatar to the bottom
  src/docs/_docs.feedback.scss
Due: stylelint

Fix broken type on new XUIPanelFooter prop. (#4085)
  src/react/components/structural/XUIPanelFooter.js
  src/react/components/structural/__tests__/XUIStructure-test.js
  src/react/components/structural/__tests__/__snapshots__/XUIStructure-test.js.snap
Due: eslint

Remove unused import
  src/react/components/pill/XUIInnerPill.js
Due: eslint

Fix bad pass-down prop name inside SecondarySearch (#4087)
  src/react/components/autocompleter/XUIAutocompleterSecondarySearch.js
Due: eslint

remove util class patch in story
  src/react/components/isolationheader/stories/stories.js
Due: eslint

adds master detail docs
  src/docs/compositions/_docs.compositions.master-detail.scss
Due: stylelint

adds Split documentation
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

adds kss option for component image and subcopy
  .kss/builder/index.hbs
  .kss/builder/kss-assets/composition-images/Master-Detail_devices.svg
  scripts/build/kss/config.json
  src/docs/compositions/_docs.compositions.master-detail.scss
Due: stylelint

updates class names
  src/docs/compositions/_docs.compositions.detail-summary.scss
  src/docs/compositions/_docs.compositions.master-detail.scss
  src/docs/compositions/_docs.compositions.split.scss
Due: stylelint

Path conditions:
  eslint: any of: src/**/*.js
  stylelint: any of: src/**/*.scss
